<template>
  <main>
    <div class="head_title pr flex-center top-sticky">
      <button type="button" class="back btn-back">
        <img src="~/assets/img/arr-r.png" alt="">
      </button>
      <h1>수강 신청</h1>
<!--      <button type="button" class="btn_collapse dr"></button>-->
    </div>
    <CartOption @addToCart="addToCart" :data="lecture" v-if="lecture"></CartOption>
    <BookIntroduce :data="lecture" :reviews="reviews" :teachers="teachers" :movies="movies"></BookIntroduce>
    <single_package :data="tabHeader"></single_package>
    <ComIntroduceB :data="lecture" :tab-header="tabHeader" v-if="lecture"></ComIntroduceB>
    <ComIntroduceCompany :data="lecture" :tab-header="tabHeader" v-if="lecture"></ComIntroduceCompany>
    <ComReview :data="reviews" v-if="reviews && reviews.length"></ComReview>
    <bottom :cartOption="cartOption"> </bottom>
    <button type="button" class="backtop">backtop</button>
    <div class="single-lecture">
      <ConfirmMainBanAction :title="message" @actionEvent="actionEvent"></ConfirmMainBanAction>
      <ConfirmMainBanNoAction :title="message"></ConfirmMainBanNoAction>
    </div>
  </main>
</template>

<script>
  import {LectureOnlineService} from "~/store/service.api";
  import {mapGetters} from 'vuex'
  import ComReview from "~/components/zip9/ComReview";
  import BookIntroduce from "~/components/zip9/BookIntroduce";
  import TeacherIntroduce from "~/components/zip9/TeacherIntroduce";
  import ComIntroduceB from "~/components/zip9/ComIntroduceB";
  import ComIntroduceCompany from "~/components/zip9/ComIntroduceCompany";
  import {URL_IMAGE} from "~/config";
  import {convertUrlImage} from "~/common/helpers";
  import ComContent from "~/components/zip9/ComContent";
  import SafeBook from "~/components/zip9/SafeBook";
  import single_package from "../../../components/zip9/header/single_package";
  import bottom from "../../../components/zip9/bottom";
  import CartLayer from "../../../components/zip9/CartLayer";
  import CartOption from "../../../components/zip9/CartOption";
  import ConfirmMainBanAction from "../../../components/modal/ConfirmMainBanAction";
  import ConfirmMainBanNoAction from "../../../components/modal/ConfirmMainBanNoAction";
  import {CartApiService} from "../../../store/service.api";
  export default {
    layout : "default",
    head : {
      script : [
        {src : "/js/detail.js"}
      ]
    },
    computed: {
      ...mapGetters(['isAuthenticated', 'loggedInUser']),
    },
    created() {
      this.getDetailCompanyBook();
    },
    mounted() {
      $('.backtop').on('click',function () {
        $('html,body').animate({scrollTop: 0},300);
      });
    },
    methods : {
      alert(message) {
        this.message = message
        $(".single-lecture").find('#modal-no-action').modal('show')
        return;
      },
      async getDetailCompanyBook() {
        let id = this.$route.params.id;
        let params = {
          lecture_no: id,
          is_movie : true,
          is_review : true
        }
        if (this.isAuthenticated) {
          params.user_id = this.loggedInUser.id
        }

        let data = await LectureOnlineService.getDetailCompanyBook(params)
        if (data.data.company_book.length == 0) {
          this.alert('판매가 종료되었습니다.')
          this.$router.push('/')
          return ;
        }
        this.lecture = data.data.company_book[0]
        if (this.lecture.is_sell == 0) {
          this.alert('판매가 종료되었습니다.');
          this.$router.push('/')
        }
        this.teachers = data.data.teachers;
        this.lecture.contents = this.convertUrlImage(this.lecture.contents, this.imgTag, 'https://www.letuin.com');
        this.reviews = data.data.reviews;
        if (this.lecture.is_off === 'Y') {
          this.isOff = true
        }
        if (!this.isOff) {
          this.tabHeader = {
            '소개' : 0 + ',#com-introduce-b',
          }
          this.tabHeader['자료목차'] =  ',#com-introduce-company'
          if (Object.keys(this.reviews).length) {
            this.tabHeader['후기'] =  Object.keys(this.reviews).length +',#review-list'
          }
        } else {
          this.tabHeader = {
            '소개' : 0 + ',#com-introduce-b',
          }
          this.tabHeader['자료목차'] =  ',#com-introduce-company'
          if (Object.keys(this.reviews).length) {
            this.tabHeader['후기'] =  Object.keys(this.reviews).length +',#review-list'
          }
        }
        $(document).ready(function () {
          $('.box-select .selected').on('click',function (){
            $(this).parent().toggleClass('open');
          });
          $('.select_list li').on('click',function (){
            let times = $(this).data('time');
            let days = $(this).data('day');
            let left = $(this).data('left');
            let no = $(this).data('no');
            let date = $(this).data('date');
            let isDisable = $(this).data('disable');
            if(isDisable === true) {
              this.alert('개강일/시간을 선택해주세요.')
              return;
            }
            // if (left < 0) {
            //   this.alert('개강일/시간을 선택해주세요.');
            //   return;
            // }
            let selected = `<div class="flex-lc selected_item" data-value='${JSON.stringify({no : no, type : 'ALL', gubun : 'MOV', date_no : date})}'>${days} ${times}</div>`
            $(this).parents('.box-select').find('.selected').html(selected);
            $('.box-select').removeClass('open');
          });
          $(document).mouseup(function (e) {
            var form_group = $('.box-select');
            if (!form_group.is(e.target) && form_group.has(e.target).length === 0) {
              $('.box-select').removeClass('open');
            }
          });
        });
      },
      convertUrlImage(contents,subString, replaceString) {
        return convertUrlImage(contents, subString, replaceString)
      },
      async addToCart(data) {
        if (this.isAuthenticated) {
          let params = {
            quantity : 1,
            cart_sess : '',
            it_id : data.params
          }
          await CartApiService.addToCart(params).then(e => {
            if (e.success) {
              $(this.cartOption).modal('hide');
              this.uri = data.uri;
              if (data.uri == '/mem-order') {
                CartApiService.getCartUser().then(res => {
                  let cart = res.data.find(item => item.lecture_id == data.lecture_id)
                  if (cart) {
                    this.$router.push({ path: '/mem-order', query: {uid: cart.uid}})
                  }
                })
                this.$router.push(data.uri)
              } else {
                this.message = '장바구니에 추가되었습니다. 장바구니로 이동하시겠습니까?';
                this.showModalConfirm();
              }

            }
          });
        }
      },
      actionEvent() {
        $(".single-lecture").find('#modal-confirm-action').modal('hide');
        this.$router.push(this.uri)
      },
      showModalConfirm() {
        $(".single-lecture").find('#modal-confirm-action').modal('show');
      },
    },
    components : {ComContent, ConfirmMainBanNoAction, TeacherIntroduce, ComReview, BookIntroduce, ComIntroduceB, SafeBook, single_package, bottom, CartLayer, CartOption, ComIntroduceCompany, ConfirmMainBanAction},
    data() {
      return {
        lecture : null,
        teachers : null,
        imgTag : '<img src=\"',
        URL_IMAGE : URL_IMAGE,
        movies : null,
        reviews : null,
        tabHeader : [],
        cartOption : '#cartOption',
        isOff : false,
        message : '',
        uri : '/cart',
      }
    }
  }
</script>

<style scoped>

</style>
