<template>
  <main class="cart-action">
    <div class="head_title pr">
      <button type="button" class="back btn-back">
        <img src="~/assets/img/arr-r.png" alt="">
      </button>
      <h1>장바구니</h1>
    </div>
    <div class="cart">
      <ul class="cart__process flex">
        <li class="active">
          <div class="box-icon flex-center"><i class="icon icon-cart"></i></div>
          <h5>장바구니</h5>
        </li>
        <li>
          <div class="box-icon flex-center"><i class="icon icon-wl"></i></div>
          <h5>주문서 작성</h5>
        </li>
        <li>
          <div class="box-icon flex-center"><i class="icon icon-fs"></i></div>
          <h5>주문완료</h5>
        </li>
      </ul>
      <div v-show="load">
        <div v-if="carts.length">
          <div class="cart__list">
            <div class="header flex">
              <div class="checkbox">
                <label class="flex-lc">
                  <input type="checkbox" class="checkbox__all" :checked="checkAll" @change="changeCheckAll()">
                  <span class="checked flex-center"></span>
                  전체 선택 <span>({{ selected.length }}/{{ carts.length }})</span>
                </label>
              </div>
              <button type="button" class="btn_remove ml-auto" @click="deleteItemCart">선택삭제</button>
            </div>
            <div v-for="item in carts" :key="item.uid">
              <div class="item">
                <div class="checkbox">
                  <label class="flex-lc">
                    {{ item.type }}
                  </label>
                </div>
              </div>
              <div class="item bg-gray">
                <div class="flex">
                  <div class="checkbox">
                    <label class="flex-lc">
                      <input type="checkbox" :checked="selected.includes(item)" :class="'checkbox__item item__' + item.uid" @change="changeCheckItem(item.uid)">
                      <span class="checked flex-center"></span>
                    </label>
                  </div>
                  <div class="product flex">
                    <div class="product__img"><img :src="url + '/data_user/' + getTailImage(item)" alt=""></div>
                    <div class="product__content">
                      <h3><a href="javascript:;" @click="gotoDetail(item)">{{ item.it_name }}</a></h3>
                      <div class="price">{{ formatMoney(item.retakePrice, ' 원', ',') }} / <span>{{ item.quantity }}</span> 개</div>
                    </div>
                    <button type="button" class="close" @click="deleteItemCartUid(item.uid)"></button>
                  </div>
                </div>
                <div class="time" v-show="item.date_info">ㄴ {{ item.sDatetime }}</div>
                <div class="booklist" v-show="item.listDate.length">
                  <div class="booklist__item" v-for="itemDate in item.listDate">
                    <div class="flex">
                      <h5>ㄴ</h5>
                      <p>{{ itemDate.title.substr(0, 30) + '...' }}</p>
                    </div>
                    <p class="pl-4">{{ itemDate.date }}</p>
                  </div>
                </div>
                <div class="amount flex">
                  <h5>주문금액</h5>
                  <div class="amount__order flex-lc ml-auto collapsed" data-toggle="collapse" :data-target="'#amount' + item.uid">{{  formatMoney(item.retakePrice, ' 원', ',')}}
                    <i class="icon icon-ar"></i></div>
                  <div class="amount__detail collapse" :id="'amount' + + item.uid">
                    <div class="item flex">
                      <h5>상품금액</h5>
                      <span>{{  formatMoney(item.sell_amount, ' 원', ',')}}</span>
                    </div>
                    <div class="item flex">
                      <h5>할인금액</h5>
                      <span>{{item.retake_sale_amount > 0 ? '-' + formatMoney(item.retake_sale_amount, ' 원', ',') : '0 건'}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cart__summary">
            <div class="header flex-lc">
              <h5>전체 주문금액</h5>
              <div class="price ml-auto">{{ totalRetakeAmount }}</div>
            </div>
            <div class="item flex-lc">
              <h5>상품 수</h5>
              <span>{{ totalQuantity }} 개</span>
            </div>
            <div class="item flex-lc">
              <h5>상품금액</h5>
              <span>{{ totalSellAmount }}</span>
            </div>
            <div class="item flex-lc">
              <h5>할인금액</h5>
              <span>- {{ totalRetakeSaleAmount }}</span>
            </div>
            <div class="item flex-lc">
              <h5>배송비</h5>
              <span>+ 0 원</span>
            </div>
          </div>
          <a href="javascript:;"   @click="gotoMain()" title="추가 구매하기" class="btn_buymore flex-center">추가 구매하기</a>
          <div class="box-text">
            <h4 class="flex-lc"><i class="icon icon-qs">?</i>장바구니 이용안내</h4>
            <article>
              <p>1장바구니에 담긴 내역은 30일 동안 보관이 가능하며</p>
              <p>30일이 경과된 상품에 대해서는 자동 삭제됩니다.</p>
            </article>
          </div>
          <div class="cart__info flex-lc">
            <div class="total">전체 <span>{{ totalQuantity }}</span> 개</div>
            <div class="money flex-lc">{{ totalRetakeNoWon }} <span>원</span></div>
            <button type="button" class="btn_buy flex-center" @click="gotoOrder">구매하기</button>
          </div>
        </div>
        <div class="notifi" v-else>
          <h4>장바구니에 담긴 상품이 없습니다.</h4>
          <div class="img"><img src="~/assets/img/icon-cart.png" alt=""></div>
          <p>장바구니 상품은 <span>30일</span> 동안 보관됩니다.</p>
          <p @click="goToLoginWithoutOpenModal" title="추가 구매하기" class="btn_buy flex-center">추가 구매하기</p>
        </div>
      </div>
      <ConfirmMainBanActionButton :title="title" @actionEvent="deleteCart" :data="params"></ConfirmMainBanActionButton>
      <ConfirmMainBanNoAction :title="title"></ConfirmMainBanNoAction>
    </div>
  </main>

</template>

<script>
  import {CartApiService} from "../../store/service.api";
  import {formatMoney, sumProp} from "../../common/helpers";
  import {URL_IMAGE} from "../../config";
  import {mapGetters} from 'vuex'
  import ConfirmMainBanActionButton from "../../components/modal/ConfirmMainBanActionButton";
  import ConfirmMainBanNoAction from "../../components/modal/ConfirmMainBanNoAction";

  export default {
  name: "index",
  middleware: 'auth',
  layout : "none-footer",
  components: { ConfirmMainBanActionButton, ConfirmMainBanNoAction },
  data() {
    return {
      title: '',
      carts: [],
      selected: [],
      load: false,
      url: URL_IMAGE,
      checkAll: true,
      PACK: "package",
      MOV: "lecture",
      BOOK: "item",
      params: []
    }
  },
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser']),
    totalSellAmount() {
      return this.formatMoney(sumProp(this.selected, 'sell_amount'), ' 원', ',')
    },
    totalRetakeAmount() {
      return this.formatMoney(sumProp(this.selected, 'retakePrice'), ' 원', ',')
    },
    totalRetakeNoWon() {
      return this.formatMoney(sumProp(this.selected, 'retakePrice'), '', ',')
    },
    totalRetakeSaleAmount() {
      return this.formatMoney(sumProp(this.selected, 'retake_sale_amount'), ' 원', ',')
    },
    totalQuantity() {
      return this.formatMoney(sumProp(this.selected, 'quantity'))
    }
  },
  methods: {
    gotoMain() {
      this.$cookies.set('showMyClass', false);
      this.$router.push('/')
    },
    getCarts() {
      CartApiService.getCartUser().then(item => {
        this.carts = item.data
        this.selected = item.data
        this.load = true
      })
    },
    gotoDetail(item) {
      if (item.pack_id == "668") {
        window.open('https://www.letuin.com/lecture.php?action=sfreepass', '_blank');
        return;
      } else if (item.pack_id == 774 || item.pack_id == 775 || item.pack_id == 776 || item.pack_id == 802 || item.pack_id == 803 || item.pack_id == 807 || item.pack_id == 808) {
        window.open('https://www.letuin.com/promotion.php?action=GsatFreePass', '_blank');
        return;
      }
      if (typeof item.pack_id !== 'undefined' && item.pack_id != 0) {
        this.$router.push('/details/package/' + item.pack_id)
        return ;
      } else {
        if (item.is_off === "B") {
          this.$router.push('/details/companybook/' + item.lecture_id)
          return ;
        }
        this.$router.push('/details/single/' + item.lecture_id)
        return ;
      }
    },
    goToLoginWithoutOpenModal() {
        this.$cookies.set('showMyClass', false);
        this.$router.push('/')
    },
    formatMoney(val, currency, format) {
      return formatMoney(val, currency, format);
    },
    changeCheckAll() {
        if ($('.cart .checkbox__all').is(':checked')) {
          this.checkAll = true;
          this.selected = this.carts;
        } else {
          this.checkAll = false;
          this.selected = []
        }
    },
    changeCheckItem(uid) {
      if ($('.cart .item__'+uid).is(':checked')) {
        let item = this.carts.find(item => item.uid == uid)
        this.selected = this.selected.filter(item => {
          if (item.uid != uid) {
            return item
          }
        })
        this.selected.push(item)
        this.checkAll = this.selected.length === this.carts.length
      } else {
        this.checkAll = false;
        this.selected = this.selected.filter(item => {
          if (item.uid != uid) {
            return item
          }
        })
      }
    },
    getTailImage(item) {
      if (item.lec_img) {
        return this.MOV + '/' + item.code_lecture + '/' + item.lec_img
      }
      if (item.pack_img) {
        return this.PACK + '/' + item.pack_uid + '/' + item.pack_img
      }
      if (item.code_book) {
        return this.BOOK + '/' + item.code_book + '_l1.png'
      }
    },
    deleteItemCart() {
      let data = this.selected.map(item => {
        return item.uid
      })
      if (data.length == 0) {
        this.title = '선택한 상품이 없습니다.'
        $(".cart-action").find('#modal-no-action').modal('show')
        return;
      } else {
        this.title = '선택 상품을 장바구니에서 삭제하시겠습니까?'
        this.params = data
        $(".cart-action").find('#modal-confirm-action').modal('show');
      }
    },
    deleteCart(data) {
      try {
        CartApiService.delete({uid: data}).then(res => {
          this.title = '삭제 되었습니다'
          $(".cart-action").find('#modal-confirm-action').modal('hide')
          $(".cart-action").find('#modal-no-action').modal('show')
        })
        let _this = this
        setTimeout(function()
        { _this.getCarts() }, 300);
        this.checkAll = true
        this.$nuxt.$emit('change-cart')
      } catch (e) {
        this.title = '삭제 실패했습니다'
        $(".cart-action").find('#modal-confirm-action').modal('hide')
        $(".cart-action").find('#modal-no-action').modal('show')
      }
    },
    deleteItemCartUid(uid) {
      let data = [uid]
      if (data.length == 0) {
        this.title = '선택한 상품이 없습니다.'
        $(".cart-action").find('#modal-no-action').modal('show')
        return;
      } else {
        this.title = '선택 상품을 장바구니에서 삭제하시겠습니까?'
        this.params = data
        $(".cart-action").find('#modal-confirm-action').modal('show')
      }
    },
    gotoOrder() {
      if (this.selected.length == 0) {
        this.title = '결제할 상품을 선택해 주시십시오.'
        $(".cart-action").find('#modal-confirm-action').modal('hide')
        $(".cart-action").find('#modal-no-action').modal('show')
        return ;
      }
      let uid = this.selected.map(item => {
        return item.uid
      })
      let params = {
        uid : uid
      }
      this.$router.push({ path: '/mem-order', query: params})
    }
  },
  created() {
    this.getCarts()
  }
}
</script>

<style scoped>

</style>
