<template>
  <main class="self-intro">
    <div class="head_title pr">
      <button type="button" class="back btn-back">
        <img src="~/assets/img/arr-r.png" alt="">
      </button>
      <h1>자소서첨삭</h1>
    </div>
    <a href="https://www.letuin.com/board.php?action=boardLate&off_type=online&find=til&search=" target="_blank">
      <div class="banner-note flex-center">
        <i class="icon icon-wr"></i>
        <p>후기 등록 시 <span>렛머니 1,000원 적립</span></p>
      </div>
    </a>
    <div class="selfintro">
      <div class="statisticals">
        <ul class="flex">
          <li class="optionInfo" :class="isActive('제출대기') ? 'active' : ''" @click="filterOption($event, '제출대기')">
            <span>{{ countLectureByStatus('제출대기') }}</span>
            <h5>대기</h5>
          </li>
          <li class="optionInfo" :class="isActive('신청완료') ? 'active' : ''" @click="filterOption($event, '신청완료')">
            <span>{{ countLectureByStatus('신청완료') }}</span>
            <h5>신청완료</h5>
          </li>
          <li class="optionInfo" :class="isActive('첨삭중') ? 'active' : ''" @click="filterOption($event, '첨삭중')">
            <span>{{ countLectureByStatus('첨삭중') }}</span>
            <h5>첨삭중</h5>
          </li>
          <li class="optionInfo" :class="isActive('첨삭완료') ? 'active' : ''" @click="filterOption($event, '첨삭완료')">
            <span>{{ countLectureByStatus('첨삭완료') }}</span>
            <h5>첨삭완료</h5>
          </li>
          <li class="optionInfo" :class="isActive('요청반려') ? 'active' : ''" @click="filterOption($event, '요청반려')">
            <span>{{ countLectureByStatus('요청반려') }}</span>
            <h5>반려</h5>
          </li>
        </ul>
      </div>
      <div class="selfintro__info box-collapse">
        <div class="header flex-lc">
          <h4 class="flex-lc"><i class="icon icon-qs">?</i> 이용 안내 및 주의 사항</h4>
          <button class="btn_collapse collapsed dr ml-auto" type="button" data-toggle="collapse" data-target="#selfintro__info"></button>
        </div>
        <div class="collapse" id="selfintro__info">
          <div class="box-text">
            <p>
              첨삭 파일 제출 시 선생님별로 지정된 파일 형식을 지켜주세요.
              (워드 *.doc,*.docx / 한글 *.hwp 가능)
              ※ 선생님별 지정된 파일 형식은 첨삭명에서 확인 가능합니다.
              (워드 or 한글 중 택1)
            </p>

            <p>
              첨삭 구매 후, 꼭 유효기간(14일) 이내 첨삭 파일을 제출해주세요. 
              ※ 개인사정, 부주의 등으로 기간 만료된 첨삭은 도움 드리기
              어렵습니다.
            </p>

            <p>
              첨삭은 영업일 기준으로 진행됩니다. 
              ex) 일반첨삭을 금요일 21시에 요청 시, 수요일 21시 이내에
              첨삭이 완료됩니다.
            </p>
            <p>
              자소서 첨삭은 한 개의 기업의 한 가지 직무에 대한 문항만을
              첨삭해 드립니다.
              여러 개의 기업이나 직무에 대한 문항을 한 번에 요청할 경우,
              신청이 반려될 수 있습니다.
            </p>

            <p>
              파일명에 꼭 “지원자이름_지원회사_사업부_직무”를
              표기해주세요. <span>ex) 유이니_삼성전자_파운드리_공정기술.확장자</span>
            </p>

            <p>
              반려 3일 내 재첨삭 파일을 제출하세요. 3일 초과 시, 첨삭 요청이
              마감됩니다. 꼭 기간 내 재신청바랍니다.
            </p>

          </div>
        </div>
      </div>
      <div class="selfintro__list bt" v-if="this.lectureOption.length">
        <div class="header flex-lc">
          <h4>콘텐츠({{ this.lectureOption.length }})</h4>
        </div>
        <div class="bg_gray">
          <div class="note">아래 강의를 <span>좌측으로 밀면</span>, ‘자소서 등록 / 다운로드 / 후기작성’을 할 수 있어요.</div>
          <div class="item" v-for="(lecture,key) in this.lectureOption" :key="key">
            <div class="item__scroll">
              <div class="scroll pr">
                <div class="content pr">
                  <div class="content__header flex-lc">
                    <time>수강기간 : {{lecture.support_new_start ? myDateFormat(lecture.support_new_start, 'YYYY.MM.DD') : ''}} ~ <span>{{ lecture.support_new_end ? myDateFormat(lecture.support_new_end, 'YYYY.MM.DD') : ''}}</span></time>
                    <div class="status">{{ lecture.txt_addrem_status }}</div>
                  </div>
                  <h3>{{lecture.title}}</h3>
                  <div class="bottom flex">
                    <p>남은 일수 : <span>{{ lecture.rm_day }}</span></p>
                    <p>확장자: <span>{{ '*' + lecture.tp_file.split(',').join(', *') }}</span></p>
                  </div>
                  <i class="icon icon-arr"></i>
                </div>
                <div class="box-btn flex" v-if="lecture.txt_addrem_status == '요청반려'">
                  <a href="javascript:;" class="btn btn_cm1" @click="openPopUp(lecture, '#modal-rejectpop')"></a>
                  <a href="javascript:;" class="btn btn_wr" @click="showPopupReview($event, {lecture_no : lecture.lecture_no, title : lecture.title})"></a>
<!--                  <a href="javascript:;" @click="downloadFile(lecture.addrem_student_file)" class="btn_dl"></a>-->
                </div>
                <div class="box-btn flex" v-else-if="lecture.txt_addrem_status == '신청완료' || lecture.txt_addrem_status == '(재)신청완료'">
                  <a href="javascript:;" class="btn btn_remove2" @click="deletePop(lecture)"></a>
                  <a href="javascript:;" class="btn btn_wr" @click="showPopupReview($event, {lecture_no : lecture.lecture_no, title : lecture.title})"></a>
                  <a href="javascript:;" @click="downloadFile(lecture.addrem_student_file)" class="btn_dl"></a>
                </div>
                <div class="box-btn flex" v-else-if="lecture.txt_addrem_status == '제출대기'">
                  <a href="javascript:;" class="btn btn_wr" @click="showPopupReview($event, {lecture_no : lecture.lecture_no, title : lecture.title})"></a>
                  <a href="javascript:;" @click="openPopUpload(lecture, '#modal-fileupload')" class="btn btn_ul1"></a>
                </div>
                <div class="box-btn flex" v-else-if="lecture.txt_addrem_status == '첨삭중'">

                </div>
                <div class="box-btn flex" v-else-if="lecture.txt_addrem_status == '첨삭완료'">
                  <a href="javascript:;" class="btn btn_register" @click="openPopUpload(lecture, '#modal-result')"></a>
                  <a href="javascript:;" class="btn btn_wr" @click="showPopupReview($event, {lecture_no : lecture.lecture_no, title : lecture.title})"></a>
                  <a href="javascript:;" @click="downloadFile(lecture.addrem_teacher_file)" class="btn_dl"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="selfintro__list bt" v-else>
        <div class="header flex-lc">
          <h4>수강 중 자소서 첨삭(0)</h4>
        </div>
        <div class="notifi">
          <h5>진행 중인 첨삭이 없습니다.</h5>
          <div class="img"><img src="~/assets/img/img-nt.png" alt=""></div>
        </div>
      </div>
    </div>
    <div class="nav-bt blue flex-center w100">
      <a href="https://www.letuin.com/promotion.php?action=Addrem" target="_blank" class="flex-center">자소서 온라인 첨삭 자세히보기</a>
    </div>
    <button type="button" class="backtop">backtop</button>
    <ReviewWR :lecture_info_review="[dataReview]"></ReviewWR>
    <reject-modal :lecture="lecture_reject"></reject-modal>
    <FileUpload :lecture="lecture_upload"></FileUpload>
    <Result :lecture="lecture_upload"></Result>
    <div class="popup-self">
      <ConfirmMainBanActionButton :title="message" @actionEvent="deleteLecture" :data="{lecture: delete_lecture}"></ConfirmMainBanActionButton>
    </div>

  </main>
</template>

<script>
  import {AddremApiService, LectureOnlineService} from "../../store/service.api";
    import {diffDayNow, myDateFormat} from "../../common/helpers";
    import ReviewWR from "../../components/modal/ReviewWR";
    import {URL_IMAGE} from "../../config";
    import Reject from "../../components/modal/Reject";
    import Result from "../../components/modal/Result";
    import {mapGetters} from "vuex";
    import FileUpload from "../../components/modal/FileUpload";
    import ConfirmMainBanActionButton from "../../components/modal/ConfirmMainBanActionButton";

    export default {
        name: "index",
        middleware: 'auth',
        components : {ReviewWR,  "reject-modal" : Reject, FileUpload, Result, ConfirmMainBanActionButton},
        computed: {
          ...mapGetters(['isAuthenticated', 'loggedInUser']),
        },
        data() {
          return {
              dataReview: {},
              lecture_reject: {},
              lecture_upload: {},
              delete_lecture: {},
              message: ''
          }
        },
      async asyncData(context) {
          let params = {user_id : context.$auth.$state.user.id}

          const datas = await Promise.all([
            LectureOnlineService.getSelfIntro(params),
          ])
        console.log(datas)
          let lectureOption = [];
          if(!context.query.option || context.query.option === '제출대기'){
            lectureOption = datas[0].data.single_lectures.filter(item => {
              if(item.txt_addrem_status === '제출대기'){
                return item;
              }
            })
          } else {
            lectureOption = datas[0].data.single_lectures.filter(item => {
              if (context.query.option != '신청완료') {
                if(item.txt_addrem_status === context.query.option){
                  return item;
                }
              } else {
                if(item.txt_addrem_status === context.query.option || item.txt_addrem_status === '(재)신청완료'){
                  return item;
                }
              }

            })
          }
          return {
            lectures: datas[0].data.single_lectures,
            lectureOption :lectureOption
          }
        },
      created() {
        if(!this.$route.query.option){
          this.$router.push({path: '/self-intro', query: {option: '제출대기'}})
        }
      },
      methods: {
          diffDayNow(date) {
            return diffDayNow(date)
          },
          showPopupReview(e, dataReview){
              this.dataReview =dataReview;
              let modal = $(e.target).parents('.self-intro').find('.modal-review')
              $(modal).modal('show')
          },
          myDateFormat(date, format) {
            return myDateFormat(date, format)
          },
          countLectureByStatus(status){
            let data = this.lectures.filter(item => {
              if (status != '신청완료') {
                if (item.txt_addrem_status == status) {
                  return item;
                }
              } else {
                if (item.txt_addrem_status == status || item.txt_addrem_status == '(재)신청완료') {
                  return item;
                }
              }

            })
            return this.pad(data.length)
          },
          pad(d) {
            return (d < 10) ? '0' + d.toString() : d.toString();
          },
          filterOption(event, option){
              let elements = document.getElementsByClassName('optionInfo active');
              while(elements.length > 0){
                elements[0].classList.remove('active');
              }

              if(!$(event.target).parent('.optionInfo').length){
                $(event.target).addClass('active');
              }else{
                $(event.target).parent().addClass('active');
              }

              this.$router.push({path: '/self-intro', query: {option: option}})

              if(option === '전체'){
                this.lectureOption = this.lectures
              }else{
                this.lectureOption = this.lectures.filter(item => {
                  if (option != '신청완료') {
                    if (item.txt_addrem_status == option) {
                      return item;
                    }
                  } else {
                    if (item.txt_addrem_status == option || item.txt_addrem_status == '(재)신청완료') {
                      return item;
                    }
                  }
                })
              }
          },
          isActive(option){
            return this.$route.query && option === this.$route.query.option
          },
          downloadFile(file) {
            let url = URL_IMAGE + '/data/file/addrem/' + file
            var link = document.createElement("a");
            // If you don't know the name or want to use
            // the webserver default set name = ''
            link.setAttribute('download', name);
            link.href = url;
            document.body.appendChild(link);
            link.click();
            link.remove();
          },
          openPopUp(lecture, element) {
            let msg = lecture.addrem_msg
            lecture.addrem_msg = msg.replace(/(?:\r\n|\r|\n)/g, '<br />')
            this.lecture_reject = lecture
            $(element).modal('show');
          },
          openPopUpload(lecture, element) {
            this.lecture_upload = lecture
            $(element).modal('show');
          },
          alert(message) {
            this.message = message
            $(".popup-self").find('#modal-confirm-action').modal('show')
            return;
          },
          deletePop(lecture) {
            this.delete_lecture = lecture
            this.alert('첨부된 파일을 삭제하시겠습니까? 삭제 후 다시 복원할 수 없습니다.');
          },
          deleteLecture(data) {
            $(".self-intro").find('#modal-confirm-action').modal('hide')
            AddremApiService.delete(data.lecture.addrem_file_uid).then(res => {
              location.reload()
            })
          }
        }
    }
</script>

<style scoped>
li.optionInfo {
  margin-bottom: 8px!important;
}

  li.optionInfo:nth-of-type(6) {
    border-left: none !important;
  }
</style>
