<template>
  <div class="lectured" v-if="data" id="detail-lecture">
    <div class="lectured__view pr">
      <img :src="renderImg(data.code, data.img)" style="width: 100%">
      <a href="javascript:;" @click="createPop(url + '/sampleView.php?val=' + data.movieurl, 'new_widnow')" target="_blank" class="btn_view flex-center" v-show="data.movieurl"><i class="icon icon-play"></i> 샘플 강의 보기</a>
      <!--      <div class="deadline">마감임박</div>-->
    </div>
    <div class="lectured__tag flex">
<!--      <span v-if="typeof data.support_opt === null" v-for="item in splitString(data.support_opt, '|')" :class="item">{{item}}</span>-->
      <span class="certificate" v-if="data.cert_print === 'Y' || (data.is_gong === '1' && data.cert_print === 'Y')">수료증 발급</span>
      <span class="retake" v-if="data.retake === 'Y'">재구매 할인</span>
    </div>
      <div class="lectured__detail">
        <h3>{{ data.title }}</h3>
        <div class="price flex" >
          <div class="price__discount" v-show="percent(splitString(data.lec_amount_info2)[1], splitString(data.lec_amount_info2)[2]) > 0">{{percent(splitString(data.lec_amount_info2)[1], splitString(data.lec_amount_info2)[2])}}%</div>
          <div class="price__current">{{formatMoney(splitString(data.lec_amount_info2)[2],' 원', ',')}}</div>
          <div class="price__old" v-show="percent(splitString(data.lec_amount_info2)[1], splitString(data.lec_amount_info2)[2]) > 0">{{formatMoney(splitString(data.lec_amount_info2)[1],' 원', ',')}}</div>
        </div>
      </div>
      <br>
      <div class="lectured__review flex-lc">
        <div class="rating pr"><div class="value" :style="'width: '+ starAvg +'%;'"></div></div>
        <p>REVIEW <span>({{reviews.length}}건)</span></p>
      </div>
      <ul class="lectured__info">
        <li>
          <h5>제작일</h5>
          <p>{{ data.maketime }}</p>
        </li>
        <li>
          <h5>열람기간</h5>
          <p>14일</p>
        </li>
      </ul>
    </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  import {formatMoney, sumProp} from "../../common/helpers";
  import rating from "../../components/rating/rating";
  import {URL_IMAGE} from "../../config";
    export default {
      name: "BookIntroduce",
      props : ['data', 'reviews'],
      computed: {
        ...mapGetters(['isAuthenticated', 'loggedInUser']),
        starAvg() {
          if (this.reviews.length) {
            let total = sumProp(this.reviews, 'star')
            return Math.ceil(total / (this.reviews.length) / this.star * 100)
          }
          return 0
        }
      },
      fetch() {
        console.log(this.$props.data)
        // let schedule = this.$props.data.schedule || []
        // console.log(schedule)
      },
      methods : {
        splitString(string , pattern = ',') {
          return string.split(pattern);
        },
        formatMoney(val, currency, format) {
          return formatMoney(val, currency, format);
        },
        percent(n1, n2) {
          return Math.round(((parseInt(n1) - parseInt(n2)) / n1) * 100);
        },
        convertStar(num) {
          if (!num) return 0;
          return Math.round(parseFloat(num)*2)/2;
        },
        renderImg(code, src){
          return this.URL_IMAGE + '/data_user/lecture/' +code + '/'+ src;
        },
        openData() {
          $(document).on('click','.btn-teacher',function(){
            $('[data-toggle="popover"]').popover(); //here if the condition is true then popover should be display.
          });
        },
        createPop(url, name)
        {
          let newwindow=window.open(url,name,'width=798,height=453,menubar=0');
          if (window.focus) {newwindow.focus()}
        }
      },
      components : {rating},
      data() {
        return {
          star : 5,
          URL_IMAGE : URL_IMAGE,
          url : URL_IMAGE
        }
      }
    }
</script>

<style scoped>
  .introduce {
    min-width: 0 !important;
  }
</style>
