<template>
  <div class="s-action flex add-cart-detail">
    <a  class="btn_cart flex-center" @click="showPop(cartOption)"><i class="icon icon-cart"></i> 장바구니</a>
    <a href="javascript:;" class="btn_buy flex-center" @click="showPop(cartOption)"><i class="icon icon-wl"></i> 구매하기</a>
  </div>
</template>

<script>
    export default {
        name: "bottom",
        props : ['cartOption'],
      methods : {
        showPop(item) {
          $(item).modal('show');
        }
      }
    }
</script>

<style scoped>
.s-action.flex.add-cart-detail a {
  width: 50%;
}
</style>
