<template>
  <div class="single-cartOption">
    <div class="modal" tabindex="-1" role="dialog" id="cartOption">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <main class="main-h">
              <div class="carts">
                <div class="carts__detail flex-lc pr">
                  <button type="button" class="btn_collapse" data-dismiss="modal"></button>
                  <div class="info">
                    <h4>강의</h4>
                    <p>{{ data.title.length > 45 ? data.title.substr(0, 45) + '...' : data.title}}</p>
                  </div>
                  <div class="price">
                    <div class="price__old" v-show="percent(splitString(data.lec_amount_info2)[1],
                    splitString(data.lec_amount_info2)[2]) > 0">{{formatMoney(splitString(data.lec_amount_info2, ',')[1], '원', ',')}}</div>
                    <div class="price__discount flex-lc" v-show="percent(splitString(data.lec_amount_info2)[1],
                    splitString(data.lec_amount_info2)[2]) > 0">{{percent(splitString(data.lec_amount_info2)[1],
                      splitString(data.lec_amount_info2)[2])}}% <i class="icon icon-discount"></i></div>
                    <div class="price__current">{{formatMoney(splitString(data.lec_amount_info2, ',')[2], '원', ',')}}
                    </div>
                  </div>
                </div>
                <div class="carts__addother">
                  <div class="header flex-lc">
                    <h4>추가 선택</h4>
                    <button type="button" class="btn_toggle ml-auto dr" data-toggle="collapse"
                            data-target="#cart_addnother"></button>
                  </div>
                  <div class="collapse show" id="cart_addnother">
                    <div class="item flex-lc" v-show="false">
                      <div class="checkbox">
                        <input type="checkbox" checked disabled>
                        <span class="checked flex-center"></span>
                      </div>
                      <div class="info">
                        <h5>도서</h5>
                        <p>{{data.title}}</p>
                      </div>
                      <div class="price">
                        <div class="price__old" v-show="percent(splitString(data.lec_amount_info2)[1],
                    splitString(data.lec_amount_info2)[2]) > 0">{{formatMoney(splitString(data.lec_amount_info2, ',')[1], '원', ',')}}</div>
                        <div class="price__discount flex-lc" v-show="percent(splitString(data.lec_amount_info2)[1],
                    splitString(data.lec_amount_info2)[2]) > 0">{{percent(splitString(data.lec_amount_info2)[1],
                          splitString(data.lec_amount_info2)[2])}}% <i class="icon icon-discount"></i></div>
                        <div class="price__current">{{formatMoney(splitString(data.lec_amount_info2, ',')[2], '원', ',')}}
                        </div>
                      </div>
                    </div>
                    <div class="item flex-lc" v-for="item in bookList">
                      <div class="checkbox">
                        <input type="checkbox" @click="toggleEvent($event, item.amount2)"
                               :value="JSON.stringify({no : item.code, type  : 'All', gubun : 'BOOK'})" class="cart_item">
                        <span class="checked flex-center"></span>
                      </div>
                      <div class="info">
                        <h5>도서</h5>
                        <p>{{item.name}}</p>
                      </div>
                      <div class="price">
                        <div class="price__old" v-show="percent(item.cust_amount ,item.amount2) > 0">{{formatMoney(item.cust_amount, '원', ',')}}</div>
                        <div class="price__discount flex-lc" v-show="percent(item.cust_amount ,item.amount2) > 0">{{percent(item.cust_amount ,item.amount2)}}%
                          <i class="icon icon-discount"></i></div>
                        <div class="price__current">{{formatMoney(item.amount2, '원', ',')}}</div>
                      </div>
                    </div>
                    <div class="item flex-lc" v-for="pdf in pdfList">
                      <div class="checkbox">
                        <input type="checkbox"
                               @click="toggleEvent($event, splitString(pdf.lec_amount_info2, ',')[2], false)"
                               :value="JSON.stringify({no : pdf.no, type  : 'All', gubun : 'EBOOK'})" class="cart_item">
                        <span class="checked flex-center"></span>
                      </div>
                      <div class="info">
                        <h5>자료</h5>
                        <p>{{pdf.title}}</p>
                      </div>
                      <div class="price">
                        <div class="price__old" v-show="percent(percent(splitString(pdf.lec_amount_info2)[1],
                        splitString(pdf.lec_amount_info2)[2])) > 0">{{formatMoney(splitString(pdf.lec_amount_info2, ',')[1], '원', ',')}}</div>
                        <div class="price__discount flex-lc" v-show="percent(percent(splitString(pdf.lec_amount_info2)[1],
                        splitString(pdf.lec_amount_info2)[2])) > 0">{{percent(splitString(pdf.lec_amount_info2)[1],
                          splitString(pdf.lec_amount_info2)[2])}}
                          <i class="icon icon-discount"></i></div>
                        <div class="price__current">{{formatMoney(splitString(pdf.lec_amount_info2, ',')[2], '원', ',')}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carts__amount">
                  <h4>주문금액</h4>
                  <ul>
                    <li>
                      <h5>강의</h5>
                      <span>{{formatMoney(splitString(data.lec_amount_info2, ',')[2], '원', ',')}}</span>
                    </li>
                    <li>
                      <h5>도서</h5>
                      <span>{{formatMoney(priceBook, '원', ',')}}</span>
                    </li>
                    <li>
                      <h5>자료</h5>
                      <span>{{formatMoney(pricePdf, '원', ',')}}</span>
                    </li>
                  </ul>
                </div>
                <div class="carts__total flex-lc">
                  <h4>총 결제금액</h4>
                  <span>{{formatMoney(money, '원', ',')}}</span>
                </div>
              </div>
              <div class="s-action w-5 flex">
                <a @click="addToCart('/cart')" class="btn_cart flex-center" href="javascript:;"><i class="icon icon-cart"></i> 장바구니</a>
                <a @click="addToCart('/mem-order')" class="btn_buy flex-center" href="javascript:;"><i class="icon icon-wl"></i> 구매하기</a>
              </div>
            </main>
          </div>
        </div>
      </div>
    </div>
    <ConfirmMainBanAction @actionEvent="pushData" :title="message"></ConfirmMainBanAction>
  </div>

</template>

<script>
  import {formatMoney} from "../../common/helpers";
  import Swal from 'sweetalert2'
  import {mapGetters} from 'vuex'
  import {CartApiService} from "../../store/service.api";
  import ConfirmMainBanAction from "../modal/ConfirmMainBanAction";


  export default {
    name: "CartOption",
    props: ['bookList', 'pdfList', 'data'],
    methods: {
      formatMoney(val, currency, format) {
        return val ? formatMoney(val, currency, format) : 0;
      },
      splitString(string, pattern = ',') {
        return string ? string.split(pattern) : 0;
      },
      percent(n1, n2) {
        if (!n1 || !n2) return 0;
        return Math.round(((parseInt(n1) - parseInt(n2)) / n1) * 100);
      },
      toggleEvent(e, val, book = true) {
        val = (val) ? parseInt(val) : 0;
        if ($(e.target).is(':checked')) {
          book ? this.priceBook = this.priceBook + val : this.pricePdf = this.pricePdf + val;
        } else {
          book ? this.priceBook = this.priceBook - val : this.pricePdf = this.pricePdf - val;
        }
        this.money = parseInt(this.splitString(this.data.lec_amount_info2, ',')[2]) + this.priceBook + this.pricePdf;
      },
      async getCart(){
         let data  = await CartApiService.getCartUser();
         this.carts = data['data'];
      },
      checkLectureExistCart(no) {
          return  this.carts.find(e => e.lecture_id == no);
      },
      async addToCart(uri) {
        this.uri = uri
        if (!this.isAuthenticated) {
          $('#modal-confirm').modal('show');
          $('#cartOption').modal('hide')
          return;
        }
        await this.getCart();
        let item = this.checkLectureExistCart(this.data.no);
        let itemChecked = $('.cart_item:checkbox:checked');
        let itemNotChecked = $('.cart_item:checkbox')
        if (item && item != 'undefined') {
          this.message = '해당 강의는 이미 장바구니에 담겨있습니다. 장비구니를 확인바랍니다.';
          this.openConfirmModal()
        } else {
          if (!itemChecked.length && itemNotChecked.length) {
            this.message = '강의 도서를 선택하지 않았습니다. 강의만 구매하시겠습니까?';
            this.openConfirmModal()
          } else {
              this.pushData(this.uri);
          }
        }

      },
     getPushData() {
       let itemChecked = $('.cart_item:checkbox:checked');
       let params = [];
       params.push({
         gubun: 'MOV',
         no: this.data.no,
         type: 'ALL'
       })
       if (itemChecked.length) {
         itemChecked.each(function (e, item) {
           let val = JSON.parse($(item).val());
           params.push(val);
         })
       }

       return params;
     },
      pushData(uri) {
        $(".single-cartOption").find("#modal-confirm-action").modal('hide')
        let item = this.checkLectureExistCart(this.data.no);
        if (item && item != 'undefined') {
          $("#cartOption").modal('hide');
          this.$router.push('/cart');
        } else {
          this.$emit('addToCart', {
            params : this.getPushData(),
            uri : this.uri,
            lecture_id: this.data.no
          });
        }
      },
      openConfirmModal() {
        $(".single-cartOption").find("#modal-confirm-action").modal('show');
      }
    },
    mounted() {
      this.money = parseInt(this.splitString(this.data.lec_amount_info2, ',')[2]);
    },
    computed: {
      ...mapGetters(['isAuthenticated', 'loggedInUser']),
    },
    components : {ConfirmMainBanAction},
    data() {
      return {
        money: 0,
        pricePdf: 0,
        priceBook: 0,
        carts : [],
        message: '',
        uri: '/cart'
      }
    }
  }
</script>

<style scoped>
  .carts__detail {
    flex-wrap: inherit;
  }
  #cartOption .modal-dialog {
    max-width: 90%;
    margin: 10px auto;
  }
  #cartOption .modal-body main {
    padding-top: 0 !important;
  }
  #cartOption .modal-body .carts {
    padding-top: 0 !important;
  }
</style>
