<template>
  <div >
    <button id="recommendation-lecture" class="button-tab"></button>

    <div class="table_of_content ">
      <h4>목차 ({{total_movie}})</h4>
      <ul class="list">
        <li v-for="(item, key) in data">
          <span>{{key+1}}차시</span>
          <h5>{{item.name}}</h5>
          <time>{{item.playtime}}분 {{item.playstime}}초</time>
        </li>
<!--        <li>-->
<!--          <span>2차시</span>-->
<!--          <h5>진공(Vacuum)</h5>-->
<!--          <time>40분 1초</time>-->
<!--        </li>-->
<!--        <li>-->
<!--          <span>3차시</span>-->
<!--          <h5>플라즈마(Plasma)</h5>-->
<!--          <time>40분 1초</time>-->
<!--        </li>-->
<!--        <li>-->
<!--          <span>4차시</span>-->
<!--          <h5>반도체 공정/설비 기초</h5>-->
<!--          <time>40분 1초</time>-->
<!--        </li>-->
<!--        <li>-->
<!--          <span>5차시</span>-->
<!--          <h5>반도체 공정/설비 기초</h5>-->
<!--          <time>40분 1초</time>-->
<!--        </li>-->
<!--        <li>-->
<!--          <span>6차시</span>-->
<!--          <h5>반도체 공정/설비 기초</h5>-->
<!--          <time>40분 1초</time>-->
<!--        </li>-->
<!--        <li>-->
<!--          <span>7차시</span>-->
<!--          <h5>반도체 공정/설비 기초</h5>-->
<!--          <time>40분 1초</time>-->
<!--        </li>-->
      </ul>
      <button type="button" class="btn_viewmore flex-center" v-if="Object.keys(data).length < total_movie" @click="viewMoreMovie">더보기</button>
    </div>
  </div>
</template>

<script>
    export default {
      name: "ComContent",
      props : ['data', 'total_movie', 'limit', 'more_item'],
      watch : {
        more_item(newVal) {
          Object.keys(newVal).forEach( (e, key) => {
            this.data[Object.keys(this.data).length] = newVal[e];
          })
          this.$forceUpdate();
        }
      },
      methods : {
        viewMoreMovie() {
          this.$emit('viewMoreMovie');
        }
      }
    }
</script>

<style scoped>
    .table_of_content {
      min-height: 0 !important;
      margin-bottom: 0 !important;
    }
    .button-tab {
      margin-bottom: 130px;
    }
</style>
