<template>
  <div class="com-introduce-b">
    <button  id="com-introduce-b" class="button-tab"></button>
    <div class="introduce" v-html="data.contents"></div>
  </div>
</template>

<script>
    import Single_package from "./header/single_package";
    export default {
      name: "comIntroduceB",
      components: {Single_package},
      head: {
        script: [
          {src: "/js/com-introduce_b.js"}
        ]
      },
      props : ['data', 'tabHeader']
    }
</script>

<style >
    .introduce  iframe {
      width: 100%;
      height: 100%;

    }
  .introduce {
    min-height: 0 !important;
  }

    .introduce img {
      height: unset !important;
    }
</style>
