<template>
  <div class="com-introduce-b">
    <button class="button-tab" id="com-introduce-company"></button>
    <div class="book" style="margin-top: 0 !important;">
    <div class="header flex">
      <p>자료목차</p>
    </div>
    <div class="introduce" v-html="data.contents2"></div>
    </div>
  </div>
</template>

<script>
    import Single_package from "./header/single_package";
    export default {
      name: "ComIntroduceCompany",
      components: {Single_package},
      head: {
        script: [
          {src: "/js/com-introduce_b.js"}
        ]
      },
      props : ['data', 'tabHeader']
    }
</script>

<style >
    .introduce  iframe {
      width: 100%;
      height: 100%;

    }
  .introduce {
    min-height: 0 !important;
  }
</style>
