<template>
  <div>
    <div>
      <button id="review-list" class="button-tab"></button>

      <div class="reviews">
        <h2>총 {{total_review}}개의 수강 후기가 있어요</h2>
        <div class="reviews__list">
          <div class="item" v-for="item in data">
            <div class="flex-lc-1">

              <rating :grade="convertStar(item.star)" :maxStars="5" :hasCounter="false"></rating>
              <p><span>{{formatID(item.user_id)}}</span> ｜
                <time>{{convertDateTime(item.regdate)}}</time>
              </p>
            </div>
            <h3>{{item.title}} <i v-if="item.real_name" class="icon icon-camera" @click="download(item.real_name, item.no)"></i></h3>
            <a @click="detail(item)" title="" class="btn_more" >더보기</a>
          </div>
        </div>
        <button type="button" class="btn_viewmore flex-center" v-if="Object.keys(data).length < total_review" @click="btnViewMore">더보기</button>
      </div>
    </div>
    <div class="modal fade modal-reviewdetail" id="modal-reviewdetail" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4>후기</h4>
            <a href="javascript:;" class="close" data-dismiss="modal"></a>
          </div>
          <div class="modal-body" v-if="detailReview">
            <div class="reviewdetail">
              <div class="title">{{detailReview.title}}
              </div>
              <div class="box-rating flex-lc-1">

                <rating :grade="convertStar(detailReview.star)" :maxStars="5" :hasCounter="false"></rating>
                <p><span>{{formatID(detailReview.user_id)}}</span> ｜
                  <time>{{convertDateTime(detailReview.regdate)}}</time>
                </p>
              </div>
              <article v-html="deCodeUri(detailReview.content1)">
              </article>
            </div>
            <div class="nav-review">
              <div class="nav-next flex-lc" v-if="previousReview" @click="detail(previousReview)">
                <button type="button" class="flex-lc"><i class="icon icon-next"></i> 다음글</button>
                <p>{{previousReview.title}}</p>
              </div>
              <div class="nav-prev flex-lc" v-if="nextReview" @click="detail(nextReview)">
                <button type="button" class="flex-lc"><i class="icon icon-prev"></i> 이전글</button>
                <p>{{nextReview.title}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {formatDate, formatID} from "../../common/helpers";
  import rating from "../rating/rating";
  import moment from "moment";
  import {API_URL, URL_IMAGE} from "../../config";
  var striptags = require('striptags');
  var nl2br  = require('nl2br');
    export default {
      name: "ComReview",
      props : ['data', 'total_review', 'limit', 'more_item'],
      watch: {
        more_item(newVal) {
          Object.keys(newVal).forEach( (e, key) => {
            this.data[Object.keys(this.data).length] = newVal[e];
          })
          this.$forceUpdate();
        }
      },
      methods : {
        formatDateTime(time, format) {
          return formatDate(time, format)
        },
        formatID(id) {
          return formatID(id);
        },
        convertStar(num) {
          if (!num) return 0;
          return Math.round(parseFloat(num)*2)/2;
        },
        detail(item) {
          this.detailReview = item;
          let k = parseInt(Object.keys(this.data).find(key => this.data[key] === item))
          this.nextReview = ((k + 1) < Object.keys(this.data).length) ? this.data[k + 1] : null;
          this.previousReview = ((k -1) > -1) ? this.data[k - 1] : null;
          $("#modal-reviewdetail").modal('show');
        },
        convertDateTime(number) {
          let timestamp = moment.unix(number);
          return timestamp.format(this.format)
        },
        deCodeUri(string) {
          string = decodeURI(string);
          string = string.replace(/(<([^>]+)>)/gi, "");
          string = nl2br(string);
          string.replace('+', ' ')
          return string.trim();
        },
        btnViewMore() {
          this.$emit('viewMoreReview');
        },
        download(file, no) {
          let url = URL_IMAGE + '/data/file/board/boardLate/' + no + '/' + file
          var link = document.createElement("a");
          // If you don't know the name or want to use
          // the webserver default set name = ''
          link.setAttribute('download', name);
          link.href = url;
          document.body.appendChild(link);
          link.click();
          link.remove();
        }
      },
      data() {
        return {
          format : 'YYYY-MM-DD',
          detailReview : null,
          nextReview : null,
          previousReview : null,
          currentKey : null
        }
      },
      components : {rating}
    }
</script>

<style scoped>
.reviews {
  margin: 2px 0;
}

  .flex-lc-1 {
    display: flex;
    align-items: center;
  }

  .rating2 {
    width: fit-content !important;
    padding: 10px 0 10px 0 !important;
  }

.rating2 .list {
  margin: 0 10px 0 0 !important;
}

.reviews .rating {
  margin-right: 0;
}
.button-tab {
  margin-bottom: 135px;
}
</style>
