<template>
  <main v-show="data.length">
    <button id="recommend-lecture-bottom" class="button-tab"></button>
    <div class="recommendation">
      <div class="lesson lesson-cs1">
        <div class="header flex">
          <h2>함께 들으면 더 좋아요 </h2>
          <p>렛유인 추천강의</p>
        </div>
        <div class="scrollbar" id="recommend_detail">
          <div class="lesson__list flex">
            <div class="item" v-for="item in data">
              <a @click="gotoDetail(item)" class="thumb">
                <img :src="url + '/data_user/' + getTailImage(item)">
              </a>
              <div class="content">
                <div style="min-height: 28px !important;">
                  <div class="status new" :class="['status', it]" v-for="(it, key) in splitString(item.support_opt)">{{it}}</div>
                </div>
                <h3 @click="gotoDetail(item)"><a>{{typeof item.uid !== 'undefined' ? (item.subject.length > 30 ? item.subject.substr(0, 30) + '...': item.subject ) : (item.title.length > 30 ? item.title.substr(0, 30) + '...': item.title )}}</a></h3>
                <div class="bottom flex">
                  <div class="author">{{item.teacher_text.split(',').length > 1 ? item.teacher_text.split(',')[0] + '외 ' + (item.teachers.length - 1) + ' 명' : item.teacher_text }}</div>
                  <div @click="gotoDetail(item, true)" class="view flex-lc"><i class="icon icon-pen"></i> {{item.view}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import {URL_IMAGE} from "../../config";

export default {
  name: "RecommendLecture",
  props : ['data'],
  data() {
    return {
      url : URL_IMAGE,
      tail : '_l1.png',
      PACK: "package",
      MOV: "lecture",
      BOOK: "item"
    }
  },
  methods : {
    splitString(string, pattern = '|') {
      if (!string) return [];
      return string.split(pattern);
    },
    getTailImage(item) {
      return typeof item.uid !== 'undefined' ? this.PACK + '/' + item.uid + '/' + item.img : this.MOV + '/' + item.code + '/' + item.img
    },
    openList() {
      $('.btn_collapse').on('click', function (e) {
        $(this).parent().toggleClass('show')
      })
    },
    gotoDetail(item, review = null) {
      if (item.no == "668") {
        window.open('https://www.letuin.com/lecture.php?action=sfreepass', '_blank');
        return;
      } else if (item.no == 774 || item.no == 775 || item.no == 776 || item.no == 802 || item.no == 803 || item.no == 807 || item.no == 808) {
        window.open('https://www.letuin.com/promotion.php?action=GsatFreePass', '_blank');
        return;
      }
      if (item.lec_type === 'PACK') {
        if (review) {
          this.$router.push('/details/package/' + item.no + '?review=true')
        } else {
          this.$router.push('/details/package/' + item.no)
        }
      } else {
        if (item.is_off === "B") {
          this.$router.push('/details/companybook/' + item.no)
          return ;
        }
        if (review ) {
          this.$router.push('/details/single/' + item.no + '?review=true')
        } else {
          this.$router.push('/details/single/' + item.no)
        }
      }
    }
  }
}
</script>

<style scoped>
.recommendation {
  min-height: 0;
}

@media (min-width: 376px) and (max-width: 414px) and (max-height: 736px) {
  .lesson .item .status {
    padding: 1.1111111111vw 2.1vw 0.8333333333vw !important;
  }
}
</style>
