<template>
  <div>
    <button id="safe_book"  class="button-tab"></button>

    <div class="book">
      <div class="header flex">
        <p>도서</p>
        <a href="https://www.letuin.com/shop.php?action=list" target="_blank" title="" class="btn_viewmore ml-auto">더보기</a>
      </div>
      <div class="scrollbar" id="scrollbar" >
        <div class="book__list flex" id="book__list">
          <div class="item" v-for="book in data">
            <a :href="book.link" class="thumb">
              <img :src="url + '/data_user/item/' + getTailImage(book.code)">
            </a>
            <div class="content">
              <h3><a href="">{{book.name}}</a></h3>
              <p>{{book.basic}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--    <div class="s-action flex">-->
<!--      <a href="" class="btn_cart flex-center"><i class="icon icon-cart"></i> 장바구니</a>-->
<!--      <a href="" class="btn_buy flex-center"><i class="icon icon-wl"></i> 구매하기</a>-->
<!--      <a href="" class="btn_talk flex-center"><i class="icon icon-talk"></i> 카톡상담</a>-->
<!--    </div>-->
<!--    <button type="button" class="backtop">backtop</button>-->
  </div>
</template>

<script>
import {BookApiService} from "../../store/service.api";
import {URL_IMAGE} from "../../config";

export default {
  name: "SafeBook",
  layout : "popup",
  props : ['data'],
  head : {
    script : [
      { src : "/js/com-book-detail.js" }
    ]
  },
  data() {
    return {
      books : [],
      offset : 1,
      limit : 5,
      url : URL_IMAGE,
      tail : '_l1.png'
    }
  },
  mounted() {

  },
  methods : {
    getTailImage(item){
      return item + this.tail;
    },
    linkImage(code) {
      return this.url + '/data_user/item/' + this.getTailImage(code)
    }
  }
}
</script>

<style>
#book__list {
  min-width: fit-content !important;
  overflow-y: scroll;
  flex-wrap: initial;
}
.lesson .item, .book .item {
  width: 160px !important;
  max-width: 160px !important;
}
.book .item h3 a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.button-tab {
  margin-bottom: 90px;
}
</style>
