<template>
  <div>
    <div class="introduce">
<!--      <article class="post">-->
<!--        <a href="" class="post__img"></a>-->
<!--        <h3><a href="">장치산업인 반도체 산업 이해에 필요한 "설비 및 공정 기초 개념"</a></h3>-->
<!--        <p>친절한 이미지 예시로 공정 설비의 예시와 개념을 쉽게 이해-->
<!--          챔버, 클러스터, 웨이퍼의 이동, 펌드 등 기타 Utility 완벽 정리-->
<!--          공정/설비 엔지니어의 중요 role, 공정 파라미터의 종류와 Recipe-->
<!--        </p>-->
<!--      </article>-->
      <div class="instructor pr">
        <h2>강사소개</h2>
        <div class="instructor__nav nav flex">
          <button type="button" class="instructor__prev prev"></button>
          <button type="button" class="instructor__next next"></button>
        </div>
        <div class="instructor__list">
          <div class="item flex" v-for="teacher in data">
            <div class="item__left">
              <h4>{{teacher.name}}</h4>
              <div class="text">
                <p v-for="item in teacher.teacher_info.split('-')" v-if="item != ''">-{{ item }}</p>
<!--                <p>{{teacher.teacher_info2}}</p>-->
              </div>
              <hr>
              <div class="text">
<!--                <p>외국계반도체회사 소자개발 엔지니어</p>-->
<!--                <p>SK하이닉스 DRAM 소자개발 엔지니어</p>-->
<!--                <p>외국계반도체회사 소자개발 엔지니어</p>-->
                <p>{{teacher.summary}}</p>
              </div>
            </div>
            <div class="item__right">
              <img  :src="url + '/data_user/user/' + teacher.id + '_thum.png?v=3'" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="suggest_lecture" v-show="lecture.s_target !== ''">
      <h2>이런 분들을 위한 수업이에요</h2>
      <ul >
        <li v-for="item in lecture.s_target.split('-')" v-if="item != ''">
          <p >{{ item.trim() }}
          </p>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  import {URL_IMAGE} from "../../config";

  export default {
    name: "TeacherIntroduce",
    props : ['data', 'lecture'],
    mounted() {
      $(document).ready(function () {
        //call slick js
        $('.instructor__list').slick({
          centerMode: false,
          slidesToShow: 1,
          slidesToScroll: 1,
          infinite: true,
          fade: true,
          centerPadding: 0,
          dots: false,
          arrows: true,
          prevArrow: $('.instructor__prev'),
          nextArrow: $('.instructor__next'),
        });
      });
    },
    data() {
      return {
        url : URL_IMAGE
      }
    }
  }
</script>

<style scoped>

</style>
