<template>
  <main class="employee-main">
    <div class="head_title pr">
      <button type="button" class="back btn-back">
        <img src="~/assets/img/arr-r.png" alt="">
      </button>
      <h1>취업기업분석</h1>
    </div>
    <a href="https://www.letuin.com/board.php?action=boardLate&off_type=online&find=til&search=" target="_blank">
      <div class="banner-note flex-center">
        <i class="icon icon-wr"></i>
        <p>후기 등록 시 <span>렛머니 1,000원 적립</span></p>
      </div>
    </a>
    <div class="emplyee">
      <div class="emplyee__info box-collapse">
        <div class="header flex-lc">
          <h4 class="flex-lc"><i class="icon icon-qs">?</i> 이용 안내</h4>
          <button class="btn_collapse collapsed dr ml-auto" type="button" data-toggle="collapse"
                  data-target="#emplyee__info"></button>
        </div>
        <div class="collapse" id="emplyee__info">
          <div class="box-text">
            <p>아래 강의를 좌측으로 밀면, “후기작성 / 열람하기”가 가능합니다.</p>

            <p>기간 내 무제한 열람이 가능합니다.
              (패키지의 경우 인쇄는 10회 제한이 있습니다.)</p>

            <p>
              신청일로부터 열람 기간이 차감되오니, 기간 내 열람할 수 있도록
              주의해주시기 바랍니다.
            </p>

            <p>
              인쇄는 PC버전 사이트를 통해 기간 내 횟수 제한 없이 출력이
              가능합니다.
            </p>

            <p>
              열람 기간이 만료된 기업분석자료는 ‘종료된 콘텐츠‘ 메뉴에서
              확인 가능합니다.
            </p>

          </div>
        </div>
      </div>
      <div class="emplyee__list bt">
        <div class="header flex-lc">
          <h4>열람 중 취업기업분석 ({{ this.checkParam == 4 ? 0 : this.lectures.length + this.packageLecture.length}})</h4>
          <div class="checkbox__list ml-auto flex">
            <label class="flex-lc">
              <input type="checkbox" name="status" class="single" :checked="(checkParam == 1 || checkParam == 2) && this.lectures.length" :disabled="this.lectures.length == 0" @click="changeParamSingle()">
              <span class="checked flex-center"></span>
              일반 <span> {{ this.lectures.length }} </span>
            </label>
            <label class="flex-lc">
              <input type="checkbox" name="status" class="package" :checked="(checkParam == 1 || checkParam == 3) && this.packageLecture.length" :disabled="this.packageLecture.length == 0" @click="changeParamSingle()">
              <span class="checked flex-center"></span>
              패키지 <span> {{ this.packageLecture.length }} </span>
            </label>
          </div>
        </div>
        <div class="bg_gray" v-if="checkParam == 1 &&this.lecture_total && this.lecture_total.length">
          <div class="note">상품 목록을 <span>좌측으로 밀면,</span> ‘후기작성 / 열람하기’을 할 수 있어요.</div>
          <div class="item" v-for="lecture in this.lecture_total" :key="lecture.no">
            <div class="item__scroll">
              <div class="scroll pr">
                <div class="content pr">
                  <time>열람기간 : {{myDateFormat(lecture.startdate, 'YYYY.MM.DD')}} ~ <span>{{myDateFormat(lecture.enddate, 'YYYY.MM.DD')}}</span></time>
                  <h3>{{lecture.title}}</h3>
                  <div class="day">남은 일수 : <span>{{lecture.period}}일</span></div>
                  <i class="icon icon-arr"></i>
                </div>
                <a href="javascript:;" class="btn_wr"  @click="setLectureIdReview($event, lecture.id, lecture)"></a>

              </div>
            </div>
            <a type="button" :href="url_pdf +'/data_user/lecture/'+lecture.code+ '/' + lecture.attach_file" target="_blank" class="btn_view"></a>
          </div>
        </div>
        <div class="bg_gray" v-if="checkParam == 2 && this.lectures && this.lectures.length">
          <div class="note">상품 목록을 <span>좌측으로 밀면,</span> ‘후기작성 / 열람하기’을 할 수 있어요.</div>
          <div class="item" v-for="lecture in this.lectures" :key="lecture.no">
            <div class="item__scroll">
              <div class="scroll pr">
                <div class="content pr">
                  <time>열람기간 : {{myDateFormat(lecture.startdate, 'YYYY.MM.DD')}} ~ <span>{{myDateFormat(lecture.enddate, 'YYYY.MM.DD')}}</span></time>
                  <h3>{{lecture.title}}</h3>
                  <div class="day">남은 일수 : <span>{{ diffDayNow(lecture.enddate) }}일</span></div>
                  <i class="icon icon-arr"></i>
                </div>
                <a href="javascript:;" class="btn_wr" @click="setLectureIdReview($event, lecture.id, lecture)"></a>
              </div>
            </div>
            <a type="button" :href="url_pdf +'/data_user/lecture/'+lecture.code+ '/' + lecture.attach_file" target="_blank" class="btn_view"></a>
          </div>
        </div>
        <div class="bg_gray" v-else-if="checkParam == 3 && packageLecture && this.packageLecture.length">
          <div class="note">상품 목록을 <span>좌측으로 밀면,</span> ‘후기작성 / 열람하기’을 할 수 있어요.</div>
          <div class="item" v-for="lecture in this.packageLecture" :key="lecture.no">
            <div class="item__scroll">
              <div class="scroll pr">
                <div class="content pr">
                  <time>열람기간 : {{myDateFormat(lecture.startdate, 'YYYY.MM.DD')}} ~ <span>{{myDateFormat(lecture.enddate, 'YYYY.MM.DD')}}</span></time>
                  <h3>{{lecture.title}}</h3>
                  <div class="day">남은 일수 : <span>{{lecture.period}}일</span></div>
                  <i class="icon icon-arr"></i>
                </div>
                <a href="javascript:;" class="btn_wr"  @click="setLectureIdReview($event, lecture.id, lecture)"></a>

              </div>
            </div>
            <a type="button" :href="url_pdf +'/data_user/lecture/'+lecture.code+ '/' + lecture.attach_file" target="_blank" class="btn_view"></a>
          </div>
        </div>
        <div class="notifi" v-else>
          <h5>열람 중인 취업기업분석이 없습니다</h5>
          <div class="img"><img src="~/assets/img/found1.png" alt=""></div>
        </div>
      </div>
    </div>
    <div class="nav-bt blue flex-center w100">
      <nuxt-link to="/lecture/online" class="flex-center">취업기업분석 자료 더보기</nuxt-link>
    </div>
    <button type="button" class="backtop">backtop</button>

    <ReviewWR  :lecture_info_review="[{lecture_no : lectureDataReview.lecture_no, title : lectureDataReview.title}]"></ReviewWR>
  </main>
</template>

<script>
import {MyClassApiService} from "../../store/service.api";
import {URL_IMAGE} from "../../config"
import {diffDayNow, myDateFormat} from "../../common/helpers";
import ReviewWR from "../../components/modal/ReviewWR";
export default {
  name: "index",
  components : {ReviewWR},
  middleware: 'auth',
  async asyncData(context) {
    let params = {user_id : context.$auth.$state.user.id}
    const datas = await Promise.all([
       MyClassApiService.getLectureEmploymentComAnalysisMyList(params),
    ])
    return {
      packageLecture: datas[0].data.package_lectures,
      lectures: datas[0].data.single_lectures,
    }
  },
  data(){
    return {
      url_pdf : URL_IMAGE,
      lectureIdReview : null,
      checkParam: 1,
      lectureTotal : [],
      lectureDataReview : []
    }
  },
  created() {
    if (this.$route.query.checkParam) {
       this.checkParam = this.$route.query.checkParam
    } else {
      if (this.packageLecture.length && this.lectures.length) {
        this.checkParam = 1
        this.lectureTotal = this.packageLecture.concat(this.lectures);
      }
      if (this.packageLecture.length && !this.lectures.length) {
        this.checkParam = 3
      }
      if (!this.packageLecture.length && this.lectures.length) {
        this.checkParam = 2
      }
   }
  },
  methods :{
    diffDayNow(date) {
      return diffDayNow(date)
    },
    myDateFormat(date, format) {
      return myDateFormat(date, format)
    },
    setLectureIdReview(e, lectureId, lecture){
      this.lectureIdReview = lectureId;
      this.lectureDataReview = lecture
      let modal = $(e.target).parents('.employee-main').find('.modal-review');
      console.log(modal)
      $(modal).modal('show');
    },
    addQueryString() {
        this.$router.push({ path: this.$route.path, query: {checkParam : this.checkParam}});
    },
    changeParamSingle() {
      this.checkParam = 4;
      if($('.single').is(":checked") && $('.package').is(":checked")) {
        this.checkParam = 1
        this.lectureTotal = this.packageLecture.concat(this.lectures);
      }
      if($('.single').is(":checked") && !$('.package').is(":checked")) {
        this.checkParam = 2
      }
      if(!$('.single').is(":checked") && $('.package').is(":checked")) {
        this.checkParam = 3
      }
      this.addQueryString();
    },
    pad(d) {
      return (d < 10) ? '0' + d.toString() : d.toString();
    },
  }
}
</script>

<style scoped>

</style>
