<template>
  <main class="course_detail_1">
    <div class="head_title pr">
      <button type="button" class="back btn-back">
        <img src="~/assets/img/arr-r.png" alt="">
      </button>
      <h1>내가 담은 강의</h1>
    </div>
    <div class="page-lecture">
      <div class="select pr">
        <select name="lecture_id" @change="getLecture()">>
          <option v-for="lecture in listLectureByClass" :value="lecture.lec_no" :selected="lecture.lec_no == $route.params.lecture_no">{{lecture.title}}</option>
        </select>
      </div>
      <div class="info flex">
        <div class="time col-5">{{formatDate(selectedLecture.s_date)}} ~ <span class="color_public">{{formatDate(selectedLecture.e_date)}}</span></div>
        <div class="day col-3"><p><span class="color_public">{{diffDayNow(selectedLecture.e_date)}}</span>일</p>남은일수</div>
        <div class="process active col-4"><span class="color_public">{{infoCourseDetail.process_rate}}％</span> 진도율 </div>
      </div>
      <div class="file flex-lc">
        <i class="icon icon-file"></i>
        <span class="color_public">{{infoCourseDetail.attach_file ? infoCourseDetail.attach_file : ''}}</span>
      </div>
      <div class="course_detail">
        <div class="top flex-lc">
          <h5>목표 수강일</h5>
          <div class="time">
            {{formatDate(selectedLecture.s_date)}} ~
            <span class="color_public">{{formatDate(selectedLecture.e_date)}}</span>
          </div>
          <div class="code color_public">D-{{ diffDayNow(selectedLecture.e_date)}}</div>
        </div>
        <div class="bottom flex-lc">
          <p>진도율 <span  class="color_public">{{infoCourseDetail.commision}} %</span></p>
          <p>오늘 권장 진도율 <span  class="color_public">{{infoCourseDetail.process_rate}} %</span></p>
        </div>
      </div>
      <div class="lecture pb-0 mb-ft">
        <h4>커리큘럼 ({{listMovie.length}})</h4>
        <div class="lecture__list bg-gray">
          <div class="item flex" v-for="(movie, key) in listMovie">
            <div class="content">
              <div class="detail flex-lc">
                <h5 class="color_public">{{key + 1}}차시</h5>
                <span>{{movie.playtime}}분 {{movie.playstime}}초</span>
                <span class="ml-auto">진도율: <small class="color_public">{{movie.process_rate}}</small> %</span>
              </div>
              <h3>
                {{movie.name}}
              </h3>
            </div>
            <a @click="playLc(movie)" class="btn_play"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="nav-bt flex">
      <div class="col-6">
        <a style="color: white" @click="showPopupReview($event,{lecture_no : infoCourseDetail.no , title : infoCourseDetail.title})" class="link_wr flex-center background_public_1"><i class="icon icon-wr"></i> 후기작성</a>
      </div>
      <div class="col-6">
        <a style="color: white" @click="showPopUpContactUs('#modal-contactus-wt',null, '전체')" class="link_qa flex-center "><i class="icon icon-qa"></i> 강의질문</a>
      </div>
    </div>
    <button type="button" class="backtop">backtop</button>
    <play-video :movie="selectedMovie" :url="url" :list="listMovie" :lecture="infoCourseDetail" :study="study"></play-video>
    <ReviewWR  :lecture_info_review="[dataReview]"></ReviewWR>

  </main>
</template>

<script>
import {LectureOnlineService, MyClassApiService} from "../../../../store/service.api";
import {diffDayNow, formatDate} from "../../../../common/helpers";
import LUM_MR_PlayLC_Pop from "../../../../components/modal/LUM_MR_PlayLC_Pop"
import ReviewWR from "../../../../components/modal/ReviewWR";
import ContactUS from "../../../../components/modal/ContactUS";
import {mapGetters} from "vuex";
export default {
  name: "index",
  mounted() {
    $('.select-2').select2();
  },
  components : {'play-video' : LUM_MR_PlayLC_Pop, ReviewWR, ContactUS},
  middleware : ['authenticate'],
  data(){
    return {
      infoCourseDetail : {},
      listMovie : [],
      listLectureByClass : [],
      dataReview : {},
      url: '',
      selectedMovie: {},
      study: {},
      noSelect: '',
      selectedLecture: {}
    }
  },

  computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser']),
  },

  created() {
    this.noSelect = this.$route.params.lecture_no
    this.getCourseDetail(this.$route.params.lecture_no);
    this.getLectureByClass();
  },

  methods: {
    diffDayNow(date) {
      return diffDayNow(date)
    },
    getLectureByClass(){
      let params = { user_id : this.loggedInUser.id, 'lms_no' : this.$route.params.lms_no}
      MyClassApiService.getDetailClass(params).then(res => {
          this.listLectureByClass = res.data.response_info
          this.selectedLecture = this.listLectureByClass.find(item => item.lec_no === this.$route.params.lecture_no)
        console.log(this.selectedLecture)
      })
    },
    getLecture(){
      let lecture = $('select[name="lecture_id"]').val()
      this.$router.push('/course-detail/'+this.$route.params.muid+'/'+this.$route.params.lms_no+'/'+lecture)
      this.getCourseDetail(lecture)
    },
    async showPopupReview(e, data){
      this.dataReview = data;
      let modal = $(e.target).parents('.course_detail_1').find('.modal-review')
      $(modal).modal('show')
    },
    showPopUpContactUs(element, closeElement = null, key = null, previous_tab = null) {
      if (key) this.tabActive = key;
      this.createAsk = true;
      this.dataView = null;
      this.showPop(element, closeElement);
      if (previous_tab) {
        this.$cookies.set('previous_tab', closeElement)
      }
    },
    showPop(element, closeElement = null) {
      this.$cookies.set('backToIndex', true)
      $(element).modal('show');
      closeElement ? $(closeElement).modal('hide') : 0;
    },
    async getCourseDetail(no){
      this.study.uid = this.$route.params.muid
      //this.$route.query.muid  this.$route.query.lms_no  this.$route.query.lecture_no
      let params = {user_id: this.loggedInUser.id, 'muid' : this.$route.params.muid, 'lms_no' : this.$route.params.lms_no, 'lecture_no' : no,}
      let data = await MyClassApiService.getCourseDetail(params);
      if(data.code == "SUCCESS"){
        this.infoCourseDetail = data.data.lecture_freepass
        this.listMovie = data.data.movies.movieList
        if (this.listMovie.length) {
          this.selectedMovie = this.listMovie[0]
        }

      }
    },
    formatDate(date, format){
      return formatDate(date, format)
    },
    playLc(movie){
      this.selectedMovie = movie
      LectureOnlineService.kollusVideo({
        clientUserId: this.loggedInUser.id,
        mediaContentKey: movie.movie_url,
        lecture_no: this.infoCourseDetail.no,
        muid: this.study.uid,
        orderId: movie.category_order,
        lecture_code: this.infoCourseDetail.code
      }).then(res => {
        this.url = res.data.url
      })
      $('#modal-video').modal('show');
    }
  }
}
</script>

<style scoped>

</style>
