<template>
  <main class="ended-main">
    <div class="head_title pr">
      <button type="button" class="back btn-back">
        <img src="~/assets/img/arr-r.png" alt="">
      </button>
      <h1>종료된 콘텐츠</h1>
    </div>
    <a href="https://www.letuin.com/board.php?action=boardLate&off_type=online&find=til&search=" target="_blank">
      <div class="banner-note flex-center">
        <i class="icon icon-wr"></i>
        <p>후기 등록 시 <span>렛머니 1,000원 적립</span></p>
      </div>
    </a>
    <div class="ended">
      <div class="statisticals">
        <ul class="flex">
          <li class="col-3 optionCourse" :class="isActive('total') || !$route.query.option ? 'active' : ''" @click="selectActiveOption($event, 'total')">
            <span>{{allData.total}}</span>
            <h5>전체</h5>
          </li>
          <li class="col-3 optionCourse" :class="isActive('free_pass') ? 'active' : ''" @click="selectActiveOption($event, 'free_pass')">
            <span>{{allData.free_pass_count}}</span>
            <h5>프리패스</h5>
          </li>
          <li class="col-3 optionCourse" :class="isActive('online') ? 'active' : ''" @click="selectActiveOption($event, 'online')">
            <span>{{allData.online_count}}</span>
            <h5>온라인</h5>
          </li>
          <li class="col-3 optionCourse" :class="isActive('academy') ? 'active' : ''" @click="selectActiveOption($event, 'academy')">
            <span>{{allData.academy_count}}</span>
            <h5>학원</h5>
          </li>
        </ul>
        <ul class="flex">
          <li class="col-3 optionCourse" :class="isActive('practice') ? 'active' : ''"  @click="selectActiveOption($event, 'practice')">
            <span>{{allData.practice_count}}</span>
            <h5>공장실습</h5>
          </li>
          <li class="col-3 optionCourse" :class="isActive('test') ? 'active' : ''" @click="selectActiveOption($event, 'test')">
            <span>{{allData.test_count}}</span>
            <h5>모의고사</h5>
          </li>
          <li class="col-3 optionCourse" :class="isActive('emp_company') ? 'active' : ''" @click="selectActiveOption($event, 'emp_company')">
            <span>{{allData.emp_company_count}}</span>
            <h5>취업기업분석</h5>
          </li>
          <li class="col-3 optionCourse" :class="isActive('self_intro') ? 'active' : ''" @click="selectActiveOption($event, 'self_intro')">
            <span>{{allData.self_intro_count}}</span>
            <h5>자소서첨삭</h5>
          </li>
        </ul>
      </div>
      <div class="ended__info box-collapse">
        <div class="header flex-lc">
          <h4 class="flex-lc"><i class="icon icon-qs">?</i> 이용 안내</h4>
          <button class="btn_collapse collapsed dr ml-auto" type="button" data-toggle="collapse" data-target="#emplyee__info"></button>
        </div>
        <div class="collapse" id="emplyee__info">
          <div class="box-text">
            <p>수료증은 수강하신 강좌의 수료 기준 충족시,
              PC 버전에서만 발급 가능합니다.
            </p>

            <p>각 구매한 강의와 상품의 마감일 또는 종료일 +1일 후
              '종료된 콘텐츠'에서 확인할 수 있습니다.
            </p>

            <p>
              (출석미션 프리 패스), (합격미션 프리패스)는 수강종료 후 30일 동안 환급신청이 가능합니다. 최근 12개월동안 수강한 정보만 노출되고, 이전 정보는 PC 버전에서 확인 가능합니다.
            </p>

<!--            <p>-->
<!--              인쇄는 PC버전 사이트를 통해 기간 내 횟수 제한 없이 출력이-->
<!--              가능합니다.-->
<!--            </p>-->

<!--            <p>-->
<!--              열람 기간이 만료된 기업분석자료는 ‘종료된 콘텐츠‘ 메뉴에서-->
<!--              확인 가능합니다.-->
<!--            </p>-->

          </div>
        </div>
      </div>
      <div class="ended__list bt">
        <div class="header flex-lc">
          <h4>콘텐츠({{infoLectureByOption.total > 0 ? infoLectureByOption.total : 0}})</h4>
        </div>
        <div class="bg_gray" v-if="infoLectureByOption.listLectureByOption && infoLectureByOption.listLectureByOption.length">
          <div class="note">아래 강의를 <span>좌측으로 밀면</span>, ‘자소서 등록 / 다운로드 / 후기작성’을 할 수 있어요.</div>
          <div class="item" v-for="lecture in infoLectureByOption.listLectureByOption" >
            <div class="item__scroll">
              <div class="scroll pr">
                <div class="content pr">
                  <div class="content__header flex-lc">
                    <h5>{{lecture.optionBy}}</h5>
                    <div class="status">{{lecture.lecture_category}}</div>
                  </div>
                  <h3>{{decodeURI(lecture.lecture_name)}}</h3>
                  <time v-if="lecture.startdate && lecture.enddate">수강기간 : {{myDateFormat(lecture.startdate)}} ~ <span>{{myDateFormat(lecture.enddate)}}</span></time>
                  <div class="pre" v-if="lecture.optionBy == '프리패스' || lecture.optionBy == '온라인'">진도율 : <span>{{lecture.process_rate}} %</span> / {{lecture.pass_rate}}%</div>
                  <i class="icon icon-arr"></i>
                </div>
                <div class="box-btn flex">
                  <a href="javascript:;" class="btn btn_register" v-if="lecture.is_rebuy" @click="rebuy(lecture)"></a>
                  <a href="javascript:;" class="btn btn_wr" @click="openModalReview($event, {lecture_no : lecture.lecture_no ? lecture.lecture_no : lecture.package_no , title : lecture.lecture_name})"></a>
                  <a href="javascript:;"  v-if="lecture.is_refund"  @click="openModalRefund(lecture)" class="btn_dl"></a>
<!--                  <a href="javascript:;" v-if="lecture.is_cert" @click="gotoPage('http://dev.letuin.com/mypage.php?action=Certfreepass&uid=643062&print_type=pass&pack_cert=pack')" class="btn_cup"></a>-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="emplyee__list" v-else>
          <div class="notifi">
            <h5>종료된 콘텐츠가 없습니다.</h5>
            <div class="img"><img src="~/assets/img/icon-media.png" alt=""></div>
            <p>무슨 강의를 들을지 모르시겠다구요?
              유이니가 <span>1:1 맞춤 강의</span>를 <span>추천</span>해드릴게요!
            </p>
            <a href="https://www.letuin.com/notice.php?action=custom_lecture" target="_blank" title="" class="btn_apply">1:1맞춤강의 상담신청</a>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="backtop">backtop</button>
    <ReviewWR :lecture_info_review="[dataReview]"></ReviewWR>
    <ConfirmMainBanAction :title="message" @actionEvent="actionEvent"></ConfirmMainBanAction>
    <ApplicationPublic :me="loggedInUser" :mys_id="lecture.uid" :subject="lecture.lecture_name"></ApplicationPublic>
    <ApplicationPass :me="loggedInUser" :mys_id="lecture.uid" :subject="lecture.lecture_name"></ApplicationPass>
    <ApplicationAttendance :me="loggedInUser" :mys_id="lecture.uid" :subject="lecture.lecture_name"></ApplicationAttendance>
  </main>
</template>

<script>
  import {CartApiService, MyClassApiService} from "../../store/service.api";
  import {formatDate} from "../../common/helpers";
  import ReviewWR from "../../components/modal/ReviewWR";
  import ConfirmMainBanAction from "../../components/modal/ConfirmMainBanAction";
  import ApplicationPublic from "../../components/modal/ApplicationPublic";
  import ApplicationPass from "../../components/modal/ApplicationPass";
  import ApplicationAttendance from "../../components/modal/ApplicationAttendance";
  import {mapGetters} from 'vuex'
export default {
  name: "index",
  components: {ReviewWR, ConfirmMainBanAction, ApplicationPublic, ApplicationPass, ApplicationAttendance},
  middleware : 'auth',
  methods : {
    openModalRefund(lecture) {
      this.lecture = lecture;
      if (lecture.is_refund_message == 'refund_gong') {
        $('.ended-main').find('#modal-application-public').modal('show')
      }
      if (lecture.is_refund_message == 'refund_freepass_attend') {
        $('.ended-main').find('#modal-application-attendance').modal('show')
      }
      if (lecture.is_refund_message == 'refund_freepass_pass_mission') {
        $('.ended-main').find('#modal-application-pass').modal('show')
      }
      return;
    },
    async selectActiveOption(event, option){
      let elements = document.getElementsByClassName('optionCourse active');
      while(elements.length > 0){
        elements[0].classList.remove('active');
      }

      if(!$(event.target).parent('.optionCourse').length){
        $(event.target).addClass('active');
      }else{
        $(event.target).parent().addClass('active');
      }

      await this.$router.push({path: '/ended', query: {option: option}})
      let optionFilter = option+'_lectures';
      if(option !== 'total'){
        option += '_count';
      }
      this.infoLectureByOption = {
        total : (this.allData)[option],
        listLectureByOption : (this.allData)[optionFilter]
      }
    },
    myDateFormat(date){
      return formatDate(date)
    },

    isActive(option){
      return this.$route.query && option === this.$route.query.option
    },
    openModalReview(e, dataReview) {
      this.dataReview =dataReview
      $(e.target).parents('.ended-main').find('.modal-review').modal('show');
      // $(modal).modal('show');
    },
    rebuy(lecture) {
      this.addToCart(lecture);
    },
    gotoPage(url) {
      window.open(url, '_blank');
    },
    async addToCart(lecture) {
      this.lecture = lecture;
      let params = {
        quantity : 1,
        cart_sess : '',
      }
      let it = {
        type : "ALL"
      };
      if (lecture.lecture_no) {
        it.gubun = "MOV"
        it.no = lecture.lecture_no;
      } else {
        it.gubun = "PACK"
        it.no = lecture.package_no;
      }
      params.it_id = [it];
      await this.getCart();
      let item = this.checkLectureExistCart(it.no);

      if (item && item != 'undefined') {
        this.openConfirmModal('해당 강의는 이미 장바구니에 담겨있습니다. 장비구니를 확인바랍니다.')
        return ;
      }
       await CartApiService.addToCart(params).then(e => {
        if (e.success) {
          this.openConfirmModal('장바구니에 추가되었습니다. 장바구니로 이동하시겠습니까?')
        }
      });
    },
    async actionEvent() {
      await  this.getCart();
      if (this.lecture.lecture_no) {
        this.checkLectureExistCart(this.lecture.lecture)
      } else {
        this.checkLectureExistCart(this.lecture.package_no)
      }
      $(".ended-main").find("#modal-confirm-action").modal('hide');
      this.$router.push({ path: '/mem-order', query: {uid: this.cart_uid.uid}})
    },
    openConfirmModal(message) {
      this.message = message;
      $(".ended-main").find("#modal-confirm-action").modal('show');
    },
    async getCart(){
      let data  = await CartApiService.getCartUser();
      this.carts = data['data'];
    },
    checkLectureExistCart(no) {
      if (no.lecture_no) {
        this.cart_uid =   this.carts.find(e => e.lecture_id == no);
      } else {
        this.cart_uid =   this.carts.find(e => e.pack_uid == no);
      }

      return this.cart_uid;
    },
  },
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser']),
  },
  async asyncData(context){
      let option = '';
      let params = {user_id : context.$auth.$state.user.id}
      if (context.query && context.query.option){
        params.option = context.query.option;
        option = params.option;
      }
    const datas = await Promise.all([
      MyClassApiService.getLectureEnded(params)
    ])
    console.log(datas[0])
    let infoLectureByOption = {};
    if(!option){
       infoLectureByOption = {
        total : datas[0].data.total,
        listLectureByOption : datas[0].data.total_lectures
      }
    }else{
      let optionFilter = option+'_lectures';
      if(context.query.option !== 'total'){
        option += '_count'
      }
       infoLectureByOption = {
        total : datas[0].data[option],
        listLectureByOption : (datas[0].data)[optionFilter]
      }
    }
    return {
      allData : datas[0].data,
      infoLectureByOption,
      option
    }
  },
  data(){
    return {
      infoLectureByOption : {
        total : 0,
        listLectureByOption : []
      },
      dataReview : {},
      message : '',
      cart_uid : '',
      lecture : {}
    }
  }
}
</script>

<style scoped>
.btn_dl {
  border-radius: unset !important;
}
</style>
