<template>
  <div class="item bg-gray">
    <div class="flex">
      <div class="checkbox">
        <label class="flex-lc">
          <input type="checkbox" :checked="isSelect" class="checkbox__item">
          <span class="checked flex-center"></span>
        </label>
      </div>
      <div class="product flex">
        <div class="product__img"><img :src="url + '/data_user/' + getTailImage(data)" alt=""></div>
        <div class="product__content">
          <h3><a href="">{{ data.it_name }}</a></h3>
          <div class="price">{{ formatMoney(data.retakePrice, ' 원', ',') }} / <span>{{ data.quantity }}</span> 개</div>
        </div>
        <button type="button" class="close"></button>
      </div>
    </div>
    <div class="booklist" v-show="data.date_info">
      <div class="booklist__item flex">
        <h5>ㄴ</h5>
        <div class="grid">
          <p>{{ data.it_name.substr(1, 20)+'...'}}</p>
          <p>개강일 : 2021.02.27(금) 18:00~21:00</p>
        </div>
      </div>
    </div>
    <div class="amount flex">
      <h5>주문금액</h5>
      <div class="amount__order flex-lc ml-auto collapsed" data-toggle="collapse" :data-target="'#amount' + data.uid">{{  formatMoney(data.retakePrice, ' 원', ',')}}
        <i class="icon icon-ar"></i></div>
      <div class="amount__detail collapse" :id="'amount' + + data.uid">
        <div class="item flex">
          <h5>상품금액</h5>
          <span>{{  formatMoney(data.sell_amount, ' 원', ',')}}</span>
        </div>
        <div class="item flex">
          <h5>할인금액</h5>
          <span>{{data.retake_sale_amount > 0 ? '-' + formatMoney(data.retake_sale_amount, ' 원', ',') : '0 건'}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import {formatMoney} from "../../common/helpers";

    export default {
        name: "ItemCart",
        props: ['data', 'url', 'isSelect'],
        data() {
          return {
            PACK: "package",
            MOV: "lecture",
            BOOK: "item"
          }
        },
        methods: {
          formatMoney(val, currency, format) {
            return formatMoney(val, currency, format);
          },
          getTailImage(item) {
            if (item.lec_img) {
              return this.MOV + '/' + item.code_lecture + '/' + item.lec_img
            }
            if (item.pack_img) {
              return this.PACK + '/' + item.pack_uid + '/' + item.pack_img
            }
            if (item.code_book) {
              return this.BOOK + '/' + item.code_book + '/' + '_l1.png'
            }
          },
        }
    }
</script>

<style scoped>

</style>
