<template>
  <main class="order-action">
    <div class="head_title pr">
      <h1>주문 완료</h1>
    </div>
    <div class="cart">
      <ul class="cart__process flex">
        <li>
          <div class="box-icon flex-center"><i class="icon icon-cart"></i></div>
          <h5>장바구니</h5>
        </li>
        <li>
          <div class="box-icon flex-center"><i class="icon icon-wl"></i></div>
          <h5>주문서 작성</h5>
        </li>
        <li class="active">
          <div class="box-icon flex-center"><i class="icon icon-fs"></i></div>
          <h5>주문완료</h5>
        </li>
      </ul>
      <div class="cart__notifi">
        <h4>감사합니다! <br> 고객님의 주문이 정상적으로 완료되었습니다.</h4>
        <div class="code" @click="showPopWithActiveTab('#modal-payment', '#modal-logout', '전체')">{{ this.order.uid }}</div>
        <div class="txt">
          주문/배송 관련 문의사항은 <br>
          <span @click="showPopWithActiveTab('#modal-contactus-wt', '#modal-logout', '전체')" >마이페이지 > 1:1</span>문의를 이용해 주시기 바랍니다.
        </div>
      </div>
      <div class="cart__payment">
        <h4>결제 수단</h4>
        <div class="item flex-lc" v-if="method == '가상계좌'">
          <h5 >가상계좌</h5>
          <p>입금 마감일 : {{ formatDate(dueDate) }} ({{subWeek( dueDate )}})</p>
          <p>계좌 정보 : {{ bankAccount(accountNumber) }}</p>
        </div>
        <div class="item flex-lc" v-if="method == '계좌이체'">
          <h5>상태</h5>
          <p>{{this.status}}</p>
        </div>
        <div class="item flex-lc" v-if="method == '카드'">
          <h5>신용카드</h5>
          <p> {{card}} </p>
        </div>
      </div>
      <div class="cart__summary">
        <div class="header flex-lc">
          <h5>최종 결제금액</h5>
          <div class="price ml-auto">{{ totalRetakeAmount }}</div>
        </div>
        <div class="item flex-lc">
          <h5>상품금액</h5>
          <span>{{ totalSellAmount }}</span>
        </div>
        <div class="item">
          <div class="flex-lc">
            <h5>할인금액</h5>
            <span>- {{ totalSale }}</span>
          </div>
          <div class="item__sub flex-lc">
            <ul>
              <li>
                <h5>ㄴ 상품할인</h5>
                <span>- {{ totalRetakeSaleAmount }}</span>
              </li>
              <li>
                <h5>ㄴ 쿠폰할인</h5>
                <span>-  {{ formatMoney(this.coupon, ' 원', ',') }}</span>
              </li>
              <li>
                <h5>ㄴ 렛머니</h5>
                <span>- {{ formatMoney(this.money, ' 원', ',') }}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="item flex-lc">
          <h5>배송비</h5>
          <span>+ {{ formatMoney(this.ship, ' 원', ',') }}</span>
        </div>
      </div>
      <a type="button" class="btn_pr flex-center" href="/">메인 바로 가기</a>
    </div>
    <ConfirmMainBanAction :title="messages" data="" @actionEvent="goToMain"></ConfirmMainBanAction>
  </main>
</template>

<script>
  import axios from 'axios'
  import {SECRET_TOSS_KEY} from "../../config";
  import {CartApiService, OrderApiService} from "../../store/service.api";
  import {formatMoney, sumProp, bankAccount, formatDate, subWeek} from "../../common/helpers";
  import {mapGetters} from 'vuex'
  import ConfirmMainBanAction from "../../components/modal/ConfirmMainBanAction";
  export default {
    name: "index",
    layout: "none-footer",
    middleware: 'auth',
    data() {
      return {
        coupon: 0,
        money: 0,
        ship: 0,
        order: {},
        carts: [],
		method: '',
        accountNumber: '',
        dueDate: '',
        card: '',
        status: '',
        goods: '',
        messages: ''
      }
    },
    components: {
      ConfirmMainBanAction
    },
    mounted() {
      $('#modal-payment').modal('hide');
      $('#modal-contactus-wt').modal('hide');
    },
    computed: {
      ...mapGetters(['isAuthenticated', 'loggedInUser']),
      totalSellAmount() {
        return this.formatMoney(sumProp(this.carts, 'sell_amount'), ' 원', ',')
      },
      totalRetakeAmount() {
        let total = sumProp(this.carts, 'retakePrice') - parseInt(this.coupon) - parseInt(this.money) + parseInt(this.ship)
        return this.formatMoney(total, ' 원', ',')
      },
      totalRetakeSaleAmount() {
        return this.formatMoney(sumProp(this.carts, 'retake_sale_amount'), ' 원', ',')
      },
      totalSale() {
        let totalSale = sumProp(this.carts, 'retake_sale_amount') + parseInt(this.coupon) + parseInt(this.money)
        return this.formatMoney(totalSale, ' 원', ',')
      },
      totalQuantity() {
        return this.formatMoney(sumProp(this.carts, 'quantity'))
      }
    },
    async created() {
      await this.getOrder()
      await this.getCarts()
      if (this.carts.length) {
        this.goods = this.carts[0].it_name
        if (this.carts.length > 1) {
          this.goods = this.carts[0].it_name + " 외 " + (this.carts.length - 1) + "건";
        }
        await this.checkSuccessPayment()
      }
      await this.getNewOrder()
    },
    methods: {
      async getOrder() {
        await OrderApiService.show(this.$route.query.orderId).then(res => {
          this.order = res.data
          this.coupon = res.data.coupon_amount
          this.money = res.data.temp_point
          if (this.order.status == "완료") {
            this.messages = "이미 결제가 완료된 주문내역입니다."
            $(".order-action").find('#modal-confirm-action').modal('show')
          }
          if (this.order.status == "대기" && this.order.settle_case == "가상계좌") {
            this.messages = "이미 " + this.order.settle_case + " 주문상태의 주문내역입니다."
            $(".order-action").find('#modal-confirm-action').modal('show')
          }
        })
      },
      async getNewOrder() {
        await OrderApiService.show(this.$route.query.orderId).then(res => {
          this.order = res.data
          this.coupon = res.data.coupon_amount
          this.money = res.data.temp_point
        })
      },
      showPopWithActiveTab(element, closeElement = null, key = null) {
        this.$router.push('/')
        let _this = this
        $('#modal-logout').modal('hide')
        setTimeout(function()
        { if (key) _this.tabActive = key;
          _this.showPop(element, closeElement); }, 300);
      },
      goToMain() {
        $(".order-action").find('#modal-confirm-action').modal('hide')
        this.$router.push('/')
      },
      showPop(element, closeElement = null) {
        this.$cookies.set('backToIndex', true)

        $(element).modal('show');
        closeElement ? $(closeElement).modal('hide') : 0;
      },
      async getCarts() {
        await CartApiService.getCartUser(
          {
            oc_id: this.$route.query.orderId,
            getBook : 1,
            order_by: 'desc'
          }
        ).then(res => {
          if (res.data.length) {
            this.carts = res.data
          } else {
            this.messages = "이미 결제가 완료된 주문내역입니다."
            $(".order-action").find('#modal-confirm-action').modal('show')
          }
        })
      },
      formatMoney(val, currency, format) {
        return formatMoney(val, currency, format);
      },
	  formatDate(date) {
        return formatDate(date, this.formatDateTime)
      },
	    subWeek(date) {
        return subWeek(date);
      },
	    bankAccount(account){
        return bankAccount(account);
      },
      checkSuccessPayment() {
        axios.post(
          "https://api.tosspayments.com/v1/payments/" + this.$route.query.paymentKey,
          {
            orderId: this.$route.query.orderId,
            amount: this.$route.query.amount,
          },
          {
            headers: {
              Authorization:  "Basic " + Buffer.from(SECRET_TOSS_KEY + ":").toString("base64"),
              "Content-Type": "application/json",
            }
          }
        ).then((res) => {
          let response = res.data
		  
		  this.method = response.method
          if(response.method == "가상계좌") {
            this.accountNumber = response.virtualAccount.bank + " " + response.virtualAccount.accountNumber
            this.dueDate = response.virtualAccount.dueDate
          }
          if(response.method == "카드") {
            this.card = response.card.company + " " + response.card.number
          }
          if(response.method == "계좌이체") {
            if(response.status == "DONE")
              this.status = "완료"
            else
              this.status = response.status
          }
		  
          response.uid = this.$route.query.orderId
          response.goods_name = this.goods
          OrderApiService.updateOrder(response).then(data => {
            if (!data.success) {
              this.messages = data.message
              $(".order-action").find('#modal-confirm-action').modal('show')
            }
          })
        })
          .catch((error) => {
            let response = error.response.data
            this.messages = response.message
            $(".order-action").find('#modal-confirm-action').modal('show')
          })
      }
    }
  }
</script>

<style scoped>

</style>
