<template>
  <main>
    <div class="category pr">
      <ul class="category__list category__list--1 flex">
        <li><a :href="url_public + '/promotion.php?action=LmsFreeStudy'" target="_blank" title="독한 스터디">독한 스터디</a></li>
        <li><a href="/lecture/public?limit=10&offset=0&order_type=C&field=teacher_id&lec_type=online&keyword_new=&category=08"> 수강신청 </a></li>
        <li><a :href="url_public + '/promotion.php?action=300_free'" target="_blank">300%환급 <br>  프리패스 </a></li>
      </ul>
      <ul class="category__list category__list--2 flex" style="display: none">
        <li><a :href="url_public + '/promotion.php?action=ncsOnline'" target="_blank">NCS 온라인 <br> 모의고사</a></li>
        <li><a :href="url_public + '/lecture.php?action=CompanyBook'" target="_blank">취업기업분석</a> </li>
        <li><a  href="/textbook-list">도서</a></li>
        <!--        <li><nuxt-link to="/">NCS <br>직업교육</nuxt-link></li>-->
      </ul>
      <button type="button" class="btn_collapse"></button>
    </div>
    <CountDownComponent :time="time" link="https://ncs.letuin.com/promotion.php?action=300_free" target="_blank" title="300%환급반 마감"></CountDownComponent>
    <div class="setup flex-lc pr" v-if="(this.dataCategoryFilter.length + this.teacherFilterData.length) == 0 && !params.keyword_new">
      <h5>맞춤강의 상세 조건을 설정하세요.</h5>
      <button type="button" class="btn_setup ml-auto" data-toggle="modal" data-target="#modal-filter-teacher">+ 설정하기</button>
    </div>
    <div class="setup pr" v-if="(this.dataCategoryFilter.length + this.teacherFilterData.length) || params.keyword_new">
      <h5>맞춤강의 상세 조건을 설정하세요.</h5>
      <button type="button" class="btn_setup ml-auto" data-toggle="modal" data-target="#modal-filter-teacher">+ 설정하기</button>
      <button type="button" class="btn_reset" @click="reset"></button>
    </div>
    <div class="keyword pr" v-if="(this.dataCategoryFilter.length + this.teacherFilterData.length) || params.keyword_new">
      <ul class="keyword__list flex">
        <li v-if="params.keyword_new">
          <span>{{ params.keyword_new }}</span>
          <button type="button" class="close" @click="closeKeyword()"></button>
        </li>
        <li v-for="cate in this.dataCategoryFilter">
          <span>{{ cate.name }}</span>
          <button type="button" class="close" @click="closeCategory(cate.code)"></button>
        </li>
        <li v-for="teacher in this.teacherFilterData">
          <span>{{ teacher.name }}</span>
          <button type="button" class="close" @click="closeTeacher(teacher.id)"></button>
        </li>
      </ul>
      <button type="button" class="keyword__toggle" @click="showKeyword"></button>
    </div>
    <div v-show="this.load">
      <div class="box-post mb-ft" v-if="total">
        <div class="header flex-lc">
          <h4>총 {{ total }} 건</h4>
          <div class="checkbox__list flex ml-auto">
            <label class="flex-lc">
              추천순
              <input type="checkbox" class="order_type" :checked="params.order_type == 'C'" @click="orderList('C')">
              <span class="checked flex-center ml-2"></span>
            </label>
            <label class="flex-lc">
              인기순
              <input type="checkbox" class="order_type" :checked="params.order_type == 'H'" @click="orderList('H')">
              <span class="checked flex-center ml-2"></span>
            </label>
            <label class="flex-lc">
              최신순
              <input type="checkbox" class="order_type" :checked="params.order_type == 'N'" @click="orderList('N')">
              <span class="checked flex-center ml-2"></span>
            </label>
          </div>
        </div>
        <div class="listpost bg_gray">
          <Item v-for="data in this.lectures" :key="data.no" :data="data" :url="url"></Item>
          <scroll-loader :loader-method="loadMoreLecture" :loader-enable="loadMore" v-show="loadMore">
          </scroll-loader>
        </div>
      </div>
      <div class="listtype" v-else>
        <div class="header flex-lc">
          <h4>총 0 건</h4>
          <div class="checkbox__list ml-auto flex">
            <label class="flex-lc">
              추천순
              <input type="checkbox" name="" checked>
              <span class="checked flex-center"></span>
            </label>
          </div>
        </div>
        <div class="notifi bg-gray">
          <div class="img"><img src="~/assets/img/icon-s.png" alt=""></div>
          <h5>카테고리 내 검색 결과가 없습니다.</h5>
          <div class="txt">
            필터 선택 조건이 너무 많은 경우,
            검색결과가 없을 수 있습니다.

            항목별 1~2개 내외로 선택 후 검색해 보세요.
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="backtop">backtop</button>
    <ListFilter :teachers="teachers" :categories="categories" :params="params" @changeParam="filter" v-show="categories.length || teachers.length" :keyword_new="params.keyword_new"></ListFilter>
  </main>
</template>

<script>
  import CountDownComponent from "../../components/main/CountDownComponent";
  import ListFilter from "../../components/modal/ListFilter";
  import {URL_IMAGE, URL_PUBLIC} from "../../config";
  import {LectureOnlineService} from "../../store/service.api";
  import {mapGetters} from 'vuex'
  import Item from "../../components/ListType/Item";
  import _ from "lodash";
  let qs = require('qs');
  export default {
  name: "online",
  components: {
    CountDownComponent,
    ListFilter,
    Item
  },
  mounted() {
    $(document).ready(function () {
      // $('#modal-filter').modal('show');
      // $('#modal-filter-teacher').modal('show');
      $('.btn_td').on('click',function () {
        $(this).parents('.item').toggleClass('active');
      });

      $('.modal-filter .checkbox_lv1').on('change load', function () {
        if ($(this).is(':checked')) {
          $(this).parents('li').addClass('active');
          $(this).parents('li').find('.filter__sub input').prop("checked", true);
        } else {
          $(this).parents('li').removeClass('active');
          $(".active .filter__sub input").prop("checked", true);
          $(this).parents('li').find('.filter__sub input').prop("checked", false);
        }
      });
    });
  },
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser']),
  },
  data() {
    return {
      url: 'https://www.letuin.com',
      url_public: URL_PUBLIC,
      start: Date.now(),
      time: 0,
      lectures: [],
      categories: [],
      teachers: [],
      total: 0,
      load: false,
      page: 1,
      totalPage: 0,
      params: {
        limit: 10,
        offset: 0,
        order_type: 'C',
        field: 'teacher_id',
        lec_type: 'online',
        keyword_new: '',
        category: '08'
      },
      dataSubArray: [],
      categoryFilter: [],
      dataCategoryFilter: [],
      teacherFilterData: [],
      loadMore: true
    }
  },
  created() {
    this.getTime()
    let query = _.cloneDeep(this.$route.query)
    if (typeof query.category !== 'undefined') {
      if (typeof query.category == 'string') {
        let keyword = query.category
        query.category = Array()
        query.category.push(keyword)
      }

      query.category = query.category.map(item => {
        if(item.includes(',')) {
          return item.split(',')
        } else {
          return [item]
        }
      })
    }
    if (typeof query.keyword !== 'undefined') {
      if (typeof query.keyword == 'string') {
        let keyword = query.keyword
        query.keyword = Array()
        query.keyword.push(keyword)
      }
    }
    this.params = Object.assign(this.params, query)
    this.page = 1
    if (query.offset != 0) {
      this.params.offset = 0
      this.$router.push({ path: this.$route.path, query: this.params });
    }
    if (this.isAuthenticated) {
      this.params.user_id = this.loggedInUser.id
    }
    this.getListLecturePublic(this.params)
    this.getParamPublicLecture()
  },
  methods: {
    getTime() {
      var curr = new Date();
      curr.setHours(0,0,0,0);
      var day = curr.getDay();
      var lastday = new Date(curr.getTime() + 60 * 60 *24 * (7 - day + 1) * 1000);
      this.time = (lastday - this.start) / 1000
    },
    pad(d) {
      return (d < 10) ? '0' + d.toString() : d.toString();
    },
    async getParamPublicLecture() {
      await LectureOnlineService.getParamsPublicLecture().then(res => {
        this.categories = res.data.top_category
        let dataSub = this.categories.map(item => {
          return item.sub
        })
        for (let i = 0; i < dataSub.length; i++) {
          this.dataSubArray = this.dataSubArray.concat(...dataSub[i])
        }

        for (let i = 0; i < res.data.top_category.length; i++) {
          let data = res.data.top_category[i]
          if (data.sub.length == 0) {
            this.dataSubArray.push(data)
          }
        }
        this.teachers = res.data.top_teacher
        if (typeof this.params.keyword != 'undefined') {
          this.teacherFilterData = this.teachers.filter(item => {
            return this.params.keyword.includes(item.id)
          })
        }
        let data = []
        if (typeof this.params.category != 'undefined') {
          for (let i = 0; i < this.params.category.length; i++) {
            this.categoryFilter = this.categoryFilter.concat(...this.params.category[i])
          }
          this.dataCategoryFilter = this.dataSubArray.filter(item => {
            return this.categoryFilter.includes(item.code)
          })
          for (let i = 0; i < this.params.category.length; i++) {
            let arr = this.params.category[i];
            for (let iz = 0; iz < arr.length; iz++) {
              data.push(arr[iz])
            }
          }
        }
        for (let i = 0; i < this.categories.length; i++ ) {
          let category = this.categories[i]
          let dataCode = category.sub.map(item => {
            return item.code
          })
          let count = 0;
          for (let iz = 0; iz < dataCode.length; iz++) {
            if (data.includes(dataCode[iz])) {
              count++
            }
          }
          category.count = count
          this.categories[i] = category
        }
      })
    },
    async getListLecturePublic(params) {
      this.params = params
      await LectureOnlineService.getListPublicLecture(params).then(res => {
        this.lectures = res.data
        this.total = res.count
        this.load = true
        this.totalPage = Math.ceil(this.total / 10)
        this.loadMore = this.page < this.totalPage
      })
    },
    async filter(params) {
      this.params = params
      this.categoryFilter = []
      if (typeof this.params.category != 'undefined') {
        for (let i = 0; i < this.params.category.length; i++) {
          this.categoryFilter = this.categoryFilter.concat(...this.params.category[i])
        }
      }
      if (!this.categoryFilter.includes('08')) {
        this.params.category.push(['08'])
        this.categoryFilter.push('08')
      }
      this.dataCategoryFilter = []
      this.dataCategoryFilter = this.dataSubArray.filter(item => {
        return this.categoryFilter.includes(item.code)
      })
      if (typeof this.params.keyword != 'undefined') {
        this.teacherFilterData = []
        this.teacherFilterData = this.teachers.filter(item => {
          return this.params.keyword.includes(item.id)
        })
      }
      this.$router.push({ path: this.$route.path, query: this.params });
      await LectureOnlineService.getListPublicLecture(params).then(res => {
        this.lectures = res.data
        this.total = res.count
        this.load = true
        this.totalPage = Math.ceil(this.total / 10)
        this.loadMore = this.page < this.totalPage
      })
    },
    async loadMoreLecture() {
      this.page = this.page + 1
      let offset = (this.page - 1) * 10
      this.params.offset =  offset
      await LectureOnlineService.getListPublicLecture( this.params).then(res => {
        this.lectures = this.lectures.concat(res.data)
        this.total = res.count
        this.load = true
        this.loadMore = this.page < this.totalPage
      })
    },
    orderList(type) {
      if ($('input.order_type:checked').length) {
        this.params.order_type = type
      } else {
        this.params.order_type = 'C'
      }
      this.page = 1
      this.params.offset = 0
      this.$router.push({ path: this.$route.path, query: this.params });
      this.getListLecturePublic(this.params)
    },
    showKeyword() {
      $('.keyword').toggleClass('show');
    },
    closeCategory(no) {
      $('#modal-filter-teacher').find('input:checkbox:checked').each(function() {
        if ($(this).val() == no) {
          $(this).prop('checked', false)
        }
      });
      for (let i =0; i< this.categories.length; i++) {
        this.changeNumber('.category_' + i)
      }
      this.params.category = this.params.category.map(item => {
        return _.remove(item, function(n) { return n !== no;});
      })
      this.params.category = this.params.category.filter(item => {
        if (item.length) {
          return item;
        }
      })
      this.filter(this.params)
    },
    closeKeyword() {
      this.params.keyword_new = ''
      $('#search_keyword').val('')
      this.filter(this.params)
    },
    closeTeacher(no) {
      $('#modal-filter-teacher').find('input:checkbox:checked').each(function() {
        if ($(this).val() == no) {
          $(this).prop('checked', false)
        }
      });
      this.changeNumber('.teacher')
      this.params.keyword = this.params.keyword.filter(item => {
        if (item != no) {
          return item;
        }
      })
      this.filter(this.params)

    },
    reset() {
      this.params.category = []
      this.params.keyword = []
      this.params.keyword_new = ''
      $('#search_keyword').val('')
      $('#modal-filter-teacher').find('input:checkbox:checked').each(function() {
        $(this).prop('checked', false)
      });
      for (let i =0; i< this.categories.length; i++) {
        this.changeNumber('.category_' + i)
      }
      this.changeNumber('.teacher')
      this.filter(this.params)
    },
    changeNumber(element) {
      let checked = $(element).parent().find('input:checkbox:checked').length
      let h5 = $(element).find('h5').text()
      if (checked > 0) {
        $(element).find('h5').text(h5.split('(')[0] + '('+ checked + ')')
      } else {
        $(element).find('h5').text(h5.split('(')[0])
      }
    },
  }
}
</script>

<style scoped>

</style>
