<template>
  <main>
    <div class="head_title pr">
      <button type="button" class="back btn-back">
        <img src="~/assets/img/arr-r.png" alt="">
      </button>
      <h1>공정실습</h1>
    </div>
    <a href="https://www.letuin.com/board.php?action=boardLate&off_type=online&find=til&search=" target="_blank">
      <div class="banner-note flex-center">
        <i class="icon icon-wr"></i>
        <p>후기 등록 시 <span>렛머니 1,000원 적립</span></p>
      </div>
    </a>
    <div class="academy">
      <h4>수강중인 강의({{listLectureAcademy.length}})</h4>
      <div class="academy__list" v-if="listLectureAcademy.length">
        <div class="item" v-for="lecture in listLectureAcademy">
          <div class="item__header flex-lc">
            <p>개강일 : <span>{{lecture.date_no != 0 ? myDateFormat(lecture.study_start, 'YYYY.MM.DD') :myDateFormat(lecture.startdate, 'YYYY.MM.DD')}}</span></p>
            <p>강의 시간 : <span>{{parseLectureAmountInfo(lecture.lec_amount_info, lecture.lec_amount_info2, lecture.lec_amount_info3).period}}</span> 시간</p>
          </div>
          <div class="item__content">
            <h3>{{lecture.title}}</h3>
          </div>
          <div class="item__bt" v-if="lecture.date_no == 0">
            수강기간 : {{myDateFormat(lecture.startdate, 'YYYY.MM.DD')}}~<span>{{myDateFormat(lecture.enddate, 'YYYY.MM.DD')}}</span>
          </div>
          <div class="item__bt" v-else>
            수강기간 : {{myDateFormat(lecture.study_start, 'YYYY.MM.DD')}}~<span>{{myDateFormat(lecture.study_end, 'YYYY.MM.DD')}}</span>
          </div>
        </div>
      </div>
      <NoListMedia v-else />
    </div>
    <div class="nav-bt blue flex-center w100">
      <nuxt-link to="/academy-main" class="flex-center">
        <span>강의추가 수강신청하기 </span>
        <i class="icon icon-play"></i>
      </nuxt-link>
<!--      <a href="https://thuclfc.gitlab.io/letuin/build/LUIM_MR_ADD_LCPop.html" class="flex-center">강의추가 수강신청하기 <i class="icon icon-play"></i></a>-->
    </div>
    <button type="button" class="backtop">backtop</button>
  </main>
</template>

<script>
import {MyClassApiService} from "../../store/service.api";
import {myDateFormat, parseLectureAmountInfo} from "../../common/helpers";
import NoListMedia from "../../components/NoList/NoListMedia";

export default {
  name: "index",
  // middleware : 'auth',
  middleware : ['authenticate'],
  components  : {
    NoListMedia
  },
  methods : {
    myDateFormat(date, format) {
      return myDateFormat(date, format)
    },
    parseLectureAmountInfo(lec_amount_info, lec_amount_info2, lec_amount_info3){
      return parseLectureAmountInfo(lec_amount_info, lec_amount_info2, lec_amount_info3)
    }
  },
  async asyncData(context){
    const datas = await Promise.all([
      MyClassApiService.getProcessTest({user_id : context.$auth.$state.user.id})
    ])
    return {
      listLectureAcademy: datas[0].data.single_lectures,
    }
  }
}
</script>

<style scoped>
.nav-bt a {
  font-size: 14px;
}
</style>
