<template>
  <main class="find-password-email">
    <div class="result" v-if="showResult">
      <div class="success" v-if="findResult">
        <div class="head_title pr">
          <button type="button" class="btn-back" @click="showResult = false">
            <img src="~/assets/img/arr-r.png" alt="">
          </button>
          <h1>비밀번호 찾기</h1>
        </div>
        <div class="changepw">
          <div class="text text-center">
            <h4 class="title-m">비밀번호 찾기 인증이 성공하였습니다. <br>새 비밀번호를 설정해주세요.</h4>
          </div>
          <form action="" method="">
            <div class="form-group">
              <input type="password" v-model.trim="passwordData.password" name="" @keydown.space="(event) => event.preventDefault()" placeholder="비밀번호 6~12자 영문 (숫자 혼용 가능)">
            </div>
            <div class="form-group">
              <input type="password" v-model.trim="passwordData.password_confirmation" name="" @keydown.space="(event) => event.preventDefault()" placeholder="비밀번호 확인 6~12자 영문 (숫자 혼용 가능)">
            </div>
            <button type="button" class="btn_submit btn_se flex-center" @click="changePassword">비밀번호 변경하기</button>
          </form>
        </div>
      </div>
      <div class="fail" v-else>
        <div class="head_title pr">
          <button type="button" class="btn-back" @click="showResult = false">
            <img src="~/assets/img/arr-r.png" alt="">
          </button>
          <h1>패스워드 찾기</h1>
          <button type="button" class="btn_close" @click="showResult = false"></button>
        </div>
        <div class="findid bg_gray mb-ft">
          <div class="findid__fail">
            <div class="img"><img src="~/assets/img/icon-per.png" alt=""></div>
            <h4>입력하신 정보로 등록된 회원이 없습니다.</h4>
            <p class="preline">
              정보를 다시 확인하시고
              시도해주세요.
            </p>
            <button type="button" class="btn_register flex-center" @click="redirectRoute('/register')">회원가입</button>
          </div>
        </div>
      </div>
    </div>
    <div class="confirm-info" v-else>
      <div class="head_title pr">
        <button type="button" class="btn-back back">
          <img src="~/assets/img/arr-r.png" alt="">
        </button>
        <h1>비밀번호 찾기</h1>
      </div>
      <div class="findidp">
        <ul class="findidp__tab nav flex">
          <li><nuxt-link to="/find-password/phone" title="" >휴대폰 번호로 찾기</nuxt-link></li>
          <li><nuxt-link to="/find-password/email" title=""  class="active" >이메일 주소로 찾기</nuxt-link></li>
        </ul>
        <div class="tab-content">
          <div id="phone" class="tab-pane">
          </div>
          <div id="email" class="tab-pane active">
            <div class="box-form">
              <form>
                <div class="form-group">
                  <input type="text" :class="[{ 'input-error': $v.emailData.name.$error }, 'w-100']" name=""
                         v-model.lazy.trim="emailData.name" placeholder="이름">
                </div>
                <div v-if="$v.emailData.name.$error">
                  <div class="error">{{ getMessage($v.emailData.name, "name") }}</div>
                </div>
                <div class="form-group">
                  <input :class="[{ 'input-error': $v.emailData.id.$error }, 'w-100']" type="text" name=""
                         v-model.lazy.trim="emailData.id" placeholder="아이디">
                </div>
                <div v-if="$v.emailData.id.$error">
                  <div class="error">{{ getMessage($v.emailData.id, "id") }}</div>
                </div>
                <div class="form-group">
                  <input :class="[{ 'input-error': $v.emailData.email.$error }, 'email']" type="email" name=""
                         placeholder="이메일 주소" v-model.lazy.trim="emailData.email">
                  <button type="button" class="btn_request flex-center" @click="getOTPByEmail()">{{ emailData.counting ? '인증 재요청' : '인증요청'
                    }}</button>
                </div>
                <div v-if="$v.emailData.email.$error">
                  <div class="error">{{ getMessage($v.emailData.email, "email") }}</div>
                </div>
                <div v-show="emailData.validOPT">
                  <div class="success">이메일 확인이 완료되었습니다.</div>
                </div>
                <div class="form-group" v-if="emailData.counting">
                  <div class="group pr">
                    <input class="number" type="number" v-model.lazy.trim="emailData.confirm"
                           placeholder="인증번호 (숫자 6자리)"
                           :class="{ 'input-error': $v.emailData.confirm.$error }">
                    <div class="time">
                      <countdown ref="countdown" :time="time" :transform="transform" @end="onCountdownEnd">
                        <template slot-scope="props">{{ props.minutes }}:{{ props.seconds }}</template>
                      </countdown>
                    </div>
                  </div>
                  <button type="button" class="btn_confirm flex-center" @click="confirmEmail()">확인</button>
                </div>
                <button type="button" class="btn_forgotpass btn_se flex-center" @click="getInformationByEmail()">비밀번호
                  찾기
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ConfirmBanNoAction  :title="message"></ConfirmBanNoAction>
  </main>
</template>

<script>
  import {TIME_EXPIRED, TYPE_OTHER} from "../../common/constant";
  import {email, maxLength, minLength, required, sameAs} from "vuelidate/lib/validators";
  import {length} from "../../common/helpers_validate";
  import {AuthService} from "../../store/service.api";
  import {msgValidate} from "../../common/register_validate";
  import ConfirmBanNoAction from "../../components/modal/ConfirmMainBanNoAction";
  export default {
    name: "email",
    components : {ConfirmBanNoAction},
    data() {
      return {
        emailData: {
          email: '',
          id: '',
          name: '',
          counting: false,
          validOTP: false,
          code: '',
          confirm: '',
          checkValidOTP: false,
          invalidEmail: false
        },
        time: TIME_EXPIRED,
        findResult: false,
        showResult: false,
        result: {},
        FIND_BY_PHONE: 'hp',
        FIND_BY_EMAIL: 'email',
        message : '',
        passwordData : {
          password : '',
          password_confirmation : ''
        }
      }
    },
    validations: {
      emailData: {
        email: {
          required,
          email,
        },
        confirm: {
          required,
          sameAs: sameAs(function () {
            return this.emailData.code
          })
        },
        name: {
          required,
          minLength: minLength(2),
          maxLength: maxLength(6),
        },
        id: {
          required,
          minLength: minLength(6),
          maxLength: maxLength(12),
        }
      },
      passwordData: {
        password : {
          required,
          minLength: minLength(6),
          maxLength: maxLength(12),
        },
        password_confirmation : {
          required,
          minLength: minLength(6),
          maxLength: maxLength(12),
          sameAs: sameAs(function () {
            return this.passwordData.password
          }),
        }
      }
    },
    methods : {
      getMessage(v, field, value) {
        return msgValidate(v, field, value)
      },
      showModalConfirm(title) {
        this.message = title;
        $(".find-password-email").find('#modal-no-action').modal('show');
      },
      onCountdownEnd() {
        this.phoneData.counting = false
        this.emailData.counting = false;
      },
      transform(props) {
        Object.entries(props).forEach(([key, value]) => {
          props[key] = value < 10 ? `0${value}` : value;
        });

        return props;
      },
      confirmEmail() {
        this.emailData.invalidEmail = false;
        this.$v.emailData.confirm.$touch()
        if (this.$v.emailData.confirm.$error) {
          this.showModalConfirm('인증번호가 정확하지 않습니다.')
            // alert('인증번호가 정확하지 않습니다.');
            return ;
        }
        if (!this.$v.emailData.confirm.$error) {
          this.emailData.validOPT = true
          this.emailData.counting = false;
          this.showModalConfirm('인증번호가 성공적으로 확인되었습니다.')
          // alert('인증번호가 성공적으로 확인되었습니다.');
        }
      },
      async getOTPByEmail() {
        this.emailData.invalidEmail = false;
        this.emailData.validOPT = false;
        this.$v.emailData.confirm.$reset()
        this.emailData.confirm = ''
        this.$v.emailData.email.$touch()
        if (!this.$v.emailData.email.$error) {
          this.emailData.counting = false
          let data = await AuthService.checkEmail({
            email: this.emailData.email,
            type: TYPE_OTHER
          })
          if (data.status) {
            this.emailData.code = data.data.code
            this.time = TIME_EXPIRED
            this.emailData.counting = true
            this.showModalConfirm('입력하신 이메일 주소로 인증번호가 발송되었습니다. 인증번호 확인 후 입력해 주세요.')
            // alert('입력하신 이메일 주소로 인증번호가 발송되었습니다. 인증번호 확인 후 입력해 주세요.')
          } else {
            this.emailData.counting = false
            this.emailData.invalidEmail = true;
            this.showModalConfirm('올바른 이메일 주소를 입력해 주세요.')
            // alert('올바른 이메일 주소를 입력해 주세요.')
          }
        }
      },
      async getInformationByEmail() {
        if (!this.emailData.validOPT) {
          this.showModalConfirm('이메일 인증을 완료해주세요.')
          // alert('이메일 인증을 완료해주세요.')
          return;
        }
        this.$v.emailData.name.$touch()
        this.$v.emailData.email.$touch()
        this.$v.emailData.id.$touch()
        if (this.$v.emailData.name.$error || this.$v.emailData.email.$error || this.$v.emailData.id.$error) {
          return ;
        }
        let data = await AuthService.findPassword({
          field_name : this.FIND_BY_EMAIL,
          value: this.emailData.email,
          name : this.emailData.name,
          id : this.emailData.id
        })
        if (data.success) {
          this.findResult = true;
          this.result = {
            id : data.data.id,
            date : data.data.birth
          }
        }
        this.showResult = true;
        this.resetData();
        return true;
      },
      async changePassword() {

        this.$v.passwordData.$touch()

        if (!this.$v.passwordData.password.required) {
          this.showModalConfirm('비밀번호를 입력하세요.')
          // alert('비밀번호를 입력하세요.');
          return ;
        }
        if (!this.$v.passwordData.password_confirmation.required) {
          this.showModalConfirm('비밀번호 확인을 입력하세요.')
          // alert('비밀번호 확인을 입력하세요.');
          return ;
        }
        if (!this.$v.passwordData.password_confirmation.sameAs) {
          this.showModalConfirm('비밀번호가 일치하지 않습니다.')
          // alert('비밀번호가 일치하지 않습니다.');
          return ;
        }

        if (this.$v.passwordData.$error) {
          this.showModalConfirm('영문, 숫자 공백 없이 6자 ~ 12자 이내로 입력해주세요.')
          // alert('영문, 숫자 공백 없이 6자 ~ 12자 이내로 입력해주세요.')
          return ;
        }

        let data = await AuthService.changePassword(this.result.id,{
          password: this.passwordData.password,
          confirm_password: this.passwordData.password_confirmation,
        })

        if (data.success) {
            this.$router.push('/find-password/success');
        }
      },
      redirectRoute(url) {
        return this.$router.push(url);
      },
      resetData() {
        this.emailData = {
          email: '',
          id: '',
          name: '',
          counting: false,
          validOTP: false,
          code: '',
          confirm: '',
          checkValidOTP: false,
          invalidEmail: false
        }
        this.$v.emailData.$reset();
        this.$v.passwordData.$reset();
      }
    }
  }
</script>

<style scoped>

  .btn_forgotpass {
    border-radius: 20px;
  }
  .btn_close {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: inherit;
    height: 20px;
    width: 20px;
    transform: inherit;
    z-index: 9;
  }
  .head_title {
    position: relative;
  }
</style>
