<template>
  <main class="find-password-phone">
    <div class="result" v-if="showResult">
      <div class="success" v-if="findResult">
        <div class="head_title pr">
          <button type="button" class="btn-back" @click="showResult = false">
            <img src="~/assets/img/arr-r.png" alt="">
          </button>
          <h1>비밀번호 찾기</h1>
        </div>
        <div class="changepw">
          <div class="text text-center">
            <h4 class="title-m">비밀번호 찾기 인증이 성공하였습니다. <br>새 비밀번호를 설정해주세요.</h4>
          </div>
          <form action="" method="">
            <div class="form-group">
              <input type="password" v-model.trim="passwordData.password" name="" @keydown.space="(event) => event.preventDefault()" placeholder="비밀번호 6~12자 영문 (숫자 혼용 가능)">
            </div>
            <div class="form-group">
              <input type="password" v-model.trim="passwordData.password_confirmation" name="" @keydown.space="(event) => event.preventDefault()" placeholder="비밀번호 확인 6~12자 영문 (숫자 혼용 가능)">
            </div>
            <button type="button" class="btn_submit btn_se flex-center" @click="changePassword">비밀번호 변경하기</button>
          </form>
        </div>
      </div>
      <div class="fail" v-else>
        <div class="head_title pr">
          <button type="button" class="btn_back" @click="showResult = false">
            <img src="~/assets/img/arr-r.png" alt="">
          </button>
          <h1>패스워드 찾기</h1>
          <button type="button" class="btn_close" @click="showResult = false"></button>
        </div>
        <div class="findid bg_gray mb-ft">
          <div class="findid__fail">
            <div class="img"><img src="~/assets/img/icon-per.png" alt=""></div>
            <h4>입력하신 정보로 등록된 회원이 없습니다.</h4>
            <p class="preline">
              정보를 다시 확인하시고
              시도해주세요.
            </p>
            <button type="button" class="btn_register flex-center" @click="redirectRoute('/register')">회원가입</button>
          </div>
        </div>
      </div>
    </div>
    <div class="confirm-info" v-else>
      <div class="head_title pr">
        <button type="button" class="btn-back back">
          <img src="~/assets/img/arr-r.png" alt="">
        </button>
        <h1>비밀번호 찾기</h1>
      </div>
      <div class="findidp">
        <ul class="findidp__tab nav flex">
          <li><nuxt-link to="/find-password/phone" title="" class="active">휴대폰 번호로 찾기</nuxt-link></li>
          <li><nuxt-link to="/find-password/email" title="" >이메일 주소로 찾기</nuxt-link></li>
        </ul>
        <div class="tab-content">
          <div id="phone" class="tab-pane active">
            <div class="box-form">
              <form action="" method="">
                <div class="form-group">
                  <input :class="[{ 'input-error': $v.phoneData.name.$error }, 'w-100']" type="text"
                         v-model.lzzy.trim="phoneData.name" name="" placeholder="이름">
                </div>
                <div v-if="$v.phoneData.name.$error">
                  <div class="error">{{ getMessage($v.phoneData.name, "name") }}</div>
                </div>
                <div class="form-group">
                  <input type="text" :class="[{ 'input-error': $v.phoneData.id.$error }, 'w-100']"
                         v-model.lazy.trim="phoneData.id" name="" placeholder="아이디">
                </div>
                <div v-if="$v.phoneData.id.$error">
                  <div class="error">{{ getMessage($v.phoneData.id, "id") }}</div>
                </div>
                <div class="form-group">
                  <input type="text" name="" :class="[{ 'input-error': $v.phoneData.phone.$error }, 'value number']"
                         v-model="phoneData.phone" placeholder="휴대폰 번호 (‘-’없이 입력)" @keypress="onlyNumber($event)" @keyup="changeFormatPhone(phoneData.phone)" @paste="preventCopyAndPaste">
                  <button type="button" class="btn_request flex-center" @click="getOTPByPhone()">{{ phoneData.counting ? '인증 재요청' : '인증요청'
                    }}</button>
                </div>
                <div v-if="$v.phoneData.phone.$error">
                  <div class="error">{{ getMessage($v.phoneData.phone, "phone") }}</div>
                </div>
                <div v-else-if="phoneData.validOPT">
                  <div class="success">휴대전화 인증이 완료되었습니다</div>
                </div>
                <div class="form-group" v-if="phoneData.counting">
                  <div class="group pr">
                    <input class="number" type="number" v-model.lazy.trim="phoneData.confirm"
                           placeholder="인증번호 (숫자 6자리)"
                           :class="{ 'input-error': $v.phoneData.confirm.$error }">
                    <div class="time">
                      <countdown ref="countdown" :time="time" :transform="transform" @end="onCountdownEnd">
                        <template slot-scope="props">{{ props.minutes }}:{{ props.seconds }}</template>
                      </countdown>
                    </div>
                  </div>
                  <button type="button" class="btn_confirm flex-center" @click="confirmPhone()">확인</button>
                </div>
                <div v-if="$v.phoneData.confirm.$error && phoneData.validOPT === false">
                  <div class="error">{{ getMessage($v.phoneData.confirm, "confirm") }}</div>
                </div>
                <button type="button" class="btn_forgotpass btn_se flex-center" @click="getInformationByPhone()">비밀번호
                  찾기
                </button>
              </form>
            </div>
          </div>
          <div id="email" class="tab-pane ">
          </div>
        </div>
      </div>
    </div>
    <ConfirmBanNoAction  :title="message"></ConfirmBanNoAction>
  </main>
</template>

<script>
  import {TIME_EXPIRED, TYPE_OTHER} from "../../common/constant";
  import {email, maxLength, minLength, required, sameAs} from "vuelidate/lib/validators";
  import {length} from "../../common/helpers_validate";
  import {AuthService} from "../../store/service.api";
  import {formatDashPhone, onlyNumber, preventCopyAndPaste} from "../../common/helpers";
  import {msgValidate} from "../../common/register_validate";
  import ConfirmBanNoAction from "../../components/modal/ConfirmMainBanNoAction";
  export default {
    name: "phone",
    components : {ConfirmBanNoAction},
    data() {
      return {
        phoneData: {
          phone: '',
          id: '',
          name: '',
          counting: false,
          validOTP: false,
          code: '',
          confirm: '',
          checkValidOTP: false,
        },
        emailData: {
          email: '',
          id: '',
          name: '',
          counting: false,
          validOTP: false,
          code: '',
          confirm: '',
          checkValidOTP: false,
          invalidEmail: false
        },
        time: TIME_EXPIRED,
        findResult: false,
        showResult: false,
        result: {},
        FIND_BY_PHONE: 'hp',
        FIND_BY_EMAIL: 'email',
        passwordData : {
          password : '',
          password_confirmation : ''
        },
        message : ''
      }
    },
    validations: {
      phoneData: {
        phone: {
          required,
          length: length(11),
        },
        confirm: {
          required,
          sameAs: sameAs(function () {
            return this.phoneData.code
          })
        },
        name: {
          required,
          minLength: minLength(2),
          maxLength: maxLength(6),
        },
        id: {
          required,
          minLength: minLength(6),
          maxLength: maxLength(12),
        }
      },
      passwordData: {
        password : {
          required,
          minLength: minLength(6),
          maxLength: maxLength(12),
        },
        password_confirmation : {
          required,
          minLength: minLength(6),
          maxLength: maxLength(12),
          sameAs: sameAs(function () {
            return this.passwordData.password
          }),
        }
      }
    },
    methods: {
      getMessage(v, field, value) {
        return msgValidate(v, field, value)
      },
      showModalConfirm(title) {
        this.message = title;
        $(".find-password-phone").find('#modal-no-action').modal('show');
      },
      onCountdownEnd() {
        this.phoneData.counting = false
        this.emailData.counting = false;
      },
      transform(props) {
        Object.entries(props).forEach(([key, value]) => {
          props[key] = value < 10 ? `0${value}` : value;
        });

        return props;
      },
      confirmPhone() {
        this.$v.phoneData.confirm.$touch()
        if (!this.$v.phoneData.confirm.$error) {
          this.phoneData.validOPT = true
          this.phoneData.counting = false;
          this.phoneData.confirm = ''
          this.showModalConfirm('인증번호가 성공적으로 확인되었습니다.')
          // alert('인증번호가 성공적으로 확인되었습니다.')
        }
      },
      async getOTPByPhone() {
        this.phoneData.validOPT = false;
        this.$v.phoneData.confirm.$reset()
        this.phoneData.confirm = ''
        this.$v.phoneData.phone.$touch()
        if (!this.$v.phoneData.phone.$error) {
          this.phoneData.counting = false
          let data = await AuthService.getOTP({
            phone: this.phoneData.phone,
            type: TYPE_OTHER
          })
          if (data.success) {
            this.phoneData.code = data.data.code
            this.time = TIME_EXPIRED
            this.phoneData.counting = true
          } else {
            this.phoneData.counting = false
            this.showModalConfirm('전화 번호가 존재하지 않습니다.')
            // alert('전화 번호가 존재하지 않습니다')
          }
        }
      },
      async getInformationByPhone() {
        if (!this.phoneData.validOPT) {
          this.showModalConfirm('휴대폰 인증을 완료해주세요.')
          // alert('휴대폰 인증을 완료해주세요.')
          return;
        }
        this.$v.phoneData.name.$touch()
        this.$v.phoneData.id.$touch()
        this.$v.phoneData.phone.$touch()
        if (this.$v.phoneData.name.$error || this.$v.phoneData.id.$error) {
          return ;
        }
        let data = await AuthService.findPassword({
          field_name: this.FIND_BY_PHONE,
          value: this.phoneData.phone,
          name: this.phoneData.name,
          id: this.phoneData.id
        })
        if (data.success) {
          this.findResult = true;
          this.result = {
            id: data.data.id,
            date: data.data.birth
          }
        }
        this.showResult = true;
        this.resetData();
        return true;
      },
      async changePassword() {

        this.$v.passwordData.$touch()

        if (!this.$v.passwordData.password.required) {
          this.showModalConfirm('비밀번호를 입력하세요.')
          // alert('비밀번호를 입력하세요.');
          return ;
        }
        if (!this.$v.passwordData.password_confirmation.required) {
          this.showModalConfirm('비밀번호 확인을 입력하세요.')
          // alert('비밀번호 확인을 입력하세요.');
          return ;
        }
        if (!this.$v.passwordData.password_confirmation.sameAs) {
          this.showModalConfirm('비밀번호가 일치하지 않습니다.')
          // alert('비밀번호가 일치하지 않습니다.');
          return ;
        }

        if (this.$v.passwordData.$error) {
          this.showModalConfirm('영문, 숫자 공백 없이 6자 ~ 12자 이내로 입력해주세요.')
          // alert('영문, 숫자 공백 없이 6자 ~ 12자 이내로 입력해주세요.')
          return ;
        }

        let data = await AuthService.changePassword(this.result.id,{
          password: this.passwordData.password,
          confirm_password: this.passwordData.password_confirmation,
        })

        if (data.success) {
          this.$router.push('/find-password/success');
        }
      },
      redirectRoute(url) {
        return this.$router.push(url);
      },
      resetData() {
        this.phoneData = {
          phone: '',
          id: '',
          name: '',
          counting: false,
          validOTP: false,
          code: '',
          confirm: '',
          checkValidOTP: false,
        }
        this.$v.phoneData.$reset();
        this.$v.passwordData.$reset();
      },
      changeFormatPhone(phone) {
        this.phoneData.phone = formatDashPhone(phone)
        this.phoneData.validOPT = false
        this.counting = false
        this.phoneData.confirm = '';
      },
      onlyNumber(e) {
        onlyNumber(e)
      },
      preventCopyAndPaste(e) {
        preventCopyAndPaste(e);
      },
    }

  }
</script>

<style scoped>
  .btn_forgotpass {
    border-radius: 20px;
  }
  .btn_close {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: inherit;
    height: 20px;
    width: 20px;
    transform: inherit;
    z-index: 9;
  }
  .head_title {
    position: relative;
  }
</style>
