<template>
  <div class="order-action">
    <div class="head_title pr">
      <h1>주문서 작성</h1>
    </div>
    <div class="cart">
      <ul class="cart__process flex">
        <li>
          <div class="box-icon flex-center"><i class="icon icon-cart"></i></div>
          <h5>장바구니</h5>
        </li>
        <li class="active">
          <div class="box-icon flex-center"><i class="icon icon-wl"></i></div>
          <h5>주문서 작성</h5>
        </li>
        <li>
          <div class="box-icon flex-center"><i class="icon icon-fs"></i></div>
          <h5>주문완료</h5>
        </li>
      </ul>
      <div class="cart__order" v-if="carts.length">
        <h2>주문 상품 <span>({{ carts.length }})</span></h2>
        <div class="type">{{ carts[0].type }}</div>
        <div class="product flex">
          <div class="product__img"><img :src="url + '/data_user/' + getTailImage(carts[0])" alt=""></div>
          <div class="product__content">
            <h3><a href="javascript:;">{{ carts[0].it_name }}</a></h3>
            <div class="price">{{ formatMoney(carts[0].retakePrice, ' 원', ',') }} / <span>{{ carts[0].quantity }}</span> 개</div>
          </div>
          <div class="time" v-show="carts[0].date_info">ㄴ {{ carts[0].sDatetime }}</div>
          <div class="booklist" v-show="carts[0].listDate.length">
            <div class="booklist__item" v-for="itemDate in carts[0].listDate">
              <div class="flex">
                <h5>ㄴ</h5>
                <p>{{ itemDate.title.substr(0, 30) + '...' }}</p>
              </div>
              <p class="pl-4">{{ itemDate.date }}</p>
            </div>
          </div>
        </div>
        <button data-toggle="modal" data-target="#modal-cart" class="btn_viewall flex-center">전체상품 보기 {{ carts.length }} 개 <i class="icon icon-arr"></i></button>
      </div>
      <div class="discount plr">
        <h2 class="title">할인정보</h2>
        <div class="item flex" v-if="couponLecList.length">
          <h4 class="flex-lc" >할인쿠폰 <i class="icon icon-qs" data-container="body" data-toggle="popover" data-placement="top" :data-content="tooltipCoupon" @click="openToolTip">?</i></h4>
          <button type="button" class="btn_register flex-center" data-toggle="modal" data-target="#modal-coupon-select">쿠폰등록</button>
          <div class="txt flex-lc">
            사용 가능 쿠폰 {{ coupons.length }}장
            <i class="icon icon-arr" data-toggle="modal" data-target="#modal-coupon-select"></i>
          </div>
        </div>
        <div class="item flex" v-else>
          <h4 class="flex-lc" >할인쿠폰</h4>
          <div class="txt flex-lc">
            ※ 이 상품은 할인쿠폰 적용이 불가한 상품입니다.
          </div>
        </div>
        <div class="item flex" v-if="isUseMoney">
          <h4 class="flex-lc">렛머니 <i class="icon icon-qs" data-container="body" data-toggle="popover" data-placement="top" :data-content="tooltipMoney" @click="openToolTip">?</i></h4>
          <button type="button" class="btn_register" @click="useAllMoney()">전액사용</button>
          <input type="number" v-model.trim="money" placeholder="포인트를 입력하세요.">
          <div class="point">※ 보유 렛머니 : <span>{{ formatMoney(loggedInUser.cybermoney , ' 원', ',')}}</span> │ <a href="javascript:;" @click="openModal('#modal-point')">렛머니 전환 하기</a></div>
        </div>
        <div class="item flex" v-else>
          <h4 class="flex-lc">렛머니</h4>
          <div class="txt flex-lc">
            ※ {{ '"'+ dataMoney.join(' / ') + '" 상품이 포함되어 있어 렛머니 사용이 제한되었습니다'}}
          </div>
        </div>
      </div>
      <div class="orderinfo plr">
        <h2 class="title">주문자 정보</h2>
        <div class="item flex">
          <h5>이름</h5>
          <span>{{ loggedInUser.name }}</span>
        </div>
        <div class="item flex">
          <h5>휴대전화</h5>
          <span>{{ loggedInUser.hp }}</span>
        </div>
        <div class="item flex">
          <h5>이메일</h5>
          <span>{{ loggedInUser.email }}</span>
        </div>
      </div>
      <div class="box-form" v-show="this.hasBook">
        <form action="" method="">
          <fieldset>
            <div class="fil_title flex">
              <h5>배송지 정보</h5>
              <p><span class="sup"> * </span> 필수항목</p>
            </div>
            <div class="form-group">
              <label>이름 <span class="sup">*</span></label>
              <input class="name" type="text" v-model="data_user_shipping.od_b_name" placeholder="이름 입력">
              <div class="checkbox">
                <label class="flex-lc">
                  <input type="checkbox" name="like_order" :checked="like_order" @click="likeOrder()">
                  <span class="checked flex-center"></span>
                  주문자 동일
                </label>
              </div>
            </div>
            <div class="form-group">
              <label>전화번호</label>
              <div class="group_list phone flex">
                <div class="box-select">
                  <select id="select2" class="mdf_intxt5" v-model="data_user_shipping.od_b_tel1">
                    <option value="">선택하세요</option>
                    <option value="02">02--서울</option>
                    <option value="031">031-경기</option>
                    <option value="032">032-인천</option>
                    <option value="033">033-강원</option>
                    <option value="041">041-충남</option>
                    <option value="042">042-대전</option>
                    <option value="043">043-충북</option>
                    <option value="044">044-세종</option>
                    <option value="051">051-부산</option>
                    <option value="052">052-울산</option>
                    <option value="053">053-대구</option>
                    <option value="054">054-경북</option>
                    <option value="055">055-경남</option>
                    <option value="061">061-전남</option>
                    <option value="062">062-광주</option>
                    <option value="063">063-전북</option>
                    <option value="064">064-제주</option>
                    <option value="0502">0502-평생번호</option>
                    <option value="0505">0505-평생번호</option>
                    <option value="0506">0506-평생번호</option>
                    <option value="070">070-평생번호</option>
                  </select>
                </div>
                <div class="space">-</div>
                <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;" maxlength="4"  minlength="4" v-model.trim="data_user_shipping.od_b_tel2">
                <div class="space">-</div>
                <input type="number"  pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;" maxlength="4" minlength="4" v-model.trim="data_user_shipping.od_b_tel3">
              </div>
            </div>
            <div class="form-group">
              <label>휴대전화 <span class="sup">*</span></label>
              <div class="group_list phone flex">
                <div class="box-select">
                  <select name="od_b_hp1" v-model="data_user_shipping.hp1">
                  <option value="">선택하세요</option>
                  <option value="010">010</option>
                  <option value="011">011</option>
                  <option value="016">016</option>
                  <option value="017">017</option>
                  <option value="018">018</option>
                  <option value="019">019</option>
                </select>
                </div>
                <div class="space">-</div>
                <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;" maxlength="4" minlength="4" v-model.trim="data_user_shipping.hp2">
                <div class="space">-</div>
                <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;" maxlength="4" minlength="4" v-model.trim="data_user_shipping.hp3">
              </div>
            </div>
            <div class="form-group">
              <label>주소 <span class="sup">*</span></label>
              <div class="group_list mt">
                <div class="findcode flex">
                  <input type="number" id="zonecode" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==5) return false;" v-model.trim="data_user_shipping.od_b_zonecode">
                  <button type="button" class="btn_find" @click="openModal('#modal-postcode')">우편번호찾기</button>
                </div>
                <input class="w-100" id="addr1" type="text" v-model.trim="data_user_shipping.od_b_addr1">
                <input class="w-100" id="addr2" type="text" v-model.trim="data_user_shipping.od_b_addr2" placeholder="상세 주소를 입력하세요.">
              </div>
            </div>
            <div class="form-group">
              <label>배송메모</label>
              <div class="group_list mt">
<!--                <div class="box-select w-100">-->
<!--                  <select name="">-->
<!--                    <option>배송시 요청사항을 선택해 주세요.</option>-->
<!--                  </select>-->
<!--                </div>-->
                <input class="w-100" type="text" maxlength="50" v-model="data_user_shipping.memo" placeholder="기타 내용을 직접 입력해주세요. (한글 50자 이내)">
              </div>
            </div>
          </fieldset>
          <div class="text">
            <p>도서 배송 현황은 결제 완료 후 (마이페이지 – 도서 / 배송현황)</p>
            <p>메뉴에서 확인 가능합니다.</p>
          </div>
        </form>
      </div>
      <div class="pay plr">
        <div class="pay__header flex-lc">
          <h2 class="title">최종 결제금액</h2>
          <span>{{ totalRetakeAmount }}</span>
        </div>
        <ul class="pay__info">
          <li>
            <h5>상품금액</h5>
            <span>{{ totalSellAmount }}</span>
          </li>
          <li>
            <h5>할인금액</h5>
            <span>- {{ totalSale }}</span>
            <ul class="sub">
              <li>
                <h5>ㄴ 상품할인</h5>
                <span>- {{ totalRetakeSaleAmount }}</span>
              </li>
              <li>
                <h5>ㄴ 쿠폰할인</h5>
                <span>- {{ formatMoney(this.coupon, ' 원', ',') }}</span>
              </li>
              <li>
                <h5>ㄴ 렛머니</h5>
                <span>- {{ formatMoney(this.money, ' 원', ',') }}</span>
              </li>
            </ul>
          </li>
          <li>
            <h5>배송비</h5>
            <span>+ {{ formatMoney(this.ship, ' 원', ',') }}</span>
          </li>
        </ul>
      </div>
      <div class="methodpay plr">
        <h2 class="title">결제수단 선택</h2>
        <ul class="methodpay__list flex">
          <li @click="chooseOrderBank('신용카드')"><a href="javascript:;" :class="'flex-center ' + (data_order.od_settle_case === '신용카드' ? 'active' : '' )">신용/체크카드</a></li>
          <li @click="chooseOrderBank('가상계좌')"><a href="javascript:;" :class="'flex-center ' + (data_order.od_settle_case === '가상계좌' ? 'active' : '' )">가상계좌 (무통장입금)</a></li>
          <li @click="chooseOrderBank('계좌이체')"><a href="javascript:;" :class="'flex-center ' + (data_order.od_settle_case === '계좌이체' ? 'active' : '' )">실시간 계좌이체</a></li>
<!--          <li @click="chooseOrderBank('간편결제')"><a href="javascript:;" :class="'flex-center ' + (data_order.od_settle_case === '간편결제' ? 'active' : '' )">간편결제</a></li>-->
        </ul>
<!--        <div class="kaokao_pay flex">-->
<!--          <h5>간편결제</h5>-->
<!--          <a href="" class="flex-lc ml-auto">-->
<!--            <i class="icon icon-kaokao"></i>-->
<!--            카카오페이-->
<!--            <i class="icon icon-arr"></i>-->
<!--          </a>-->
<!--        </div>-->
      </div>
      <div class="policy">
        <div class="policy__header flex">
          <h4>주문동의</h4>
          <div class="checkbox">
            <label class="flex-lc">
              <input type="checkbox" :checked="policy"  @click="policyCheck()">
              <span class="checked flex-center"></span>
              동의합니다.
            </label>
          </div>
        </div>
        <div class="policy__content">
          주문할 상품의 상품명, 상품가격, 배송정보를 확인하였으며, 구매에
          동의하시겠습니까? (전자상거래법 제8조 제2항)
        </div>
      </div>
      <button type="button" class="btn_payment flex-center" @click="payment">결제하기</button>
    </div>
    <button type="button" class="backtop">backtop</button>
    <CartAll :data="carts" :url="url"></CartAll>
    <div class="modal fade" id="modal-coupon-select">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="title flex-lc"><i class="icon icon-arr" data-dismiss="modal"></i> 쿠폰</h4>
          </div>
          <div class="modal-body">
            <div class="coupon coupon-page">
              <div class="coupon__register apply_coupon">
                <div class="coupon__box">
                  <input type="text"  ref="input-1" data-index="1" :maxlength="max"
                         @keydown="preventSpecialCharacter($event)" v-model="code_1">
                  <input type="text"  ref="input-2" data-index="2" :maxlength="max"
                         @keydown="preventSpecialCharacter($event)" v-model="code_2">
                  <input type="text"  ref="input-3" data-index="3" :maxlength="max"
                         @keydown="preventSpecialCharacter($event)" v-model="code_3">
                  <input type="text" ref="input-4" data-index="4" :maxlength="max"
                         @keydown="preventSpecialCharacter($event)" v-model="code_4">
                </div>
                <button type="button" class="btn_register flex-center" @click="registerCoupon"  :style="{ 'background-color': buttonColor }">등록</button>
              </div>
              <div class="coupon__list">
                <h5>쿠폰 선택</h5>
                <div class="item" v-for="dataCoupon in this.coupons">
                  <div class="item__header flex-lc">
                    <time>사용기한 :<span>~ {{ dataCoupon.enddate.replace('-', '.')}}</span></time>
                    <span class="flex-lc">{{dataCoupon.money}}{{ dataCoupon.moneytype}} ↓</span>
                  </div>
                  <div class="item__content">
                    <h3>{{ dataCoupon.message }}</h3>
                  </div>
                  <div class="radio_checkbox">
                    <input type="radio" name="coupon" :value="dataCoupon.cid" @click="selectedCoupon">
                    <span class="checked"></span>
                  </div>
                </div>
              </div>
              <div class="coupon__note">
                · 교재 주문 금액은 쿠폰할인 대상에서 제외됩니다.
                <br>
                · 할인쿠폰 사용은 가장 금액이 높은 강좌 1개에만 적용됩니다.
                <br>
                <br>
              </div>
            </div>
            <div class="nav-bt blue flex-center w100">
              <a href="javascript:;" class="flex-center" @click="applyCoupon">적용하기</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ConfirmMainBanNoAction :title="messages"></ConfirmMainBanNoAction>
    <div class="modal modal-md fade modal-confirm" id="modal-postcode">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <a href="javascript:;" class="close" data-dismiss="modal"></a>
          <div class="postcode-container">
            <vue-daum-postcode @complete="onComplete" />
          </div>
<!--          <button type="button" data-dismiss="modal" class="btn_confirm flex-center">확 인</button>-->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  import {formatDashPhone, formatMoney, preventSpecialCharacter, sumProp} from "../../common/helpers";
  import {URL_IMAGE} from "../../config";
  import {CartApiService, ConfigApiService, CouponApiService, OrderApiService} from "../../store/service.api";
  import CartAll from "../../components/modal/CartAll";
  let md5 = require('md5');
  import ConfirmMainBanNoAction from "../../components/modal/ConfirmMainBanNoAction";
  import {required} from "vuelidate/lib/validators";

  export default {
  name: "index",
  middleware: 'auth',
  components: {
    CartAll, ConfirmMainBanNoAction
  },
  data() {
    return {
      result: null,
      messages: '',
      carts: [],
      PACK: "package",
      MOV: "lecture",
      BOOK: "item",
      url: URL_IMAGE,
      isUseMoney: true,
      hasBook: false,
      dataMoney: [],
      coupon: 0,
      coupon_select: 0,
      money: 0,
      ship: 0,
      totalMoney: 0,
      percent: 20,
      maxMoney: 0,
      pointPayment: 0,
      pointPer: 10,
      couponLecList: [],
      coupons: [],
      tooltipMoney: '',
      tooltipCoupon: '※ 교재 주문금액은 쿠폰할인 대상에서 제외됩니다.\n' +
        '※ 할인쿠폰 사용은 가장 금액이 높은 강좌 1개에만 적용됩니다.',
      policy: false,
      data_order: {
        pay_code: '',
        pay_code_unmd5: new Date().getTime(),
        od_settle_case: '신용카드',
        use_coupon: '',
        coupon_amount: 0
      },
      like_order: false,
      data_user_shipping: {
        od_b_name: '',
        hp1: '',
        hp2: '',
        hp3: '',
        od_b_hp: '',
        od_b_tel1: '',
        od_b_tel2: '',
        od_b_tel3: '',
        od_b_tel: '',
        memo: '',
        od_b_addr1: '',
        od_b_addr2: '',
        od_b_zonecode: ''
      },
      code_1: '',
      code_2: '',
      code_3: '',
      code_4: '',
      max: 4,
      buttonColor : 'gray',
    }
  },
    validations: {
      code_1: {
        required,
      },
      code_2: {
        required
      },
      code_3: {
        required
      },
      code_4: {
        required
      }
    },
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser']),
    totalSellAmount() {
      return this.formatMoney(sumProp(this.carts, 'sell_amount'), ' 원', ',')
    },
    totalRetakeAmount() {
      let total = sumProp(this.carts, 'retakePrice') - parseInt(this.coupon) - parseInt(this.money) + parseInt(this.ship)
      return this.formatMoney(total, ' 원', ',')
    },
    totalRetakeSaleAmount() {
      return this.formatMoney(sumProp(this.carts, 'retake_sale_amount'), ' 원', ',')
    },
    totalSale() {
      let totalSale = sumProp(this.carts, 'retake_sale_amount') + parseInt(this.coupon) + parseInt(this.money)
      return this.formatMoney(totalSale, ' 원', ',')
    },
    totalQuantity() {
      return this.formatMoney(sumProp(this.carts, 'quantity'))
    }
  },
    mounted() {
      $(function () {
        $('[data-toggle="popover"]').popover()
      })

      // $(document).ready(function () {
      //     $('.vue-daum-postcode-container').css('height', 500)
      // })
    },
    watch: {
    money(newVal, oldVal) {
      this.getMoneyUse();
    },
    code_1(newVal) {
      if (newVal.length >= this.max) {
        this.$refs['input-2'].focus();
      }
      this.changeColorBtn();
    },
    code_2(newVal) {
      if (newVal.length >= this.max) {
        this.$refs['input-3'].focus();
      }
      if (newVal.length <= 0 ) {
        this.$refs['input-1'].focus();
      }
      this.changeColorBtn();
    },
    code_3(newVal) {
      if (newVal.length >= this.max) {
        this.$refs['input-4'].focus();
      }
      if (newVal.length <= 0 ) {
        this.$refs['input-2'].focus();
      }
      this.changeColorBtn();
    },
    code_4(newVal) {
      if (newVal.length <= 0) {
        this.$refs['input-3'].focus();
      }
      this.changeColorBtn();
    }
  },
  async created() {
    await ConfigApiService.get().then(item => {
      this.pointPayment = item.data.point_payment
    })
    let cart = []
    let uidCart = this.$route.query.uid
    if (typeof uidCart === "undefined" || uidCart.length == 0) {
        this.$router.push('/')
    }
    let dataCart = []
    await CartApiService.getCartUser({getBook : 1, order_by: 'desc'}).then(item => {
      dataCart = item.data
    })
    this.carts = dataCart.filter(item => {
      if (uidCart.includes(item.uid) || uidCart.includes(String(item.uid))) {
        return item
      }
    })
    if (this.carts.length != uidCart.length) {
      this.$router.push('/cart')
    }
    let dataBook = this.carts.filter(item => {
      if (item.item_id != 0) {
        return item
      }
    })
    if (dataBook.length) {
      this.hasBook = true
    }
    if (this.carts.length == 0) {
      this.$router.push('/')
    }
    this.dataMoney = this.carts.map(item => {
      if (!item.is_use_money) {
        return item.it_name
      }
    }).filter(function (el) {
      if (el != null) {
        return el
      }
    });
    if (this.dataMoney.length) {
      this.isUseMoney = false
    }
    this.totalMoney = sumProp(this.carts, 'retakePrice')
    this.maxMoney = Math.floor(this.totalMoney * this.percent / 100)
    this.tooltipMoney = `※ 최소 ${formatMoney(this.pointPayment)}원부터 주문금액 중(${formatMoney(this.totalMoney)}원) 최대 ${this.percent}%(${formatMoney(this.maxMoney)}원)까지 ${formatMoney(this.pointPer)}원 단위로 사용가능합니다.`
    this.getCouponUse()
    this.data_order.pay_code = md5(this.data_order.pay_code_unmd5)
    this.data_order.uid = this.carts.map(item => {return item.uid})
  },
    methods: {
      likeOrder() {
        if ($('input[name="like_order"]').is(":checked")) {
          this.data_user_shipping.od_b_name = this.loggedInUser.name
          this.data_user_shipping.od_b_hp = this.loggedInUser.hp
          let phone = formatDashPhone(this.data_user_shipping.od_b_hp)
          let phoneArr = phone.split('-')
          this.data_user_shipping.hp1 = phoneArr[0]
          this.data_user_shipping.hp2 = phoneArr[1]
          this.data_user_shipping.hp3 = phoneArr[2]
        } else {
          this.data_user_shipping.od_b_name = ''
          this.data_user_shipping.od_b_hp = ''
          this.data_user_shipping.hp1 = ''
          this.data_user_shipping.hp2 = ''
          this.data_user_shipping.hp3 = ''
        }

        // this.like_order = true
      },
      preventSpecialCharacter(e) {
        if (e.keyCode != 8) {
          if (preventSpecialCharacter(e.key)) e.preventDefault();
        }
      },
      changeColorBtn() {
        let length = this.code_1.length + this.code_2.length + this.code_3.length + this.code_4.length;
        if (length < 16) {
          this.buttonColor =  'gray';
        } else {
          this.buttonColor =  'blue';
        }
      },
      async registerCoupon() {
        let length = this.code_1.length + this.code_2.length + this.code_3.length + this.code_4.length;
        if (length < 16) return ;

        if (!this.$v.code_1.required || !this.$v.code_2.required || !this.$v.code_3.required || !this.$v.code_4.required) {
          // alert('쿠폰 번호는 숫자, 영문대소문자의 16자리입니다. 빠짐 없이 입력 바랍니다.');
          this.alert('쿠폰 번호는 숫자, 영문대소문자의 16자리입니다. 빠짐 없이 입력 바랍니다.');
        }
        let result = await CouponApiService.register(this.loggedInUser.id, {code: this.combineCode()});
        if (result.code !== 'FAILED') {
          this.getCouponUse();
        }
      },
      combineCode() {
        return this.code_1 + '-' + this.code_2 + '-' + this.code_3 + '-' + this.code_4;
      },
      formatMoney(val, currency, format) {
        return formatMoney(val, currency, format);
      },
      getCouponUse() {
        let params = {
          uid: this.carts.map(item => {return item.uid})
        }
        CouponApiService.getOrder(this.loggedInUser.id, params).then(res => {
          this.couponLecList = res.data.couponLecList
          this.coupons = res.data.result
        })
      },
      policyCheck() {
        this.policy = !this.policy
      },
      getTailImage(item) {
        if (item.lec_img) {
          return this.MOV + '/' + item.code_lecture + '/' + item.lec_img
        }
        if (item.pack_img) {
          return this.PACK + '/' + item.pack_uid + '/' + item.pack_img
        }
        if (item.code_book) {
          return this.BOOK + '/' + item.code_book + '_l1.png'
        }
      },
      useAllMoney() {
        let moneyUser = parseInt(this.loggedInUser.cybermoney)
        if (moneyUser >=  this.maxMoney) {
          this.money = this.maxMoney
        } else {
          this.money = moneyUser
        }
      },
      getMoneyUse() {
        this.money = Number(this.money);
        if (this.money >= this.maxMoney) {
          this.money = this.maxMoney
          return;
        }
        if (this.money <= 0) {
          this.money = 0
          return;
        }
        if (!this.money) {
          this.money = 0
          return;
        }
      },
      openModal(modal) {
        this.$cookies.set('backToIndex', false)
        $(modal).modal('show')
      },
      openToolTip() {
        $(document).on('click','.icon-qs',function(){
          $('[data-toggle="popover"]').popover(); //here if the condition is true then popover should be display.
        });
      },
      chooseOrderBank(value) {
        this.data_order.od_settle_case = value
      },
      payment() {
          if (!this.policy) {
            this.messages = '주문내역에 동의해주세요.'
            $(".order-action").find('#modal-no-action').modal('show')
            return;
          }
        this.data_order.od_amount = sumProp(this.carts, 'sell_amount')
        this.data_order.dc_amout = this.coupon + this.money
        this.data_order.od_temp_point = this.money
        if (this.hasBook) {
          if (!this.data_user_shipping.od_b_name) {
            this.messages = '받으시는 분의 이름을 입력하세요.'
            $(".order-action").find('#modal-no-action').modal('show')
            return;
          }
          if (!this.data_user_shipping.od_b_addr1) {
            this.messages = '받는 사람의 주소를 입력하십시오'
            $(".order-action").find('#modal-no-action').modal('show')
            return;
          }
          if (!this.data_user_shipping.od_b_zonecode) {
            this.messages = '수신자의 우편 번호를 입력하세요.'
            $(".order-action").find('#modal-no-action').modal('show')
            return;
          }
          this.data_user_shipping.od_b_hp = this.data_user_shipping.hp1 + '-' + this.data_user_shipping.hp2 + '-' + this.data_user_shipping.hp3
          if (this.data_user_shipping.od_b_hp.length == 2) {
            this.messages = '휴대폰 번호를 입력해 주세요.'
            $(".order-action").find('#modal-no-action').modal('show')
            return;
          } else if(this.data_user_shipping.od_b_hp.length != 13) {
            this.messages = '정확한 전화 번호를 입력하세요.'
            $(".order-action").find('#modal-no-action').modal('show')
            return;
          }
          this.data_user_shipping.od_b_tel = this.data_user_shipping.od_b_tel1 + '-' + this.data_user_shipping.od_b_tel2 + '-' + this.data_user_shipping.od_b_tel3
          this.data_order.od_b_hp =  this.data_user_shipping.od_b_hp
          this.data_order.od_b_tel =  this.data_user_shipping.od_b_tel
          this.data_order.od_b_zonecode =  this.data_user_shipping.od_b_zonecode
          this.data_order.od_b_addr1 =  this.data_user_shipping.od_b_addr1
          this.data_order.od_b_addr2 =  this.data_user_shipping.od_b_addr2
          this.data_order.od_memo =  this.data_user_shipping.memo
          this.data_order.od_b_name =  this.data_user_shipping.od_b_name
        }

          OrderApiService.order(this.data_order).then(res => {
            if (!res.success) {
              this.messages = res.messages
              $(".order-action").find('#modal-no-action').modal('show')
              return;
            } else {
              if(process.browser) {
                localStorage.setItem('orders_' + this.loggedInUser.id, JSON.stringify([]))
              }
              this.$router.push('/order-confirm/'+ res.data.uid)
            }
          })
      },
      applyCoupon() {
        if ( this.coupon_select == 0) {
          this.coupon = 0
          this.data_order.use_coupon = '',
          this.data_order.coupon_amount = 0
          return;
        }
       else {
         let coupon = this.coupons.find(item => {
           return item.cid == this.coupon_select
         })
          $('#modal-coupon-select').modal('hide')
          this.coupon = coupon.data_money
          this.data_order.use_coupon = coupon.opt,
          this.data_order.coupon_amount = this.coupon
        }
      },
      selectedCoupon() {
        this.coupon_select = $('input[name=coupon]:checked').val()
      },
      onComplete(data) {
        var roadAddr = data.roadAddress; // 도로명 주소 변수
        var extraRoadAddr = ''; // 참고 항목 변수

        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
          extraRoadAddr += data.bname;
        }
        // 건물명이 있고, 공동주택일 경우 추가한다.
        if(data.buildingName !== '' && data.apartment === 'Y'){
          extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
        }
        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
        if(extraRoadAddr !== ''){
          extraRoadAddr = ' (' + extraRoadAddr + ')';
        }

        this.data_user_shipping.od_b_zonecode = data.zonecode;
        this.data_user_shipping.od_b_addr1 = roadAddr;
        // this.data_user_shipping.od_b_addr2 = data.jibunAddress;
        $('#modal-postcode').modal('hide')
      },
    }
}
</script>

<style >
.postcode-container {
  min-height: 200px !important;
}
.vue-daum-postcode-container {
    height: 500px !important;
  }
.nav-bt {
  left: 0 !important;
}
</style>
