<template>
  <div class="register-main">
    <main>
      <div class="head_title pr">
        <button type="button" class="back btn-back">
          <img src="~/assets/img/arr-r.png" alt="">
        </button>
        <h1>회원가입</h1>
      </div>
      <form @submit.prevent="register">
        <div class="signup mb-ft">
          <div class="box-form">
            <div class="header flex-lc">
              <h4>본인확인</h4>
              <ul class="step flex-lc">
                <li><a href="" class="active">1</a></li>
                <li><span class="space"></span></li>
                <li><a href="">2</a></li>
              </ul>
            </div>
            <div>
              <div class="form-group">
                <label>이름</label>
                <input class="w-100" type="text" v-model.trim="formData.name" @keypress="disableSpace($event)" placeholder="이름 입력" :class="{ 'input-error': $v.formData.name.$error }">
              </div>
              <div v-if="$v.formData.name.$error">
                <div class="error offset-3 pl-2">{{ getMessage($v.formData.name, "name") }}</div>
              </div>
            </div>
            <div class="form-group">
              <label>휴대전화 <span class="sup">*</span></label>
              <input class="value number" type="text" v-model="formData.phone" @paste="preventCopyAndPaste($event)" @keydown.space="(event) => event.preventDefault()"  @keypress="onlyNumber($event)" @keyup="changeFormatPhone(formData.phone)" placeholder="휴대폰 번호 (‘-’없이 입력)"
                     :class="{ 'input-error': $v.formData.phone.$error }">
              <button type="button" class="btn_request_opt flex-center" @click="getOPT"> {{ counting ? '인증 재요청' : '인증요청'
                }}
              </button>
            </div>
            <div v-if="$v.formData.phone.$error">
              <div class="error offset-3 pl-2">{{ getMessage($v.formData.phone, "phone") }}</div>
            </div>
            <div v-else-if="validOPT">
              <div class="success offset-3 pl-2">인증번호가 성공적으로 확인되었습니다.</div>
            </div>
            <div v-if="counting">
              <div class="form-group">
                <label></label>
                <div class="group pr">
                  <input class="number" type="number" v-model="formData.confirm" placeholder="인증번호"
                         :class="{ 'input-error': $v.formData.confirm.$error }">
                  <div class="time">
                    <countdown ref="countdown" :time="time" :transform="transform" @end="onCountdownEnd">
                      <template slot-scope="props">{{ props.minutes }}:{{ props.seconds }}</template>
                    </countdown>
                  </div>
                </div>
                <button type="button" class="btn_confirm flex-center" @click="confirm" :disabled="!counting">확인</button>
              </div>
              <div v-if="$v.formData.confirm.$error">
                <div class="error offset-3 pl-2">{{ getMessage($v.formData.confirm, "confirm") }}</div>
              </div>
            </div>
          </div>
          <div class="rules">
            <h4>약관동의</h4>
            <ul class="list">
              <li>
                <div class="checkbox">
                  <label class="flex-lc">
                    <input class="check_all_list" type="checkbox" name="" v-model="checkAll" @change="all">
                    <span class="checked flex-center"></span>
                    모든 약관을 확인하고 전체 동의합니다.
                  </label>
                </div>
                <ul class="sub">
                  <li>
                    <div class="checkbox">
                      <label class="flex-lc">
                        <input type="checkbox" v-model="formData.checkedAge" :value="true">
                        <span class="checked flex-center"></span>
                        (필수) 만 14세 이상입니다.
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label class="flex-lc">
                        <input type="checkbox" v-model="formData.checkedRule" :value="true">
                        <span class="checked flex-center"></span>
                        (필수) ㈜ 렛유인 이용약관 동의
                      </label>
                    </div>
                    <a href="https://www.letuin.com/company.php?action=terms" target="_blank" title="" class="btn_viewall">+ 전체보기</a>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label class="flex-lc">
                        <input type="checkbox" v-model="formData.checkedPermission" :value="true">
                        <span class="checked flex-center"></span>
                        (필수) 개인정보 수집 및 이용 동의
                      </label>
                    </div>
                    <a href="https://www.letuin.com/company.php?action=policy" target="_blank" title="" class="btn_viewall">+ 전체보기</a>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label class="flex-lc">
                        <input type="checkbox" v-model="formData.checkedAds" :value="true">
                        <span class="checked flex-center"></span>
                        (선택) 광고성 정보 이메일 수신 동의
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label class="flex-lc">
                        <input type="checkbox" v-model="formData.checkedSMS" :value="true">
                        <span class="checked flex-center"></span>
                        (선택) 광고성 정보 SMS 수신 동의
                      </label>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <button type="submit" class="btn_next flex-center">다음</button>
        </div>
      </form>
    </main>
    <ConfirmBanNoAction  :title="message"></ConfirmBanNoAction>
  </div>
</template>

<script>
import {required, minLength, maxLength, alphaNum, sameAs, decimal} from 'vuelidate/lib/validators'
import {length, checked} from "../../common/helpers_validate";
import {AuthService} from "../../store/service.api";
import {TIME_EXPIRED, TYPE_REGISTER} from "../../common/constant";
import {msgValidate} from "../../common/register_validate";
import {formatDashPhone, onlyNumber, preventCopyAndPaste} from "../../common/helpers";
import ConfirmBanNoAction from "../../components/modal/ConfirmMainBanNoAction";

export default {
  name: "index",
  components : {ConfirmBanNoAction},
  validations: {
    formData: {
      name: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(6),
      },
      confirm: {
        required,
        sameAs: sameAs(function () {
          return this.formData.code
        })
      },
      phone: {
        required,
        length: length(11)
      },
      checkedAge: {
        checked
      },
      checkedPermission: {
        checked
      },
      checkedRule: {
        checked
      }
    }
  },
  data() {
    return {
      formData: {
        name: "",
        phone: "",
        code: "",
        confirm: "",
        checkedAge: false,
        checkedRule: false,
        checkedPermission: false,
        checkedAds : false,
        checkedSMS : false
      },
      checkAll: false,
      validOPT: false,
      time: TIME_EXPIRED,
      counting: false,
      phoneConfirm: null,
      message : ''
    }
  },
  computed : {

  },
  mounted() {

  },
  methods: {
    disableSpace(e){
      if (e.keyCode == 32){
        e.preventDefault();
      }
    },
    showModalConfirm(title) {
      this.message = title;
      $(".register-main").find('#modal-no-action').modal('show');
    },
    register() {
      if (!this.validOPT) {
        // alert('휴대전화 인증을 완료해주세요.')
        this.showModalConfirm('휴대전화 인증을 완료해주세요.');
        return false
      }
      this.$v.$touch()

      if (this.$v.formData.checkedAge.$error) {
        // alert('14세 미만은 회원가입이 불가능 합니다.')
        this.showModalConfirm('14세 미만은 회원가입이 불가능 합니다.');
      }
      else if (this.$v.formData.checkedPermission.$error || this.$v.formData.checkedRule.$error) {
        this.showModalConfirm('이용약관과 개인정보수집 및 이용동의가 필요합니다.');
        // alert('이용약관과 개인정보수집 및 이용동의가 필요합니다.')
      }
      else if (!this.$v.formData.$error) {
        localStorage.setItem("reconfirm", JSON.stringify(this.formData))
        this.$router.push('/basic-info')
      }
    },
    async getOPT() {
      this.$v.formData.confirm.$reset()
      this.$v.formData.name.$touch()
      this.$v.formData.phone.$touch()
      if (!this.$v.formData.phone.$error && !this.$v.formData.name.$error) {
        this.counting = false
        let data = await AuthService.getOTP({
          phone: this.formData.phone,
          type: TYPE_REGISTER
        })

        if (data.success) {
          this.formData.code = data.data.code
          this.time = TIME_EXPIRED
          this.counting = true
        } else {
          this.counting = false
          this.showModalConfirm('이미 가입한 정보가 있습니다.');
          // alert("이미 가입한 정보가 있습니다.")
        }
      }
    },
    onCountdownEnd() {
      this.counting = false
    },
    getMessage(v, field, value) {
      return msgValidate(v, field, value)
    },
    transform(props) {
      Object.entries(props).forEach(([key, value]) => {
        props[key] = value < 10 ? `0${value}` : value;
      });

      return props;
    },
    confirm() {
      this.$v.formData.confirm.$touch()
      if (!this.$v.formData.confirm.$error) {
        this.validOPT = true
        this.counting = false
        this.phoneConfirm = this.formData.phone
      }
    },
    all() {
      this.formData.checkedPermission = this.checkAll
      this.formData.checkedRule = this.checkAll
      this.formData.checkedAge = this.checkAll
      this.formData.checkedSMS = this.checkAll
      this.formData.checkedAds = this.checkAll
    },
    changeFormatPhone(phone) {
      this.formData.phone = formatDashPhone(phone)
      this.validOPT = false
      this.counting = false
      this.formData.confirm = '';
    },
    onlyNumber(e) {
      onlyNumber(e)
    },
    preventCopyAndPaste(e) {
      preventCopyAndPaste(e);
    }
  }
}
</script>

<style scoped>
.error {
  color: red;
}

.input-error {
  border: solid 1px red;
}
</style>
