<template>
  <main class="mem-info">
    <LUM_MP_InputPWPop @confirmPassword="confirmPass" v-if="!checkPassword"></LUM_MP_InputPWPop>
    <div v-else>
      <div class="head_title pr">
        <button type="button" class="back btn-back" >
          <img src="~/assets/img/arr-r.png" alt="">
        </button>
        <h1>회원정보수정</h1>
      </div>
      <div class="box-form">
        <form action="" class="form-edit" method="post">
          <fieldset>
            <div class="fil_title flex">
              <h5>회원정보</h5>
              <p><span class="sup"> * </span> 필수항목</p>
            </div>
            <div class="form-group">
              <label>아이디 </label>
              <input type="text" value="LETUIN" disabled v-model="formData.id">
            </div>
            <div class="form-group">
              <label>비밀번호 <span class="sup">*</span></label>
              <input type="password" v-model="formData.password" name="" placeholder="6~12자 영문, 숫자 사용 가능"
                     :class="[{ 'input-error': $v.formData.password.$error }, 'w-100']">
            </div>
            <div v-if="$v.formData.password.$error">
              <div class="error offset-3 pl-4">{{ getMessage($v.formData.password, "password", 6, 12) }}</div>
            </div>
            <div class="form-group">
              <label>비밀번호 확인 <span class="sup">*</span></label>
              <input type="password" v-model="formData.confirmPassword" name="" placeholder="비밀번호 재입력"
                     :class="[{ 'input-error': $v.formData.confirmPassword.$error }, 'w-100']">
            </div>
            <div v-if="$v.formData.confirmPassword.$error">
              <div class="error offset-3 pl-4">{{ getMessage($v.formData.confirmPassword, "confirmPassword", 6, 12) }}
              </div>
            </div>
            <div class="form-group">
              <label>이름</label>
              <input type="text" name="" v-model="formData.name" value="홍길동" disabled>
            </div>
            <div class="form-group">
              <label>별명</label>
              <input class="nick" type="text" @paste="preventCopyAndPasteNick" @keyup="resetDataNick" v-model="formData.nick" placeholder="별명을 입력하세요" @keydown="preventSpecialCharacter($event)" @keydown.space="(event) => event.preventDefault()">
              <button type="button" class="btn_check" @click="checkNick">중복확인</button>
            </div>

            <div class="form-group">
              <label>생년월일 <span class="sup">*</span></label>
              <div class="group_list flex not-wrap">
                <div class="sex flex">
                  <div class="sex__item pr">
                    <input type="radio" name="sex" v-model="formData.birth4" value="1">
                    <span class="checked flex-center">양</span>
                  </div>
                  <div class="sex__item pr">
                    <input type="radio" name="sex" v-model="formData.birth4" value="2">
                    <span class="checked flex-center">음</span>
                  </div>
                </div>
                <div class="date flex">
                  <div class="box-select" :class="{ 'input-error': $v.formData.year.$error }">
                    <select name="" id="year" v-model="formData.year">
                      <option v-if="year >= 1900" v-for="year in maxYear" :value="year">{{`${year}`}}</option>
                    </select>
                  </div>
                  <div class="box-select" :class="{ 'input-error': $v.formData.month.$error }">
                    <select name="" id="month" v-model="formData.month">
                      <option value="">월</option>
                      <option value="01">01</option>
                      <option value="02">02</option>
                      <option value="03">03</option>
                      <option value="04">04</option>
                      <option value="05">05</option>
                      <option value="06">06</option>
                      <option value="07">07</option>
                      <option value="08">08</option>
                      <option value="09">09</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                    </select>
                  </div>
                  <div class="box-select">
                    <select name="" id="day" v-model="formData.day" :class="{ 'input-error': $v.formData.day.$error }">
                      <option v-for="day in maxDay" :value="formatDayOrMonthOrYear(day)">{{formatDayOrMonthOrYear(day) }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div v-if="$v.formData.year.$error || $v.formData.month.$error || $v.formData.day.$error">
              <div class="error offset-3 pl-4 error-id" v-if="$v.formData.year.$error">{{ getMessage($v.formData.year,
                "year", 6, 12) }}
              </div>
              <div class="error offset-3 pl-4 error-id" v-else-if="$v.formData.month.$error">{{
                getMessage($v.formData.month, "mouth", 6, 12) }}
              </div>
              <div class="error offset-3 pl-4 error-id" v-else-if="$v.formData.day.$error">{{ getMessage($v.formData.day,
                "day", 6, 12) }}
              </div>
            </div>
            <div class="form-group">
              <label>휴대전화 <span class="sup">*</span></label>
              <div class="group_list mt">
                <div class="group">
                  <input type="text" v-model="formData.phone" name=""
                         :class="[{ 'input-error': $v.formData.phone.$error }]"
                         @keyup="changeFormatPhone(formData.phone)" placeholder="숫자만 입력하세요" @paste="preventCopyAndPaste">
                  <!--                <button type="button" class="btn_request">인증요청</button>-->
                  <button type="button" class="btn_request" @click="getOPT"> {{ counting ? '인증 재요청' : '인증요청'
                    }}
                  </button>
                </div>
                <div class="group" v-if="counting">
                  <div class="group pr">
                    <input class="number" type="number" v-model="formData.confirm" placeholder="인증번호"
                           :class="[{ 'input-error': $v.formData.confirm.$error }, 'confirm-input']" :maxlength="max">
                    <div class="time">
                      <countdown ref="countdown" :time="time" :transform="transform" @end="onCountdownEnd">
                        <template slot-scope="props">{{ props.minutes }}:{{ props.seconds }}</template>
                      </countdown>
                    </div>
                  </div>
                  <button type="button" class="btn_confirm" @click="confirm" :disabled="!counting">인증확인</button>
                </div>
              </div>
            </div>
            <div v-if="$v.formData.phone.$error">
              <div class="error offset-3 pl-2">{{ getMessage($v.formData.phone, "phone") }}</div>
            </div>
            <div class="form-group">
              <label>이메일 <span class="sup">*</span></label>
              <div class="group_list email mt">
                <div class="group flex-lc flex-nw">
                  <input type="text" name="" v-model="formData.firstEmail"
                         :class="{ 'input-error': $v.formData.firstEmail.$error }" @keyup="resetCheckEmail($event)"  @keydown.space="(event) => event.preventDefault()">
                  <span>@</span>
                  <input class="gray" type="text" name="" placeholder="직접입력" v-model="formData.endEmail"
                         :class="{ 'input-error': $v.formData.endEmail.$error }" @keyup="resetCheckEmail($event)">
                </div>
                <div class="group flex">
                  <div class="box-select">
                    <select name="" v-model="formData.endEmail" @change="resetCheckEmail($event)">
                      <option>직접입력</option>
                      <option v-for="(endEmail, key) in arrExamples" :key="key" :value="endEmail">{{endEmail}}</option>
                    </select>
                  </div>
                  <button type="button" class="btn_check" @click="checkEmail">중복확인</button>
                </div>
              </div>
            </div>
            <div v-if="$v.formData.firstEmail.$error">
              <div class="error offset-3 pl-4">{{ getMessage($v.formData.firstEmail, "firstEmail", '', 60) }}</div>
            </div>
            <div v-if="$v.formData.endEmail.$error">
              <div class="error offset-3 pl-4">{{ getMessage($v.formData.endEmail, "endEmail") }}</div>
            </div>
            <div v-if="availableEmail">
              <div class="success offset-3 pl-4">가입 가능한 이메일입니다.</div>
            </div>
            <div class="form-group">
              <label>마케팅수신동의 (선택)</label>
              <div class="group_list">
                <div class="checkbox_list flex">
                  <label class="checkbox flex pr">
                    <input type="checkbox" name="" value="1" v-model="formData.mailling">
                    <span class="checked flex-center"></span>
                    E-Mail 수신
                  </label>
                  <label class="checkbox flex pr">
                    <input type="checkbox" name="" value="1" v-model="formData.sms">
                    <span class="checked flex-center"></span>
                    SMS 수신
                  </label>
                </div>
                <div class="txt">
                  다양한 이벤트, 상품, 설명회, 시험정보, 취업에
                  필요한 정보를 받아보는 것에 동의합니다.
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="fil_title">
              <h5>부가 정보</h5>
            </div>
            <div class="form-group">
              <label>부가 정보 <span class="sup">*</span></label>
              <div class="select flex">
                <label class="item flex-lc pr">
                  <input type="radio" name="edu" value="University" v-model="formData.majorStudy">
                  <span class="checked"></span>
                  대학교
                </label>
                <label class="item flex-lc pr">
                  <input type="radio" name="edu" value="Master" v-model="formData.majorStudy">
                  <span class="checked"></span>
                  석사
                </label>
                <label class="item flex-lc pr">
                  <input type="radio" name="edu" value="doctoral" v-model="formData.majorStudy">
                  <span class="checked"></span>
                  박사
                </label>
                <label class="item flex-lc pr">
                  <input type="radio" name="edu" value="highSchool" v-model="formData.majorStudy">
                  <span class="checked"></span>
                  고졸
                </label>
              </div>
            </div>
            <div v-if="$v.formData.majorStudy.$error">
              <div class="error offset-3 pl-4">학교를 선택하세요.</div>
            </div>
            <div class="form-group modal-school">
              <label>학교 <span class="sup">*</span></label>
              <input class="w-100" type="text" name="" placeholder="000 대학교" v-model="formData.univ"
                     @keyup="getValSchool">
              <div class="search_box schoolval listwrap" style="display: none;">
                <div class="resVal schVal list_inner" :class="[{ 'no_border': contentSchool.length , 'list_inner_no': contentSchool.length == 0}]">
                  <a v-for="content in contentSchool" class="sch_val" href="javascript:;"
                     @click="selectSchool(`${content.schoolName}(${content.campusName})`)">{{content.schoolName}}({{content.campusName}})</a>
                </div>
                <div class="noText" v-if="contentSchool.length == 0">
                  일치하는 학교명이 없습니다<br>
                  <a href="javascript:;" class="no_click" @click="hidePopupSchool">'<span class="inText inSchool">{{ formData.univ }}</span>' 입력</a>
                </div>
              </div>
            </div>
            <div class="form-group" style="position: relative">
              <label>재학기간 <span class="sup">*</span></label>
              <div class="time_register flex-lc">
                <div class="time flex-lc pr">
                  <input type="text" id="time1" readonly placeholder="입학년월" name="graduationDate" v-model="formData.graduationDate"
                         :class="{ 'input-error': $v.formData.graduationDate.$error }" @click="triggerEvent">
                  <i class="icon icon-calendar"></i>
                </div>
                <div class="space">-</div>
                <div class="time flex-lc pr time2">
                  <input type="text" id="time2" readonly placeholder="졸업년월" name="admission_date"  v-model="formData.admission_date"
                         :class="{ 'input-error': $v.formData.admission_date.$error }" @click="triggerEvent">
                  <i class="icon icon-calendar"></i>
                </div>
              </div>
              <!--            <div class="time_register flex-lc">-->
              <!--              <div class="item flex-center">2006년</div>-->
              <!--              <div class="box-select">-->
              <!--                <select name="">-->
              <!--                  <option>2월</option>-->
              <!--                </select>-->
              <!--              </div>-->
              <!--              <div class="space">-</div>-->
              <!--              <div class="item flex-center">2006년</div>-->
              <!--              <div class="box-select">-->
              <!--                <select name="">-->
              <!--                  <option>2월</option>-->
              <!--                </select>-->
              <!--              </div>-->
              <!--            </div>-->
            </div>

            <div v-if="$v.formData.admission_date.$error || $v.formData.graduationDate.$error">
              <div v-if="$v.formData.admission_date.$error" class="error offset-3 pl-4">{{
                getMessage($v.formData.admission_date, "admissionDate") }}
              </div>
              <div v-else-if="$v.formData.graduationDate.$error" class="error offset-3 pl-4">{{
                getMessage($v.formData.graduationDate, "graduationDate") }}
              </div>
            </div>
            <div class="form-group">
              <label>학과/전공분류 <span class="sup">*</span></label>
              <div class="box-select w-100 ml-0">
                <select v-model.lazy="formData.classification"
                        :class="{ 'input-error': $v.formData.classification.$error }">
                  <option value="">학과를 선택해주세요.</option>
                  <option value="" disabled="">이공계열</option>
                  <option value="el">&nbsp;&nbsp;전기전자</option>
                  <option value="mu">&nbsp;&nbsp;기계</option>
                  <option value="ch">&nbsp;&nbsp;화학/화공</option>
                  <option value="me">&nbsp;&nbsp;금속/재료</option>
                  <option value="ph">&nbsp;&nbsp;물리</option>
                  <option value="mt">&nbsp;&nbsp;수학/통계</option>
                  <option value="in">&nbsp;&nbsp;산업공학</option>
                  <option value="tm">&nbsp;&nbsp;건축/토목</option>
                  <option value="sw">&nbsp;&nbsp;정보통신/SW</option>
                  <option value="hu">인문계열</option>
                  <option value="so">사회계열</option>
                  <option value="ed">교육계열</option>
                  <option value="nat">자연계열</option>
                  <option value="md">의약계열</option>
                  <option value="art">예체능계열</option>
                  <option value="ext">기타</option>
                </select>
              </div>
            </div>
            <div v-if="$v.formData.classification.$error">
              <div class="error offset-3 pl-4">{{ getMessage($v.formData.classification, "classification") }}</div>
            </div>
          </fieldset>
          <fieldset>
            <div class="fil_title">
              <h5>SNS계정연동</h5>
            </div>
            <div class="account_link">
              <div class="item flex">
                <h5 class="title col-3">네이버 연동</h5>
                <div class="text col-6">
                  <p>네이버 ID로 연결할 수 있습니다.</p>
                </div>
                <div class="col-3">
                  <a href="" title="" class="btn_link flex-center ">연동하기</a>
                </div>
              </div>
              <div class="item flex">
                <h5 class="title col-3">카카오 연동</h5>
                <div class="text col-6">
                  <p>카카오 ID로 연결할 수 있습니다.</p>
                </div>
                <div class="col-3">
                  <a href="" title="" class="btn_link flex-center ">연동하기</a>
                </div>
              </div>
              <div class="item flex">
                <h5 class="title col-3">구글 연동</h5>
                <div class="text col-6">
                  <p>구글 ID로 연결할 수 있습니다.</p>
                </div>
                <div class="col-3">
                  <a href="" title="" class="btn_link flex-center ">연동하기</a>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="guide">
            <h5>SNS계정연동 방법 안내</h5>
            <p>
              SNS계정연동은 계정에 1개의 SNS와 연동 가능합니다.
              다른 SNS와 연동을 원할 경우, 기존에 연동된 SNS 계정을
              해지 후 다른 SNS계정과[연동하기]를 하시기 바랍니다.
            </p>
          </div>
          <div class="bottom flex">
            <button type="button" class="btn_submit flex-center" @click="updated">수정</button>
            <button type="reset" class="btn_cancel flex-center" @click="reset">취 소</button>
          </div>
        </form>
      </div>
    </div>
    <ConfirmMainBanNoAction :title="message"></ConfirmMainBanNoAction>
  </main>
</template>

<script>
  import {mapGetters} from 'vuex'
  import {AuthService} from "../../store/service.api";
  import {ArrExEndEmail, CONFIRM_FAIL, CONFIRM_SUCCESS, TIME_EXPIRED, TYPE_REGISTER} from "../../common/constant";
  import {alphaNum, maxLength, minLength, required, sameAs} from "vuelidate/lib/validators";
  import {endEmail, length, nick} from "../../common/helpers_validate";
  import LUM_MP_InputPWPop from "../../components/modal/LUM_MP_InpuPWPop";
  import ConfirmMainBanNoAction from "../../components/modal/ConfirmMainBanNoAction";
  import {
    formatDashPhone,
    formatDate,
    formatDayOrMonthOrYear,
    onlyNumber, preventCopyAndPaste, preventCopyAndPasteNick,
    preventSpecialCharacter
  } from "../../common/helpers";
  import {msgValidate} from "../../common/register_validate";
  import moment from "moment";
  import {API_OPEN_KEY} from "../../config";

  export default {
    name: "index",
    middleware: ['authenticate'],
    layout: "none-footer",
    head: {
      script: [
        {
          body: true,
          src: '/js/selectscroll.js'
        },
      ]
    },
    computed: {
      ...mapGetters(['isAuthenticated', 'loggedInUser']),
    },
    components : {
      LUM_MP_InputPWPop,
      ConfirmMainBanNoAction
    },
    data() {
      return {
        message: '',
        data: {},
        arrExamples: ArrExEndEmail,
        formData: {
          email: '',
          name: '',
          endEmail: '',
          id: '',
          password: '',
          confirmPassword: '',
          firstEmail: '',
          phone: '',
          confirm: "",
          code: "",
          day: "",
          month: "",
          year: "",
          mailling: 0,
          sms: 0,
          majorStudy: "University",
          univ: '',
          admission_date: "",
          graduationDate: "",
          classification: "",
          nick: "",
          birth4: ""
        },
        validOTP: false,
        time: TIME_EXPIRED,
        counting: false,
        max: 6,
        maxYear: new Date().getFullYear() - 14,
        maxDay: 31,
        contentSchool: [],
        availableEmail: false,
        confirmSuccess: CONFIRM_SUCCESS,
        confirmFail: CONFIRM_FAIL,
        validNick: false,
        checkPassword : false,
        showUpdateinfo : false
      }
    },
    validations: {
      formData: {
        graduationDate: {
          required
        },
        classification: {
          required
        },
        password: {
          minLength: minLength(6),
          maxLength: maxLength(12),
          alphaNum,
        },
        confirmPassword: {
          minLength: minLength(6),
          maxLength: maxLength(12),
          alphaNum,
          sameAs: sameAs('password')
        },
        endEmail: {
          required,
          endEmail
        },
        firstEmail: {
          required,
          maxLength: maxLength(60)
        },
        phone: {
          required,
          length: length(11)
        },
        confirm: {
          required,
          sameAs: sameAs(function () {
            return this.formData.code
          })
        },
        year: {
          required
        },
        month: {
          required
        },
        day: {
          required
        },
        admission_date: {
          required
        },
        nick: {
          maxLength: maxLength(12),
          minLength: minLength(6),

        },
        majorStudy: {
          required
        }
      }
    },
    created() {
      this.me();
    },
    mounted() {
      $('.schoolval').hide()
      if (!this.checkPassword) {
        $('#modal-password').modal('show');
      }
    },
    watch : {
      checkPassword(newVal) {
        if (newVal) {
          $(document).ready(function () {
            let years = new Date().getFullYear()

            let timers = []

            for (let i = 1950 ; i <= years ; i++) {
              timers.push({
                text : `${i}년`
              })
            }

            let mouths =  [
              {
                text: '1월',
                id: 1
              }, {
                text: '2월',
                id: 2
              },
              {
                text: '3월',
                id: 3
              },
              {
                text: '4월',
                id: 4
              }, {
                text: '5월',
                id: 5
              }, {
                text: '6월',
                id: 6
              }, {
                text: '7월',
                id: 7
              },
              {
                text: '8월',
                id: 8
              },
              {
                text: '9월',
                id: 9
              },
              {
                text: '10월',
                id: 10
              },
              {
                text: '11월',
                id: 11
              },
              {
                text: '12월',
                id: 12
              }
            ]
            $('#time1').click(function () {
              $(this).selectScroll({
                data: [
                  timers,
                  mouths
                ],
                title: '졸업년월',
                selectedIndex: [40, 5, 0],
                class: "show",
              })
              let val = $(this).val();
              if (val) {
                let year = val.split('-')[0];
                let month = val.split('-')[1];
                let inYear = parseInt(year.split('년')[0]);
                let inMonth = parseInt(month.split('월')[0]);
                let height = 31.25
                let picker = $(this).parents(".time").find(".picker.show").find('.picker-content').find('.wheel-wrapper').find('.wheel');
                picker.each(function (e, item) {
                  if (e ===0 ){
                    $(item).find('.wheel-item').each( (e1,item1) => {
                      if (e1 == 0) {
                        height = $(item1).height();
                      }
                    });
                    let topYear = 0 -((inYear - 1950) * height);
                    $(item).find('.wheel-scroll').css({'transform' : 'translate(' + 0 +', ' + topYear + 'px) scale(1) translateZ(0px)'});
                  }
                  if (e === 1) {
                    let topMonth = 0 -((inMonth -1 ) * height);
                    $(item).find('.wheel-scroll').css({'transform' : 'translate(' + 0 +', ' + topMonth + 'px) scale(1) translateZ(0px)'});
                  }
                })
              }
            });
            $('#time2').click(function () {
              $(this).selectScroll({});
              $('.picker').addClass('show');
              let val = $(this).val();
              if (val) {
                let year = val.split('-')[0];
                let month = val.split('-')[1];
                let inYear = parseInt(year.split('년')[0]);
                let inMonth = parseInt(month.split('월')[0]);
                let height = 31.25
                let picker = $(this).parents(".time").find(".picker.show").find('.picker-content').find('.wheel-wrapper').find('.wheel');
                picker.each(function (e, item) {
                  if (e ===0 ){
                    $(item).find('.wheel-item').each( (e1,item1) => {
                      if (e1 == 0) {
                        height = $(item1).height();
                      }
                    });
                    let topYear = 0 -((inYear - 1950) * height);
                    $(item).find('.wheel-scroll').css({'transform' : 'translate(' + 0 +', ' + topYear + 'px) scale(1) translateZ(0px)'});
                  }
                  if (e === 1) {
                    let topMonth = 0 -((inMonth -1 ) * height);
                    $(item).find('.wheel-scroll').css({'transform' : 'translate(' + 0 +', ' + topMonth + 'px) scale(1) translateZ(0px)'});
                  }
                })
              }
            });

            $('#time2').selectScroll({
              data: [
                timers,
                mouths
              ],
              title: '입학년월',
              selectedIndex: [40, 5, 0],
            });

          });
        }
      }
    },
    methods: {
      alert(message) {
        this.message = message
        $(".mem-info").find('#modal-no-action').modal('show')
        return;
      },
      onCountdownEnd() {
        this.counting = false
      },
      resetCheckEmail() {
        this.availableEmail = false;
      },
      resetDataNick() {
        this.validNick = false;
      },
      triggerEvent() {
        this.bindEvent();
      },
      bindEvent() {
        let _this = this;
        $(document).ready(function () {
          $(".picker .confirm").on('click', function () {
            _this.formData.graduationDate = $('input[name="graduationDate"]').val()
            _this.formData.admission_date = $('input[name="admission_date"]').val()
          })
        })
      },
      resetCheckPhone() {
        this.validOTP = false;
      },
      async reset() {
        this.data = await AuthService.me();
        this.formData.endEmail = this.splitString(this.data.data.email)[1];
        this.formData.firstEmail = this.splitString(this.data.data.email)[0];
        this.formData.email = this.data.data.email;
        this.formData.id = this.data.data.id;
        this.formData.name = this.data.data.name;
        let birth4 = this.splitString(this.data.data.birth, '-')[3];
        if (birth4 != undefined) {
          this.formData.birth4 = birth4
        } else {
          this.formData.birth4 = 1;
        }
        this.formData.day = this.splitString(this.data.data.birth, '-')[2];
        this.formData.month = this.splitString(this.data.data.birth, '-')[1];
        this.formData.year = this.splitString(this.data.data.birth, '-')[0];
        this.changeFormatPhone(this.data.data.hp);
        this.formData.univ = this.data.data.univ;
        this.formData.admission_date = this.data.data.admission_date;
        this.formData.graduationDate = this.data.data.graduation_date;
        this.formData.classification = this.data.data.classification;
        this.formData.nick = this.data.data.nick;
      },
      async updated() {

        this.$v.formData.graduationDate.$touch();
        this.$v.formData.admission_date.$touch();
        this.$v.formData.day.$touch();
        this.$v.formData.month.$touch();
        this.$v.formData.year.$touch();
        this.$v.formData.phone.$touch();
        this.$v.formData.firstEmail.$touch();
        this.$v.formData.endEmail.$touch();
        this.$v.formData.classification.$touch();
        this.$v.formData.password.$touch();
        this.$v.formData.confirmPassword.$touch();
        this.$v.formData.majorStudy.$touch();

        let phone = this.formData.phone.split('-').join('');
        if (phone === this.data.data.hp || this.formData.phone === this.data.data.hp) {
          this.validOTP = true;
        }

        if (!this.validOTP) {
          this.alert('휴대폰 인증을 완료해주세요.');
          return;
        }

        let email = this.formData.firstEmail + '@' + this.formData.endEmail
        if (email === this.formData.email) {
          this.availableEmail = true;
        }

        if (!this.availableEmail) {
          this.alert('이메일 중복확인을 해주세요.');
          return;
        }

        if (this.formData.nick === this.data.data.nick) {
          this.validNick = true;
        }

        if (!this.validNick) {
          this.alert('별명을 확인하세요.');
          return;
        }

        if (this.$v.formData.graduationDate.$error ||
          this.$v.formData.admission_date.$error ||
          this.$v.formData.day.$error ||
          this.$v.formData.month.$error ||
          this.$v.formData.year.$error ||
          this.$v.formData.phone.$error ||
          this.$v.formData.firstEmail.$error ||
          this.$v.formData.endEmail.$error ||
          this.$v.formData.classification.$error ||
          this.$v.formData.confirmPassword.$error ||
          this.$v.formData.password.$error ||
          this.$v.formData.majorStudy.$error
        ) {
          return;
        }

        let admissionDate = this.formData.admission_date.replace('년','').replace('월', '').split('-');
        let graduationDate = this.formData.graduationDate.replace('년','').replace('월', '').split('-');
        if (admissionDate[0] > graduationDate[0] ) {
          this.alert('졸업년도가 입학기간보다 작습니다')
          return ;
        }
        if (admissionDate[0] == graduationDate[0] && admissionDate[1] >= graduationDate[1]) {
          this.alert('졸업년도가 입학기간보다 작습니다')
          return ;
        }

        let params = {
          "email": this.formData.firstEmail + "@" + this.formData.endEmail,
          "hp": this.formData.phone.split("-").join(""),
          "sex": this.formData.sex,
          "birth": this.formData.year + '-' + this.formData.month + '-' + this.formData.day + '-' + this.formData.birth4,
          "major_study": this.formData.majorStudy,
          "univ": this.formData.univ,
          "admission_date": this.formData.admission_date,
          "graduation_date": this.formData.graduationDate,
          "classification": this.formData.classification,
          "mailling": this.formData.mailling,
          "sms": this.formData.sms,
          "id": this.formData.id,
          "name": this.formData.name,
          "nick" : this.formData.nick
        }

        if (this.formData.password || this.formData.confirmPassword) {
          params.password = this.formData.password
          params.confirm_password = this.formData.confirmPassword
        }

        if (!this.$v.formData.$error) {
          let data = await AuthService.update(params)

          if (data.errors) {
            let error = data.errors[0]
            let message = "이 필드는 유효하지 않습니다."
            switch (error.param) {
              case 'email':
                message = '이메일 중복확인을 해주세요.'
                break;
              case "hp":
                message = '이미 사용중인 전화 번호.'
                break;
            }
            this.alert(message)
          } else {
            this.availableEmail = false;
            this.alert('회원 수정이 정상적으로 완료되었습니다.');
            this.$router.push('/mem-info')
          }
        }
      },
      transform(props) {
        Object.entries(props).forEach(([key, value]) => {
          props[key] = value < 10 ? `0${value}` : value;
        });

        return props;
      },
      formatDayOrMonthOrYear(date) {
        return formatDayOrMonthOrYear(date);
      },
      hidePopupSchool() {
        $('.schoolval').hide()
      },
      selectSchool(value) {
        this.formData.univ = value;
        this.hidePopupSchool();
      },
      async me() {
        this.data = await AuthService.me();
        this.formData.endEmail = this.splitString(this.data.data.email)[1];
        this.formData.firstEmail = this.splitString(this.data.data.email)[0];
        this.formData.email = this.data.data.email;
        this.formData.id = this.data.data.id;
        this.formData.name = this.data.data.name;
        let birth4 = this.splitString(this.data.data.birth, '-')[3];
        if (birth4 != undefined) {
          this.formData.birth4 = birth4
        } else {
          this.formData.birth4 = 1;
        }
        this.formData.day = this.splitString(this.data.data.birth, '-')[2];
        this.formData.month = this.splitString(this.data.data.birth, '-')[1];
        this.formData.year = this.splitString(this.data.data.birth, '-')[0];
        this.changeFormatPhone(this.data.data.hp);
        this.formData.univ = this.data.data.univ;
        this.formData.admission_date = this.data.data.admission_date;
        this.formData.graduationDate = this.data.data.graduation_date;
        this.formData.classification = this.data.data.classification;
        this.formData.nick = this.data.data.nick;
        this.formData.mailling = this.data.data.mailling;
        this.formData.sms = this.data.data.sms;
        this.formData.majorStudy = this.data.data.major_study;

        $('input[name="admission_date"]').val(this.formData.admission_date);
        $('input[name="graduationDate"]').val(this.formData.graduationDate);
      },
      getMessage(v, field, value) {
        return msgValidate(v, field, value)
      },
      async confirmID(id) {
        await AuthService.checkId({id: id});
      },
      splitString(string, pattern = '@') {
        return string.split(pattern);
      },
      async getValSchool() {
        if (this.formData.univ == '') {
          this.contentSchool = []
          $('.schoolval').hide()
          return ;
        }
        let data = await AuthService.getValSchool({
          apiKey: API_OPEN_KEY,
          svcType: 'api',
          svcCode: "SCHOOL",
          contentType: "json",
          gubun: "univ_list",
          perPage: 300,
          searchSchulNm: this.formData.univ
        })
        $('.schoolval').show()
        this.contentSchool = data && data.content ? data.content : []
      },
      async checkEmail() {
        this.availableEmail = false;
        let email = this.formData.firstEmail + '@' + this.formData.endEmail
        if (email === this.formData.email) {
          this.alert('이메일이 변경되지 않았기 때문에 다시 확인할 필요가 없습니다.');
          this.availableEmail = true;
          return;
        }
        this.$v.formData.firstEmail.$touch()
        this.$v.formData.endEmail.$touch()
        this.availableEmail = false;
        if (!this.$v.formData.firstEmail.$error && !this.$v.formData.endEmail.$error) {
          let data = await AuthService.checkEmail({
            email: this.formData.firstEmail + '@' + this.formData.endEmail,
            type: TYPE_REGISTER
          })
          this.availableEmail = data.status;
          if (this.availableEmail) {
            this.alert('가입 가능한 이메일입니다.')
          } else {
            this.alert('이미 가입된 이메일입니다.')
          }
        }
      },
      preventSpecialCharacter(e) {
        if (e.keyCode === 219 || e.keyCode === 221 || e.keyCode === 220) e.preventDefault();
        if (e.keyCode != 8) {
          if (preventSpecialCharacter(e.key)) e.preventDefault();
        }
      },
      async checkNick() {
        if (!this.formData.nick) {
          this.alert('별명을 입력하세요');
          return;
        }
        if (this.formData.nick === this.data.data.nick) {
          this.alert('별명이 바뀌지 않았으므로 중복확인 하실 필요가 없습니다.');
          this.validNick = true;
          return;
        }
        this.$v.formData.nick.$touch();

        if (!this.$v.formData.nick.minLength || !this.$v.formData.nick.maxLength) {
          this.alert('별명은 6자 이상, 12자 이하여야 합니다.');
          return;
        }

        if (!this.$v.formData.nick.$error) {
          let data = await AuthService.checkNick({
            nick: this.formData.nick
          })
          this.validNick = data.message == 'success';

          if (this.validNick) {
            this.alert('사용 가능한 별명입니다.')
          } else {
            this.alert('이미 사용중인 별명입니다.');
          }
        }
      },
      changeFormatPhone(phone) {
        this.formData.phone = formatDashPhone(phone)
        this.resetCheckPhone();
      },
      onlyNumber(e) {
        onlyNumber(e)
      },
      async getOPT() {
        this.$v.formData.confirm.$reset()
        this.$v.formData.phone.$touch()

        let phone = this.formData.phone.split('-').join('');

        if (phone === this.data.data.hp) {
          this.alert('전화 번호는 변경되지 않았으므로 다시 확인할 필요가 없습니다.')
          this.validOTP = true;
          return;
        }
        if (!this.$v.formData.phone.$error) {
          this.counting = false
          let data = await AuthService.getOTP({
            phone: this.formData.phone.split('-').join(''),
            type: TYPE_REGISTER
          })
          if (data.success) {
            this.formData.code = data.data.code
            this.time = TIME_EXPIRED
            this.counting = true
            this.alert("휴대전화 인증이 완료되었습니다.")
          } else {
            this.counting = false
            this.alert("이미 가입한 정보가 있습니다.")
          }
          this.validOTP = false;
        }
      },
      confirm() {
        this.$v.formData.confirm.$touch()
        if (!this.$v.formData.confirm.$error) {
          this.validOTP = true
          this.counting = false
        }
      },
      confirmPass() {
        this.checkPassword = true;
        $("#modal-password").modal('hide');
      },
      preventCopyAndPasteNick(e) {
        preventCopyAndPasteNick(e)
      },
      preventCopyAndPaste(e) {
        preventCopyAndPaste(e);
      },
    }
  }
</script>

<style scoped>
  .time {
    position: absolute;
    top: 6px;
    right: 10px;
    bottom: 0;
    margin: auto;
    color: blue;
  }

  .confirm-input {
    padding-right: 50px;
    width: 38.75vw
  }

  .modal-school {
    position: relative;
  }

  .time2 {
    right: 37%;
  }
  .not-wrap {
    flex-wrap: inherit !important;
    max-width: 100% !important;
  }
  .sex.flex,.date.flex {
    flex-wrap: inherit !important;
  }
  .box-form input.nick {
    width: 35.75vw;
  }
  .group_list.flex.not-wrap {
    width: 61.6666666667vw;
  }
</style>
