<template>
  <main>
    <div class="head_title border-0 pr">
      <button type="button" class="back btn-back">
        <img src="~/assets/img/arr-r.png" alt="">
      </button>
      <h1>모의고사</h1>
    </div>
    <div class="practive">
      <div class="statisticals">
        <ul class="flex">
          <li class="optionPractice" :class="isActive('전체') || !$route.query.option ? 'active' : ''"  @click="selectActiveOption($event, '전체')">
            <span>{{ getCountByStatus('전체') }}</span>
            <h5>전체</h5>
          </li>
          <li class="optionPractice" :class="isActive('인적성') ? 'active' : ''"  @click="selectActiveOption($event, '인적성')">
            <span>{{ getCountByStatus('인적성') }}</span>
            <h5>인적성</h5>
          </li>
          <li class="optionPractice" :class="isActive('직무평가') ? 'active' : ''" @click="selectActiveOption($event, '직무평가')">
            <span>{{ getCountByStatus('직무평가') }}</span>
            <h5>전문 역량 평가</h5>
          </li>
          <li class="optionPractice" :class="isActive('자격증') ? 'active' : ''" @click="selectActiveOption($event, '자격증')">
            <span>{{ getCountByStatus('자격증') }}</span>
            <h5>자격증</h5>
          </li>
          <li class="optionPractice" :class="isActive('NCS') ? 'active' : ''" @click="selectActiveOption($event, 'NCS')">
            <span>{{ getCountByStatus('NCS') }}</span>
            <h5>NCS</h5>
          </li>
        </ul>
      </div>
      <div class="practive__info box-collapse">
        <div class="header flex-lc">
          <h4 class="flex-lc"><i class="icon icon-qs">?</i> 모의고사 이용 안내</h4>
          <button class="btn_collapse collapsed dr ml-auto" type="button" data-toggle="collapse" data-target="#practive__info"></button>
        </div>
        <div class="collapse show" id="practive__info">
          <div class="box-text">
            <p>
              응시기간 내 모든 모의고사 내역은 목록을 통해 확인할 수
              있습니다.
            </p>
            <p>
              종료된 모의고사는 종료된 강의에서 확인 가능합니다.
            </p>
          </div>
        </div>
      </div>
      <div class="ended__list bt">
        <div class="header flex-lc">
          <h4 style="font-size: 14px !important;">수강 중 모의고사 ({{listLecturePractice.length}})</h4>
          <div class="checkbox__list ml-auto flex" v-if="getCountByOption('미응시', $route.query.option ? $route.query.option : '전체') || getCountByOption('응시완료', $route.query.option ? $route.query.option : '전체')">
            <label class="flex-lc">
              <input type="checkbox" name="" class="single" @change="filterLectureOption($event, '미응시', 'input.package', '응시완료')"  :checked="getCountByOption('미응시', $route.query.option ? $route.query.option : '전체') !== 0" :disabled="getCountByOption('미응시', $route.query.option ? $route.query.option : '전체') === 0">
              <span class="checked flex-center"></span>
              미응시 {{getCountByOption('미응시', $route.query.option ? $route.query.option : '전체')}}<span> </span>
            </label>
            <label class="flex-lc">
              <input type="checkbox" name="" class="package" @change="filterLectureOption($event, '응시완료', 'input.single', '미응시')" :checked="getCountByOption('응시완료', $route.query.option ? $route.query.option : '전체') !== 0" :disabled="getCountByOption('응시완료', $route.query.option ? $route.query.option : '전체') === 0">
              <span class="checked flex-center"></span>
              응시완료 {{getCountByOption('응시완료', $route.query.option ? $route.query.option : '전체')}}<span></span>
            </label>
          </div>
        </div>

        <div class="bg_gray" v-if="listLecturePractice.length">
          <div class="note">응시 완료 된 모의고사는 <span>좌측으로 밀면</span>, ‘후기작성 / 결과리포트’을 볼 수 있어요.</div>
          <div class="item" v-for="lecture in listLecturePractice">
            <div :class="[{'item__scroll' : lecture.exam_status !== '미응시', 'item__scroll1' : lecture.exam_status === '미응시'}]">
              <div class="scroll pr">
                <div class="content pr">
                  <div class="content__header flex-lc">
                    <h5>{{ getCategory(lecture) }}</h5>
                    <div class="status">{{lecture.exam_status}}</div>
                  </div>
                  <h3 v-html="typeof lecture.uid !== 'undefined' ? (lecture.subject.length > 24 ? unescapeHTML(lecture.subject.substr(0, 24)) + '...': unescapeHTML(lecture.subject) ) : (lecture.title.length > 24 ? unescapeHTML(lecture.title.substr(0, 24)) + '...': unescapeHTML(lecture.title) )"></h3>
                  <time>응시기간 : {{formatDate(lecture.startdate)}} ~ <span>{{formatDate(lecture.enddate)}}</span></time>
                  <i class="icon icon-arr" v-if="lecture.exam_status !== '미응시'"></i>
                </div>
                <a href="javascript:;" v-if="lecture.exam_status !== '미응시'" class="btn_wr" @click="showPopupReview([{lecture_no : lecture.uid, title : lecture.subject}])"></a>
              </div>
            </div>
            <button type="button" class="btn_report" v-if="lecture.exam_status !== '미응시'" @click="setDataTestReport(lecture.mys_uid)"></button>
          </div>
        </div>
        <div class="notifi" v-else>
          <h5>수강 중인 모의고사가 없습니다.</h5>
          <div class="img"><img src="~/assets/img/icon-media.png" alt=""></div>
          <p>무슨 강의를 들을지 모르시겠다구요?
            유이니가 <span>1:1 맞춤 강의</span>를 <span>추천</span>해드릴게요!
          </p>
          <a href="https://www.letuin.com/notice.php?action=custom_lecture" title="" class="btn_apply">1:1맞춤강의 상담신청</a>
        </div>
      </div>
    </div>
<!--    <div class="nav-bt blue flex-center w100">-->
<!--      <nuxt-link to="/academy-main" class="flex-center">강의추가 수강신청하기 <i class="icon icon-play"></i></nuxt-link>-->
<!--    </div>-->
    <button type="button" class="backtop">backtop</button>
    <TestReport :data="dataTestReport"></TestReport>
    <ReviewWR :lecture_info_review="dataReview"></ReviewWR>
  </main>
</template>

<script>
import {MyClassApiService} from "../../store/service.api";
import {formatDate} from "../../common/helpers";
import ReviewWR from "../../components/modal/ReviewWR";
import TestReport from "../../components/modal/TestReport";
import {mapGetters} from "vuex";

export default {
  name: "index",
  middleware : 'auth',
  components: {ReviewWR, TestReport},
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser']),
  },
  async asyncData(context){
    let params = {};
    context.$auth.$state.user.id
    // params.user_id = 'admin'
    if(context.query && context.query.option){
      params.option = context.query.option;
    }
    params.user_id = context.$auth.$state.user.id;
    let datas = await Promise.all([
      MyClassApiService.getListLecturePractice(params)
    ])
    let listLecturePractice = [];
    if(context.query.option) {
      let optionCurrent = Object.keys(datas[0].data.lectures).filter(item => {
        return item === context.query.option;
      })
      listLecturePractice = datas[0].data.lectures[optionCurrent[0]];
    } else {
      listLecturePractice = datas[0].data.lectures['전체'];
    }
    return {
      listAllLecture : datas[0].data.lectures,
      listLecturePractice : listLecturePractice,
      counter : datas[0].data.counter
    }
  },

  data(){
    return {
      registered : '미응시',
      not_register : '응시완료',
      dataTestReport : {
        result1 : [],
        result2 : [],
        test_report: {}
      },
      dataReview : []
    }
  },

  created() {
  },

  methods : {
    unescapeHTML(escapedHTML) {
      return escapedHTML.replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&');
    },
    showPopupReview(data){
      this.dataReview = data;
      $('#modal-review').modal('show');
    },
    getCountByStatus(status){
      return this.counter[status];
    },
    async selectActiveOption(event, option){
      this.registered = 1;
      this.not_register = 1;
      let elements = document.getElementsByClassName('optionPractice active');
      while(elements.length > 0){
        elements[0].classList.remove('active');
      }

      if(!$(event.target).parent('.optionPractice').length){
        $(event.target).addClass('active');
      }else{
        $(event.target).parent().addClass('active');
      }

      await this.$router.push({path: '/practice-test', query: {option: option}})

      let data = await MyClassApiService.getListLecturePractice({user_id : this.$auth.$state.user.id})
      if(data.code === 'SUCCESS'){
        this.listLecturePractice = data.data.lectures
        let optionCurrent = Object.keys(this.listLecturePractice).filter(item => {
          return item === option;
        })
        this.listLecturePractice = this.listLecturePractice[optionCurrent];
      }
    },
    isActive(option){
      return this.$route.query && option === this.$route.query.option
    },
    formatDate(date) {
      return formatDate(date)
    },
    getCountByOption(registered, status){
      let optionCurrent = Object.keys(this.listAllLecture).filter(item => {
        return item === status;
      })
      return Object.values(this.listAllLecture[optionCurrent[0]]).filter(lecture => {
        return lecture.exam_status === registered;
      }).length
    },
    filterLectureOption(event, statusEvent, elements, otherStatus){
      let checkedEvent = $(event.target).is(":checked")
      let checkedOther = $(elements).is(":checked")
      let status = this.$route.query.option ? this.$route.query.option : '전체';
      let lectureCurrent = Object.values(this.listAllLecture[status]);
      let list = []
        if (checkedEvent) {
            list = list.concat(lectureCurrent.filter(item => {
                return item.exam_status === statusEvent;
            }))
        }
        if (checkedOther) {
          list = list.concat(lectureCurrent.filter(item => {
            return item.exam_status === otherStatus;
          }))
        }
      this.listLecturePractice = list;
    },
    getCategory(lecture) {
      let category = ''
      for (const [key, value] of Object.entries(this.listAllLecture)) {
        if (value.length == 0 || key == "전체") {
          continue;
        } else {
          let check = value.find(item => item.uid == lecture.uid)
          if (typeof check !== 'undefined') {
            category = key
            break ;
          }
        }
      }
      return category
    },
    async setDataTestReport(mys_uid){
      let params = {mystudy_uid : mys_uid, user_id : this.$auth.$state.user.id}
      let res = await MyClassApiService.getDataTestReport(params);
      if(res.code === 'SUCCESS'){
        this.dataTestReport = res.data;
      }
      $('#modal-testreport').modal('show')
    }
  }

}
</script>

<style scoped>
  .full_with{
    width: 100%;
  }
  .ended .content__header, .practive .content__header, .selfintro .content__header1 {
    max-width: 84%;
  }
  .emplyee .item__scroll, .ended .item__scroll, .practive .item__scroll, .selfintro .item__scroll1 {
    width: 100% !important;
  }
</style>
