<template>
  <ul class="nav-link nav-link-lc flex top-menu">
    <li v-for="(item, key) in data" class="abcdefgh" @click="focusComponents(splitString(item)[1], $event)">
      <a   title=""  :class="[splitString(item)[1].split('#')[1], 'tab-scroll']">{{key}}<span v-if="parseInt(splitString(item)[0])">({{splitString(item)[0]}})</span></a>
    </li>
  </ul>
</template>

<script>
  export default {
    name: "single_package",
    props : ['data'],
    methods: {
      focusComponents(item, e) {
        // if (!$(e.target).hasClass('active')) {
        //   $('html, body').animate({
        //     scrollTop: $(item).offset().top
        //   }, 500, 'easeInOutQuad');
        // }
        location.href = item;

          let tag = $(e.target)
          if (tag.parent("li").length) {
            tag = tag.parents("li");
          }
          $(".abcdefgh").removeClass('active');
        $(".abcdefgh a").removeClass('active');
        $(".abcdefgh span").removeClass('active');
          tag.addClass('active')
      },
      splitString(string, pattern = ',') {
        return string.split(pattern);
      }
    },
    mounted() {
      $(document).ready(function () {
        $(window).scroll(function () {
          let scrollItem = $('.button-tab').map(function () {
            if (($(this).offset().top - 300)  <= 0) {
              return this;
            }
          })

          if (scrollItem.length) {
            let lastElement = scrollItem[scrollItem.length - 1];
            let idElement = $(lastElement).attr('id');
            $(".abcdefgh").removeClass('active');
            $(".abcdefgh a").removeClass('active');
            $(".abcdefgh span").removeClass('active')
            $("." + idElement).parent('.abcdefgh').addClass('active');
          }
        })
      })
    }
  }
</script>

<style scoped>
  .active {
    color: blue !important;
  }
  .top-menu {
    justify-content: left;
  }
</style>
