<template>
  <div class="post">
    <div class="post__header">
      <p>{{ data.summary.length > 30 ? data.summary.substr(0, 30) + '...' : data.summary }}</p>
      <a @click="gotoDetail(data)"><h3>{{ data.subject.length > 45 ? data.subject.substr(0, 45) + '...' : data.subject }}</h3></a>
    </div>
    <div class="post__detail flex">
      <a @click="gotoDetail(data)" class="img-thumbnail pr"><img :src="url + '/data_user/' + getTailImage(data)">
        <span class="tagtb red" v-if="data.status">{{ data.status }}</span>
      </a>
      <div class="detail">
        <div class="tag flex">
          <span v-show="data.support_opt != ''" v-for="item in data.support_opt.split('|')" :class="item">{{item}}</span>
          <span @click="createPop(url + '/sampleView.php?val=' + data.movieurl, 'new_window')"  class="black" v-if="data.movieurl">샘플강의</span>
          <span class="retake" v-if="data.retake === 'Y'">재구매 할인</span>
        </div>
        <div class="discount flex-lc" v-show="this.percent">
          <div class="flex-lc"><span class="flex-lc">{{ this.percent }}% <i class="icon icon-discount"></i></span></div>
          <p>{{ formatCurrency(this.price - 0) }}원</p>
        </div>
        <div class="price">{{ formatCurrency(this.price - this.discount) }}원</div>
        <div class="info flex">
          <p>{{ this.period }}일</p>
          <p>총 {{ data.data_lec }}강</p>
        </div>
        <div class="follow pr navbar">
          <h5 class="flex-lc">  {{ this.teachers[0] + (this.teachers.length > 1 ? ' 외 ' + pad((this.teachers.length - 1)) + ' 명' : '') }}</h5>
          <button type="button" class="btn_collapse dr" @click="openList()" v-show="(this.teachers.length > 1)"></button>
          <ul class="follow__list flex" v-show="(this.teachers.length > 1)" @click="closeList">
            <li v-for="teacher in this.teachers">{{ teacher }}</li>
          </ul>
        </div>
        <div class="review flex-lc">
          <div class="rating pr"><div class="value" :style="'width:' + Math.round(data.star/5*100) + '%'"></div></div>
          <p>REVIEW <a @click="gotoDetail(data)"><span>({{ data.view }}건)</span></a></p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import {formatCurrency} from "../../common/helpers";

    export default {
        name: "Item",
        props: ['data', 'url'],
        data() {
          return {
            price: 0,
            discount: 0,
            percent: 0,
            period: 0,
            teacher: '',
            PACK: "package",
            MOV: "lecture",
            teachers: []
          }
        },
        created() {
          let amount = ''
          if (this.$props.data.pack_amount_info) {
            amount = this.$props.data.pack_amount_info.split(',')
          }
          else if (this.$props.data.pack_amount_info2) {
            amount = this.$props.data.pack_amount_info2.split(',')
          }
          else if (this.$props.data.pack_amount_info3) {
            amount = this.$props.data.pack_amount_info3.split(',')
          }
          this.price = amount[1];
          this.period = amount[0];
          this.discount = this.price - amount[2];
          this.percent = Math.round(this.discount / this.price * 100)

          let teachers = this.$props.data.teacher_text
          this.teachers = teachers.split(',')
        },
        methods: {
          pad(d) {
            return (d < 10) ? '0' + d.toString() : d.toString();
          },
          formatCurrency(money) {
            return formatCurrency(money)
          },
          getTailImage(item) {
            return item.lec_type === 'PACK' ? this.PACK + '/' + item.no + '/' + item.img : this.MOV + '/' + item.code + '/' + item.img
          },
          openList() {
            $('.btn_collapse').on('click', function (e) {
                $(this).parent().toggleClass('show')
            })
          },
          closeList() {
            $('.follow__list').on('click', function (e) {
              $(this).parent().removeClass('show')
            })
          },
          createPop(url, name)
          {
            let newwindow=window.open(url,name,'width=798,height=453,menubar=0');
            if (window.focus) {newwindow.focus()}
          },
          gotoDetail(item, review = null) {
            if (item.no == "668") {
                window.open('https://www.letuin.com/lecture.php?action=sfreepass', '_blank');
                return;
            } else if (item.no == 774 || item.no == 775 || item.no == 776 || item.no == 802 || item.no == 803 || item.no == 807 || item.no == 808) {
              window.open('https://www.letuin.com/promotion.php?action=GsatFreePass', '_blank');
              return;
            }
            if (item.lec_type === 'PACK') {
              if (review) {
                this.$router.push('/details/package/' + item.no + '?review=true')
              } else {
                this.$router.push('/details/package/' + item.no)
              }
            } else {
              if (item.is_off === "B") {
                this.$router.push('/details/companybook/' + item.no)
                return ;
              }
              if (review ) {
                this.$router.push('/details/single/' + item.no + '?review=true')
              } else {
                this.$router.push('/details/single/' + item.no)
              }
            }
          }
        }
    }
</script>

<style scoped>
  .box-post .post .tag, .page-search .post .tag {
    margin-bottom: 0 !important;
  }
  .box-post .post .tag span, .page-search .post .tag span {
    margin-bottom: 5px !important;
  }
  .box-post .post .tag span:nth-of-type(4), .page-search .post .tag span {
    margin-left: 0 !important;
  }
</style>
