<template>
  <main class="classroom-online">
    <div class="head_title pr">
      <button type="button" class="back btn-back">
        <img src="~/assets/img/arr-r.png" alt="">
      </button>
      <h1>수강중 패키지 강좌</h1>
    </div>
    <div class="page-lecture">
      <div class="select pr">
        <select name="" id="">
          <option>{{package.subject}}</option>
        </select>
      </div>
      <div class="info flex" v-if="study">
        <div class="time col-5">{{formatDate(study.startdate)}} ~ <span>{{formatDate(study.enddate)}}</span></div>
        <div class="day col-3"><p><span>{{ diffDayNow(study.enddate) }}</span>일</p>남은일수</div>
        <div class="process active col-4"><span>{{Math.round(process_rate)}}％</span> 진도율</div>
      </div>
      <div class="box-select">
        <h5>※ 수강하려는 강의명을 선택해주세요 ( {{ lectures.length }} )</h5>
        <div class="select pr">
          <select name="lecture_id" @change="chooseLecture()">
            <option v-for="lecture in lectures" :value="lecture.code" :selected="lecture.code == code" >{{ lecture.title }}</option>
          </select>
        </div>
      </div>
      <div class="lecture pb-0">
        <h4>커리큘럼 ({{movies.length}})</h4>
        <div class="lecture__list bg-gray" v-if="movies.length > 0">
          <div class="item flex" v-for="(movie, key) in movies" :key="key">
            <div class="content">
              <div class="detail flex-lc">
                <h5>{{movie.order_no}}차시</h5>
                <span>{{movie.playtime}}분 {{movie.playstime}}초</span>
                <span class="ml-auto">진도율: <small>{{Math.round(movie.mov_process)}}</small> %</span>
              </div>
              <h3>
                {{movie.name}}
              </h3>
            </div>
            <a @click="goToMovie(movie)" target="_blank" class="btn_play"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="nav-bt flex">
      <div class="col-6">
        <a href="javascript:;" @click="openModal($event)" class="link_wr flex-center"><i class="icon icon-wr"></i> 후기작성</a>
      </div>
      <div class="col-6">
        <a href="javascript:;"  @click="showPopUpContactUs('#modal-contactus-wt','#modal-logout', '전체')" class="link_qa flex-center"><i class="icon icon-qa"></i> 강의질문</a>
      </div>
    </div>
    <ReviewWR :lecture_info_review="lecture_review" ></ReviewWR>
    <LUM_MR_PlayLC_Pop :movie="selectedMovie" :url="url" :list="movies" :study="study" :lecture="lecture"></LUM_MR_PlayLC_Pop>
    <button type="button" class="backtop">backtop</button>
  </main>
</template>

<script>
import {LectureOnlineService} from "../../../../store/service.api";
import {diffDayNow, formatDate} from "../../../../common/helpers";
import {mapGetters} from 'vuex'
import {API_URL} from "../../../../config";
import LUM_MR_PlayLC_Pop from "../../../../components/modal/LUM_MR_PlayLC_Pop";
import ReviewWR from "../../../../components/modal/ReviewWR";

export default {
  name: "classroom-package",
  mounted() {
    $('.backtop').on('click',function () {
      $('html,body').animate({scrollTop: 0},300);
    });
  },
  components: {
    LUM_MR_PlayLC_Pop,
    ReviewWR
  },
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser']),
  },
  created() {
    this.code = this.$route.query.code;
    let params = {uid : this.$route.params.uid , user_id : this.loggedInUser.id, mys_uid : this.$route.params.id, code: this.code}
    LectureOnlineService.getPackageMovieInfo(params).then(res => {
      if(res.code === 'SUCCESS'){
        this.movies = res.data.movies ?? [];
        this.process_rate = res.data.process_rate
        this.package = res.data.package[0]
        this.lectures = res.data.package_lectures
        this.lectures = this.lectures.filter(item => {
          if(item) {
            return item
          }
        })
        this.lecture_review = this.lectures.map(item => {
          let data = {
            lecture_no: item.no,
            title: item.title
          }
          return data
        })
        this.lecture = this.lectures.find(item => item.code === this.code )
        this.study = res.data.myStudyInfo
      }
    })
  },
  methods : {
    showPopUpContactUs(element, closeElement = null, key = null, previous_tab = null) {
      if (key) this.tabActive = key;
      this.createAsk = true;
      this.dataView = null;
      this.showPop(element, closeElement);
      if (previous_tab) {
        this.$cookies.set('previous_tab', null)
      }
    },
    showPop(element, closeElement = null) {
      this.$cookies.set('backToIndex', true)
      $(element).modal('show');
      closeElement ? $(closeElement).modal('hide') : 0;
    },
    openModal(e) {
      $(e.target).parents('.classroom-online').find('.modal-review').modal('show');
    },
    formatDate(date){
      return formatDate(date);
    },
    getDataMovie() {
      let params = {uid : this.$route.params.uid , user_id : this.loggedInUser.id, mys_uid : this.$route.params.id, code: this.code}
      LectureOnlineService.getPackageMovieInfo(params).then(res => {
        if(res.code === 'SUCCESS'){
          this.movies = res.data.movies ?? [];
        }
      })
    },
    diffDayNow(date) {
      return diffDayNow(date)
    },
    goToMovie(movie) {
      this.lecture = this.lectures.find(item => item.code === this.$route.query.code )
      this.selectedMovie = movie
      LectureOnlineService.kollusVideo({
        clientUserId: this.loggedInUser.id,
        mediaContentKey: movie.movie_url,
        lecture_no: this.lecture.no,
        muid: this.study.uid,
        orderId: movie.category_order,
        lecture_code: this.lecture.code
      }).then(res => {
        this.url = res.data.url
      })
      $('#modal-video').modal('show');
    },
    chooseLecture() {
      let code = $('select[name="lecture_id"]').val()
      this.code = code
      this.$router.push('/olc-classroom/package/' + this.$route.params.uid + '/' +  this.$route.params.id + '?code=' + code)
      this.getDataMovie()
    }
  },
  data(){
    return {
      movies : [],
      lectures: [],
      process_rate : 0,
      code: 0,
      package : {},
      study: {},
      API_URL: API_URL,
      selectedMovie: {},
      url: '',
      lecture: {},
      lecture_review: []
    }
  }
}
</script>

<style scoped>

</style>
