<template>
  <main>
    <div class="category pr">
      <ul class="category__list category__list--1 flex">
        <li><a href="" title="">수강신청</a></li>
        <li><a href="" title=""> 패키지 <br> 수강신청 </a></li>
        <li><a href="" title="">NCS수료증 <br> 발급강의 </a></li>
      </ul>
      <ul class="category__list category__list--2 flex" style="display: none">
        <li><a href="" title="">수강신청</a></li>
        <li><a href="" title=""> 패키지 <br> 수강신청 </a></li>
        <li><a href="" title="">NCS수료증 <br> 발급강의 </a></li>
      </ul>
      <button type="button" class="btn_collapse"></button>
    </div>
    <div class="box-time flex">
      <div class="icon icon-time"><img src="~/assets/img/clock.png" alt=""></div>
      <div class="count_down">
        <div class="flex">
          <div class="down days">
            <span class="time"></span>
            <span class="txt">일</span>
          </div>
          <div class="down hours">
            <span class="time"></span>
            <span class="space">:</span>
          </div>
          <div class="down minutes">
            <span class="time"></span>
            <span class="space">:</span>
          </div>
          <div class="down seconds">
            <span class="time"></span>
          </div>
        </div>
        <div class="text">0원 프리패스 마감</div>
      </div>
      <a href="" class="btn_apply flex-center ml-auto" title="수강신청">수강신청</a>
    </div>
    <div class="setup pr">
      <h5>맞춤강의 상세 조건을 설정하세요.</h5>
      <button type="button" class="btn_setup">+ 설정하기</button>
      <button type="button" class="btn_reset" onClick="history.go(0);"></button>
    </div>
    <div class="keyword pr">
      <ul class="keyword__list flex">
        <li>
          <span>기업별 전공</span>
          <button type="button" class="close"></button>
        </li>
        <li>
          <span>기계</span>
          <button type="button" class="close"></button>
        </li>
        <li>
          <span>기계</span>
          <button type="button" class="close"></button>
        </li>
        <li>
          <span>기계</span>
          <button type="button" class="close"></button>
        </li>
        <li>
          <span>기계</span>
          <button type="button" class="close"></button>
        </li>
        <li>
          <span>기계</span>
          <button type="button" class="close"></button>
        </li>
        <li>
          <span>기계</span>
          <button type="button" class="close"></button>
        </li>
        <li>
          <span>기계</span>
          <button type="button" class="close"></button>
        </li>
        <li>
          <span>기계</span>
          <button type="button" class="close"></button>
        </li>
        <li>
          <span>기계</span>
          <button type="button" class="close"></button>
        </li>
      </ul>
      <button type="button" class="keyword__toggle"></button>
    </div>
    <div class="box-post mb-ft">
      <div class="header flex-lc">
        <h4>총 199 건</h4>
        <div class="checkbox__list flex ml-auto">
          <label class="flex-lc">
            추천순
            <input type="checkbox" checked>
            <span class="checked flex-center ml-2"></span>
          </label>
          <label class="flex-lc">
            최신순
            <input type="checkbox">
            <span class="checked flex-center ml-2"></span>
          </label>
        </div>
      </div>
      <div class="listpost bg_gray">
        <div class="post">
          <div class="post__header">
            <p>검증된 강의로 자소서+안적성+면접 한 번에 준비한다!</p>
            <h3>삼성 프리패스 3+1개월 종합반</h3>
          </div>
          <div class="post__detail flex">
            <a href="" class="img-thumbnail pr"><span class="tagtb red">마감임박</span></a>
            <div class="detail">
              <div class="tag flex">
                <span class="new">New</span>
                <span class="best">Best</span>
                <span class="black">샘플강의</span>
              </div>
              <div class="discount flex-lc">
                <div class="flex-lc"><span class="flex-lc">36% <i class="icon icon-discount"></i></span></div>
                <p>299,000원</p>
              </div>
              <div class="price">189,000원</div>
              <div class="info flex">
                <p>120일</p>
                <p>총 1169강</p>
              </div>
              <div class="follow pr navbar">
                <h5 class="flex-lc">정지성 외 7 명</h5>
                <button type="button" class="btn_collapse dr"></button>
                <ul class="follow__list flex">
                  <li>나상무</li>
                  <li>정지성</li>
                  <li>주영훈</li>
                  <li>우종석</li>
                  <li>안재형</li>
                  <li>한승아</li>
                  <li>박창민</li>
                  <li>석동훈</li>
                </ul>
              </div>
              <div class="review flex-lc">
                <div class="rating pr">
                  <div class="value" style="width: 60%"></div>
                </div>
                <p>REVIEW <span>(56건)</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="post">
          <div class="post__header">
            <p>자소서부터 면접까지, 최종 합격! “직무”에 대한 이해가 관건이다!</p>
            <h3>(Lv.1 첫걸음) 반도체 엔지니어가 하는 일 - 삼성전자DS 직무</h3>
          </div>
          <div class="post__detail flex">
            <a href="" class="img-thumbnail pr"><span class="tagtb blue">마감임박</span></a>
            <div class="detail">
              <div class="tag flex">
                <span class="best">Best</span>
              </div>
              <div class="discount flex-lc">
                <div class="flex-lc"><span class="flex-lc">36% <i class="icon icon-discount"></i></span></div>
                <p>100,000원</p>
              </div>
              <div class="price">80,000원</div>
              <div class="info flex">
                <p>120일</p>
                <p>총 1169강</p>
              </div>
              <div class="follow pr navbar">
                <h5 class="flex-lc">정지성 외 7 명</h5>
                <button type="button" class="btn_collapse dr"></button>
                <ul class="follow__list flex">
                  <li>나상무</li>
                  <li>정지성</li>
                  <li>주영훈</li>
                  <li>우종석</li>
                  <li>안재형</li>
                  <li>한승아</li>
                  <li>박창민</li>
                  <li>석동훈</li>
                </ul>
              </div>
              <div class="review flex-lc">
                <div class="rating pr">
                  <div class="value" style="width: 60%"></div>
                </div>
                <p>REVIEW <span>(56건)</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="post">
          <div class="post__header">
            <p>자소서부터 면접까지, 최종 합격! “직무”에 대한 이해가 관건이다!</p>
            <h3>(Lv.1 첫걸음) 반도체 엔지니어가 하는 일 - 삼성전자DS 직무</h3>
          </div>
          <div class="post__detail flex">
            <a href="" class="img-thumbnail pr"><span class="tagtb blue">마감임박</span></a>
            <div class="detail">
              <div class="tag flex">
                <span class="best">Best</span>
              </div>
              <div class="discount flex-lc">
                <div class="flex-lc"><span class="flex-lc">36% <i class="icon icon-discount"></i></span></div>
                <p>100,000원</p>
              </div>
              <div class="price">80,000원</div>
              <div class="info flex">
                <p>120일</p>
                <p>총 1169강</p>
              </div>
              <div class="follow pr navbar">
                <h5 class="flex-lc">정지성 외 7 명</h5>
                <button type="button" class="btn_collapse dr"></button>
                <ul class="follow__list flex">
                  <li>나상무</li>
                  <li>정지성</li>
                  <li>주영훈</li>
                  <li>우종석</li>
                  <li>안재형</li>
                  <li>한승아</li>
                  <li>박창민</li>
                  <li>석동훈</li>
                </ul>
              </div>
              <div class="review flex-lc">
                <div class="rating pr">
                  <div class="value" style="width: 60%"></div>
                </div>
                <p>REVIEW <span>(56건)</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="backtop">backtop</button>
  </main>
</template>

<script>
export default {
  name: "a",
  layout: "header-update"
}
</script>

<style scoped>

</style>
