<template>
 <AlarmPopup></AlarmPopup>
</template>

<script>

import AlarmPopup from "../../components/modal/AlarmPopup";
export default {
  name: "alarm",
  components : {
    AlarmPopup
  },
  layout : "header-online",
  mounted() {
    $('#modal-notice').modal('show');

  }
}
</script>

<style scoped>

</style>
