<template>
<BookDeliveryStatusPopNoList></BookDeliveryStatusPopNoList>
</template>

<script>
import BookDeliveryStatusPopNoList from "../../components/modal/BookDeliveryStatusPopNoList";

export default {
  name: "bookDSPNL",
  components : {
    BookDeliveryStatusPopNoList
  },
  mounted() {
    $('#modal-status').modal('show');
  }
}
</script>

<style scoped>

</style>
