<template>
  <BookDeliveryStatusPopup></BookDeliveryStatusPopup>
</template>

<script>

import BookDeliveryStatusPopup from "../../components/modal/BookDeliveryStatusPopup";
export default {
  name: "book-delivery-status",
  middleware : 'auth',
  components : {
    BookDeliveryStatusPopup
  },
  mounted() {
    $('#modal-status-pop').modal('show')
  }
}
</script>

<style scoped>

</style>
