<template>
<Certificates></Certificates>
</template>

<script>
import Certificates from "../../components/modal/Certificates";
export default {
  name: "certificate",
  components : {
    Certificates
  },
  mounted() {
    $('#modal-certificates').modal('show');
  }
}
</script>

<style scoped>

</style>
