<template>
  <FreepassNCSInfo></FreepassNCSInfo>
</template>

<script>
import FreepassNCSInfo from "../../components/modal/FreepassNCSInfo";

export default {
  name: "freepass-ncs-info",
  components: {
    FreepassNCSInfo
  },
  mounted() {
    $('#modal-freepassinfo').modal('show');
  }
}
</script>

<style scoped>

</style>
