<template>
  <FreepassNCSInfoPop1></FreepassNCSInfoPop1>
</template>

<script>
import FreepassNCSInfoPop1 from "../../components/modal/FreepassNCSInfoPop1";

export default {
  name: "freepass-ncs-info-pop1",
  components: {
    FreepassNCSInfoPop1
  },
  mounted() {
    $('#modal-ncsinfo').modal('show');
  }
}
</script>

<style scoped>

</style>
