<template>
  <FreepassInfo></FreepassInfo>
</template>

<script>
import FreepassInfo from "../../components/modal/FreepassInfo";

export default {
  name: "freepass-info",
  components: {
    FreepassInfo
  },
  mounted() {
    $('#modal-freepassinfo').modal('show');
  }
}
</script>

<style scoped>

</style>
