<template>
<LUM_MP_LetMoneyPop></LUM_MP_LetMoneyPop>
</template>

<script>
import LUM_MP_LetMoneyPop from "../../components/modal/LUM_MP_LetMoneyPop";
export default {
  name: "let-money",
  components : {
    LUM_MP_LetMoneyPop
  },
  mounted() {
    $('#modal-letmoney').modal('show');
  }
}
</script>

<style scoped>

</style>
