<template>
  <RefundStatus1></RefundStatus1>
</template>

<script>
import RefundStatus1 from "../../components/modal/RefundStatus1";

export default {
  name: "refund-status-1",
  middleware : ['authenticate'],
  components: {
    RefundStatus1
  },
  mounted() {
    $('#modal-refundstatus').modal('show');
  }
}
</script>

<style scoped>

</style>
