<template>
<RefundStatus2></RefundStatus2>
</template>

<script>
import RefundStatus2 from "../../components/modal/RefundStatus2";
export default {
  name: "refund-status-2",
  components: {
    RefundStatus2
  },
  mounted() {
    $('#modal-refundstatus').modal('show');
  }
}
</script>

<style scoped>

</style>
