<template>
<RFApplication1></RFApplication1>
</template>

<script>
import RFApplication1 from "../../components/modal/RFApplication1";
export default {
  name: "rfa-application1",
  components: {
    RFApplication1
  },
  mounted() {
    $('#modal-rfa').modal('show');
  }
}
</script>

<style scoped>

</style>
