<template>
  <TestReport></TestReport>
</template>

<script>
import TestReport from "../../components/modal/TestReport";

export default {
  name: "test-report",
  components: {
    TestReport
  },
  mounted() {
    $('#modal-testreport').modal('show');
  }
}
</script>

<style scoped>

</style>
