<template>
  <main>
    <div class="category pr">
      <ul class="category__list category__list--1 flex">
        <li><a :href="url_public + '/promotion.php?action=LmsFreeStudy'" target="_blank" title="독한 스터디">독한 스터디</a></li>
        <li><a href="/lecture/public?limit=10&offset=0&order_type=C&field=teacher_id&lec_type=online&keyword_new=&category=08"> 수강신청 </a></li>
        <li><a :href="url_public + '/promotion.php?action=300_free'" target="_blank">300%환급 <br>  프리패스 </a></li>
      </ul>
      <ul class="category__list category__list--2 flex" style="display: none">
        <li><a :href="url_public + '/promotion.php?action=ncsOnline'" target="_blank">NCS 온라인 <br> 모의고사</a></li>
        <li><a :href="url_public + '/lecture.php?action=CompanyBook'" target="_blank">취업기업분석</a> </li>
        <li><a  href="/textbook-list">도서</a></li>
        <!--        <li><nuxt-link to="/">NCS <br>직업교육</nuxt-link></li>-->
      </ul>
      <button type="button" class="btn_collapse"></button>
    </div>
    <div class="textbooklist bg-gray mb-ft">
      <ul class="textbooklist__category flex">
        <li><a @click="getDataByOption(null)" type="" :class="!$route.query.code ? 'active' : ''">전체</a></li>
        <li><a @click="getDataByOption('01')" type="" :class="$route.query.code == '01' ? 'active' : ''">취업/면접</a></li>
        <li><a @click="getDataByOption('02')" type="" :class="$route.query.code == '02' ? 'active' : ''">직무적성검사</a></li>
        <li><a @click="getDataByOption('03')" type="" :class="$route.query.code == '03' ? 'active' : ''">자격증</a></li>
        <li><a @click="getDataByOption('05')" type="" :class="$route.query.code == '05' ? 'active' : ''">SW/IT취업</a></li>
        <li><a @click="getDataByOption('06')" type="" :class="$route.query.code == '06' ? 'active' : ''">공기업 NCS</a></li>
      </ul>
      <div class="textbooklist__post" v-if="listTextBook.length">
        <div class="post flex" v-for="(textBook, key) in listTextBook" :key="key">
          <a :href="textBook.link" target="_blank" class="post__img"><img :src="url + '/data_user/item/' + textBook.code + '_l1.png'" alt=""></a>
          <div class="post__content">
            <h3><a :href="textBook.link">{{textBook.name.length > 27 ? textBook.name.substr(0,27)+'...' :  textBook.name}}</a></h3>
            <p>{{textBook.basic.length > 47 ? textBook.basic.substr(0,47)+'...' :  textBook.basic}}</p>
            <a :href="textBook.link" target="_blank" title="" class="btn_order flex-center">주문하기</a>
          </div>
          <div class="post__bottom flex">
            <a class="flex-center" @click="showPopupCoupon()"><i class="icon icon-dl"></i> 구매 혜택받기</a>
            <a :href="textBook.link" target="_blank" class="flex-center"><i class="icon icon-check"></i> 정오표 확인</a>
          </div>
        </div>
        <scroll-loader :loader-method="loadMoreTextBook" :loader-enable="loadMore" v-show="loadMore">
        </scroll-loader>
      </div>
      <div class="notifi" v-else>
        <div class="img"><img src="~/assets/img/icon-book.png" alt=""></div>
        <h5>{{$route.query.code ? '"'+ getOptionSelect() + '"' : "" }} 에 대한 교재가 없습니다.</h5>
        <p>다른 교재 카테고리를 선택해 주세요.</p>
      </div>
    </div>
    <button type="button" class="backtop">backtop</button>
    <coupon-component @updateShowModal="closePopCoupon"  :coupons="coupons"></coupon-component>
  </main>
</template>

<script>
import {CouponApiService, LectureOnlineService, TextbookApiService} from "../../store/service.api";
import Coupon from "../../components/modal/Coupon";
import {URL_IMAGE, URL_PUBLIC} from "../../config";

export default {
  name: "index",
  components : {'coupon-component': Coupon},
  middleware : 'auth',
  data(){
    return{
      url_public: URL_PUBLIC,
      listTextBook : [],
      coupons : null,
      url: URL_IMAGE,
      loadMore: true,
      params : {
        offset: 0
      }
    }
  },
  async created() {
    let code = null;
    if (this.$route.query.code){
      code = this.$route.query.code;
    }
    await this.getDataByOption(code);
    this.coupons = await CouponApiService.get(this.$auth.$state.user.id ,{});
  },
  methods: {
    async loadMoreTextBook() {
      let limit = 10;
      this.params.offset =  this.params.offset + 10
      this.params.limit = limit
      if (this.$route.query.code){
        this.params.code = this.$route.query.code;
      }
      await TextbookApiService.getBookSaleList(this.params).then(res => {
        this.listTextBook = this.listTextBook.concat(res.data)
        this.load = true
        this.loadMore = res.data.length > 0
      })
    },
    closePopCoupon() {
      $('#modal-coupon').modal('hide');
    },
    async getDataByOption(code){
      this.params = {limit : 10, offset : 0}
      this.loadMore = true;
      if (code != null){
        this.params.code = code;
        await this.$router.push('/textbook-list?code=' + code);
      }else{
        await this.$router.push('/textbook-list');
      }
      let res = await TextbookApiService.getBookSaleList(this.params);
      if(res.code == 'SUCCESS'){
        this.listTextBook = res.data
      }
    },
    updateShowModal(item) {
      let showIndex = this.$cookies.get('backToIndex') || true
      if (showIndex) {
        this.closePop(item, '#modal-logout');
        return ;
      }
      $(item).modal('hide');
    },
    showPopupCoupon(){
      $('#modal-coupon').modal('show');
    },
    closePop(element, showElement = null){
      $(element).modal('hide');
      showElement ?  $(showElement).modal('show') : 0;
    },
    getOptionSelect(){
      if (this.$route.query.code){
        switch (this.$route.query.code){
          case "01": return '취업/면접'
          case "02": return '직무적성검사'
          case "03": return '자격증'
          case "05": return 'SW/IT취업'
          case "06": return '공기업 NCS'
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
