<template>
  <main>
    <div class="head_title pr">
      <h1>회원탈퇴</h1>
    </div>
    <div class="widthdrawal">
      <div class="widthdrawal__note">
        <p>
          그 동안 렛유인에 깊은 애정과 관심을 주셔서
          진심으로 감사 드립니다.
        </p>
        <p>
          회원탈퇴 후 다음과 같이 <span style="color: blue">{{ loggedInUser.nick ? loggedInUser.nick : loggedInUser.name }}</span>
          님의 개인정보가
          삭제 되오니 신중하게 선택하시기 바랍니다.
        </p>
      </div>
      <div class="widthdrawal__check">
        <h4>회원탈퇴 전 확인하세요!!</h4>
        <div class="box-text">
          <p>탈퇴 요청하신 “ <span style="color: blue">{{ loggedInUser.id }}</span>“ 아이디로 재가입은 불가능합니다.</p>

          <p>회원가입 시 입력한 개인정보는 모두 삭제 됩니다.</p>

          <p>
            현재 보유하신 포인트 <span> {{ formatMoney(loggedInUser.point, 'P ', ',') }}</span>와 렛머니 <span>10,000원</span>
            그리고 할인쿠폰은 <span>모두 삭제</span>됩니다.
          </p>

          <p>
            부득이한 사정으로 수강이 불가한 경우, 최대 1회, 15일 수강을
            일시 중지하실 수 있습니다. (패키지 및 특정 강좌 휴강 제외)
          </p>
        </div>
      </div>
      <div class="widthdrawal__confirm">
        <h4>비밀번호 확인</h4>
        <p>고객님의 회원정보를 안전하게 보호하기 위해 비밀번호를
          다시 한 번 확인 합니다.
        </p>
        <form action="" class="widthdrawal__form">
          <input type="password" name="" placeholder="비밀번호 입력" v-model="password"  :class="[{ 'input-error': $v.password.$error}]">
          <button type="button" class="btn_submit" @click="withDraw">회원탈퇴</button>
        </form>
        <div v-if="$v.password.$error">
          <div class="error">{{ getMessage($v.password, "password", 6, 12) }}</div>
        </div>
      </div>
    </div>
    <ConfirmMainBanAction @actionEvent="logOut" :title="title"></ConfirmMainBanAction>
  </main>
</template>

<script>
import {mapGetters} from "vuex";
import {formatMoney} from "../../common/helpers";
import {alphaNum, maxLength, minLength, required} from "vuelidate/lib/validators";
import {AuthService} from "../../store/service.api";
import {msgValidate} from "../../common/register_validate";
import ConfirmMainBanAction from "../../components/modal/ConfirmMainBanAction";

export default {
  name: "index",
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser']),
  },
  middleware : ['authenticate'],
  components: {
    ConfirmMainBanAction
  },
  methods: {
    formatMoney(val, currency, format) {
      return formatMoney(val, currency, format);
    },
    withDraw() {
      this.$v.password.$reset()
      this.$v.password.$touch()
      if (this.$v.password.$error) {
        return;
      }
      AuthService.withDraw({
        password : this.password,
        reason : 'minh thich'
      }).then(e => {
       this.title = e.data
        $('#modal-confirm-action').modal('show');
      });
    },
    getMessage(v, field, value) {
      return msgValidate(v, field, value)
    },
    async logOut() {
      await this.$auth.logout();
      $('#modal-confirm-action').modal('hide');
      this.$router.push('/');
    },
  },
  watch : {
    password(newVal)  {
      if (newVal) {
        if (!$('.btn_submit').hasClass('active')) {
          $('.btn_submit').addClass('active');
        }
      } else {
        $('.btn_submit').removeClass('active');
      }
    }
  },
  data() {
    return {
      password: '',
      reason: '',
      title: ''
    }
  },
  validations: {
    password: {
      minLength: minLength(6),
      maxLength: maxLength(12),
      alphaNum,
      required
    }
  }
}
</script>

<style scoped>
div.error {
  font-size: 13px;
}
</style>
