<template>
  <main class="classroom-online">
    <div class="head_title pr">
      <button type="button" class="back btn-back">
        <img src="~/assets/img/arr-r.png" alt="">
      </button>
      <h1> 수강중 단과 강좌</h1>
    </div>
    <div class="page-lecture">
      <div class="select pr">
        <select name="" id="">
          <option>{{lecture.title}}</option>
        </select>
      </div>
      <div class="info flex" v-if="study">
        <div class="time col-5">{{formatDate(study.startdate)}} ~ <span>{{formatDate(study.enddate)}}</span></div>
        <div class="day col-3"><p><span>{{ diffDayNow(study.enddate) }}</span>일</p>남은일수</div>
        <div class="process active col-4"><span>{{parseInt(process_rate)}}％</span> 진도율</div>
      </div>
      <div class="lecture pb-0">
        <h4>커리큘럼 ({{movies.length}})</h4>
        <div class="lecture__list bg-gray" v-if="movies.length > 0">
          <div class="item flex" v-for="(movie, key) in movies" :key="key">
            <div class="content">
              <div class="detail flex-lc">
                <h5>{{movie.order_no}}차시</h5>
                <span>{{movie.playtime}}분 {{movie.playstime}}초</span>
                <span class="ml-auto">진도율: <small>{{Math.round(movie.mov_process)}}</small> %</span>
              </div>
              <h3>
               {{movie.name}}
              </h3>
            </div>
            <a @click="goToMovie(movie)" target="_blank" class="btn_play"></a>
<!--            <iframe v-bind:src="goToMovie(movie)" class="embed-responsive-item" allowfullscreen=""></iframe>-->
          </div>
        </div>
      </div>
    </div>
    <div class="nav-bt flex">
      <div class="col-6">
        <a href="javascript:;" @click="openModal($event)" class="link_wr flex-center"><i class="icon icon-wr"></i> 후기작성</a>
      </div>
      <div class="col-6">
        <a href="javascript:;"  @click="showPopUpContactUs('#modal-contactus-wt','#modal-logout', '전체')" class="link_qa flex-center"><i class="icon icon-qa"></i> 강의질문</a>
      </div>
    </div>
    <LUM_MR_PlayLC_Pop :movie="selectedMovie" :url="url" :list="movies" :lecture="lecture" :study="study"></LUM_MR_PlayLC_Pop>
    <ReviewWR :lecture_info_review="[{lecture_no : lecture.no, title : lecture.title}]" ></ReviewWR>
    <ConfirmMainBanNoAction  :title="message"></ConfirmMainBanNoAction>
    <button type="button" class="backtop">backtop</button>
  </main>

</template>

<script>
import {LectureOnlineService} from "../../../../store/service.api";
import {diffDayNow, formatDate} from "../../../../common/helpers";
import LUM_MR_PlayLC_Pop from "../../../../components/modal/LUM_MR_PlayLC_Pop";
import ConfirmMainBanNoAction from "../../../../components/modal/ConfirmMainBanNoAction";
import {mapGetters} from 'vuex'
import {API_URL} from "../../../../config";
import ReviewWR from "../../../../components/modal/ReviewWR";

export default {
  name: "classroom-id",
  middleware: 'auth',
  head: {
    script: [
      {src: "/js/olc-classroom.js"}
    ]
  },
  components: {
    LUM_MR_PlayLC_Pop,
    ReviewWR,
    ConfirmMainBanNoAction
  },
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser']),
  },
  mounted() {
    $('.backtop').on('click',function () {
      $('html,body').animate({scrollTop: 0},300);
    });
  },
  created() {
    let params = {lecture_no : this.$route.params.no , user_id : this.loggedInUser.id, mys_uid : this.$route.params.id}
    LectureOnlineService.getLectureMovieInfo(params).then(res => {
        if(res.code === 'SUCCESS'){
          this.movies = res.data.movies.data;
          if (res.data.length) {
            this.selectedMovie = res.data.movies.data[0]
          }
          this.process_rate = res.data.movies.total_movie_process
          this.lecture = res.data.lecture[0]
          this.study = res.data.myStudyInfo
        } else {
          this.$router.push('/online-lc')
        }
    })
  },
  methods : {
    alert(title) {
      this.message = title;
      $(".classroom-online").find('#modal-no-action').modal('show');
    },
    showPopUpContactUs(element, closeElement = null, key = null, previous_tab = null) {
      if (key) this.tabActive = key;
      this.createAsk = true;
      this.dataView = null;
      this.showPop(element, closeElement);
      if (previous_tab) {
        this.$cookies.set('previous_tab', null)
      }
    },
    showPop(element, closeElement = null) {
      this.$cookies.set('backToIndex', true)
      $(element).modal('show');
      closeElement ? $(closeElement).modal('hide') : 0;
    },
    openModal(e) {
      // if (this.process_rate < this.lecture.pass_rate) {
      //   this.alert('리뷰를 작성하려면 ' + this.lecture.pass_rate + '% 이상 공부해야합니다.')
      //   return;
      // }
      $(e.target).parents('.classroom-online').find('.modal-review').modal('show');
    },
    formatDate(date){
      return formatDate(date);
    },
    diffDayNow(date) {
      return diffDayNow(date)
    },
    goToMovie(movie) {
      this.selectedMovie = movie
      LectureOnlineService.kollusVideo({
        clientUserId: this.loggedInUser.id,
        mediaContentKey: movie.movie_url,
        lecture_no: this.lecture.no,
        muid: this.study.uid,
        orderId: movie.category_order,
        lecture_code: this.lecture.code
      }).then(res => {
          this.url = res.data.url
      })
      $('#modal-video').modal('show');
    }
  },
  data(){
    return {
      movies : [],
      process_rate : 0,
      lecture : {},
      study: {},
      API_URL: API_URL,
      selectedMovie: {},
      url: '',
      message: ''
    }
  }
}
</script>

<style scoped>

</style>
