<template>
  <main>
    <div class="head_title pr flex-center top-sticky">
      <button type="button" class="back btn-back">
        <img src="~/assets/img/arr-r.png" alt="">
      </button>
      <h1>수강 신청</h1>
<!--      <button type="button" class="btn_collapse dr"></button>-->
    </div>
    <PackageIntroduce :data="lecture"  :reviews="reviews" :teachers="teachers" :total_review="total_review" v-if="lecture"></PackageIntroduce>
    <single_package :data="tabHeader"></single_package>
    <CartLayer @addToCart="addToCart" :data="lecture_add" :lecture="lecture" v-if="isOffline && lecture"></CartLayer>
    <CartOption  @addToCart="addToCart" :data="bookList"  :pdf-list="pdfList" :lecture="lecture" v-else v-if="lecture"></CartOption>
    <ComIntroduceB :tab-header="tabHeader" :data="lecture" v-if="lecture"></ComIntroduceB>
    <ComponentPackage :data="data" v-if="data && data.length"  :total_lecture="total_lecture"  :limit="limit_lecture" :more_item="more_item_lecture" @viewMoreLecture="viewMoreLecture"></ComponentPackage>
    <ComReview :data="reviews" v-if="reviews && reviews.length" @viewMoreReview="viewMoreReview" :total_review="total_review" :limit="limit_r" :more_item="more_item_r"></ComReview>
    <SafeBook :data="bookList" v-if="!isOffline && bookList && bookList.length"></SafeBook>
    <RecommendLecture :data="recommendLectures" v-if="recommendLectures && recommendLectures.length"></RecommendLecture>
    <bottom :cartOption="cartOption"></bottom>
    <button type="button" class="backtop">backtop</button>
    <div class="package-lecture">
      <ConfirmMainBanAction :title="message" @actionEvent="actionEvent"></ConfirmMainBanAction>
      <ConfirmMainBanNoAction :title="message"></ConfirmMainBanNoAction>
    </div>
  </main>
</template>

<script>
import {CartApiService, MyClassApiService, ReviewDetailApiService} from "../../../store/service.api";
  import CartLayer from "../../../components/zip9/packages/CartLayer";
  import ComReview from "../../../components/zip9/ComReview";
  import ComIntroduceB from "../../../components/zip9/ComIntroduceB";
  import {convertUrlImage} from "../../../common/helpers";
  import SafeBook from "../../../components/zip9/SafeBook";
  import CartOption from "../../../components/zip9/packages/CartOption";
  import ComContent from "../../../components/zip9/ComContent";
  import ComponentPackage from "../../../components/zip9/packages/ComponentPackage";
  import PackageIntroduce from "../../../components/zip9/packages/PackageIntroduce";
  import Single_package from "../../../components/zip9/header/single_package";
  import bottom from "../../../components/zip9/bottom";
  import {mapGetters} from 'vuex'
  import RecommendLecture from "../../../components/zip9/RecommendLecture";
  import ConfirmMainBanAction from "../../../components/modal/ConfirmMainBanAction";
  import ConfirmMainBanNoAction from "../../../components/modal/ConfirmMainBanNoAction";
  export default {
    name: "package_online",
    components: {
      bottom,
      Single_package,ConfirmMainBanNoAction,
      ComponentPackage, ComContent, CartOption, ComIntroduceB, ComReview, CartLayer, SafeBook, PackageIntroduce, RecommendLecture, ConfirmMainBanAction},
    head : {
      script : [
        {src : "/js/detail.js"}
      ]
    },
    computed: {
      ...mapGetters(['isAuthenticated', 'loggedInUser']),
    },
    methods :  {
      alert(message) {
        this.message = message
        $(".package-lecture").find('#modal-no-action').modal('show')
        return;
      },
      async getPackage(params) {
        await this.getReview(this.$route.params.id);
        await this.getLecturePackage(this.$route.params.id);
        let data =  await MyClassApiService.packages(params);
        if (data.data.package_detail.length == 0) {

          alert('판매가 종료되었습니다.')
          this.$router.push('/')
          return ;
        }
        this.lecture = data.data.package_detail[0]
        if (this.lecture.is_use != "1") {
          alert('판매가 종료되었습니다.')

          this.$router.push('/')
          return ;
        }


        this.teachers = data.data.teachers;
        this.lecture.contents = this.convertUrlImage(this.lecture.contents, this.imgTag, this.URL_IMAGE)
        this.bookList = data.data.book_list;
        this.pdfList = data.data.cmp_anl;

        let recommendLecture  = await MyClassApiService.getDetailRecommendLecture({
          lecture_no: this.$route.params.id
        })

        if (recommendLecture.code === 'SUCCESS') {
          this.recommendLectures = recommendLecture.data.recommend_lectures;
        }


        if (!this.isOffline) {
          this.tabHeader = {
            '소개' : 0 + ',#com-introduce-b',
          }
          if (this.total_lecture) {
            this.tabHeader['목차'] =  this.total_lecture +',#recommendation-lecture'
          }
          if (Object.keys(this.reviews).length) {
            this.tabHeader['후기'] =  this.total_review +',#review-list'
          }
          if (Object.keys(this.bookList).length) {
            this.tabHeader['도서'] = 0 +',#safe_book'
          }
          if (Object.keys(this.recommendLectures).length) {
            this.tabHeader['추천'] = 0 +',#recommend-lecture-bottom'
          }
        }
        if (this.isOffline) {
          this.tabHeader = {
            '소개' : 0 + ',#com-introduce-b',
          }
          if (Object.keys(this.reviews).length) {
            this.tabHeader['후기'] =  Object.keys(this.reviews).length +',#review-list'
          }
          $(document).ready(function () {
            $('.box-select .selected').on('click',function (){
              $(this).parent().toggleClass('open');
            });
            $('.select_list li').on('click',function (){
              let times = $(this).data('time');
              let days = $(this).data('day');
              let left = $(this).data('left');
              let no = $(this).data('no');
              let date = $(this).data('date');
              let isDisable = $(this).data('disable');
              if(isDisable === true) {
                this.alert('개강일/시간을 선택해주세요.')
                return;
              }
              let selected = `<div class="flex-lc selected_item" data-value='${JSON.stringify({no : no, type : 'ALL', gubun : 'LEC', date_no : date})}'>${days} ${times}</div>`
              $(this).parents('.box-select').find('.selected').html(selected);
              $('.box-select').removeClass('open');
            });
            $(document).mouseup(function (e) {
              var form_group = $('.box-select');
              if (!form_group.is(e.target) && form_group.has(e.target).length === 0) {
                $('.box-select').removeClass('open');
              }
            });
          });
        }
      },
      async getReview(id, view_more = false) {
        let reviews  = await ReviewDetailApiService.package({
          pack_no: id,
          offset : this.offset_r,
          limit : this.limit_r
        })
        if (reviews.code === 'SUCCESS') {
          if (!view_more) {
            this.reviews = reviews.data.reviews;
          } else {
            this.more_item_r = reviews.data.reviews;
          }

          this.total_review = reviews.data.total
        }
      },
      async getLecturePackage(id, view_more = false) {
        let datas  = await MyClassApiService.packageLecture({
          pack_no: id,
          lecture_limit : this.limit_lecture,
          lecture_offset : this.offset_lecture
        })
        if (datas.code === 'SUCCESS') {
          if (!view_more) {
            this.data = datas.data.package_lecs;
            if (typeof this.data[0].schedule !== 'undefined' && this.data[0].schedule.length) {
              this.isOffline = true;
            }
          } else {
            this.more_item_lecture = datas.data.package_lecs;
          }

          this.total_lecture = datas.data.total_package_lecs
        }
      },
      viewMoreReview() {
        this.offset_r = this.offset_r + this.limit_r;
        this.getReview(this.$route.params.id, true);
      },
      viewMoreLecture() {
        this.offset_lecture = this.offset_lecture + 1;
        this.getLecturePackage(this.$route.params.id, true);
      },
      convertUrlImage(contents,subString, replaceString) {
        return convertUrlImage(contents, subString, replaceString)
      },
      addToCart(data) {
        if (this.isAuthenticated) {
          let params = {
            quantity : 1,
            cart_sess : '',
            it_id : data.params
          }
          CartApiService.addToCart(params).then(e => {
            if (e.success) {
              $(this.cartOption).modal('hide');
              this.uri = data.uri;
              if (data.uri == '/mem-order') {
                CartApiService.getCartUser({getBook : 1, order_by: 'desc'}).then(res => {
                  if (!this.isOff) {
                    let carts = []
                    for (let i=0; i< data.params.length; i++) {
                      let cart = res.data.find(item => (item.pack_id == data.params[i].no || item.item_id == data.params[i].no))
                      carts.push(cart)
                    }
                    let uid = carts.map(item => {
                      return item.uid
                    })
                    let params = {
                      uid : uid
                    }
                    this.$router.push({ path: '/mem-order', query: params})
                  } else {
                    let cart = res.data.find(item => item.pack_id == data.package_id)
                    if (cart) {
                      this.$router.push({ path: '/mem-order', query: {uid: cart.uid}})
                    }
                  }
                })
                this.$router.push(data.uri)
              } else {
                this.message = '장바구니에 추가되었습니다. 장바구니로 이동하시겠습니까?';
                this.showModalConfirm();
              }
            }
          });
        }
      },
      actionEvent() {
        $(".package-lecture").find('#modal-confirm-action').modal('hide');
        this.$router.push(this.uri)
      },
      showModalConfirm() {
        $(".package-lecture").find('#modal-confirm-action').modal('show');
      },
    },
    async mounted() {
      let id = this.$route.params.id;
     await this.getPackage({
        pack_no : id,
      });
     if (this.total_lecture > 5) {
       let datas  = await MyClassApiService.packageLecture({
         pack_no: id,
         lecture_limit : this.total_lecture,
         lecture_offset : 0
       })
       if (datas.code === 'SUCCESS') {
         this.lecture_add = datas.data.package_lecs;
       }
     } else {
       this.lecture_add = this.data
     }
      if (this.$route.query.review) {
        $('#review-list').focus();
      }
      $('.backtop').on('click',function () {
        $('html,body').animate({scrollTop: 0},300);
      });
    },
    data() {
      return {
        lecture_add: [],
        data : null,
        isOffline : false,
        reviews : null,
        lecture : null,
        imgTag : '<img src=\"',
        URL_IMAGE : 'http://letuin.com',
        bookList : null,
        pdfList : null,
        tabHeader : null,
        singleData : null,
        cartOption : '#cartOption',
        teachers : [],
        movies: [],
        recommendLectures : [],
        offset_r : 0,
        limit_r : 5,
        offset_lecture : 0,
        limit_lecture : 5,
        moreNumberItem : 5,
        total_review : 0,
        total_lecture : 0,
        more_item_r : {},
        more_item_lecture : {},
        message : '',
        uri : '/cart'
      }
    }
  }
</script>

<style>
  @media (min-width: 376px) and (max-width: 414px) {
    .top-menu {
      top: 15% !important;
    }
  }
  .table_of_content li time {
    width: 12%;
  }

  @media only screen
  and (device-width: 414px)
  and (device-height: 896px)
  and (-webkit-device-pixel-ratio: 3) {
    .top-menu {
      top: 13.3% !important;
    }
  }
</style>
