<template>
    <div class="post">
        <div class="post__header">
            <p>{{item.summary}}</p>
            <a @click="gotoDetail(item)"><h3>{{item.subject}}</h3></a>
        </div>
        <div class="post__detail flex">
            <a @click="gotoDetail(item)" class="img-thumbnail">
                <img :src="url + '/data_user/' + getTailImage(item)">
            </a>
            <div class="detail">
                <div class="tag flex">
                    <span :class="tag" v-for="tag in splitString(item.support_opt, '|')">{{tag}}</span>
                </div>
                <div class="discount flex-lc">
<!--                    <div class="flex-lc"><h5 class="red">마감임박</h5> <span class="flex-lc">{{percent(splitString(item.pack_amount_info2, ',')[1] , splitString(item.pack_amount_info2, ',')[2])}}% <i-->
<!--                            class="icon icon-discount"></i></span></div>-->
                  <div class="flex-lc"><span class="flex-lc">{{percent(splitString(item.pack_amount_info2, ',')[1] , splitString(item.pack_amount_info2, ',')[2])}}% <i
                    class="icon icon-discount"></i></span></div>
                    <p>{{formatMoney(splitString(item.pack_amount_info2, ',')[1])}}</p>
                </div>
                <div class="price">{{formatMoney(splitString(item.pack_amount_info2, ',')[2])}}</div>
                <div class="info flex">
                    <p>{{splitString(item.pack_amount_info2, ',')[0]}}일</p>
                    <p>총 1169강</p>
                </div>
                <div class="follow pr navbar">
                    <h5 class="flex-lc" v-if="item.teachers && item.teachers.length > 1">{{item.teachers[0]}} 외
                        {{item.teachers.length - 1}} 명</h5>
                    <h5 class="flex-lc" v-else>{{item.teachers[0]}}</h5>
                    <button type="button" class="btn_collapse dr"  @click="toggleShowTeacher($event)" v-if="item.teachers.length > 1"></button>
                    <ul class="follow__list flex" @click="toggleShowTeacher($event)">
                        <li v-for="teacher in item.teachers">{{teacher}}</li>
                    </ul>
                </div>
                <div class="review flex-lc">
<!--                    <v-rating-->
<!--                            readonly-->
<!--                            class="rate pa-0"-->
<!--                            v-model="item.start"-->
<!--                            color="#f8983e"-->
<!--                            background-color="#ccc"-->
<!--                            size="10"-->
<!--                            increments-->
<!--                    ></v-rating>-->

<!--                    <star-rating read-only background-color="#ccc" color="#f8983e" :rating="parseFloat(item.start)">-->

<!--                    </star-rating>-->
                  <Rating :grade="convertStar(item.start)" :maxStars="5" :hasCounter="false" />
                    <p @click="gotoDetail(item, true)">REVIEW <span>({{item.ct}}건)</span></p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {formatCurrency, formatMoney} from "../../common/helpers";
    import rating from "../rating/rating";
    export default {
        name: "Lecture",
        props: ['item', 'url'],
      components : {"Rating" : rating},
        data() {
            return {
                PACK: "package",
                MOV: "lecture",
                test : 3
            }
        },
        mounted() {
                $(".review svg").css({width: "8px", height : "8px"});
        },
        methods: {
            getTailImage(item) {
                return item.lec_type === 'PACK' ? this.PACK + '/' + item.no + '/' + item.img : this.MOV + '/' + item.code + '/' + item.img
            },
            splitString(string, pattern) {
                return string.split(pattern);
            },
            percent(n1, n2) {
                return (((parseInt(n1) - parseInt(n2)) / n1) * 100).toFixed(2);
            },
            toggleEvent(event) {
                let item = $(event.target).parents('.follow');
                if (item.hasClass('show')) {
                    item.removeClass('show');
                } else {
                    item.addClass('show');
                }
            },
            formatMoney(number) {
                return formatMoney(number, '원');
            },
          convertStar(num) {
              if (!num) return 0;
              return Math.round(parseFloat(num)*2)/2;
          },
          gotoDetail(item, reviewPage = null) {
            if (item.no == "668") {
              window.open('https://www.letuin.com/lecture.php?action=sfreepass', '_blank');
              return;
            } else if (item.no == 774 || item.no == 775 || item.no == 776 || item.no == 802 || item.no == 803 || item.no == 807 || item.no == 808) {
              window.open('https://www.letuin.com/promotion.php?action=GsatFreePass', '_blank');
              return;
            }
            if (item.lec_type == "PACK") {
                if (reviewPage) {
                    this.$router.push('/details/package/' + item.no + '?review=true')
                } else {
                    this.$router.push('/details/package/' + item.no)
                }
              return ;
            } else {
              if (item.is_off === "B") {
                this.$router.push('/details/companybook/' + item.no)
                return ;
              }
              if (reviewPage) {
                  this.$router.push('/details/single/' + item.no + '?review=true');
              } else {
                  this.$router.push('/details/single/' + item.no)
              }
              return ;
            }
          },
          toggleShowTeacher(e) {
             if ( $(e.target).parents(".follow").hasClass('show')) {
                $(e.target).parents(".follow").removeClass('show');
             } else {
               $(e.target).parents(".follow").addClass('show');
             }
          }
        }
    }
</script>

<style scoped>

</style>
