<template>
  <div class="banner banner_cs1" v-show="this.banners.length">
    <div class="item" v-for="banner in this.banners" :key="banner.id">
      <a :href="banner.link" :target="banner.target"><img :src="url + '/data_user/banner/' + banner.upload" :alt="banner.subject"></a>
    </div>
  </div>
</template>

<script>
    export default {
        name: "BannerTop",
        props: ['banners', 'url']
    }
</script>

<style scoped>

</style>
