<template>
    <div class="owl-carousel owl-theme textbook__list">
      <div class="item flex" v-for="book in books" :key="book.code">
        <div class="img"><a :href="book.link" target="_blank"><img :src="url + '/data_user/item/' + book.code + '_l1.png'" :alt="book.name"></a></div>
        <div class="info">
          <h3><a :href="book.link" target="_blank">{{ book.name.substr(0, 50) + '...' }}</a></h3>
          <p class="txt-1">{{ book.basic }}</p>
          <div class="author flex" v-show="book.opt1">
            <h4>저 자</h4>
            <p>{{ book.opt1 ? book.opt1.substr(0, 15) + '...' : book.opt1 }}</p>
          </div>
          <time v-show="book.opt3">발행일 &nbsp; {{ book.opt3.replace("\r\n", "") }}</time>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
        name: "BookList",
        props: ['books', 'url']
    }
</script>

<style scoped>

</style>
