<template>
  <div class="event">
    <div class="owl-carousel owl-theme event__list">
      <a  v-for="item in this.events" :href="item.link" :target="item.target"><img :src="url + '/data_user/banner/' + item.upload" alt=""></a>
    </div>
    <div class="event__nav flex">
      <button type="button" class="event_prev">prev</button>
      <div class="event_dots"></div>
      <button type="button" class="event_next">prev</button>
    </div>
  </div>
</template>

<script>
    export default {
        name: "BookEvent",
        props: ["events", "url"]
    }
</script>

<style scoped>

</style>
