<template>
  <div class="box-time flex" :class="[{ 'background_public': is_public}]">
    <div class="icon icon-time"><img src="~/assets/img/clock.png" alt=""></div>
    <countdown :time="time * 1000" v-slot="{ days, hours, minutes, seconds }">
      <div class="count_down">
        <div class="flex">
          <div class="down days">
            <span class="time">{{ pad(days) }}</span>
            <span class="txt">일</span>
          </div>
          <div class="down hours">
            <span class="time">{{ pad(hours) }}</span>
            <span class="space">:</span>
          </div>
          <div class="down minutes">
            <span class="time">{{ pad(minutes) }}</span>
            <span class="space">:</span>
          </div>
          <div class="down seconds">
            <span class="time">{{ pad(seconds) }}</span>
          </div>
        </div>
        <div class="text">{{ title }}</div>
      </div>
    </countdown>
    <a :href="link" :target="target" class="btn_apply flex-center ml-auto"
       title="수강신청" :class="[{ 'color_public': is_public}]">수강신청</a>
  </div>
</template>

<script>
    export default {
        name: "CountDownComponent",
        props: ['time', 'link', 'target', 'title', 'is_public'],
        methods: {
          pad(d) {
            return (d < 10) ? '0' + d.toString() : d.toString();
          }
        }
    }
</script>

<style scoped>

</style>
