<template>
  <div class="item flex-lc" @click="gotoPage(data)">
    <div class="item__logo"><img :src="url + '/data_user/oldmaintext/' + data.id + '/' + data.opt3" alt=""></div>
    <div class="item__content">
      <time>{{ data.date }}</time>
      <h3 class="one-line" v-html="title(data)"></h3>
      <p v-html="data.opt1.split('<br/>')[1]"></p>
    </div>
  </div>
</template>

<script>
    export default {
        name: "ItemRecuitment",
        props: ['data', 'url'],
        methods: {
          gotoPage(data) {
            window.open(data.url, data.target);
          },
          title(data) {
            let title = '(' + data.title + ') '+data.opt1.split('<br/>')[0].replace('★', '').replace('★', '')
            return title
          }
        }
    }
</script>

<style scoped>
  .one-line {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
</style>
