<template>
  <div class="item">
    <a href="javascript:;" @click="gotoDetail(data)" class="thumb"><img :src="url + '/data_user/' + getTailImage(data)"></a>
    <div class="content">
      <div style="min-height: 27px">
        <div v-for="(opt,key) in data.support_opt.split('|')" :key="key" :class="'status ' + opt">{{ opt.charAt(0).toUpperCase() + opt.slice(1) }}</div>
      </div>
      <h3><a @click="gotoDetail(data)">{{ typeof data.uid !== 'undefined' ? (data.subject.length > 24 ? data.subject.substr(0, 24) + '...': data.subject ) : (data.title.length > 24 ? data.title.substr(0, 24) + '...': data.title ) }}</a></h3>
      <p style="min-height: 36px">{{ data.banner.summary1.length > 24 ? data.banner.summary1.substr(0,24) + '...' : data.banner.summary1 }}</p>
      <div class="bottom flex">
        <div class="author">{{ data.teachers[0].name + (data.teachers.length > 1 ? '외 ' + pad((data.teachers.length - 1)) + ' 명' : '') }}</div>
        <div class="view flex-lc"><i class="icon icon-pen"></i> {{ data.reviews }}</div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "LectureItemMain",
        props: ['data', 'url'],
        data() {
          return {
            PACK: "package",
            MOV: "lecture",
          }
        },
        methods: {
          pad(d) {
            return (d < 10) ? '0' + d.toString() : d.toString();
          },
          getTailImage(item) {
            return typeof item.uid !== 'undefined' ? this.PACK + '/' + item.uid + '/' + item.img : this.MOV + '/' + item.code + '/' + item.img
          },
          gotoDetail(item, review = null) {
            if (item.uid == "668") {
              window.open('https://www.letuin.com/lecture.php?action=sfreepass', '_blank');
              return;
            } else if (item.uid == 774 || item.uid == 775 || item.uid == 776 || item.uid == 802 || item.uid == 803 || item.uid == 807 || item.uid == 808) {
              window.open('https://www.letuin.com/promotion.php?action=GsatFreePass', '_blank');
              return;
            }
            if (item.uid) {
              if (review) {
                this.$router.push('/details/package/' + item.uid + '?review=true')
              } else {
                this.$router.push('/details/package/' + item.uid)
              }
            } else {
              if (item.is_off === "B") {
                this.$router.push('/details/companybook/' + item.no)
                return ;
              }
              if (review ) {
                this.$router.push('/details/single/' + item.no + '?review=true')
              } else {
                this.$router.push('/details/single/' + item.no)
              }
            }
          }
        }
    }
</script>

<style scoped>

</style>
