<template>
  <div class="notice flex" v-show="this.notifications.length">
    <h5 class="flex-lc">공지</h5>
    <div class="slider_vertical">
      <a v-for="notification in notifications" :key="notification.wr_id" :href="'https://www.letuin.com' + '/gnu/bbs/board.php?bo_table=notice&wr_id=' + notification.wr_id" target="_blank" class="notice__item" >{{ notification.wr_subject.substr(0, 50) + '...' }}</a>
    </div>
    <a href="https://www.letuin.com/gnu/bbs/board.php?bo_table=notice" target="_blank" title="+ 더보기" class="btn_other ml-auto">+ 더보기</a>
  </div>
</template>

<script>
    export default {
        name: "Notice",
        props: ['notifications', 'url'],
        mounted() {
          $(document).ready(function () {
            //call slick js
            $('.slider_vertical').slick({
              dots: false,
              arrows: false,
              autoplay: true,
              autoplaySpeed: 2000,
              pauseOnHover: false,
              fade: false,
              speed: 900,
              infinite: true,
              slidesToShow: 1,
              slidesToScroll: 1,
              swipe: true,
              focusOnSelect: false,
              draggable: true,
              vertical: true,
              verticalSwiping: false,
              cssEase: 'cubic-bezier(0.7, 0, 0.3, 1)', //css transition
              variableWidth: false,
            });
          });
        },
    }
</script>

<style scoped>

</style>
