<template>
  <div class="item">
    <a :href="url + '/sampleView.php?val=' + lecture.movieurl" target="_blank"><img class="thumb" :src="'http://img.youtube.com/vi/' + lecture.movieurl + '/maxresdefault.jpg'"></a>
    <h3>{{ lecture.title }}</h3>
    <p>수강기간 : {{ lecture.lecture_date.start }} - {{ lecture.lecture_date.end }}</p>
    <p>개강일시 : {{ lecture.lecture_date.start }}(목)</p>
    <a @click="gotoDetail(lecture)" class="btn_view pr">강의 자세히 보기</a>
  </div>
</template>

<script>
    export default {
        name: "OfflineIntroItem",
        props: ['lecture', 'url'],
        methods: {
          gotoDetail(item, review = null) {
            if (item.no == "668") {
              window.open('https://www.letuin.com/lecture.php?action=sfreepass', '_blank');
              return;
            } else if (item.no == 774 || item.no == 775 || item.no == 776 || item.no == 802 || item.no == 803 || item.no == 807 || item.no == 808) {
              window.open('https://www.letuin.com/promotion.php?action=GsatFreePass', '_blank');
              return;
            }
            if (item.lec_type === 'PACK') {
              if (review) {
                this.$router.push('/details/package/' + item.no + '?review=true')
              } else {
                this.$router.push('/details/package/' + item.no)
              }
            } else {
              if (item.is_off === "B") {
                this.$router.push('/details/companybook/' + item.no)
                return ;
              }
              if (review ) {
                this.$router.push('/details/single/' + item.no + '?review=true')
              } else {
                this.$router.push('/details/single/' + item.no)
              }
            }
          }
        }
    }
</script>

<style scoped>

</style>
