<template>
  <div class="recommended__item">
    <p>{{ data.banner.summary1}}</p>
    <a @click="gotoDetail(data)"><h4>{{ typeof this.data.no != 'undefined' ? (data.title.length > 39 ? data.title.substr(0, 39) + '...' : data.title) : (data.subject.length > 39 ? data.subject.substr(0, 39) + '...' : data.subject) }}</h4></a>
    <div class="middle flex">
      <div class="md_1 follow navbar flex-lc pr">
        {{ data.teachers.length > 0 ? (data.teachers[0].name + (data.teachers.length > 1 ? '외 ' + pad((data.teachers.length - 1)) + ' 명' : '')) : '' }}
        <button type="button" class="btn_collapse dr" data-toggle="dropdown" v-show="data.teachers.length > 1"></button>
        <div class="follow__list flex">
          {{ this.teacher }}
        </div>
      </div>
      <div class="md_2 ml-auto">{{ this.period }}일 (총 {{ data.total_movie }} 차시)</div>
      <div class="md_3 flex-lc"  @click="gotoDetail(data, true)"><i class="icon icon-pen"></i>{{ data.reviews }}</div>
    </div>
    <div class="bottom flex">
      <div class="price flex-lc">{{ formatCurrency(this.price - this.discount) }} <small>원</small> <span class="flex-center" :class="[{ 'public_border_color': is_public, 'color_public' : is_public}]" v-show="this.percent">{{this.percent}}%↓</span></div>
      <a href="javascript:;" class="btn_apply flex-center" :class="[{ 'background_public': is_public}]" @click="gotoDetail(data)">신청하기</a>
    </div>
  </div>
</template>

<script>
    import {formatCurrency} from "../../common/helpers";

    export default {
        name: "RecommendItem",
        props: ["data", "url", "is_public"],
        data() {
          return {
            price: 0,
            discount: 0,
            percent: 0,
            period: 0,
            teacher: ''
          }
        },
        created() {
          let amount = ''
          if (typeof this.$props.data.no != 'undefined') {
            if (this.$props.data.lec_amount_info) {
              amount = this.$props.data.lec_amount_info.split(',')
            }
            else if (this.$props.data.lec_amount_info2) {
              amount = this.$props.data.lec_amount_info2.split(',')
            }
            else if (this.$props.data.lec_amount_info3) {
              amount = this.$props.data.lec_amount_info3.split(',')
            }
          } else {
            if (this.$props.data.pack_amount_info) {
              amount = this.$props.data.pack_amount_info.split(',')
            }
            else if (this.$props.data.pack_amount_info2) {
              amount = this.$props.data.pack_amount_info2.split(',')
            }
            else if (this.$props.data.pack_amount_info3) {
              amount = this.$props.data.pack_amount_info3.split(',')
            }
          }
          this.price = amount[1];
          this.period = amount[0];
          this.discount = this.price - amount[2];
          this.percent = Math.round(this.discount / this.price * 100)

          //teacher
          let teachers = this.$props.data.teachers
          for (let i = 0; i < teachers.length; i++) {
            let operation = ',';
            if (i == (teachers.length - 1)) {
              operation = ''
            }
            // this.teacher += teachers[i].name + operation
          }
        },
        methods: {
            pad(d) {
              return (d < 10) ? '0' + d.toString() : d.toString();
            },
            formatCurrency(money) {
              return formatCurrency(money)
            },
          gotoDetail(item, reviewPage = null) {
            if (item.uid == "668") {
              window.open('https://www.letuin.com/lecture.php?action=sfreepass', '_blank');
              return;
            } else if (item.uid == 774 || item.uid == 775 || item.uid == 776 || item.uid == 802 || item.uid == 803 || item.uid == 807 || item.uid == 808) {
              window.open('https://www.letuin.com/promotion.php?action=GsatFreePass', '_blank');
              return;
            }
            if (typeof item.uid !== 'undefined') {
              if (reviewPage) {
                this.$router.push('/details/package/' + item.uid + '?review=true')
              } else {
                this.$router.push('/details/package/' + item.uid)
              }
              return ;
            } else {
              if (item.is_off === "B") {
                this.$router.push('/details/companybook/' + item.no)
                return ;
              }
              if (reviewPage) {
                this.$router.push('/details/single/' + item.no + '?review=true');
              } else {
                this.$router.push('/details/single/' + item.no)
              }
              return ;
            }
          }
          }

    }
</script>

<style scoped>

</style>
