<template>
  <div class="item">
    <div @click="gotoDetail(data)" class="thumb"><img :src="url + '/data_user/free_thum/' + data.thumnail" :alt="data.title"></div>
    <h3><a @click="gotoDetail(data)">{{ data.title.length > 46 ? data.title.substring(0, 46) + '...' : data.title }}</a></h3>
    <div class="bottom flex">
      <div class="author">{{ data.hit }}{{ data.teacher_text }}</div>
      <div class="view">조회수 : {{ formatMoney(data.view_ct, '', ',') }}</div>
    </div>
  </div>
</template>

<script>
    import {formatMoney} from "../../common/helpers";

    export default {
        name: "TabPublicItem",
        props: ['data', 'url'],
        methods: {
          formatMoney(val, currency, format) {
            return formatMoney(val, currency, format);
          },
          gotoDetail(item) {
              window.open('https://ncs.letuin.com/free.php?action=view&no='+item.no, '_blank');
          }
        }
    }
</script>

<style scoped>

</style>
