<template>
  <div class="item">
    <div @click="gotoDetail(data)" class="thumb"><img :src="url + '/data_user/banner/' + data.upload" :alt="data.subject"></div>
    <h3><a @click="gotoDetail(data)">{{ data.subject.length > 46 ? data.subject.substring(0, 46) + '...' : data.subject }}</a></h3>
<!--    <div class="bottom flex">-->
<!--      <div class="author">{{ data.hit }}{{ data.teacher_text }}</div>-->
<!--      <div class="view">조회수 : {{ formatMoney(data.view_ct, '', ',') }}</div>-->
<!--    </div>-->
  </div>
</template>

<script>
    import {formatMoney} from "../../common/helpers";

    export default {
        name: "TabPublicItem",
        props: ['data', 'url'],
        methods: {
          formatMoney(val, currency, format) {
            return formatMoney(val, currency, format);
          },
          gotoDetail(item) {
              window.open(item.link, '_blank');
          }
        }
    }
</script>

<style scoped>

</style>
