<template>
  <div class="teacher" v-if="this.teachers.length">
    <div class="header flex">
      <h2 class="title">{{ title1 }}<span :class="[{ 'color_public' : is_public}]">{{ title2 }}</span></h2>
      <div class="nav flex-lc ml-auto">
        <button type="button" class="btn-link btn-button btn-not-bg" :class="[{ 'color_public' : is_public}]" @click="redirectLink('https://www.letuin.com/teacher.php?action=lecture2')">더보기</button>
        <button type="button" class="teacher__prev prev">prev</button>
        <div class="space"></div>
        <button type="button" class="teacher__next next">next</button>
      </div>
    </div>
    <div class="owl-carousel owl-theme teacher__list">
      <div class="item" v-for="teacher in this.teachers" :key="teacher.id">
        <a :href="'https://www.letuin.com/teacher.php?action=view&teacher_id='+teacher.id" target="_blank" class="thumb"><img :src="url + '/data_user/user/' + teacher.id + '_thum.png?v=3'" :alt="teacher.name"></a>
        <div class="keyword flex-center"><a :href="'https://www.letuin.com/teacher.php?action=view&teacher_id='+teacher.id" target="_blank" :class="[{ 'color_public' : is_public}]">{{ teacher.w_9.split(",")[0] }}</a></div>
        <h3><a :href="'https://www.letuin.com/teacher.php?action=view&teacher_id='+teacher.id" target="_blank">{{ teacher.name }}</a></h3>
        <p class="txt-1">{{ teacher.summary }}</p>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "TeacherList",
        props: ['teachers', 'url', 'is_offline', 'title1', 'title2', 'is_public'],
      methods : {
          redirectLink(uri) {
            window.open(uri, '_blank');
          }
      }
    }
</script>

<style scoped>
.btn-not-bg {
  background: inherit !important;
  font-size: 14px;
  width: fit-content;
  height: fit-content;
  margin-right: 10px;
}
</style>
