<template>
  <div class="review" v-show="this.winners.length">
    <div class="header flex">
      <div class="header__dt">
        <h2>렛유인 <span>합격 명예의 전당</span></h2>
        <p>누적 합격자(‘15~19’) <span>11,388명</span></p>
      </div>
    </div>
    <div class="scrollbar">
      <div class="review__list flex">
        <div class="item p-0" v-for="winner in this.winners" :key="winner.id">
          <a :href="winner.link" :target="winner.target"><img :src="url + '/data_user/banner/' + winner.upload" :alt="winner.subject"></a>
        </div>
      </div>
    </div>
    <a :href="url + link"  target="_blank" title="More" class="btn_link_more flex-center">+ More</a>
  </div>
</template>

<script>
    export default {
        name: "WinnerBanner",
        props: ['winners', 'url', 'link']
    }
</script>

<style scoped>

</style>
