<template>
  <main class="freepasabc">
    <div class="head_title pr">
      <button type="button" class="back btn-back">
        <img src="~/assets/img/arr-r.png" alt="">
      </button>
      <h1>수강 중 프리패스 강좌</h1>
    </div>
    <div class="page-lecture">
      <div class="select pr">
        <select name="lecture_freepass" @change="chooseLecture()">
          <option v-for="free in listFreePass.data" :value="free.mys_uid"  :selected="free.mys_uid == $route.params.id">{{free.title}}</option>
        </select>-
      </div>
<!--      <div class="select-2-container">-->
<!--        <select class="select-2" name="lecture_freepass" @change="chooseLecture()">-->
<!--          <option v-for="free in listFreePass.data" :value="free.mys_uid"  :selected="free.mys_uid == mys_uid">{{free.title}}</option>-->
<!--        </select>-->
<!--      </div>-->
      <div class="info flex" v-if="freePass">
        <div class="time col-5">{{formatDateTime(freePass.startdate)}} ~
          <span>{{formatDateTime(freePass.enddate)}}</span></div>
        <div class="day col-3"><p><span>{{diffDayNow(freePass.enddate)}}</span>일</p>남은일수</div>
        <div class="process col-4"><span>{{freePass.pass_rate}}％</span> 진도율</div>
      </div>
      <div class="box-text">
        <h5>이용 안내</h5>
        <p>아래 강의를 좌측으로 밀면, <span>‘삭제/후기작성/즐겨찾기’</span> 을 할 수 있어요.
          한 프리패스당 즐겨찾기는 최대 5개의 강의만 가능합니다.
        </p>
      </div>
      <div class="lecture freepasslc pb-0" v-if="data.data">
        <h4 v-if="data && data.data">내가 담은 강의리스트({{data.data.length}})</h4>
        <h4 v-else>내가 담은 강의리스트(0)</h4>
        <div class="lecture__list bg-gray">
          <div class="item" v-for="lecture in data.data">
            <div class="item__scroll">
              <div class="scroll pr">
                <div class="content pr">
                  <div class="progress">진도율 : <span>{{lecture.sum_process_rate ? Math.round(lecture.sum_process_rate) : 0}}%</span> ({{ Math.round(lecture.pass_rate)}}%)</div>
                  <h3>{{ decodeURI(lecture.title) && decodeURI(lecture.title).length > 30 ? decodeURI(lecture.title).substr(0, 30) + '...' : decodeURI(lecture.title) }}</h3>
                  <i class="icon icon-arr"></i>
                </div>
                <div class="box-btn flex">
                  <a href="javascript:;" class="btn btn_remove" @click="openModalRemoveFreePass(lecture.no)"></a>
                  <a href="javascript:;" class="btn btn_wr" @click="openModalReview($event, lecture)"></a>
                  <a href="javascript:;" class="btn_checked_rating" v-if="lecture.favorite_lec" @click="favorite(lecture.type, lecture.type_no, lecture.mystudy_uid, lecture.favorite_lec)"></a>
                  <a href="javascript:;" class="btn_rating" v-else @click="favorite(lecture.type, lecture.type_no, lecture.mystudy_uid, lecture.favorite_lec)"></a>
                </div>
              </div>
            </div>
            <button type="button" class="btn_download" @click="redirectBlank('/class-room/'+ lecture.mystudy_uid + '/' + lecture.type_no)"></button>
          </div>
        </div>
      </div>

    </div>
    <div class="notes">
      <div class="notes__header flex-lc">
        <h4 class="flex-lc"><i class="icon icon-qs">?</i> 환급 유의사항</h4>
        <button type="button" class="btn_collapse collapsed dr" data-toggle="collapse" data-target="#notes"></button>
      </div>
      <div class="notes__content collapse_content collapse show" id="notes">
        <div class="box-text">
          <p>· 환급 조건은 6+1개월 “0”원 프리패스는 120일 연속, 3개월 “0”원
            프리패스는 90일 연속 출석해야 합니다.</p>
          <p>· 환급 신청은 프리패스 종료 후 30일 이내 가능합니다. (기간 초과 시
            신청이 불가합니다.)</p>
          <p>· (환급 신청) 선택 후 정보 입력하시면, 환급
            접수되고 조건 확인 후 입력한 환급계좌로 입금됩니다.
            (제세공과금 22% 제외 후 환급)</p>
          <p>· 단, 출석미션 프리패스는 종료 후
            “종료된 콘텐츠” 메뉴에서 환급 신청 가능합니다.</p>
          <p>· 환급 처리 기간은 환급 조건 확인 과정으로 인해 최대 30일이
            소요됩니다.</p>
          <p>· 환급 조건보다 부족한 출석 일수로 인한 일부 환급은 불가합니다.</p>
        </div>
      </div>
    </div>
    <div class="nav-link mt-4 flex">
      <a href="javascript:;" title="" class="col-4" data-toggle="modal" data-target="#modal-guidebook">취업핵심가이드북</a>
      <a href="https://ncs.letuin.com/download/freepass_guide.pdf" target="_blank" title="" class="col-4">프리패스이용안내</a>
      <a href="javascript:;" title="" class="col-4" data-toggle="modal" data-target="#modal-ncsinfo">NCS강의 이용안내</a>
    </div>
    <div class="nav-bt blue flex-center w100">
      <a @click="showPop('#modal-lecture')" class="flex-center">강의 추가</a>
    </div>
    <button type="button" class="backtop">backtop</button>
    <ModalLecture @changeKeyword="keyword = $event" :keyword="keyword" :total_cnt="total_cnt" @changeTab="tabActive = $event"
                  :tab-active="tabActive" :single-tab="singleTab" :package-tab="packageTab"
                  :list="content" @addLecture="getSubListLecture" @loadMoreLecture="loadMoreLecture" :load-more="loadMore" :limit="limit"></ModalLecture >
    <ModalFilterTeacher @changeParams="changeParamsFilter"></ModalFilterTeacher>
    <ReviewWR :lecture_info_review="[{lecture_no : lecture.no, title : decodeURI(lecture.title)}]" ></ReviewWR>
    <RFApplication1 :me="loggedInUser" :mys_id="mys_uid" :subject="subject"></RFApplication1>
    <ConfirmBanNoAction  :title="message"></ConfirmBanNoAction>
    <ConfirmMainBanAction :title="removeFreePassTitle" @actionEvent="removeFreePass" ref="modalRemoveLecture"></ConfirmMainBanAction>
    <FreepassGuideBook :guide-books="guideBooks" @changeKeyword="changeKeyword"></FreepassGuideBook>
    <FreepassNCSInfoPop1></FreepassNCSInfoPop1>
  </main>
</template>

<script>
  import {GuideBookApiService, MyClassApiService} from "../../store/service.api";
  import FreepassGuideBook from "../../components/modal/FreepassGuideBook";
  import FreepassNCSInfoPop1 from "../../components/modal/FreepassNCSInfoPop1";
  import {mapGetters} from 'vuex'
  import {diffDayNow, formatDate} from "../../common/helpers";
  import ReviewWR from "../../components/modal/ReviewWR";
  import ModalLecture from "../../components/modal/ModalLecture";
  import ModalFilterTeacher from "../../components/modal/ModalFilterTeacher";
  import RFApplication1 from "../../components/modal/RFApplication1";
  import ConfirmBanNoAction from "../../components/modal/ConfirmMainBanNoAction";
  import ConfirmMainBanAction from "../../components/modal/ConfirmMainBanAction";
  export default {
    name: "index",
    middleware: ['authenticate'],
    components: {ConfirmMainBanAction, RFApplication1, ReviewWR, ModalLecture, ModalFilterTeacher, ConfirmBanNoAction, FreepassGuideBook, FreepassNCSInfoPop1},
    head: {
      script: [
        {src: '/js/freepass-lc-changed-btcolor.js'}
      ]
    },
    mounted() {
      $('.backtop').on('click',function () {
        $('html,body').animate({scrollTop: 0},300);
      });
      this.valueSelect = this.$route.params.id;
      this.init();
    },
    computed: {
      ...mapGetters(['isAuthenticated', 'loggedInUser']),
    },
    watch: {
      tabActive(newVal) {
        // this.content = this.addList.data[newVal];
        this.getAddListLecture(null, []);
      },
      keyword(newVal) {
        this.keyword = newVal;
        this.getAddListLecture(newVal);
      },
      valueSelect(newVal) {
        this.goToPage(`/freepass-list/${newVal}`)
      }
    },
    data() {
      return {
        guideBooks : [],
        allGuideBooks : [],
        data: {},
        listFreePass: {},
        freePass: {},
        AVG_PASS_RATE: 50,
        addList: [],
        content: [],
        tabActive: 'single_lectures',
        singleTab: 'single_lectures',
        packageTab: 'package_lectures',
        keyword: '',
        valueSelect: '',
        mys_uid: '',
        subject: '',
        number_favorite : 0,
        lecture : [],
        test : 1,
        message : '',
        total_cnt : 0,
        category : [],
        limit : 10,
        offset : 0,
        loadMore : true,
        removeFreePassTitle : '강의를 삭제하시겠습니까?',
        remove_id : null
      }
    },
    methods: {
      chooseLecture() {
        let code = $('select[name="lecture_freepass"]').val()
        this.$router.push('/freepass-list/' + code)
      },
      async getSubListLecture() {
        this.data = await MyClassApiService.getSubListLecture(this.$route.params.id, {});
        let data = this.data.data.filter(e => e.favorite_lec === 1);
        this.number_favorite = data.length;
        this.getAddListLecture(null, [])
      },
      changeParamsFilter(item) {
        this.category = item;
        this.getAddListLecture(this.keyword, item);
      },
      openModalReview(e,lecture) {
        this.lecture = lecture
        if (lecture.sum_process_rate < 50) {
          this.alert('리뷰를 작성하려면 50% 이상 공부해야합니다.')
          return;
        }
        let modal = $(e.target).parents(".freepasabc").find('.modal-review')
        $(modal).modal('show');
      },
      async getFreePass(params) {
        this.listFreePass = await MyClassApiService.getFreePass(params)
        this.freePass = this.listFreePass.data.find(item => item.mys_uid == this.$route.params.id);
        let data = await  GuideBookApiService.get({"mystudy_uid[]" : this.$route.params.id});
        this.guideBooks = data.data.pdf_list[0].pdf_list;
        this.allGuideBooks = data.data.pdf_list[0].pdf_list;
      },
      changeKeyword(val) {
        this.guideBooks = (val) ? this.allGuideBooks.find(item => item.title == val) : this.allGuideBooks;
      },
      init() {
        this.getSubListLecture();
        this.getFreePass({user_id: this.loggedInUser.id});
        this.getAddListLecture(this.keyword);
      },
      formatDateTime(time) {
        return formatDate(time)
      },
      diffDayNow(date) {
        return diffDayNow(date)
      },
      toggleModal(modal) {
        $(modal).modal('show');
      },
      redirectBlank(url) {
        this.$router.push(url)
      },
      showPop(item, hideItem = null, mys_uid = null, subject = null) {
        $(item).modal('show');
        hideItem ? $(hideItem).modal('show') : '';
        if (mys_uid) this.mys_uid = mys_uid;
        if (subject) this.subject = subject;
      },
      goToPage(uri) {
        this.$router.push(uri);
      },

      async getAddListLecture(keyword, category = []) {
        let params = {
          user_id: this.loggedInUser.id,
        }
        if (this.category && this.category.length) {
          params['category'] = category;
        }

        params.limit = this.limit;
        params.offset = this.offset;
        if (this.tabActive === this.singleTab) {
          params.order_type = 'like'
        }

        if (keyword) params.keyword = keyword;
        this.addList = await MyClassApiService.getAddListLecture(this.$route.params.id, params);
        this.content = this.addList.data[this.singleTab]
        this.total_cnt = this.addList.data['total_cnt'];
        $(document).ready(function () {
          $('.item__scroll').on('scroll',function (){
            var rect = $(this).find('.content').offset().left;
            if(rect < -30){
              $(this).removeClass('right').addClass('left');
            }else if(rect > 0){
              $(this).removeClass('left').addClass('right');
            }
          });
        });
      },
      async loadMoreLecture() {
        let params = {
          user_id: this.loggedInUser.id,
        }
        if (this.category && this.category.length) {
          params['category'] = this.category;
        }
        if (this.tabActive === this.singleTab) {
          params.order_type = 'like'
        }
        if (this.keyword) params.keyword = this.keyword;
        this.offset = this.offset + this.limit;
        params.limit = this.limit;
        params.offset = this.offset;
        let data  = await MyClassApiService.getAddListLecture(this.$route.params.id, params);
        data = data.data[this.singleTab];
        this.content= data.concat(this.content);
      },
      splitString(string) {
        return string.split('-');
      },
      openModalRemoveFreePass(no) {
        this.remove_id = no;
        $(this.$refs['modalRemoveLecture'].$el).modal('show');


      },
      async removeFreePass() {
          let data = await MyClassApiService.removeFreePass({
                lec_clear : [this.remove_id]
          });
         if (data.code === 'SUCCESS') {
           $(this.$refs['modalRemoveLecture'].$el).modal('hide');
           await this.getSubListLecture();
           await this.getAddListLecture(null, []);
           $('.valueChecked').prop('checked', false).parent().removeClass('checked').addClass('not_checked');
           $("#btn_addFreePass").css({'background-color' : '#f7f7f7'})
           $("#btn_addFreePass a").css({'color' : 'black'})
           $("#btn_addFreePass span").css({'color' : 'black'})
           $("#number_freepass").html(`(${$('.valueChecked:checkbox:checked').length})`);
         }
      },
      async favorite(type, no , mys_id, lecture_no) {
        if (this.number_favorite >= 5 && lecture_no === 0) {
          this.alert('5 개의 즐겨 찾기가 선택되었습니다. 좋아하는 강의는 최대 5 개까지 선택할 수 있습니다.');
          return ;
        }
        let data = await MyClassApiService.favorite({
            user_id : this.loggedInUser.id,
            freepass_type : type,
            freepass_no : no,
            mystudy_uid : mys_id
        });
        if (data.code === 'SUCCESS') await this.getSubListLecture();
      },
      alert(title) {
        this.message = title;
        $(".freepasabc").find('#modal-no-action').modal('show');
      }
    }
  }
</script>

<style >
  select.select-2 {
    display: none;
  }
  .page-lecture .lecture .item h3 {
    min-height: 44px !important;
  }
</style>
