<template>
  <div>
    <main>
      <div class="head_title pr">
        <button type="button" class="back btn-back">
          <img src="~/assets/img/arr-r.png" alt="">
        </button>
        <h1>프리패스</h1>
      </div>
      <div class="banner-note flex-center" @click="redirectBlank(URL_REVIEW_LIST)">
        <i class="icon icon-wr"></i>
        <p>후기 등록 시 <span>렛머니 1,000원 적립</span></p>
      </div>
      <div class="course" v-show="load">
<!--        <div class="course__list">-->
<!--          <h4 v-if="data && data.data">수강 중인 강좌 ({{data.data.length}})</h4>-->
<!--          <h4 v-else>수강 중인 강좌 (0)</h4>-->
<!--          <div class="item-freepass"  v-if="data && data.data && data.data.length">-->
<!--            <div class="item pr" v-for="mclass in data.data">-->
<!--              <time>{{formatDateTime(mclass.startdate)}} ~ <span>{{formatDateTime(mclass.enddate)}}</span></time>-->
<!--              <h3>{{mclass.title}} </h3>-->
<!--              <div class="info flex">-->
<!--                <p>남은 일수 : {{diffDayNow(mclass.enddate) }}일</p>-->
<!--                <p>강의수 : {{parseLectureAmountInfo(mclass.lec_amount_info, mclass.lec_amount_info2, mclass.lec_amount_info3)['period']}}</p>-->
<!--              </div>-->
<!--              <button type="button" class="btn_view" v-if="diffDayNow(mclass.enddate) > 0" @click="redirectRoute(`/freepass-list/${mclass.mys_uid}`)" ><i class="icon icon-file" ></i></button>-->
<!--              <button type="button" class="btn_view" v-else @click="showPop('#modal-application' ,null, mclass.mys_uid, mclass.title)"><i class="icon icon-w"></i></button>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="notifi" v-else>-->
<!--            <h5>수강 중인 강좌가 없습니다.</h5>-->
<!--            <div class="img"><img src="~/assets/img/icon-media.png" alt=""></div>-->
<!--            <p>무슨 강의를 들을지 모르시겠다구요?-->
<!--              유이니가 <span>1:1 맞춤 강의</span>를 <span>추천</span>해드릴게요!-->
<!--            </p>-->
<!--            <a href="https://www.letuin.com/notice.php?action=custom_lecture" target="_blank" title="" class="btn_apply">1:1맞춤강의-->
<!--              상담신청</a>-->
<!--          </div>-->
<!--        </div>-->
        <div class="lecture freepasslc pb-0" v-if="data && data.data && data.data.length">
          <h4 v-if="data && data.data">수강 중인 강좌 ({{data.data.length}})</h4>
          <h4 v-else>수강 중인 강좌 (0)</h4>
          <div class="lecture__list item-freepass">
            <div class="item" v-for="mclass in data.data">
              <div class="item__scroll">
                <div class="scroll pr" style="
    width: 100% !important;">
                  <div class="content pr">
                    <div class="progress">수강기간  : {{formatDateTime(mclass.startdate)}} ~ <span>{{formatDateTime(mclass.enddate)}}</span></div>
                    <h3>{{mclass.title}}</h3>
                    <div class="info flex">
                      <p style="padding-right: 20px">남은 일수 : {{diffDayNow(mclass.enddate) }}일</p>
                      <p>강의수 : {{ mclass['강의의 갯수'] }}</p>
                    </div>
                    <i class="icon icon-arr" v-if="mclass.pass_rate >= 50"></i>
                  </div>
                  <div class="box-btn flex" v-if="mclass.pass_rate >= 50" style="right: -100px;">
                    <a href="javascript:;" class="btn btn_dl" @click="showPop('#modal-application' ,null, mclass.mys_uid, mclass.title)"></a>
<!--                    <a href="javascript:;" class="btn btn_wr"></a>-->
                  </div>
                  <div class="box-btn flex review_button" v-else>
<!--                    <a href="javascript:;" class="btn btn_wr"></a>-->
                  </div>
                </div>
              </div>
              <button type="button" class="btn_download"  v-if="diffDayNow(mclass.enddate) > 0" @click="redirectRoute(`/freepass-list/${mclass.mys_uid}`)"></button>
            </div>
          </div>
        </div>
        <div class="notifi" v-else>
          <h5>수강 중인 강좌가 없습니다.</h5>
          <div class="img"><img src="~/assets/img/icon-media.png" alt=""></div>
          <p>무슨 강의를 들을지 모르시겠다구요?
            유이니가 <span>1:1 맞춤 강의</span>를 <span>추천</span>해드릴게요!
          </p>
          <a href="https://www.letuin.com/notice.php?action=custom_lecture" target="_blank" title="" class="btn_apply">1:1맞춤강의
            상담신청</a>
        </div>
      </div>

      <div class="banner-blue text-center" v-if="data && data.data && !data.data.length">
        <h4>국가인증 NCS 수료증 발급</h4>
        <h2><span>0원</span> 취업끝장 프리패스</h2>
        <a href="" title="" class="btn_link flex-center">자세히보기<i class="icon icon-arr"></i></a>
      </div>
      <div class="notes bgt">
        <div class="notes__header flex-lc">
          <h4 class="flex-lc"><i class="icon icon-qs">?</i> 환급 유의사항</h4>
          <button type="button" class="btn_collapse dr" data-toggle="collapse" data-target="#notes"></button>
        </div>
        <div class="notes__content collapse_content collapse show" id="notes">
          <div class="box-text">
            <p>· 환급 조건은 6+1개월 “0”원 프리패스는 120일 연속, 3개월 “0”원
              프리패스는 90일 연속 출석해야 합니다.</p>
            <p>· 환급 신청은 프리패스 종료 후 30일 이내 가능합니다. (기간 초과 시
              신청이 불가합니다.)</p>
            <p>· (환급 신청) 선택 후 정보 입력하시면, 환급
              접수되고 조건 확인 후 입력한 환급계좌로 입금됩니다.
              (제세공과금 22% 제외 후 환급)</p>
            <p>· 단, 출석미션 프리패스는 종료 후
              “종료된 콘텐츠” 메뉴에서 환급 신청 가능합니다.</p>
            <p>· 환급 처리 기간은 환급 조건 확인 과정으로 인해 최대 30일이
              소요됩니다.</p>
            <p>· 환급 조건보다 부족한 출석 일수로 인한 일부 환급은 불가합니다.</p>
          </div>
        </div>
      </div>
      <div class="notes_other" @click="redirectBlank(URL_REDIRECT)" style="cursor: pointer">
        ※ 기타 프리패스 문의사항은 ‘0원 취업끝장 프리패스 자세히보기’를
        참고 바랍니다.
      </div>
      <div class="nav-link flex">
        <a href="javascript:;" title="" class="col-4" data-toggle="modal" data-target="#modal-guidebook">취업핵심가이드북</a>
        <a href="https://ncs.letuin.com/download/freepass_guide.pdf" target="_blank" title="" class="col-4">프리패스이용안내</a>
        <a href="javascript:;" title="" class="col-4" data-toggle="modal" data-target="#modal-ncsinfo">NCS강의 이용안내</a>
      </div>
      <div class="nav-bt flex-center w100">
<!--        <a :href="URL_FOOTER" target="_blank" class="flex-center" ><i-->
<!--          class="icon icon-qs">?</i> 신규강의 확인 및 프리패스 이용안내 보기</a>-->
        <a href="javascript:;" class="flex-center" data-toggle="modal" data-target="#modal-freepassinfo"><i class="icon icon-qs">?</i>
          신규강의 확인 및 프리패스 이용안내 보기</a>
      </div>
      <button type="button" class="backtop">backtop</button>
    </main>
    <div class="modal modal-md fade modal-freepassinfo" id="modal-freepassinfo">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="title title-freepassinfo">신규강의 확인 및 프리패스 이용안내</h4>
            <a href="javascript:;" class="close" data-dismiss="modal"></a>
          </div>
          <div class="modal-body">
            <div class="text preline">
              <span>공지사항 및 업데이트 강의</span>
              안녕하세요! 렛유인입니다.
              프리패스 구매해주시고 이용해주셔서 감사합니다.
              아래의 이용 안내를 확인 후 프리패스를 이용 바랍니다.
            </div>
            <div class="box-text">
              <h4 class="flex-lc"><i class="icon icon-qs">?</i> 프리패스 이용안내</h4>
              <article>
                <p>1. 강의 및 기간</p>
                <p>· 구매 수강 기간 내에 렛유인 모든 온라인 강의 이용 가능</p>
                <p>· 프리패스 수강 기간 내 등록 기기에서 무한 수강 가능</p>
                <br>
                <p>2. 기기 등록</p>
                <p>· 총 3대 기기 등록 가능 ( 1회에 한하여 기기 변경 가능)</p>
                <p>· PC(윈도우/MAC), 모바일, 태블릿 등 모든 기기 등록 가능</p>
                <br>
                <p>3. 출석 안내</p>
                <p>· 출석 인정 수강 시간은 25분이며, 출석체크를 하셔야</p>
                <p>“출석”: 처리</p>
                <br>
                <p>4. 신규강의 및 업데이트 강의</p>
                <a href="https://www.letuin.com/download/200102.pdf" target="_blank" title="" class="btn_check">업데이트 강의 확인</a>
              </article>
            </div>
            <div class="text preline">
              렛유인이 여러분의 취업 합격의 동반자가 되겠습니다.
              이공계 취업 1위 렛유인 드림.
            </div>
          </div>
        </div>
      </div>
    </div>
    <FreepassGuideBook :guide-books="guideBooks" @changeKeyword="changeKeyword"></FreepassGuideBook>
    <FreepassNCSInfoPop1></FreepassNCSInfoPop1>
    <ApplicationPass :mys_id="rf_uid" :subject="subject" :me="loggedInUser"></ApplicationPass>
  </div>
</template>

<script>
  import {GuideBookApiService, MyClassApiService, RefundApiService} from "../../store/service.api";
  import {mapGetters} from 'vuex'
  import {diffDayNow, formatDate, parseLectureAmountInfo} from "../../common/helpers";
  import FreepassGuideBook from "../../components/modal/FreepassGuideBook";
  import FreepassNCSInfoPop1 from "../../components/modal/FreepassNCSInfoPop1";
  import ApplicationPass from "../../components/modal/ApplicationPass";
  export default {
    name: "index",
    middleware : ['authenticate'],
    components : { FreepassGuideBook, FreepassNCSInfoPop1, ApplicationPass},
    data() {
      return {
        load: false,
        data: {},
        AVG_PASS_RATE : 70,
        URL_REDIRECT : 'https://www.letuin.com/lecture.php?action=freepass_9#freeInfo',
        URL_REVIEW_LIST : 'https://www.letuin.com/board.php?action=boardLate&off_type=online&find=til&search=',
        URL_FOOTER : 'https://www.letuin.com/mypage.php?action=freepass#freepass_div',
        guideBooks : [],
        allGuideBooks : [],
        mys_uid : '',
        rf_uid : '',
        subject : ''
      }
    },
    computed: {
      ...mapGetters(['isAuthenticated', 'loggedInUser']),
    },
    mounted() {
      $('.backtop').on('click',function () {
        $('html,body').animate({scrollTop: 0},300);
      });
    },
    created() {
      this.getLectureFreePass({user_id :  this.loggedInUser.id})
    },
    methods: {
      async getLectureFreePass(params) {
        this.data = await MyClassApiService.getFreePass(params)
        this.load = true
        this.data.data.forEach((e, key) => {
              this.mys_uid += e.mys_uid;
              if (key < this.data.data.length - 1) this.mys_uid += ',';
        });
        let data = await  GuideBookApiService.get({"mystudy_uid[]" : this.mys_uid});
        this.guideBooks = data.data.pdf_list[0].pdf_list;
        this.allGuideBooks = data.data.pdf_list[0].pdf_list;
      },
      formatDateTime(time) {
        return formatDate(time)
      },
      diffDayNow(date) {
        return diffDayNow(date)
      },
      parseLectureAmountInfo(lec_amount_info, lec_amount_info2, lec_amount_info3){
        return parseLectureAmountInfo(lec_amount_info, lec_amount_info2, lec_amount_info3)
      },
      redirectBlank(url) {
        window.open(url, '_blank');
      },
      redirectRoute(url) {
        this.$router.push(url);
      },
      changeKeyword(val) {
        this.guideBooks = (val) ? this.allGuideBooks.find(item => item.title == val) : this.allGuideBooks;
      },
      showPop(item , hideItem = null, mys_uid = null, subject = null) {
        $(item).modal('show');
        hideItem ? $(hideItem).modal('show') : '';
        if (mys_uid) this.rf_uid = mys_uid;
        if (subject) this.subject = subject;
      },

    }
  }
</script>

<style scoped>
  .title-freepassinfo {
    font-size: 4vw !important;
  }
  .freepasslc .item .content {
    width: 100% !important;
    padding: 5.1388888889vw 10.4166666667vw 4.8611111111vw 4.8611111111vw;
  }
</style>
