<template>
  <div>
    <main>
      <div class="head_title pr">
        <button type="button" class="back btn-back">
          <img src="~/assets/img/arr-r.png" alt="">
        </button>
        <h1>회원가입 - 추가정보입력</h1>
      </div>
      <div class="addinfo">
        <div class="text">
          <span>당신에게 딱!</span>
          <p>어울리는 맞춤형 강의는?</p>
        </div>
        <button type="button" class="btn_start btn_se flex-center" data-toggle="modal" data-target="#modal-compop">
          시작하기
        </button>
        <div class="note preline">
          ※ 입력된 정보는 추천 강의 제공을 위해 활용되며,
          그 외 다른 목적으로 사용되지 않습니다.
        </div>
        <div class="banner banner-discount mb-ft">
          <h5>1:1맞춤강의 추천을 위한 온라인 상담 완료 시</h5>
          <p><span>50%</span> 할인쿠폰 증정 <span>(최초 1회)</span></p>
        </div>
      </div>
    </main>
    <AddinfoComPopup @addInfo="addInformation"></AddinfoComPopup>
    <AddinfoChoicePopup :option="option" @addInfoCompany="addInfoCompany"></AddinfoChoicePopup>
    <AddInfoChoicePopUp2 :option="option" @addInfoChoice2="addInfoChoice2"></AddInfoChoicePopUp2>
    <AddInFoChoicePopup3 :option="option" @addInfoChoice3="addInfoChoice3"></AddInFoChoicePopup3>
    <AddInfoComPopup3 @addInfoCom3="addInfoCom3"></AddInfoComPopup3>
    <AddInfoComPopup4 @addInfoCom4="addInfoCom4"></AddInfoComPopup4>
    <AddInfoComPopup5></AddInfoComPopup5>
  </div>
</template>

<script>
import AddinfoComPopup from "~/components/modal/AddinfoComPopup";
import AddinfoChoicePopup from "../../components/modal/AddinfoChoicePopup";
import AddInfoChoicePopUp2 from "../../components/modal/AddInfoChoicePopUp2";
import AddInFoChoicePopup3 from "../../components/modal/AddInFoChoicePopup3";
import AddInfoComPopup3 from "../../components/modal/AddInfoComPopup3";
import AddInfoComPopup4 from "../../components/modal/AddInfoComPopup4";

import { INFOR1 } from "../../common/constant";
import {AuthService} from "../../store/service.api";
import AddInfoComPopup5 from "../../components/modal/AddInfoComPopup5";

export default {
  name: "index",
  components: {
    AddInfoComPopup5,
    AddinfoComPopup,
    AddinfoChoicePopup,
    AddInfoChoicePopUp2,
    AddInFoChoicePopup3,
    AddInfoComPopup3,
    AddInfoComPopup4
  },
  data() {
    return {
      option : "",
      addinfo2 : "",
      addinfo3 : "",
      addinfo4 : "",
      addinfo5: "",
      addinfo6 : ""
    }
  },
  mounted() {
    $('.modal-addinfo .select_list input').on('change load', function () {
      if ($('.modal-addinfo .select_list input').is(':checked')) {
        $('.btn_next_com').addClass('active');
      } else {
        $('.btn_next_com').removeClass('active');
      }
    });
    let formData =  JSON.parse(localStorage.getItem('reconfirm'))
    if (!formData) {
      this.$router.push('/')
    } else if (formData && !formData.success) {
      this.$router.push('/basic-info')
    }
  },
  methods : {
    addInformation(data) {
      this.option = data
      $('#modal-compop').modal('hide')
      $('#modal-choicepop').modal('show')
    },
    addInfoCompany(data) {
      let string =  ""
      data.forEach(function (value) {
        string += value + ','
      })
      this.addinfo2 = string.slice(0, -1)
      $('#modal-choicepop').modal('hide')
      $('#modal-choicepop-2').modal('show')
    },
    addInfoChoice2(data) {
      let string =  ""
      data.forEach(function (value) {
        string += value + ','
      })
      this.addinfo3 = string.slice(0, -1)
      $('#modal-choicepop-2').modal('hide')
      $('#modal-choicepop-3').modal('show')
    },
    addInfoChoice3(data) {
      let string =  ""
      data.forEach(function (value) {
        string += value + ','
      })
      this.addinfo4 = string.slice(0, -1)
      $('#modal-choicepop-3').modal('hide')
      $('#modal-compop-3').modal('show')
    },
    addInfoCom3(data) {
      this.addinfo5 = data
      $('#modal-compop-3').modal('hide')
      $('#modal-compop-4').modal('show')
    },
    async addInfoCom4(data) {
      this.addinfo6 = data
      let formDate =  JSON.parse(localStorage.getItem('reconfirm'))
      let res = await AuthService.addInfo({
        "id": formDate.id,
        "addinfo1": this.addinfo1,
        "addinfo2": this.addinfo2,
        "addinfo3": this.addinfo3,
        "addinfo4": this.addinfo4,
        "addinfo5": this.addinfo5,
        "addinfo6": this.addinfo6
      })
      if (res.message) {
        $('#modal-compop-4').modal('hide')
        $('#modal-compop-5').modal('show')
        localStorage.removeItem('reconfirm')
      }
    }
  },
  computed : {
    addinfo1 : function () {
      return INFOR1[this.option]
    }
  }
}
</script>

<style scoped>
input[type=checkbox], input[type=radio] {
  position: absolute;
  width: 100%;
  opacity: 0;
  height: 43px;
}

</style>
