<template>
  <div class="package-cartLayer">
    <div class="modal" tabindex="-1" role="dialog" id="cartOption">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <main class="main-h">
              <!--            <div class="head_title pr flex-center">-->
              <!--              <h1>2 Depth Title</h1>-->
              <!--              <button type="button" class="btn_collapse dr"></button>-->
              <!--            </div>-->
              <div class="carts">
                <div class="carts__package pr">
                  <button type="button" class="btn_collapse" data-dismiss="modal"></button>
                  <div class="item" v-for="item in data">
                    <div class="info">
                      <h4>강의</h4>
                      <p>{{item.title}}</p>
                    </div>
                    <div class="box-select">
                      <div class="selected pr">개강일을 선택해주세요.</div>
                      <ul class="select_list">
                        <li v-for="schedule in item.schedule"
                            v-if="schedule.left_start > 0"
                            :data-disable="(schedule.is_join_period === 'Y' && (schedule.is_join_limit == 'Y'|| schedule.soldout =='Y')) || (schedule.is_join_period !== 'Y')"
                            :data-day="schedule.open_order + '기'"
                            :data-left="schedule.left_start"
                            :data-no="item.no"
                            :data-date="schedule.no"
                            :data-time="convertStringToJson(schedule.date_info)['개강일']+ ' (화) ' +  convertStringToJson(schedule.date_info)['시간시작'] +' ~ ' + convertStringToJson(schedule.date_info)['시간종료']"
                        >
                          <time>{{convertStringToJson(schedule.date_info)['개강일']}} ({{formatShort(convertStringToJson(schedule.date_info)['개강일'])}}) {{convertStringToJson(schedule.date_info)['시간시작']}} ~ {{convertStringToJson(schedule.date_info)['시간종료']}}
                          </time>
                          <p>{{schedule.open_order + '기'}} I {{item.teacher_text}} I 정원 <span>{{schedule.attend_limit}}</span>명 I <span>{{renderStatusLecture(schedule.left_start)}}</span></p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="carts__total flex-end">
                  <h4>총 결제금액</h4>
                  <div class="price">
                    <div class="price__old" v-show="percent(splitString(lecture.pack_amount_info2)[1], splitString(lecture.pack_amount_info2)[2]) > 0">{{formatMoney(splitString(lecture.pack_amount_info2, ',')[1], '원', ',')}}</div>
                    <div class="flex-lc">
                      <div class="price__discount flex-lc" v-show="percent(splitString(lecture.pack_amount_info2)[1], splitString(lecture.pack_amount_info2)[2]) > 0">{{percent(splitString(lecture.pack_amount_info2)[1], splitString(lecture.pack_amount_info2)[2])}}% <i class="icon icon-discount"></i></div>
                      <div class="price__current">{{formatMoney(splitString(lecture.pack_amount_info2, ',')[2], '원', ',')}}</div>
                    </div>
                  </div>
                </div>
                <div class="s-action w-5 flex">
                  <a @click="addToCart('/cart')" class="btn_cart flex-center" href="javascript:;"><i class="icon icon-cart"></i> 장바구니</a>
                  <a @click="addToCart('/mem-order')" class="btn_buy flex-center" href="javascript:;"><i class="icon icon-wl"></i> 구매하기</a>
                </div>
              </div>
            </main>
          </div>
        </div>
      </div>
    </div>
    <LoginModalConfirm></LoginModalConfirm>
    <ConfirmMainBanAction @actionEvent="pushData" :title="message"></ConfirmMainBanAction>
    <ConfirmMainBanNoAction :title="message"></ConfirmMainBanNoAction>
  </div>
</template>

<script>
  import {diffDayNow, formatMoney} from "../../../common/helpers";
  import LoginModalConfirm from "../../modal/LoginModalConfirm";
  import {mapGetters} from 'vuex'
  import ConfirmMainBanAction from "../../modal/ConfirmMainBanAction";
  import ConfirmMainBanNoAction from "../../modal/ConfirmMainBanNoAction";
  import {CartApiService} from "../../../store/service.api";

  export default {
    name: "CartLayer",
    props: ['data', 'lecture'],
    components: {
      LoginModalConfirm,
      ConfirmMainBanAction,
      ConfirmMainBanNoAction
    },
    data() {
      return {
        message : '',
        carts : [],
        uri: '/cart'
      }
    },
    computed: {
      ...mapGetters(['isAuthenticated', 'loggedInUser']),
    },
    methods: {
      alert(message) {
        this.message = message
        $(".package-cartLayer").find('#modal-no-action').modal('show')
        return;
      },
      convertStringToJson(string) {
        return JSON.parse(string);
      },
      diffDayNow(date) {
        return diffDayNow(date)
      },
      renderStatusLecture(day) {
        if (day === 0) return 'D-day'
        if (day < 0) return '마감'
        return 'D-' + day
      },
      formatMoney(val, currency, format) {
        return val ?  formatMoney(val, currency, format) : 0;
      },
      splitString(string, pattern = ',') {
        return string ?  string.split(pattern) : 0;
      },
      percent(n1, n2) {
        if(!n1 || !n2) return 0;
        return (((parseInt(n1) - parseInt(n2)) / n1) * 100).toFixed(2);
      },
      formatShort(day) {
        let date = new Date(day)
        let options = { weekday: 'short' };
        return date.toLocaleDateString('ko-KR', options)
      },
      async getCart(){
        let data  = await CartApiService.getCartUser();
        this.carts = data['data'];
      },
      checkLectureExistCart(no) {
        return  this.carts.find(e => e.pack_uid == no);
      },
      async addToCart(uri) {
        this.uri = uri
        if (!this.isAuthenticated) {
          this.$cookies.set('callback', this.$route.path)
          $('#modal-confirm').modal('show')
          $('#cartOption').modal('hide')
          return;
        }
        await  this.getCart();
        let item = this.checkLectureExistCart(this.lecture.uid);
        if (item && item != 'undefined') {
          this.message = '해당 강의는 이미 장바구니에 담겨있습니다. 장비구니를 확인바랍니다.';
          this.openConfirmModal();
          return ;
        } else {
          let itemChecked = $('.selected_item');
          if (itemChecked.length < this.data.length) {
            this.alert('강의를 모두 선택해주세요.')
            return;
          }
        }
        this.pushData();
      },
        getPushData() {
          let itemChecked = $('.selected_item');
          let params = [];
          let dataPack = {
            gubun: 'PACK',
            no: this.lecture.uid,
            type: 'ALL',
          }
          let dateNo = [];
          if (itemChecked.length) {
            itemChecked.each(function (e , item) {
              let val = $(item).data('value');
              dateNo.push(val.date_no);
            })
            dataPack.date = dateNo
            params.push(dataPack)
          }
          return params;
        },
       pushData() {
        let item = this.checkLectureExistCart(this.lecture.uid);
        if (item && item != 'undefined') {
            this.$router.push('/cart');
        } else {
          this.$emit('addToCart', {
            params: this.getPushData(),
            uri: this.uri
          });
        }
      },
      openConfirmModal() {
        $('.package-cartLayer').find('#modal-confirm-action').modal('show')
      },
      closeConfirmModal() {
        $('.package-cartLayer').find('#modal-confirm-action').modal('hide')
      },
    }
  }
</script>
