<template>
  <div>
    <button id="recommendation-lecture" class="button-tab"></button>
    <div class="table_of_content ">
      <h4>목차 ({{total_lecture}})</h4>
      <ul class="list">
        <li>
          <span>분류</span>
          <span>강사명</span>
          <h5> 강의명</h5>
          <time>구성</time>
        </li>
        <li v-for="(item, key) in data">
          <span>{{ item.category_name }}</span>
          <span>{{item.teacher_text}}</span>
          <nuxt-link :to="'/details/single/' + item.no"><h5>{{item.title.length > 18 ? item.title.substr(0,18) + '...' : item.title }}</h5></nuxt-link>
          <time>{{item.item_cnt}} 강</time>
        </li>
      </ul>
      <button type="button" class="btn_viewmore flex-center" v-if="Object.keys(data).length < total_lecture && total_lecture > 5" @click="btnViewMore">더보기</button>
    </div>
  </div>
</template>

<script>
  export default {
    name: "ComponentPackage",
    props : ['data', 'total_lecture', 'limit', 'more_item'],
    watch: {
      more_item(newVal) {
        Object.keys(newVal).forEach( (e, key) => {
          this.data[Object.keys(this.data).length] = newVal[e];
        })
        this.$forceUpdate();
      }
    },
    methods : {
      btnViewMore() {
        this.$emit('viewMoreLecture');
      }
    },
  }
</script>

<style scoped>
  .table_of_content {
    margin-bottom: 0px !important;
  }
  .button-tab {
    margin-bottom: 130px;
  }
</style>
