<template>
  <main class="find-id-email">
    <div class="showResult" v-if="showResult">
      <div class="find-true" v-if="findResult">
        <div class="head_title pr">
          <button type="button" class=" btn_back btn-back" @click="showResult = false">
            <img src="~/assets/img/arr-r.png" alt="">
          </button>
          <h1>아이디 찾기</h1>
          <button type="button" @click="showResult = false"  class="btn_close"></button>
        </div>
        <div class="findid bg_gray mb-ft">
          <div class="finid__true">
            <h4>입력하신 정보로 등록된 회원정보 입니다.</h4>
            <div class="result">
              아이디 : <span>: {{ formatID(result.id) }}</span>
              <time>(가입일 {{convertDateTime(result.datetime, 'YYYY.MM.DD')}})</time>
            </div>
            <div class="box-btn flex">
              <button type="button" class="btn_login btn_pr flex-center" @click="redirectRoute('/login')">로그인</button>
              <button type="button" class="btn_forgotpass btn_se flex-center" @click="redirectRoute('/find-password/email')">비밀번호 찾기</button>
            </div>
          </div>
        </div>
      </div>
      <div class="find-fail" v-else>
        <div class="head_title pr">
          <button type="button" class=" btn_back back" >
            <img src="~/assets/img/arr-r.png" alt="">
          </button>
          <h1>아이디 찾기</h1>
          <button type="button" @click="showResult = false" class="btn_close"></button>
        </div>
        <div class="findid bg_gray mb-ft">
          <div class="findid__fail">
            <div class="img"><img src="~/assets/img/icon-per.png" alt=""></div>
            <h4>입력하신 정보로 등록된 회원이 없습니다.</h4>
            <p class="preline">
              정보를 다시 확인하시고
              시도해주세요.
            </p>
            <button type="button" class="btn_register flex-center" @click="redirectRoute('/comjoin')">회원가입</button>
          </div>
        </div>
      </div>
    </div>
    <div class="action" v-else>
      <div class="head_title pr">
        <button type="button" class="back btn-back">
          <img src="~/assets/img/arr-r.png" alt="">
        </button>
        <h1>아이디 찾기</h1>
      </div>
      <div class="findidp">
        <ul class="findidp__tab nav flex">
          <li><nuxt-link to="/find-id/phone" title=""  >휴대폰 번호로 찾기</nuxt-link></li>
          <li><nuxt-link to="/find-id/email" title=""  class="active">이메일 주소로 찾기</nuxt-link></li>
        </ul>
        <div class="tab-content">
          <div id="phone" class="tab-pane">
          </div>
          <div id="email" class="tab-pane fade show active">
            <div class="box-form">
              <form action="" method="">
                <div class="form-group">
                  <input type="text" name="" v-model.lazy.trim="emailData.name" placeholder="이름" :class="[{ 'input-error': $v.emailData.name.$error }, 'w-100']" >
                </div>
                <div v-if="$v.emailData.name.$error">
                  <div class="error">{{ getMessage($v.emailData.name, "name") }}</div>
                </div>
                <div class="form-group">
                  <input  type="email" name="" placeholder="이메일 주소" v-model.lazy.trim="emailData.email" class="email"  :class="[{ 'input-error': $v.emailData.email.$error }]">
                  <button type="button" class="btn_request flex-center" @click="getOPTViaEmail()">{{ emailData.counting ? '인증 재요청' : '인증요청'
                    }}
                  </button>
                </div>
                <div v-if="$v.emailData.email.$error">
                  <div class="error">{{ getMessage($v.emailData.email, "email") }}</div>
                </div>
                <div v-show="emailData.validOPT">
                  <div class="success">이메일 확인이 완료되었습니다.</div>
                </div>
                <div class="form-group" v-if="emailData.counting">
                  <div class="group pr">
                    <input class="number" type="number" v-model.lazy.trim="emailData.confirm" placeholder="인증번호 (숫자 6자리)" :class="[{ 'input-error': $v.emailData.confirm.$error }]">
                    <div class="time">
                      <countdown ref="countdown" :time="time" :transform="transform" @end="onCountdownEnd">
                        <template slot-scope="props">{{ props.minutes }}:{{ props.seconds }}</template>
                      </countdown>
                    </div>
                  </div>
                  <button type="button" class="btn_confirm flex-center" @click.lazy="confirmEmail()">확인</button>
                </div>
                <button type="button" class="btn_forgotpass btn_se flex-center"  @click="getInformationViaEmail()">아이디 찾기</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ConfirmBanNoAction  :title="message"></ConfirmBanNoAction>
  </main>
</template>

<script>
    import {AuthService} from "../../store/service.api";
    import {TIME_EXPIRED, TYPE_OTHER} from "../../common/constant";
    import {formatID} from "../../common/helpers";
    import moment from "moment";
    import {email, maxLength, minLength, required, sameAs} from "vuelidate/lib/validators";
    import {length} from "../../common/helpers_validate";
    import {msgValidate} from "../../common/register_validate";
    import ConfirmBanNoAction from "../../components/modal/ConfirmMainBanNoAction";
    export default {
      name: "email",
      components : {ConfirmBanNoAction},
      data() {
        return {
          emailData : {
            email : '',
            confirm : '',
            name : '',
            validOTP : false,
            code : '',
            counting : false
          },
          time: 18000,
          counting: false,
          checkValidOTP : false,
          FIND_BY_PHONE : 'hp',
          FIND_BY_EMAIL : 'email',
          findResult : false,
          showResult : false,
          result : {},
          invalidEmail : false,
          message : '',
          validation : false
        }
      },
      validations: {
        emailData : {
          email : {
            required,
            email
          },
          name: {
            required,
            minLength: minLength(2),
            maxLength: maxLength(6),
          },
          confirm: {
            required,
            sameAs: sameAs(function () {
              return this.emailData.code
            })
          },
        },
      },
      methods : {
        //email
        confirmEmail() {
          this.$v.emailData.confirm.$touch()
          if (!this.$v.emailData.confirm.$error) {
            this.emailData.validOPT = true
            this.emailData.counting = false;
            // alert('인증번호가 성공적으로 확인되었습니다.');
            this.showModalConfirm('인증번호가 성공적으로 확인되었습니다.');
          }
        },
        showModalConfirm(title) {
          this.message = title;
         $(".find-id-email").find('#modal-no-action').modal('show');
        },
        async getOPTViaEmail() {
          this.emailData.validOPT = false
          this.$v.emailData.confirm.$reset()
          this.emailData.confirm = ''
          this.$v.emailData.email.$touch()
          if (!this.$v.emailData.email.$error) {
            this.emailData.counting = false
            let data = await AuthService.checkEmail({
              email: this.emailData.email,
              type: TYPE_OTHER
            })
            if (data.status) {
              this.emailData.code = data.data.code
              this.time = TIME_EXPIRED
              this.emailData.counting = true
              // alert('입력하신 이메일 주소로 인증번호가 발송되었습니다. 인증번호 확인 후 입력해 주세요.')
              this.showModalConfirm('입력하신 이메일 주소로 인증번호가 발송되었습니다. 인증번호 확인 후 입력해 주세요.');
            } else {
              this.emailData.counting = false
              this.showModalConfirm('올바른 이메일 주소를 입력해 주세요.');
              // alert('올바른 이메일 주소를 입력해 주세요.')
            }
          }
        },
        async getInformationViaEmail() {
          if (!this.emailData.validOPT) {
            this.showModalConfirm('인증번호가 정확하지 않습니다.');
            // alert('인증번호가 정확하지 않습니다.');
            return;
          }
          this.$v.emailData.name.$touch()
          this.$v.emailData.email.$touch()
          if (this.$v.emailData.email.$error ||this.$v.emailData.name.$error) {
            return ;
          }
          let data = await AuthService.finID({
            field_name : this.FIND_BY_EMAIL,
            value: this.emailData.email,
            name : this.emailData.name
          })
          if (data.success) {
            this.findResult = true;
            this.result = {
              id : data.data.id,
              date : data.data.datetime
            }
          }

          this.showResult = true;
          this.resetData();

          return true;
        },
        formatID(id) {
          return formatID(id);
        },
        convertDateTime(date, format) {
          return  moment(date).format(format);
        },
        redirectRoute(url) {
          return this.$router.push(url);
        },
        onCountdownEnd() {
          this.counting = false
          this.emailData.counting = false;
        },
        transform(props) {
          Object.entries(props).forEach(([key, value]) => {
            props[key] = value < 10 ? `0${value}` : value;
          });

          return props;
        },
        resetData() {
          this.emailData = {
            email : '',
            confirm : '',
            name : '',
            validOTP : false,
            code : '',
            counting : false
          }
          this.counting = false;
          this.invalidEmail = false;
          this.$v.emailData.$reset();
          this.checkValidOTP = false;
        },
        getMessage(v, field, value) {
          return msgValidate(v, field, value)
        },
      }
    }
</script>

<style scoped>
  .btn_forgotpass {
    border-radius: 20px;
  }

  .btn_close {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: inherit;
    height: 20px;
    width: 20px;
    transform: inherit;
    z-index: 9;
  }
  .head_title {
    position: relative;
  }
</style>
