<template>
  <main class="find-id-phone">
    <div class="showResult" v-if="showResult">
      <div class="find-true" v-if="findResult">
        <div class="head_title pr">
          <button type="button" class="btn-back" @click="showResult = false">
            <img src="~/assets/img/arr-r.png" alt="">
          </button>
          <h1>아이디 찾기</h1>
          <button type="button" @click="showResult = false"  class="btn_close"></button>
        </div>
        <div class="findid bg_gray mb-ft">
          <div class="finid__true">
            <h4>입력하신 정보로 등록된 회원정보 입니다.</h4>
            <div class="result">
              아이디 : <span>: {{ formatID(result.id) }}</span>
              <time>(가입일 {{convertDateTime(result.datetime, 'YYYY.MM.DD')}})</time>
            </div>
            <div class="box-btn flex">
              <button type="button" class="btn_login btn_pr flex-center" @click="redirectRoute('/login')">로그인</button>
              <button type="button" class="btn_forgotpass btn_se flex-center" @click="redirectRoute('/find-password/phone')">비밀번호 찾기</button>
            </div>
          </div>
        </div>
      </div>
      <div class="find-fail" v-else>
        <div class="head_title pr">
          <button type="button"  class="btn-back" @click="showResult = false">
            <img src="~/assets/img/arr-r.png" alt="">
          </button>
          <h1>아이디 찾기</h1>
          <button type="button" @click="showResult = false" class="btn_close"></button>
        </div>
        <div class="findid bg_gray mb-ft">
          <div class="findid__fail">
            <div class="img"><img src="~/assets/img/icon-per.png" alt=""></div>
            <h4>입력하신 정보로 등록된 회원이 없습니다.</h4>
            <p class="preline">
              정보를 다시 확인하시고
              시도해주세요.
            </p>
            <button type="button" class="btn_register flex-center" @click="redirectRoute('/register')">회원가입</button>
          </div>
        </div>
      </div>
    </div>
    <div class="action" v-else>
      <div class="head_title pr">
        <button type="button" class="back btn-back">
          <img src="~/assets/img/arr-r.png" alt="">
        </button>
        <h1>아이디 찾기</h1>
      </div>
      <div class="findidp">
        <ul class="findidp__tab nav flex">
          <li><nuxt-link to="/find-id/phone" title=""  class="active">휴대폰 번호로 찾기</nuxt-link></li>
          <li><nuxt-link to="/find-id/email" title="" >이메일 주소로 찾기</nuxt-link></li>
        </ul>
        <div class="tab-content">
          <div id="phone" class="tab-pane fade show active">
            <div class="box-form">
              <form action="" method="">
                <div class="form-group">
                  <input :class="[{ 'is-invalid': $v.name.$error }, 'form-control', 'w-100']" type="text" name=""
                         v-model.lazy.trim="name" placeholder="이름">
                </div>
                <div v-if="$v.name.$error">
                  <div class="error">{{ getMessage($v.name, "name") }}</div>
                </div>
                <div class="form-group">
                  <input :class="[{ 'is-invalid': $v.smsData.phone.$error }, 'form-control', 'value number']" v-model="smsData.phone"
                         type="text" name="" placeholder="휴대폰 번호 (‘-’없이 입력)" @keypress="onlyNumber($event)" @keyup="changeFormatPhone(smsData.phone)" @paste="preventCopyAndPaste">

                  <button type="button" class="btn_request flex-center" @click="getOPT()">{{ counting ? '인증 재요청' : '인증요청'
                    }}
                  </button>
                </div>
                <div v-if="$v.smsData.phone.$error">
                  <div class="error">{{ getMessage($v.smsData.phone, "phone") }}</div>
                </div>
                <div v-else-if="validOPT">
                  <div class="success">휴대전화 인증이 완료되었습니다</div>
                </div>
                <div class="form-group" v-if="counting">
                  <div class="group pr">
                    <input class="number" type="number" v-model.lazy.trim="smsData.confirm" placeholder="인증번호 (숫자 6자리)"
                           :class="{ 'input-error': $v.smsData.confirm.$error }">

                    <div class="time">
                      <countdown ref="countdown" :time="time" :transform="transform" @end="onCountdownEnd">
                        <template slot-scope="props">{{ props.minutes }}:{{ props.seconds }}</template>
                      </countdown>
                    </div>
                  </div>
                  <button type="button" class="btn_confirm flex-center" @click="confirm" :disabled="!counting">확인</button>
                </div>
                <button type="button" class="btn_findid btn_se flex-center" @click="getInformation()" >아이디 찾기</button>
              </form>
            </div>
          </div>
          <div id="email" class="tab-pane fade">
          </div>
        </div>
      </div>
    </div>
    <ConfirmBanNoAction  :title="message"></ConfirmBanNoAction>
  </main>
</template>

<script>
    import {AuthService} from "../../store/service.api";
    import {TIME_EXPIRED, TYPE_OTHER} from "../../common/constant";
    import {formatDashPhone, formatID, onlyNumber, preventCopyAndPaste} from "../../common/helpers";
    import moment from "moment";
    import {email, maxLength, minLength, required, sameAs} from "vuelidate/lib/validators";
    import {length} from "../../common/helpers_validate";
    import {msgValidate} from "../../common/register_validate";
    import ConfirmBanNoAction from "../../components/modal/ConfirmMainBanNoAction";
    export default {
        name: "phone",
      components : {ConfirmBanNoAction},
      data() {
        return {
          smsData : {
            phone: '',
            confirm: ''
          },
          name: '',
          code: '',
          time: 18000,
          counting: false,
          validOPT: false,
          checkValidOTP : false,
          FIND_BY_PHONE : 'hp',
          FIND_BY_EMAIL : 'email',
          findResult : false,
          showResult : false,
          result : {},
          invalidEmail : false,
          confirmText : '인증요청',
          message : ''
        }
      },
      validations: {
        smsData : {
          phone: {
            required,
            length: length(11),
          },
          confirm: {
            required,
            sameAs: sameAs(function () {
              return this.code
            })
          },
        },
        name: {
          required,
          minLength: minLength(2),
          maxLength: maxLength(6),
        },
      },
      methods : {
        //phone
        confirm() {
          this.$v.smsData.confirm.$touch()
          if (this.$v.smsData.confirm.$error) {
            // alert('인증번호가 정확하지 않습니다.');
            this.showModalConfirm('인증번호가 정확하지 않습니다.');
            return;
          }
          if (!this.$v.smsData.confirm.$error) {
            this.validOPT = true
            this.counting = false;
            // alert('휴대전화 인증이 완료되었습니다.');
            this.showModalConfirm('휴대전화 인증이 완료되었습니다.');
          }
        },
        showModalConfirm(title) {
          this.message = title;
          $(".find-id-phone").find('#modal-no-action').modal('show');
        },
        async getOPT() {
          this.$v.smsData.phone.$touch()
          this.validOPT = false
          this.$v.smsData.confirm.$reset()
          this.smsData.confirm = ''
          if (!this.$v.smsData.phone.$error) {
            this.counting = false
            let data = await AuthService.getOTP({
              phone: this.smsData.phone,
              type: TYPE_OTHER
            })
            if (data.success) {
              this.code = data.data.code
              this.time = TIME_EXPIRED
              this.counting = true
            } else {
              this.counting = false
              this.showModalConfirm('전화 번호가 존재하지 않습니다');
              // alert('전화 번호가 존재하지 않습니다')
            }
          }
        },
        async getInformation() {
          if (!this.validOPT) {
            // alert('인증번호가 정확하지 않습니다.');
            this.showModalConfirm('인증번호가 정확하지 않습니다.');
            return;
          }
          this.$v.name.$touch()
          this.$v.smsData.phone.$touch()
          if (this.$v.name.$error || this.$v.smsData.phone.$error) {
            return ;
          }
          let data = await AuthService.finID({
            field_name : this.FIND_BY_PHONE,
            value: this.smsData.phone,
            name : this.name
          })
          if (data.success) {
            this.findResult = true;
            this.result = {
              id : data.data.id,
              date : data.data.birth
            }
          }

          this.showResult = true;
          this.resetData();
          return true;
        },

        formatID(id) {
          return formatID(id);
        },
        convertDateTime(date, format) {
          return  moment(date).format(format);
        },
        redirectRoute(url) {
          return this.$router.push(url);
        },
        onCountdownEnd() {
          this.counting = false
          this.emailData.counting = false;
        },
        transform(props) {
          Object.entries(props).forEach(([key, value]) => {
            props[key] = value < 10 ? `0${value}` : value;
          });

          return props;
        },
        resetData() {
          this.smsData = {
            phone: '',
            confirm: ''
          }
          this.validOPT = false;
          this.name = '';
          this.code = '';
          this.counting = false;
          this.invalidEmail = false;
          this.checkValidOTP = false;
          this.$v.smsData.$reset();
        },
        changeFormatPhone(phone) {
          this.smsData.phone = formatDashPhone(phone)
          this.validOPT = false
          this.counting = false
          this.smsData.confirm = '';
        },
        getMessage(v, field, value) {
          return msgValidate(v, field, value)
        },
        onlyNumber(e) {
          onlyNumber(e)
        },
        preventCopyAndPaste(e) {
          preventCopyAndPaste(e);
        },
      }
    }
</script>

<style scoped>
  .btn_close {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: inherit;
    height: 20px;
    width: 20px;
    transform: inherit;
    z-index: 9;
  }
  .head_title {
    position: relative;
  }
  .btn_findid {
    border-radius: 20px;
  }
</style>
