<template>
  <main>
    <div class="category pr">
      <ul class="category__list category__list--1 flex">
        <li><a href="/lecture/online?limit=10&offset=0&order_type=C&field=teacher_id">수강신청</a></li>
        <li><a href="/lecture/online?type=pack&limit=10&offset=0&order_type=C&field=teacher_id">패키지 <br>수강신청</a></li>
        <li><a href="/lecture/online?limit=10&offset=0&order_type=C&field=teacher_id&category=010402">NCS수료증 <br> 발급강의</a></li>
      </ul>
      <ul class="category__list category__list--2 flex" style="display: none">
        <li><a :href="url + '/lecture.php?action=freepass10'" target="_blank">0원 <br>프리패스</a></li>
        <li><a :href="url + '/lecture.php?action=sfreepass'" target="_blank">삼성 <br>프리패스</a></li>
        <li><a :href="url + '/promotion.php?action=Addrem'" target="_blank">자소서 <br>첨삭</a></li>
        <li><a :href="url + '/promotion.php?action=evaluation'" target="_blank">반도체 <br>직무역량평가</a></li>
        <li><a :href="url + '/newpage.php?no=0501'" target="_blank">디스플레이 <br> 직무역량평가</a></li>
        <li><a :href="url + '/promotion.php?action=evaluation'" target="_blank">온라인 <br> 직무적성검사</a></li>
      </ul>
      <button type="button" class="btn_collapse"></button>
    </div>
    <CountDownComponent :time="time" link="https://www.letuin.com/lecture.php?action=freepass10" target="_blank" title="0원 프리패스 마감"></CountDownComponent>
    <BannerTop :banners="this.banners" :url="url"></BannerTop>
<!--    <WinnerBanner :winners="this.winners" :url="url" link="/board.php?action=boardPass&off_type=online"></WinnerBanner>-->
    <div class="review">
      <div class="header flex">
        <div class="header__dt">
          <h2>공유인 <span>합격 명예의 전당</span></h2>
          <p>누적 합격자(‘15~19’) <span>11,388명</span></p>
        </div>
      </div>
      <div class="scrollbar">
        <div class="review__list flex">
          <div class="item p-0" v-for="winner in this.winners" :key="winner.id">
            <a :href="winner.link" :target="winner.target"><img :src="url + '/data_user/banner/' + winner.upload" :alt="winner.subject"></a>
          </div>
        </div>
      </div>
      <a :href="url + '/board.php?action=boardPass&off_type=online'" title="More" class="btn_link_more flex-center">+ More</a>
    </div>
    <div class="banner-middle flex-center" v-if="this.middle_banner1.length">
      <a :href="this.middle_banner1[0].link" :target="this.middle_banner1[0].target"><img :src="url + '/data_user/banner/' + this.middle_banner1[0].upload" alt=""></a>
    </div>
    <div class="banner-middle flex-center" v-else>
      <a href="">OL_Middle Banne 1</a>
    </div>
    <div class="recommended" v-show="this.recommendLectures.length">
      <h2 class="title flex-lc">합격자 추천 <span> 강의</span></h2>
      <RecommendItem v-for="(lecture, key) in this.recommendLectures" :key="key" :data="lecture" :url="url"></RecommendItem>
    </div>
    <div class="textbook" v-show="this.books.length">
      <div class="header flex-lc">
        <h2 class="title flex-lc">렛유인 베스트 <span>교재</span></h2>
        <div class="nav flex-lc">
          <button type="button" class="textbook__prev prev">prev</button>
          <div class="space"></div>
          <button type="button" class="textbook__next next">next</button>
        </div>
        <nuxt-link to="/textbook-list" target="_blank" title="" class="btn_more ml-auto">MORE +</nuxt-link>
      </div>
      <BookList :books="this.books" :url="url"></BookList>
    </div>
    <div class="banner-middle flex-center" v-if="this.middle_banner2.length">
      <a :href="this.middle_banner2[0].link" :target="this.middle_banner2[0].target"><img :src="url + '/data_user/banner/' + this.middle_banner2[0].upload" alt=""></a>
    </div>
    <div class="banner-middle flex-center" v-else>
      <a href="">OL_Middle Banner 2</a>
    </div>
    <div class="lesson">
      <h2 class="title flex-lc">산업별 추천 <span>강의</span></h2>
      <ul class="lesson__tab nav flex">
        <li><a href="#semiconductors" data-toggle="tab" class="active" title="">반도체</a></li>
        <li><a href="#cars" data-toggle="tab" title="">자동차</a></li>
        <li><a href="#chemicals" data-toggle="tab" title="">케미칼/2차전지</a></li>
        <li><a href="#displays" data-toggle="tab" title="">디스플레이</a></li>
        <li><a href="#electronics" data-toggle="tab" title="">전자/가전</a></li>
      </ul>
      <div class="tab-content">
        <div id="semiconductors" class="tab-pane fade show active">
          <div class="scrollbar">
            <div class="lesson__list flex">
                <LectureItemMain v-for="semiconductor in this.semiconductors" :key="semiconductor.no" :data="semiconductor" :url="url"></LectureItemMain>
            </div>
          </div>
        </div>
        <div id="cars" class="tab-pane">
          <div class="scrollbar">
            <div class="lesson__list flex">
              <LectureItemMain v-for="car in this.cars" :key="car.no" :data="car" :url="url"></LectureItemMain>
            </div>
          </div>
        </div>
        <div id="chemicals" class="tab-pane">
          <div class="scrollbar">
            <div class="lesson__list flex">
              <LectureItemMain v-for="chemical in this.chemicals" :key="chemical.no" :data="chemical" :url="url"></LectureItemMain>
            </div>
          </div>
        </div>
        <div id="displays" class="tab-pane">
          <div class="scrollbar">
            <div class="lesson__list flex">
              <LectureItemMain v-for="display in this.displays" :key="display.no" :data="display" :url="url"></LectureItemMain>
            </div>
          </div>
        </div>
        <div id="electronics" class="tab-pane">
          <div class="scrollbar">
            <div class="lesson__list flex">
              <LectureItemMain v-for="electronic in this.electronics" :key="electronic.no" :data="electronic" :url="url"></LectureItemMain>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="banner-rated">
      <button type="button flex-center">정식오픈</button>
      <h4>이공계 취업 최종 합격을 위한 풀/서/비/스</h4>
      <h2>렛유인 반도체 <span>직무역량평가</span></h2>
      <p>19,039여 명의 빅데이터 시험 분석을 통한 츨제
        문제 알고리즘 완성!! 반도체 취업 최종 합격을 위한
        나의 직무역량 위치 확인하세요!! </p>
      <a :href="url + '/promotion.php?action=evaluation'" target="_blank" title="" class="btn_rated flex-center">직무역량 평가하기 <i class="icon icon-arr"></i></a>
    </div>
    <TeacherList :teachers="this.teachers" :url="url" is_offline="3" title1="당신의 합격을 위한" title2="이공계 특화 강사진"></TeacherList>
    <BookEvent v-show="this.events.length" :events="this.events" :url="url"></BookEvent>
    <button type="button" class="backtop">backtop</button>
  </main>
</template>

<script>
  import { URL_IMAGE } from "../../config";
  import TeacherList from "../../components/main/TeacherList";
  import CountDownComponent from "../../components/main/CountDownComponent";
  import LectureItemMain from "../../components/main/LectureItemMain";
  import BannerTop from "../../components/main/BannerTop";
  import WinnerBanner from "../../components/main/WinnerBanner";
  import BookEvent from "../../components/main/BookEvent";
  import BookList from "../../components/main/BookList";
  import RecommendItem from "../../components/main/RecommendItem";
  import {BannerApiService, TeacherApiService, LectureOnlineService, BookApiService} from "../../store/service.api";
  export default {
    name: "index",
    head: {
      script: [
        {src: '/js/onemain.js'}
      ]
    },
    components: {
      TeacherList,
      CountDownComponent,
      LectureItemMain,
      BannerTop,
      WinnerBanner,
      BookEvent,
      BookList,
      RecommendItem
    },
    async asyncData() {
      const datas = await Promise.all([
        BannerApiService.getBannerByCategory('m_on_winner'),
        BannerApiService.getBannerByCategory('m_on_md1'),
        BannerApiService.getBannerByCategory('m_on_md2'),
        TeacherApiService.getTeacherOnline(),
        BannerApiService.getBannerByCategory('m_on_main'),
        LectureOnlineService.getRecommendLecture({category: 'm_on_lc2_1'}),
        LectureOnlineService.getRecommendLecture({category: 'm_on_lc2_2'}),
        LectureOnlineService.getRecommendLecture({category: 'm_on_lc2_3'}),
        LectureOnlineService.getRecommendLecture({category: 'm_on_lc2_4'}),
        LectureOnlineService.getRecommendLecture({category: 'm_on_lc2_5'}),
        BookApiService.getBookOnline(),
        LectureOnlineService.getRecommendLecture({
          category: 'm_on_lc1'
        }),
        BannerApiService.getBannerByCategory('m_on_event'),
      ])
      return {
        winners: datas[0].data,
        middle_banner1: datas[1].data,
        middle_banner2: datas[2].data,
        teachers: datas[3].data.rows,
        banners: datas[4].data,
        semiconductors: datas[5].data,
        cars: datas[6].data,
        chemicals: datas[7].data,
        displays: datas[8].data,
        electronics: datas[9].data,
        books: datas[10].data,
        recommendLectures: datas[11].data,
        events: datas[12].data,
      }
    },
    data() {
      return {
        url: URL_IMAGE,
        start: Date.now(),
        time: 0
      }
    },
    created() {
      this.getTime()
    },
    methods: {
      getTime() {
        var curr = new Date();
        curr.setHours(0,0,0,0);
        var day = curr.getDay();
        var lastday = new Date(curr.getTime() + 60 * 60 *24 * (7 - day + 1) * 1000);
        this.time = (lastday - this.start) / 1000
      },
      pad(d) {
        return (d < 10) ? '0' + d.toString() : d.toString();
      }
    }
  }
</script>

<style scoped>
  .lesson__list.flex {
    flex-wrap: inherit !important;
  }
  .lesson .item, .book .item {
    min-width: 159px;
  }

</style>
