<template>
  <div class="notifi">
    <h5>수강 중인 강좌가 없습니다.</h5>
    <div class="img"><img src="~/assets/img/icon-media.png" alt=""></div>
    <p>무슨 강의를 들을지 모르시겠다구요?
      유이니가 <span>1:1 맞춤 강의</span>를 <span>추천</span>해드릴게요!
    </p>
    <a href="https://www.letuin.com/notice.php?action=custom_lecture" target="_blank" title="" class="btn_apply">1:1맞춤강의
      상담신청</a>
  </div>
</template>

<script>
    export default {
        name: "NoListMedia"
    }
</script>

<style scoped>

</style>
