<template>
  <main class="basic-info-index">
    <div class="head_title pr">
      <button type="button" class="back btn-back">
        <img src="~/assets/img/arr-r.png" alt="">
      </button>
      <h1>회원가입</h1>
    </div>
    <div class="box-form mb-ft">
      <form @submit.prevent="register" class="form-edit">
        <fieldset>
          <div class="fil_title flex">
            <h5>기본정보</h5>
            <p class="ml-auto mr-3"><span class="sup"> * </span> 필수항목</p>
            <ul class="step flex-lc">
              <li><a href="" >1</a></li>
              <li><span class="space"></span></li>
              <li><a href="" class="active">2</a></li>
            </ul>
          </div>
          <div class="form-group">
            <label>이름 </label>
            <input type="text" :value="formData.name" readonly>
          </div>
          <div class="form-group">
            <label>성별 <span class="sup">*</span></label>
            <div class="select flex">
              <label class="item flex-lc pr">
                <input type="radio" name="sex" checked v-model="formData.sex" value="M">
                <span class="checked"></span>
                남자
              </label>
              <label class="item flex-lc pr">
                <input type="radio" name="sex" value="F">
                <span class="checked"></span>
                여자
              </label>
            </div>
          </div>
          <div class="form-group">
            <label>생년월일 <span class="sup">*</span></label>
            <div class="group_list birth flex">
              <div class="box-select">
                <select name="" id="year" v-model="formData.year" :class="{ 'input-error': $v.formData.year.$error }">
                  <option  value="">생년</option>

                </select>
              </div>
              <div class="box-select">
                <select name="" id="month" v-model="formData.mouth" :class="{ 'input-error': $v.formData.mouth.$error }">
                  <option value="">월</option>
                  <option value="01">01월</option>
                  <option value="02">02월</option>
                  <option value="03">03월</option>
                  <option value="04">04월</option>
                  <option value="05">05월</option>
                  <option value="06">06월</option>
                  <option value="07">07월</option>
                  <option value="08">08월</option>
                  <option value="09">09월</option>
                  <option value="10">10월</option>
                  <option value="11">11월</option>
                  <option value="12">12월</option>
                </select>
              </div>
              <div class="box-select">
                <select name="" id="day" v-model="formData.day" :class="{ 'input-error': $v.formData.day.$error }">
                  <option  value="">일</option>

                </select>
              </div>
            </div>
          </div>
          <div v-if="$v.formData.year.$error || $v.formData.mouth.$error || $v.formData.day.$error">
            <div class="error offset-3 pl-4 error-id" v-if="$v.formData.year.$error">{{ getMessage($v.formData.year, "year", 6, 12) }}</div>
            <div class="error offset-3 pl-4 error-id" v-else-if="$v.formData.mouth.$error">{{ getMessage($v.formData.mouth, "mouth", 6, 12) }}</div>
            <div class="error offset-3 pl-4 error-id" v-else-if="$v.formData.day.$error">{{ getMessage($v.formData.day, "day", 6, 12) }}</div>
          </div>
          <div class="form-group">
            <label>휴대전화</label>
            <input type="text" name="" :value="formatDashPhone(formData.phone)" readonly>
          </div>
          <div class="form-group">
            <label>아이디 <span class="sup">*</span></label>
            <input class="nick username-input" @paste="preventCopyAndPasteNick" type="text" name="" placeholder="6~12자 영문 (숫자 혼용 가능)" v-model="formData.id" :class="{ 'input-error': $v.formData.id.$error }"
              @input="availableId = 0">
            <button type="button" class="btn_check btn-sm" @click="confirmId">중복확인</button>
          </div>

          <div v-if="$v.formData.id.$error">
            <div class="error offset-3 pl-4 error-id">{{ getMessage($v.formData.id, "id", 6, 12) }}</div>
          </div>

          <div v-else-if="availableId === confirmSuccess">
            <div class="success offset-3 pl-4"> 사용 가능한 아이디입니다. </div>
          </div>
          <div v-else-if="availableId === confirmFail">
            <div class="error offset-3 pl-4">이미 사용중인 아이디 입니다.</div>
          </div>

          <div class="form-group">
            <label>비밀번호 <span class="sup">*</span></label>
            <input class="w-100 username-input" type="password" v-model="formData.password" placeholder="6~12자 영문 (숫자 혼용 가능)" :class="{ 'input-error': $v.formData.password.$error }">
          </div>
          <div v-if="$v.formData.password.$error">
            <div class="error offset-3 pl-4">{{ getMessage($v.formData.password, "password", 6, 12) }}</div>
          </div>
          <div class="form-group">
            <label>비밀번호 확인 <span class="sup">*</span></label>
            <input class="w-100 username-input" type="password" v-model="formData.confirmPassword" placeholder="비밀번호 재입력" :class="{ 'input-error': $v.formData.confirmPassword.$error }">
          </div>
          <div v-if="$v.formData.confirmPassword.$error">
            <div class="error offset-3 pl-4">{{ getMessage($v.formData.confirmPassword, "confirmPassword", 6, 12) }}</div>
          </div>
          <div class="form-group">
            <label>이메일 <span class="sup">*</span></label>
            <div class="group_list email mt">
              <div class="group flex-lc flex-nw">
                <input type="text" name="" placeholder="이메일" v-model="formData.firstEmail" :class="{ 'input-error': $v.formData.firstEmail.$error }" @input="availableEmail = 0">
                <span>@</span>
                <input class="gray" type="text" name="" placeholder="직접입력" v-model="formData.endEmail" :class="{ 'input-error': $v.formData.endEmail.$error }" @input="availableEmail = 0">
              </div>
              <div class="group flex">
                <div class="box-select" :class="{ 'input-error': $v.formData.endEmail.$error }">
                  <select name="" v-model="formData.endEmail">
                    <option>직접입력</option>
                    <option v-for="(endEmail, key) in arrExamples" :key="key" :value="endEmail">{{endEmail}}</option>
                  </select>
                </div>
                <button type="button" class="btn_check" @click="checkEmail">중복확인</button>
              </div>
            </div>
          </div>
          <div v-if="$v.formData.firstEmail.$error">
            <div class="error offset-3 pl-4">{{ getMessage($v.formData.firstEmail, "firstEmail", '', 60) }}</div>
          </div>
          <div v-if="$v.formData.endEmail.$error">
            <div class="error offset-3 pl-4">{{ getMessage($v.formData.endEmail, "endEmail") }}</div>
          </div>

          <div v-if="availableEmail === confirmSuccess">
            <div class="success offset-3 pl-4">가입 가능한 이메일입니다.</div>
          </div>
          <div v-if="availableEmail === confirmFail">
            <div class="error offset-3 pl-4">이미 가입된 이메일입니다.</div>
          </div>
        </fieldset>
        <fieldset>
          <div class="fil_title">
            <h5>맞춤정보</h5>
          </div>
          <div class="form-group">
            <label>희망기업 <span class="sup">*</span></label>
            <div class="select flex">
              <label class="item flex-lc pr">
                <input type="radio" name="company" checked value="all" v-model="formData.compRadio">
                <span class="checked"></span>
                모두
              </label>
              <label class="item flex-lc pr">
                <input type="radio" name="company" value="public" v-model="formData.compRadio">
                <span class="checked"></span>
                공기업
              </label>
              <label class="item flex-lc pr">
                <input type="radio" name="company" value="major" v-model="formData.compRadio">
                <span class="checked"></span>
                이공계 대기업
              </label>
            </div>
          </div>
          <div class="form-group">
            <label>최종학력 <span class="sup">*</span></label>
            <div class="select flex">
              <label class="item flex-lc pr">
                <input type="radio" name="edu" checked value="University" v-model="formData.majorStudy" >
                <span class="checked"></span>
                대학교
              </label>
              <label class="item flex-lc pr">
                <input type="radio" name="edu" value="Master" v-model="formData.majorStudy" >
                <span class="checked"></span>
                석사
              </label>
              <label class="item flex-lc pr">
                <input type="radio" name="edu" value="doctoral" v-model="formData.majorStudy" >
                <span class="checked"></span>
                박사
              </label>
              <label class="item flex-lc pr">
                <input type="radio" name="edu" value="highSchool" v-model="formData.majorStudy" >
                <span class="checked"></span>
                고졸
              </label>
            </div>
          </div>
          <div class="form-group" style="position: relative">
            <label>학교 <span class="sup">*</span></label>
            <input class="w-100" type="text" name="" placeholder="학교명을 입력하세요." v-model="formData.univ" @keyup="getValSchool" :class="{ 'input-error': $v.formData.firstEmail.$error }" >
            <div class="search_box schoolval listwrap">
              <div class="resVal schVal list_inner" :class="[{ 'no_border': contentSchool.length , 'list_inner_no': contentSchool.length == 0}]">
                <a v-for="content in contentSchool" class="sch_val" href="javascript:;" @click="selectSchool(`${content.schoolName}(${content.campusName})`)">{{content.schoolName}}({{content.campusName}})</a>
              </div>
              <div class="noText" v-if="contentSchool.length == 0">
                일치하는 학교명이 없습니다<br>
                <a href="javascript:;" class="no_click" @click="hidePopupSchool">'<span class="inText inSchool">{{ formData.univ }}</span>' 입력</a>
              </div>
            </div>
          </div>
          <div v-if="$v.formData.univ.$error">
            <div class="error offset-3 pl-4">{{ getMessage($v.formData.univ, "univ") }}</div>
          </div>
          <div class="form-group">
            <label>재학기간 <span class="sup">*</span></label>
            <div class="time_register flex-lc">
              <div class="time flex-lc pr">
                <input type="text" id="time1" name="admission_date" readonly placeholder="입학년월" :class="{ 'input-error': $v.formData.admissionDate.$error }" v-model="formData.admissionDate" @click="triggerEvent">
                <i class="icon icon-calendar"></i>
              </div>
              <div class="space">-</div>
              <div class="time flex-lc pr">
                <input type="text" id="time2" name="graduationDate" readonly placeholder="졸업년월" :class="{ 'input-error': $v.formData.graduationDate.$error }" v-model="formData.graduationDate" @click="triggerEvent">
                <i class="icon icon-calendar"></i>
              </div>
            </div>
          </div>
          <div v-if="$v.formData.admissionDate.$error || $v.formData.graduationDate.$error">
            <div v-if="$v.formData.admissionDate.$error" class="error offset-3 pl-4">{{ getMessage($v.formData.admissionDate, "admissionDate") }}</div>
            <div v-else-if="$v.formData.graduationDate.$error" class="error offset-3 pl-4">{{ getMessage($v.formData.graduationDate, "graduationDate") }}</div>
          </div>
          <div class="form-group">
            <label>학과/전공분류 <span class="sup">*</span></label>
            <div class="box-select w-100 ml-0">
              <select v-model="formData.classification" :class="{ 'input-error': $v.formData.classification.$error }">
                <option value="">학과를 선택해주세요.</option>
                <option value="" disabled="">이공계열</option>
                <option value="el">&nbsp;&nbsp;전기전자</option>
                <option value="mu">&nbsp;&nbsp;기계</option>
                <option value="ch">&nbsp;&nbsp;화학/화공</option>
                <option value="me">&nbsp;&nbsp;금속/재료</option>
                <option value="ph">&nbsp;&nbsp;물리</option>
                <option value="mt">&nbsp;&nbsp;수학/통계</option>
                <option value="in">&nbsp;&nbsp;산업공학</option>
                <option value="tm">&nbsp;&nbsp;건축/토목</option>
                <option value="sw">&nbsp;&nbsp;정보통신/SW</option>
                <option value="hu">인문계열</option>
                <option value="so">사회계열</option>
                <option value="ed">교육계열</option>
                <option value="nat">자연계열</option>
                <option value="md">의약계열</option>
                <option value="art">예체능계열</option>
                <option value="ext">기타</option>
              </select>
            </div>
          </div>
          <div v-if="$v.formData.classification.$error">
            <div class="error offset-3 pl-4">{{ getMessage($v.formData.classification, "classification") }}</div>
          </div>
        </fieldset>
        <div class="bottom flex">
          <button type="submit" class="btn_submit flex-center w-100">회원가입</button>
        </div>
      </form>
    </div>
    <ConfirmBanNoAction  :title="message"></ConfirmBanNoAction>
  </main>
</template>

<script>
  import {formatDashPhone, preventCopyAndPaste, preventCopyAndPasteNick} from "../../common/helpers";
import {alphaNum, maxLength, minLength, required, sameAs, email} from "vuelidate/lib/validators";
import {msgValidateUpdate} from "../../common/validation";
import {AuthService} from "../../store/service.api";
import {ArrExEndEmail, CONFIRM_FAIL, CONFIRM_SUCCESS, TYPE_REGISTER} from "../../common/constant";
import {endEmail, nick} from "../../common/helpers_validate";
import {API_OPEN_KEY} from "../../config";
import {msgValidate} from "../../common/register_validate";
import ConfirmBanNoAction from "../../components/modal/ConfirmMainBanNoAction";
export default {
  name: "basic-info",
  layout : "none-footer",
  head: {
    script: [
      {
        body: true,
        src: '/js/selectscroll.js'
      },
      {
        body: true,
        src: '/js/basic-info.js'
      },
    ]
  },
  validations: {
    formData: {
     id : {
       minLength : minLength(6),
       maxLength : maxLength(12),
       alphaNum,
       required,
       nick
     },
      password : {
        minLength : minLength(6),
        maxLength : maxLength(12),
        alphaNum,
        required
      },
      confirmPassword : {
        minLength : minLength(6),
        maxLength : maxLength(12),
        alphaNum,
        required,
        sameAs : sameAs('password')
      },
      firstEmail: {
       required,
       maxLength : maxLength(60)
      },
      endEmail : {
       required,
       endEmail
      },
      univ : {
       required
      },
      graduationDate : {
       required
      },
      admissionDate : {
       required
      },
      classification : {
        required
      },
      year: {
       required
      },
      mouth : {
       required
      },
      day : {
       required
      }
    }
  },
  data() {
    return {
      formData : {
        sex : 'M',
        phone : "",
        year : "",
        mouth: "",
        day : "",
        id : "",
        password : "",
        confirmPassword : "",
        firstEmail : "",
        endEmail : "",
        compRadio : "all",
        majorStudy : "University",
        univ : "",
        graduationDate : "",
        admissionDate : "",
        classification : "",
        success : ""
      },
      availableId : 0,
      availableEmail : 0,
      arrExamples : ArrExEndEmail,
      confirmSuccess : CONFIRM_SUCCESS,
      confirmFail : CONFIRM_FAIL,
      contentSchool : [],
      classification: "",
      message : ''
    }
  },
  components : {ConfirmBanNoAction},
  computed : {
    email : function () {
      return this.formData.firstEmail + '@' + this.formData.endEmail
    },
    birth: function () {
      return this.formData.year + '-' + this.formData.mouth + '-' + this.formData.day
    }
  },
  mounted() {
    $('.schoolval').hide()
    let formDate =  JSON.parse(localStorage.getItem('reconfirm'))
    if (!formDate) {
      this.$router.push('/register')
    }
    this.formData = formDate ? Object.assign( this.formData, formDate) : this.formData
  },

  methods : {
    triggerEvent() {
      this.bindEvent();
    },
    showModalConfirm(title) {
      this.message = title;
      $(".basic-info-index").find('#modal-no-action').modal('show');
    },
    bindEvent() {
      let _this = this;
      $(document).ready(function () {
        $(".picker .confirm").on('click', function () {
          _this.formData.graduationDate = $('input[name="graduationDate"]').val()
          _this.formData.admissionDate = $('input[name="admission_date"]').val()
        })
      })
    },
    async confirmId() {
      this.$v.formData.id.$touch()
      if (!this.$v.formData.id.$error) {
        try {
          this.availableId = 0
          let data = await AuthService.checkId({
            "id": this.formData.id
          })
          this.availableId = data.errors ? CONFIRM_FAIL : CONFIRM_SUCCESS

          // if (this.availableId === CONFIRM_FAIL) {
          //   alert('가입 가능한 이메일입니다.')
          // }
        } catch (e) {
          this.availableId = CONFIRM_FAIL
        }
      }
    },
    formatDashPhone(phone) {
      return formatDashPhone(phone)
    },
    getMessage(v, field, value, maxValue) {
      return msgValidate(v, field, value, maxValue)
    },
    async register() {
      if (this.availableEmail !== CONFIRM_SUCCESS) {
        this.showModalConfirm('이메일 중복확인을 해주세요.');
        // alert('이메일 중복확인을 해주세요.')
        return false
      } else if (this.availableEmail !== CONFIRM_SUCCESS) {
        this.showModalConfirm('아이디 중복확인을 해주세요.');
        // alert('아이디 중복확인을 해주세요.')
      }
      this.getDataJquery()
      let admissionDate = this.formData.admissionDate.replace('년','').replace('월', '').split('-');
      let graduationDate = this.formData.graduationDate.replace('년','').replace('월', '').split('-');
      if (admissionDate[0] > graduationDate[0] ) {
        this.showModalConfirm('졸업년도가 입학기간보다 작습니다.');
        // alert('졸업년도가 입학기간보다 작습니다')
        return ;
      }
      if (admissionDate[0] == graduationDate[0] && admissionDate[1] >= graduationDate[1]) {
        this.showModalConfirm('졸업년도가 입학기간보다 작습니다.');
        // alert('졸업년도가 입학기간보다 작습니다')
        return ;
      }
      this.$v.formData.$touch()
      await this.checkEmail()
      await this.confirmId()

      if (!this.$v.formData.$error && this.availableId === CONFIRM_SUCCESS && this.availableEmail === CONFIRM_SUCCESS) {

        let data = await AuthService.register({
          "name": this.formData.name,
          "id": this.formData.id,
          "password": this.formData.password,
          "confirm_password": this.formData.confirmPassword,
          "email": this.email,
          "hp": this.formData.phone,
          "sex": this.formData.sex,
          "birth": this.birth,
          "comp_radio": this.formData.compRadio,
          "major_study": this.formData.majorStudy,
          "univ": this.formData.univ,
          "admission_date": this.formData.admissionDate,
          "graduation_date": this.formData.graduationDate,
          "classification": this.formData.classification
        })

        if (data.errors) {
          let error = data.errors[0]
          let message = "이 필드는 유효하지 않습니다."
          switch(error.param) {
            case 'email':
              message = '이메일 중복확인을 해주세요.'
              break;
            case "hp":
              message = '이미 사용중인 전화 번호.'
              break;
            case "id":
              message = '이미 사용중인 아이디 입니다.'
              break;
          }
          alert(message)
        } else {
          this.formData.birth = this.birth
          this.formData.email = this.email
          this.formData.success = true
          localStorage.setItem("reconfirm", JSON.stringify(this.formData))
          await this.$router.push('/complete')
        }
      }
    },
    async checkEmail() {
      this.$v.formData.firstEmail.$touch()
      this.$v.formData.endEmail.$touch()
      this.availableEmail = 0
      if (!this.$v.formData.firstEmail.$error && !this.$v.formData.endEmail.$error) {
        let data = await AuthService.checkEmail({
          email: this.email,
          type: TYPE_REGISTER
        })
        this.availableEmail = data.status ? CONFIRM_SUCCESS : CONFIRM_FAIL
        // if (this.availableEmail === CONFIRM_SUCCESS) {
        //   alert('가입 가능한 이메일입니다.')
        // }
      }
    },
    async getValSchool() {
      if (this.formData.univ == '') {
        this.contentSchool = []
        $('.schoolval').hide()
        return ;
      }
      let data = await AuthService.getValSchool({
        apiKey : API_OPEN_KEY,
        svcType : 'api',
        svcCode : "SCHOOL",
        contentType : "json",
        gubun : "univ_list",
        perPage : 300,
        searchSchulNm : this.formData.univ
      })
      $('.schoolval').show()
      this.contentSchool = data && data.content ? data.content : []
    },
    hidePopupSchool() {
      $('.schoolval').hide()
    },
    selectSchool(value) {
      this.formData.univ = value
      this.hidePopupSchool()
    },
    getDataJquery() {
      this.formData.admissionDate = $('#time1').val()
      this.formData.graduationDate = $('#time2').val()
      this.$v.formData.graduationDate.$touch()
      this.$v.formData.graduationDate.$touch()
    },
    preventCopyAndPaste(e) {
      preventCopyAndPaste(e);
    },
    preventCopyAndPasteNick(e) {
      preventCopyAndPasteNick(e)
    }
  }
}
</script>

<style scoped>

</style>
