<template>
  <div class="rating rating2">
    <ul class="list">
      <li v-for="star in maxStars" :class="{ 'active': activeStar(star, grade) }" :key="star.stars" class="star">
        <i :class="iconStar(star, grade)"></i>
      </li>
    </ul>
    <div v-if="hasCounter" class="info counter">
      <span class="score-rating">{{ stars }}</span>
      <span class="divider">/</span>
      <span class="score-max">{{ maxStars }}</span>
    </div>
  </div>
</template>
<script>

  export default {
    name: 'Rating',
    props: ['grade', 'maxStars', 'hasCounter'],
    data() {
      return {
        stars: this.grade
      }
    },
    methods: {
      rate(star) {
        if (typeof star === 'number' && star <= this.maxStars && star >= 0) {
          this.stars = this.stars === star ? star - 1 : star
        }
      },
      iconStar(grade, maxStar) {
        if (grade === maxStar)    return 'fas fa-star';
        if (grade  <= maxStar) {
          return 'fas fa-star';
        }
        if (grade - 0.5 == maxStar) {
          return 'fas fa-star-half';
        }
        return  'far fa-star';
      },
      activeStar(grade, maxStar) {
        if (grade === maxStar)    return true
        if (grade  <= maxStar) {
          return  true
        }
        if (grade - 0.5 == maxStar) {
          return true
        }

        return  false;
      },
    },
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  .rating2 {
    display: flex;
    flex-direction: column;
    height: 100% !important;
    padding: 10px 50px 10px 0;;
    color: #b7b7b7;
    background: #fff;
    border-radius: 8px;
    width: 100% !important;
  }

  .rating2 .list {
    padding: 0;
    margin: 0 20px 0 0;
    display: flex;
  }

  .rating2 .list .star {
    display: inline-block;
    font-size: 10px;
    transition: all 0.2s ease-in-out;
  }

  .rating2 .list .star:first-child {
    margin-left: 0;
  }

  .rating2 .list .star.active {
    color: #ffe100;
  }

  .rating2 .info {
    margin-top: 15px;
    font-size: 40px;
    text-align: center;
    display: table;
  }

  .rating2 .info .divider {
    margin: 0 5px;
    font-size: 30px;
  }

  .rating2 .info .score-max {
    font-size: 30px;
    vertical-align: sub;
  }

</style>
