<template>
  <div>
    <main class="online-lc">
      <div class="head_title pr">
        <button type="button" class="back btn-back">
          <img src="~/assets/img/arr-r.png" alt="">
        </button>
        <h1>수강 중 온라인 강좌</h1>
      </div>
      <a href="https://www.letuin.com/board.php?action=boardLate&off_type=online&find=til&search=" target="_blank">
        <div class="banner-note flex-center">
          <i class="icon icon-wr"></i>
          <p>후기 등록 시 <span>렛머니 1,000원 적립</span></p>
        </div>
      </a>
        <ul class="nav nav_tab flex">
          <li><a href="#tab1" title="" data-toggle="tab" class="active">단과</a></li>
          <li><a href="#tab2" title="" data-toggle="tab">패키지</a></li>
        </ul>
      <div class="tab-content">
        <div id="tab1" class="tab-pane fade show active">
          <div class="package">
            <div class="package__info box-collapse">
              <div class="header flex-lc">
                <h4 class="flex-lc"><i class="icon icon-qs">?</i>단과 수강 안내</h4>
                <button class="btn_collapse collapsed dr ml-auto" type="button" data-toggle="collapse" data-target="#package_info"></button>
              </div>
              <div class="collapse show" id="package_info">
                <div class="box-text">
                  <ul class="info">
                    <li> 수강 신청 후 [강좌명] 또는 강의실 [입장하기] 버튼을 클릭하시면 수강이 시작됩니다.</li>
                    <li> 수강 신청일로부터 1일 이내에 강의 수강을 시작하여 주십시오. 수강 시작일부터 차감됩니다.</li>
                    <li> 휴강은 최대 1회 15일 가능합니다. 휴강을 희망하는 경우 렛유인(02-539-1779)으로 문의주세요.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="package__list">
              <div class="header flex-lc">
                <h4>수강중 단과 강좌( {{ this.lectures.length }} )</h4>
              </div>
              <div class="bg_gray" v-if="this.lectures.length">
                <div v-for="lecture in this.lectures" class="item">
                  <div class="item__scroll">
                    <div class="scroll pr">
                      <div class="content pr">
                        <h3>{{ lecture.title.length > 30 ? lecture.title.substr(0, 30) + '...' : lecture.title }}</h3>
                        <i class="icon icon-arr"></i>
                      </div>
                      <div class="box-btn flex">
                        <a href="javascript:;" class="btn btn_wr" @click="showPopupReview($event, {lecture_no : lecture.lecture_no, title : lecture.title})"></a>
                      </div>
                    </div>
                    <a v-if="lecture.startdate != null && lecture.enddate != null" href="javascript:;" class="btn_file" @click="goDetailLecture(lecture.no, lecture.mys_uid)"></a>
                    <a v-else href="javascript:;" class="btn_file"></a>
                  </div>
                  <div class="item__bt flex" v-if="lecture.startdate != null && lecture.enddate != null">
                    <time>{{formatDate(lecture.startdate )}} ~ <span>{{ formatDate(lecture.enddate) }}</span></time>
                    <p>남은 일수 : <span>{{ diffDayNow(lecture.enddate) >= 0 ? diffDayNow(lecture.enddate)+'일' : '만료' }}</span></p>

                    <p>진도율: <span>{{ Math.round(lecture.sum_process_rate) }}%</span></p>
                  </div>
                  <div class="item__bt flex" v-else>
                    <time>휴강중</time>
                    <p>남은 일수 : <span>{{ lecture.lec_amount_info2.split(',')[0] }}일</span></p>
                    <p>진도율: <span>0%</span></p>
                  </div>
                </div>
              </div>
              <NoListMedia v-else></NoListMedia>
            </div>
          </div>
        </div>
        <div id="tab2" class="tab-pane fade">
          <div class="package">
            <div class="package__info box-collapse">
              <div class="header flex-lc">
                <h4 class="flex-lc"><i class="icon icon-qs">?</i>패키지 수강 안내</h4>
                <button class="btn_collapse collapsed dr ml-auto" type="button" data-toggle="collapse" data-target="#package__info"></button>
              </div>
              <div class="collapse show" id="package__info">
                <div class="box-text">
                  <ul class="info">
                    <li> 수강 신청 후 [강좌명] 또는 강의실 [입장하기] 버튼을 클릭하시면 수강이 시작됩니다.</li>
                    <li> 수강 신청일로부터 1일 이내에 강의 수강을 시작하여 주십시오. 수강 시작일부터 차감됩니다.</li>
                    <li> 패키지의 모의고사/평가 응시자격 및 수료여부는 붉은 글씨로 표기된<span style="color: red"> 패키지 평균 진도율을 기준</span>으로 처리됩니다.</li>
                    <li> 수료증은 수강완료 후 “종료된 콘텐츠”메뉴에서 발급 가능합니다. (단,<span style="color: red"> 패키지 평균 진도율 기준 70% 이상</span>)</li>
                    <li> <span style="color: #002baa">패키지 강의는 휴강 및 연장이 되지 않습니다.</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="package__list">
              <div class="header flex-lc">
                <h4>수강중 패키지 강좌({{ this.packages.length }})</h4>
              </div>
              <div class="bg_gray" v-if="this.packages.length">
                <div v-for="lecture in this.packages" class="item">
                  <div class="item__scroll">
                    <div class="scroll pr">
                      <div class="content pr">
                        <h3 style="height: 52px !important;">{{ lecture.subject.length > 30 ? lecture.subject.substr(0, 30) + '...' : lecture.subject }}</h3>
                        <i class="icon icon-arr"></i>
                      </div>
                      <div class="box-btn flex">
                        <a href="javascript:;" v-if="lecture.uid == 400 || lecture.uid == 399" class="btn btn_dl" @click="showPop('#modal-application' , lecture)"></a>
                        <a href="javascript:;" class="btn btn_wr" @click="showPopupReview($event, {lecture_no : lecture.lecture_no, title : lecture.title})"></a>
                      </div>
                    </div>
                    <a v-if="lecture.startdate != null && lecture.enddate != null" href="javascript:;" class="btn_file" @click="goDetailLecturePackage(lecture.category, lecture.mys_uid, lecture.uid)"></a>
                    <a v-else href="javascript:;" class="btn_file"></a>
                  </div>
                  <div class="item__bt flex" v-if="lecture.startdate != null && lecture.enddate != null">
                    <time>{{formatDate(lecture.startdate )}} ~ <span>{{ formatDate(lecture.enddate) }}</span></time>
                    <p >남은 일수 : <span>{{ diffDayNow(lecture.enddate) >= 0 ? diffDayNow(lecture.enddate)+'일' : '만료' }}</span></p>
                    <p>진도율: <span>{{ Math.round(lecture.sum_process_rate) }}%</span></p>
                  </div>
                  <div class="item__bt flex" v-else>
                    <time>휴강중</time>
                    <p>남은 일수 : <span>{{ lecture.pack_amount_info2.split(',')[0] }}일</span></p>
                    <p>진도율: <span>0%</span></p>
                  </div>
                </div>
              </div>
              <NoListMedia v-else></NoListMedia>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-bt black flex-center w100">
        <nuxt-link to="/lecture/online" class="flex-center">온라인 강좌 더보기</nuxt-link>
      </div>
      <button type="button" class="backtop">backtop</button>
      <ReviewWR :lecture_info_review="[dataReview]"></ReviewWR>
      <ApplicationPass :mys_id="lecture_refund" :subject="lecture_refund.subject" :me="loggedInUser"></ApplicationPass>
    </main>
  </div>
</template>

<script>

import ReviewWR from "../../components/modal/ReviewWR";
import {LectureOnlineService} from "../../store/service.api";
import {diffDayNow, formatDate} from "../../common/helpers";
import NoListMedia from "../../components/NoList/NoListMedia";
import ApplicationPass from "../../components/modal/ApplicationPass";
import {mapGetters} from 'vuex'

export default {
  name: "index",
  middleware: ['authenticate'],
  components : {
    ReviewWR,
    NoListMedia,
    ApplicationPass
  },
  mounted() {
    $('.backtop').on('click',function () {
      $('html,body').animate({scrollTop: 0},300);
    });
  },
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser']),
  },
  data() {
    return {
      packages : [],
      dataReview: {},
      lecture_refund: {},
    }
  },
  async asyncData(context) {
    let paramSingle = {user_id : context.$auth.$state.user.id, is_package: "N"}
    let paramPackage = {user_id : context.$auth.$state.user.id, is_package: "Y"}
    const datas = await Promise.all([
      LectureOnlineService.getMyOnline(paramSingle),
      LectureOnlineService.getMyOnline(paramPackage),
    ])
    return {
      lectures: datas[0].data.single_lectures,
      packages: datas[1].data.package_lectures,
    }
  },
  methods : {
    showPopupReview(e, dataReview){
      this.dataReview =dataReview;
      let modal = $(e.target).parents('.online-lc').find('#modal-review')
      $(modal).modal('show')
    },
    showPop(item ,lecture) {
      console.log(lecture)
      // $(item).modal('show');
    },
    formatDate(date) {
      return formatDate(date)
    },
    diffDayNow(date) {
      return diffDayNow(date)
    },
    goDetailLecture(lecture_no, mys_uid)
    {
      this.$router.push('/olc-classroom/lecture/' + lecture_no + '/' + mys_uid)
    },
    goDetailLecturePackage(code, mys_uid, uid){
      let arr = code.split(",")
      let codeParam = arr.slice(-1).pop()
      this.$router.push('/olc-classroom/package/' + uid + '/' + mys_uid + '?code=' + codeParam)
    }
  }
}
</script>

<style scoped>
  a.btn_file {
    height: calc(100% - 11.50vw) !important;
  }
.info li {
  list-style-type: disc;
  margin-left: 7px;
  font-size: 10px;
}
.item__bt time,p {
  font-size: 10px;
}
.package .box-btn a, .study .box-btn a {
  width: 14.7222222222vw;
  height: 100%;
  background: #454545;
  border-radius: 0;
  position: relative;
}
.nav-bt {
  background: black !important;
}
.nav-bt a {
  color: white !important;
}
.banner-note p {
  font: 4.4444444444vw var(--NanumSquareL);
}
  .package .box-btn, .study .box-btn  {
    width: fit-content !important;
  }
</style>
