<template>
  <main>
    <div class="head_title pr">
<!--      <button type="button" class="back btn-back">-->
<!--        <img src="~/assets/img/arr-r.png" alt="">-->
<!--      </button>-->
      <h1>회원가입</h1>
    </div>
    <div class="login">
      <div class="login__complete">
        <div class="decor flex-center"><i class="icon icon-success"></i></div>
        <h4><span>{{ formData.name }}</span>님 환영합니다! <br> 회원가입이 완료되었습니다.</h4>`
        <p>
          렛유인X공유인 회원이 되신 것을
          진심으로 감사드립니다.
          <span>지금 바로 다양한 혜택</span>을 경험해보세요.
        </p>
        <div class="id_letuin">아이디 : <span>{{ formData.id }}</span></div>
        <button type="button" class="btn_login flex-center" @click="redirectLogin">로그인</button>
        <button type="button" class="btn_login flex-center" style="font-size: 14px" @click="redirectAddInfo">추가 정보 입력하고 혜택 받기</button>
        <div class="bre">
          회원정보 수정은 <a href="javascript:;" title="" @click="login">마이페이지</a> > <a href="javascript:;" title="">회원정보수정</a> 에서 가능합니다.
        </div>
      </div>
      <div class="login__benefits mb-ft">
        <h4>렛유인 신규회원 혜택 안내</h4>
        <div class="item">
          <h5>온라인 단과 강의</h5>
          <span class="precent flex">50 <small>%</small></span>
          <p>할인쿠폰 지급</p>
        </div>
        <div class="item">
          <h5>패키지 강의</h5>
          <span class="precent flex">20 <small>%</small></span>
          <p>할인쿠폰 지급</p>
        </div>
        <div class="item">
          <h5>오프라인 (이공계)</h5>
          <span class="text">1:1 컨설팅</span>
          <p>할인쿠폰 지급</p>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: "index",
  data() {
    return {
      formData : {
        sex : '',
        phone : "",
        year : "",
        mouth: "",
        day : "",
        id : "",
        password : "",
        confirmPassword : "",
        firstEmail : "",
        endEmail : "",
        compRadio : "",
        majorStudy : "",
        univ : "",
        graduationDate : "",
        admissionDate : "",
        classification : "",
        name : ""
      }
    }
  },
  mounted() {
    let formData =  JSON.parse(localStorage.getItem('reconfirm'))
    this.formData = formData ? Object.assign( this.formData, formData) : this.formData
  },
  middleware : ['guest'],
  methods : {
    redirectLogin() {
      this.$router.push('login')
    },
    redirectAddInfo() {
      this.$router.push('add-info')
    },
    login() {
      if (!this.isAuthenticated) {
        let isConfirm  = confirm('로그인 후 이용이 가능합니다. 로그인 화면으로 이동하시겠습니까?')
        if (isConfirm) {
          this.$router.push('/login')
        }
      } else {
        $('#modal-compop-5').modal('hide')
        $('#modal-coupon').modal('show')
      }
    },
  }
}
</script>

<style scoped>

</style>
