<template>
  <div  id="page" data-app>
    <Header></Header>
    <Nuxt />
    <Footer></Footer>
  </div>
</template>
<script>

import Header from "~/components/layouts/Header";
import Footer from "~/components/layouts/Footer";
  export default {
    components : {
      Footer,
      Header
    }
  }
</script>
<style>
</style>
