<template>
  <div  id="page" data-app>
    <Header></Header>
    <Nuxt />
  </div>
</template>

<script>

import Header from "~/components/layouts/Header";
export default {
  name: "none-footer",
  components : {
    Header
  }
}
</script>

<style scoped>

</style>
