<template>
  <div  id="page" data-app>
    <Nuxt />
    <Footer></Footer>
  </div>
</template>

<script>
import Header from "~/components/layouts/Header";
import Footer from "~/components/layouts/Footer";

export default {
  name: "header-update",
  components : {
    Footer,
    Header
  }
}
</script>

<style scoped>

</style>
