<template>
  <div class="modal fade modal-addinfo show" id="modal-compop-3">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="title">회원가입 - 추가정보입력</h4>
          <a href="javascript:;" class="close" data-dismiss="modal"></a>
        </div>
        <div class="modal-body">
          <div class="header bg-gray">
            <span class="number flex-center">05</span>
            <h2>당신의 취업 준비 기간을 <br> 알려주세요.</h2>
            <button type="button" class="btn_ellipse"></button>
            <p>실제 채용 공고에 지원한 기간을</p>
            <p>선택해주세요. (1개 선택 가능)</p>
            <div class="process pr">
              <div class="process__value" style="width: 80%;"></div>
              <div class="process__value" style="width: 80%;"></div>
            </div>
          </div>
          <ul class="select_list flex">
            <li>
              <input type="checkbox" name="" value="1" :checked="selecteds == 1" @click="select(1)">
              <div class="name flex-center">첫 도전</div>
              <i class="icon-check flex-center"></i>
            </li>
            <li>
              <input type="checkbox" name="" value="2" :checked="selecteds == 2" @click="select(2)">
              <div class="name flex-center">1년 미만</div>
              <i class="icon-check flex-center"></i>
            </li>
            <li>
              <input type="checkbox" name="" value="3" :checked="selecteds == 3" @click="select(3)">
              <div class="name flex-center">1년 이상</div>
              <i class="icon-check flex-center"></i>
            </li>
            <li>
              <input type="checkbox" name="" value="4" :checked="selecteds == 4" @click="select(4)">
              <div class="name flex-center">2년 이상</div>
              <i class="icon-check flex-center"></i>
            </li>
            <li>
              <input type="checkbox" name="" value="5" :checked="selecteds == 5" @click="select(5)">
              <div class="name flex-center">3년 이상</div>
              <i class="icon-check flex-center"></i>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <div class="nav-popup flex">
            <button type="button" class="btn_prev flex-center" @click="prev"><i class="icon icon-prev"></i> 이 전</button>
            <button type="button" class="btn_next flex-center" @click="next"  :style="{ 'background-color': buttonColor }" :disabled="disabled">다 음 <i class="icon icon-next"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AddInfoComPopup3",
  data() {
    return {
      selecteds : "",
      disabled : true,
      buttonColor : 'gray'
    }
  },
  watch: {
    selecteds(newVal) {
      if (newVal) {
        this.disabled = false;
        this.buttonColor = 'blue';
      } else {
        this.disabled = true;
        this.buttonColor = 'gray'
      }
    }
  },
  methods :   {
    select(val) {
      this.selecteds = val
    },
    prev() {
      this.selecteds = ""
      $('#modal-choicepop-3').modal('show')
      $('#modal-compop-3').modal('hide')
    },
    next() {
      this.$emit('addInfoCom3', this.selecteds)
    }
  }
}
</script>

<style scoped>

</style>
