<template>
  <div class="modal fade modal-addinfo show" id="modal-compop-4">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="title">회원가입 - 추가정보입력</h4>
          <a href="javascript:;" class="close" data-dismiss="modal"></a>
        </div>
        <div class="modal-body">
          <div class="header bg-gray">
            <span class="number flex-center">06</span>
            <h2>렛유인을 어떻게 알게 <br>되었나요?</h2>
            <button type="button" class="btn_ellipse"></button>
            <p> 렛유인을 찾게 된 가입 경로를</p>
            <p>알려주세요! (1개 선택 가능)</p>
            <div class="process pr"><div class="process__value" style="width: 100%;"></div></div>
          </div>
          <ul class="select_list flex">
            <li>
              <input type="checkbox" value="지인추천" :checked="selecteds == '지인추천'" @click="select('지인추천')">
              <div class="name flex-center">지인추천</div>
              <i class="icon-check flex-center"></i>
            </li>
            <li>
              <input type="checkbox" value="인터넷 검색" :checked="selecteds == '인터넷 검색'" @click="select('인터넷 검색')">
              <div class="name flex-center">인터넷 검색</div>
              <i class="icon-check flex-center"></i>
            </li>
            <li>
              <input type="checkbox" value="온라인 배너 광고" :checked="selecteds == '온라인 배너 광고'" @click="select('온라인 배너 광고')">
              <div class="name flex-center">온라인 <br>배너광고</div>
              <i class="icon-check flex-center"></i>
            </li>
            <li>
              <input type="checkbox" value="페이스북" :checked="selecteds == '페이스북'" @click="select('페이스북')">
              <div class="name flex-center">페이스북</div>
              <i class="icon-check flex-center"></i>
            </li>
            <li>
              <input type="checkbox" value="유튜브" :checked="selecteds == '유튜브'" @click="select('유튜브')">
              <div class="name flex-center">유튜브</div>
              <i class="icon-check flex-center"></i>
            </li>
            <li>
              <input type="checkbox" value="렛유인 네이버 카페" :checked="selecteds == '렛유인 네이버 카페'" @click="select('렛유인 네이버 카페')">
              <div class="name flex-center">렛유인 <br>네이버 카페</div>
              <i class="icon-check flex-center"></i>
            </li>
            <li>
              <input type="checkbox" value="타 카페" :checked="selecteds == '타 카페'" @click="select('타 카페')">
              <div class="name flex-center">타 카페</div>
              <i class="icon-check flex-center"></i>
            </li>
            <li>
              <input type="checkbox" value="카카오" :checked="selecteds == '카카오'" @click="select('카카오')">
              <div class="name flex-center">카카오</div>
              <i class="icon-check flex-center"></i>
            </li>
            <li>
              <input type="checkbox" value="기타" :checked="selecteds == '기타'" @click="select('기타')">
              <div class="name flex-center">기타</div>
              <i class="icon-check flex-center"></i>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <div class="nav-popup flex">
            <button type="button" class="btn_prev flex-center" @click="prev"><i class="icon icon-prev"></i> 이 전</button>
            <button type="button" class="btn_next flex-center" @click="next" :style="{ 'background-color': buttonColor }" :disabled="disabled"> 완료<i class="icon icon-next"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AddInfoComPopup4",
  data() {
    return {
      selecteds : "",
      disabled : true,
      buttonColor : 'gray'
    }
  },
  watch: {
    selecteds(newVal) {
      if (newVal) {
        this.disabled = false;
        this.buttonColor = 'blue';
      } else {
        this.disabled = true;
        this.buttonColor = 'gray'
      }
    }
  },
  methods :   {
    select(val) {
      this.selecteds = val
    },
    prev() {
      this.selecteds = ""
      $('#modal-compop-3').modal('show')
      $('#modal-compop-4').modal('hide')
    },
    next() {
      this.$emit('addInfoCom4', this.selecteds)
    },
    login() {
      if (!this.isAuthenticated) {
        let confirm  = confirm('로그인 후 이용이 가능합니다. 로그인 화면으로 이동하시겠습니까?')
        if (confirm) {
          this.$router.push('/')
        }
      } else {
        $('#modal-compop-5').modal('hide')
        $('#modal-coupon').modal('show')
      }
    },
  }
}
</script>

<style scoped>

</style>
