<template>
  <div class="modal fade modal-addinfo show" id="modal-choicepop-3">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="title">회원가입 - 추가정보입력</h4>
          <a href="javascript:;" class="close" data-dismiss="modal"></a>
        </div>
        <div class="modal-body">
          <div class="header bg-gray">
            <span class="number flex-center">04</span>
            <h2>어떤 콘텐츠에 관심이 <br>있으신가요?</h2>
            <button type="button" class="btn_ellipse"></button>
            <p>관심있는 콘텐츠를 기반으로</p>
            <p>강의를 추천해드릴게요 (중복 선택 가능)</p>
            <div class="process pr"><div class="process__value" style="width: 81%;"></div></div>
          </div>
          <div v-if="option === '1' || option === 'all'" class="company">
            <h4>이공계 대기업</h4>
            <ul class="company__list flex">
              <li>
                <input type="checkbox" id="semiconductor" name="info2" value="공정실습" data-name="req" v-model="selecteds">
                <div class="name flex-center">
                  공정실습
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" value="취업전략" data-name="req" v-model="selecteds">
                <div class="name flex-center">
                  취업전략
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" value="직무" v-model="selecteds">
                <div class="name flex-center">
                  직무
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" value="자소서" v-model="selecteds">
                <div class="name flex-center">
                  자소서
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" value="인적성" v-model="selecteds">
                <div class="name flex-center">
                  인적성
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" value="면접" v-model="selecteds">
                <div class="name flex-center">
                  면접
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" value="기업분석" v-model="selecteds">
                <div class="name flex-center">
                  기업분석
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" value="전공강의" v-model="selecteds">
                <div class="name flex-center">
                  전공강의
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" value="NCS수료증 발급강의" v-model="selecteds">
                <div class="name flex-center">
                  국비지원 <br>
                  과정
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" value="국비지원과정" v-model="selecteds">
                <div class="name flex-center">
                  NCS 수료증 <br>
                  발급강의
                </div>
                <i class="icon-check flex-center"></i>
              </li>
            </ul>
          </div>
          <div v-if="option === '2' || option === 'all'" class="company">
            <h4>공기업</h4>
            <ul class="company__list flex">
              <li>
                <input type="checkbox" value="NCS" v-model="selecteds">
                <div class="name flex-center">
                  NCS
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" value="전공필기" v-model="selecteds">
                <div class="name flex-center">
                  전공필기
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" value="자소서" v-model="selecteds">
                <div class="name flex-center">
                  자소서
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" value="면접" v-model="selecteds">
                <div class="name flex-center">
                  면접
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" value="취업전략" v-model="selecteds">
                <div class="name flex-center">
                  취업전략
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" value="스펙" v-model="selecteds">
                <div class="name flex-center">
                  스펙 <br>
                  (어학/기사 <br>
                  자격증) <br>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <div class="nav-popup flex">
            <button type="button" class="btn_prev flex-center" @click="prev"><i class="icon icon-prev"></i> 이 전</button>
            <button type="button" class="btn_next flex-center" @click="next" :style="{ 'background-color': buttonColor }" :disabled="disabled">다 음 <i class="icon icon-next"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AddInFoChoicePopup3",
  props: ['option'],
  data() {
    return {
      selecteds : [],
      disabled : true,
      buttonColor : 'gray'
    }
  },
  watch: {
    selecteds(newVal) {
      if (newVal.length) {
        this.disabled = false;
        this.buttonColor = 'blue';
      } else {
        this.disabled = true;
        this.buttonColor = 'gray'
      }
    }
  },
  methods :   {
    prev() {
      this.selecteds = []
      $('#modal-choicepop-2').modal('show')
      $('#modal-choicepop-3').modal('hide')
    },
    next() {
      this.$emit('addInfoChoice3', this.selecteds)
    }
  }
}
</script>

<style scoped>
.modal-content {
  overflow: scroll;
  max-height: 746px;
}

label {
  padding: 22px 12px;
  text-align: center;
}
</style>
