<template>
  <div class="modal fade modal-addinfo" id="modal-choicepop">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="title">회원가입 - 추가정보입력</h4>
          <a href="javascript:;" class="close" data-dismiss="modal"></a>
        </div>
        <div class="modal-body">
          <div class="header bg-gray">
            <span class="number flex-center">02</span>
            <h2>이공계 대기업, 공기업에 <br>관심이 있으시군요!</h2>
            <button type="button" class="btn_ellipse"></button>
            <p>입사를 희망하는 기업을 선택해주세요.</p>
            <p>(중복 선택 가능)</p>
            <div class="process pr"><div class="process__value" style="width: 33%;"></div></div>
          </div>

          <div v-if="option === '1' || option === 'all'" class="company" >
            <h4>이공계 대기업</h4>
            <ul class="company__list flex">
              <li>
                <input type="checkbox" id="samsung" name="chk" data-name="req" value="삼성" v-model="selecteds">
<!--                <div class="img flex-center">-->
<!--                  <img src="~/assets/img/samsung1.png" alt="">-->
<!--                </div>-->
                <div class="name flex-center">
                  <label for="samsung">삼성</label>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" id="sk" name="chk"  value="SK"  data-name="req" v-model="selecteds">
<!--                <div class="img flex-center">-->
<!--                  <img src="~/assets/img/logo_sk.svg" alt="">-->
<!--                </div>-->
                <div class="name flex-center">
                  <label for="sk">SK</label>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" id="lg" name="chk" value="LG" data-name="req" v-model="selecteds">
<!--                <div class="img flex-center">-->
<!--                  <img src="~/assets/img/logo_lg.svg" alt="">-->
<!--                </div>-->
                <div class="name flex-center">
                  <label for="lg">LG</label>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" id="hyundae" name="chk" value="현대" data-name="req" v-model="selecteds">
<!--                <div class="img flex-center">-->
<!--                  <img src="~/assets/img/logo_hyundai.png" alt="">-->
<!--                </div>-->
                <div class="name flex-center">
                  <label for="hyundae">현대</label>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" id="lotte" name="chk" value="롯데" data-name="req" v-model="selecteds">
<!--                <div class="img flex-center">-->
<!--                  <img src="~/assets/img/logo_lotte.svg" alt="">-->
<!--                </div>-->
                <div class="name flex-center">
                  <label for="lotte">롯데</label>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" id="hanwha" name="chk" value="한화" data-name="req" v-model="selecteds">
<!--                <div class="img flex-center">-->
<!--                  <img src="~/assets/img/logo_hanwha.svg" alt="">-->
<!--                </div>-->
                <div class="name flex-center">
                  <label for="hanwha">한화</label>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" id="foreign" name="chk" value="외국계"  data-name="req" v-model="selecteds">
<!--                <div class="img flex-center">-->
<!--                </div>-->
                <div class="name flex-center">
                  <label for="foreign">외국계</label>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" id="etc_chk1-1" name="chk" data-name="req" v-model="selecteds">
<!--                <div class="img flex-center">-->
<!--                  <img src="~/assets/img/logo-company.png" alt="">-->
<!--                </div>-->
                <div class="name flex-center">
                  <label for="etc_chk1-1">기타</label>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
            </ul>
          </div>
          <div  v-if="option === '2' || option === 'all'"  class="company">
            <h4>공기업</h4>
            <ul class="company__list flex">
              <li>
                <input type="checkbox" id="chk01" name="chk" value="한국전력공사" data-name="req" v-model="selecteds">
                <div class="img flex-center">
                  <label for="chk01">한국전력공사</label>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" id="chk02" name="chk" value="한국철도공사" data-name="req" v-model="selecteds">
                <div class="img flex-center">
                  <label for="chk02">한국철도공사</label>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" id="chk03" name="chk"  value="한국가스공사"  data-name="req" v-model="selecteds">
                <div class="img flex-center">
                  <label for="chk03">한국가스공사</label>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" id="chk04" name="chk" value="한국도로공사" data-name="req" v-model="selecteds">
                <div class="img flex-center">
                  <label for="chk04">한국도로공사</label>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" id="chk05" name="chk" value="5대발전" data-name="req" v-model="selecteds">
                <div class="img flex-center">
                  <label for="chk05">5대발전</label>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" id="chk06" name="chk" value="국민연금공단" data-name="req" v-model="selecteds">
                <div class="img flex-center">
                  <label for="chk06">국민연금공단</label>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" id="chk07" name="chk" value="한국토지주택공사" data-name="req" v-model="selecteds">
                <div class="img flex-center">
                  <label for="chk07">한국토지주택공사</label>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" id="chk08" name="chk" value="한국지역난방공사" data-name="req" v-model="selecteds">
                <div class="img flex-center">
                  <label for="chk08">한국지역난방공사</label>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" id="chk09" name="chk" value="국민건강보험공단" data-name="req" v-model="selecteds">
                <div class="img flex-center">
                  <label for="chk09">국민건강보험공단</label>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" id="etc_chk2" name="chk" data-name="req" value="기타" v-model="selecteds">
                <div class="img flex-center">
                  <label for="etc_chk2">기타</label>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <div class="nav-popup flex">
            <button type="button" class="btn_prev flex-center" @click="prev"><i class="icon icon-prev"></i> 이 전</button>
            <button type="button" class="btn_next flex-center" @click="next" :style="{ 'background-color': buttonColor }" :disabled="disabled">다 음 <i class="icon icon-next"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AddinfoChoicePopup",
  props: ['option'],
  data() {
    return {
      selecteds : [],
      disabled : true,
      buttonColor : 'gray'
    }
  },
  watch: {
    selecteds(newVal) {
      if (newVal.length) {
        this.disabled = false;
        this.buttonColor = 'blue';
      } else {
        this.disabled = true;
        this.buttonColor = 'gray'
      }
    }
  },
  methods :   {
    prev() {
      this.selecteds = []
      $('#modal-compop').modal('show')
      $('#modal-choicepop').modal('hide')
    },
    next() {
      this.$emit('addInfoCompany', this.selecteds)
    }
  }
}
</script>

<style scoped>
.modal-content {
  overflow: scroll;
  max-height: 746px;
}
label {
  padding: 22px 12px;
  text-align: center;
}
</style>
