<template>
  <div class="modal fade modal-addinfo" id="modal-choicepop-2">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="title">회원가입 - 추가정보입력</h4>
          <a href="javascript:;" class="close" data-dismiss="modal"></a>
        </div>
        <div class="modal-body">
          <div class="header bg-gray">
            <span class="number flex-center">03</span>
            <h2>어떤 산업에 관심이 <br>있으신가요?</h2>
            <button type="button" class="btn_ellipse"></button>
            <p>입사를 희망하는 관심 산업을 선택해주세요.</p>
            <p>(중복 선택 가능)</p>
            <div class="process pr"><div class="process__value" style="width: 49%;"></div></div>
          </div>
          <div v-if="option === '1' || option === 'all'" class="company">
            <h4>이공계 대기업</h4>
            <ul class="company__list flex">
              <li>
                <input type="checkbox" id="semiconductor" name="info2" value="반도체" data-name="req" v-model="selecteds">
                <div class="name flex-center">
                  <label for="semiconductor">반도체</label>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" id="display" name="info2" value="디스플레이" data-name="req" v-model="selecteds">
                <div class="name flex-center">
                  <label for="display">디스플레이</label>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" id="car" name="info2" value="자동차" data-name="req" v-model="selecteds">
                <div class="name flex-center">
                  <label for="car">자동차</label>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" id="chemical" name="info2" value="케미칼" data-name="req" v-model="selecteds">
                <div class="name flex-center">
                  <label for="chemical">케미칼</label>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" id="appliances" name="info2" value="전기/가전" data-name="req" v-model="selecteds">
                <div class="name flex-center">
                  <label for="appliances">전기/가전</label>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" id="industry" name="info2" value="4차산업" data-name="req" v-model="selecteds">
                <div class="name flex-center">
                  <label for="industry">4차산업</label>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" id="sw" name="info2" value="sw" data-name="req" v-model="selecteds">
                <div class="name flex-center">
                  <label for="sw">SW</label>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" id="etc_chk" name="info2" value="기타" data-name="req" v-model="selecteds">
                <div class="name flex-center">
                  <label for="etc_chk">기타</label>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
            </ul>
          </div>
          <div v-if="option === '2' || option === 'all'" class="company" v-model="selecteds">
            <h4>공기업</h4>
            <ul class="company__list flex">
              <li>
                <input type="checkbox" id="e-develop" name="info2" value="에너지발전" data-name="req" v-model="selecteds">
                <div class="name flex-center">
                  <label for="e-develop">에너지발전</label>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" id="cash" name="info2" value="금융권" data-name="req" v-model="selecteds">
                <div class="name flex-center">
                  <label for="cash">금융권</label>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" id="welfare" name="info2" value="보건/복지" data-name="req" v-model="selecteds">
                <div class="name flex-center">
                  <label for="welfare">보건/복지</label>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" id="soc" name="info2" value="SOC" data-name="req" v-model="selecteds">
                <div class="name flex-center">
                  <label for="soc">SOC</label>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
              <li>
                <input type="checkbox" id="etc_chk2-3" name="info2" value="기타" data-name="req" v-model="selecteds">
                <div class="name flex-center">
                  <label for="etc_chk2-3">기타</label>
                </div>
                <i class="icon-check flex-center"></i>
              </li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <div class="nav-popup flex">
            <button type="button" class="btn_prev flex-center" @click="prev"><i class="icon icon-prev"></i> 이 전</button>
            <button type="button" class="btn_next flex-center" @click="next" :style="{ 'background-color': buttonColor }" :disabled="disabled">다 음 <i class="icon icon-next"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AddInfoChoicePopUp2",
  props: ['option'],
  data() {
    return {
      selecteds : [],
      disabled : true,
      buttonColor : 'gray'
    }
  },
  watch: {
    selecteds(newVal) {
      if (newVal.length) {
        this.disabled = false;
        this.buttonColor = 'blue';
      } else {
        this.disabled = true;
        this.buttonColor = 'gray'
      }
    }
  },
  methods :   {
    prev() {
      this.selecteds = []
      $('#modal-choicepop').modal('show')
      $('#modal-choicepop-2').modal('hide')
    },
    next() {
      this.$emit('addInfoChoice2', this.selecteds)
    }
  }
}
</script>

<style scoped>
.modal-content {
  overflow: scroll;
  max-height: 746px;
}
label {
  padding: 22px 12px;
  text-align: center;
}
</style>
