<template>
  <div>
    <div class="modal fade modal-addinfo" id="modal-compop-5">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="title">회원가입 - 추가정보입력</h4>
            <a href="javascript:;" class="close" data-dismiss="modal"></a>
          </div>
          <div class="modal-body">
            <div class="discount bg_gray">
              <div class="discount__header">
                <span>렛유인 반값 할인 쿠폰</span>으로 <br>
                추천 강의를 수강해보세요!
              </div>
              <div class="discount__item">
                <h5>온라인 단과 강의</h5>
                <span class="precent flex">50 <small>%</small></span>
                <p>할인쿠폰 지급</p>
              </div>
              <div class="discount__note">
                ※ 반값 할인 쿠폰은 <a href="javascript:0;" @click="login" style="text-decoration: underline"> <b> 마이페이지 – 할인쿠폰 </b></a>에서 확인 가능합니다.
                ※ 렛유인 온라인 공기업 · 이공계 단과 콘텐츠만 사용 가능합니다.
                ※ 렛유인 자체 콘텐츠 외 제휴 강의 구매 시 사용 불가합니다.
              </div>
              <button type="button" class="btn_apply btn_se flex-center" @click="toLogin">혜택받고 시작하기</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Coupon></Coupon>
  </div>
</template>

<script>
import {mapGetters} from "vuex";
import Coupon from "./Coupon";

export default {
  name: "AddInfoComPopup5",
  components : {
    Coupon
  },
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser']),
  },
  mounted() {
    $('.modal-addinfo .select_list input').on('change load', function () {
      if ($('.modal-addinfo .select_list input').is(':checked')) {
        $('.btn_next_com').addClass('active');
      } else {
        $('.btn_next_com').removeClass('active');
      }
    });
  },
  methods: {
    login() {
      if (!this.isAuthenticated) {
        if (confirm('로그인 후 이용이 가능합니다. 로그인 화면으로 이동하시겠습니까?')) {
          $('#modal-compop-5').modal('hide')
          this.$router.push('/login')
        }
      } else {
        $('#modal-compop-5').modal('hide')
        $('#modal-coupon').modal('show')
      }
    },
    toLogin() {
      $('#modal-compop-5').modal('hide')
      this.$router.push('login')
    }
  }
}
</script>

<style scoped>
a {
  color: #007bff;
}
.discount.bg_gray {
  min-height: 100vh;
}
</style>
