<template>
  <div class="modal fade modal-addinfo" id="modal-compop">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="title">회원가입 - 추가정보입력</h4>
          <a href="javascript:;" class="close" data-dismiss="modal"></a>
        </div>
        <div class="modal-body">
          <div class="header bg-gray">
            <span class="number flex-center">01</span>
            <h2>어느 기업에 <br>
              지원중인가요?
            </h2>
            <button type="button" class="btn_ellipse"></button>
            <p>당신의 취업성공을 위한</p>
            <p>맞춤형 강의를 추천해 드릴께요</p>
            <div class="process pr"><div class="process__value" style="width: 16%;"></div></div>
          </div>
          <ul class="select_list">
            <li>
              <input type="checkbox" name="">
              <div class="checked flex-center">이공계 대기업/공기업</div>
              <i class="icon-check flex-center"></i>
            </li>
            <li>
              <input type="checkbox" name="">
              <div class="checked flex-center">이공계 대기업</div>
              <i class="icon-check flex-center"></i>
            </li>
            <li>
              <input type="checkbox" name="">
              <div class="checked flex-center">공기업</div>
              <i class="icon-check flex-center"></i>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <div class="nav-popup flex">
            <button type="button" class="btn_next btn_next_com flex-center w-100">다 음 <i class="icon icon-next"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AddInfoComPopup"
}
</script>

<style scoped>

</style>
