<template>
  <div class="freepass-refund-pass">
    <div class="modal show modal-application" id="modal-application-pass">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="title">합격미션 프리패스 환급신청</h4>
            <a href="javascript:;" class="close" data-dismiss="modal"></a>
          </div>
          <div class="modal-body">
            <div class="txt">
              ※ 합격 후기를 먼저 작성한 후 신청 바랍니다.
            </div>
            <div class="box-form" v-if="me">
              <form>
                <fieldset>
                  <div class="fil_title flex">
                    <h5>회원정보</h5>
                    <p><span class="sup"> * </span> 필수항목</p>
                  </div>
                  <div class="form-group">
                    <label>아이디 </label>
                    <input  class="w-100" type="text" :value="formatID(me.id)" readonly>
                  </div>
                  <div class="form-group">
                    <label>이름</label>
                    <input class="w-100"  type="text" :value="me.name" readonly>
                  </div>
                  <div class="form-group">
                    <label>휴대전화 </label>
                    <div class="group_list">
                      <div class="group">
                        <input type="text" name="" placeholder="숫자만 입력하세요" v-model="phoneData.phone"
                               :class="[{ 'input-error': $v.phoneData.phone.$error }]"
                               @keypress="onlyNumber($event)" @keyup="changeFormatPhone(phoneData.phone)" @paste="preventCopyAndPaste">
                        <button type="button" class="btn_request blue"  @click="getOTPByPhone">{{counting ? '인증 재요청' : '인증요청'}}</button>
                      </div>
                    </div>
                  </div>
                  <div v-if="$v.phoneData.phone.$error">
                    <div class="error">{{ getMessage($v.phoneData.phone, "phone") }}</div>
                  </div>
                  <div v-else-if="phoneData.validOTP">
                    <div class="success">휴대전화 인증이 완료되었습니다</div>
                  </div>
                  <div class="form-group" v-if="counting">
                    <label for="" style="opacity: 0">Countdown</label>
                    <div class="group pr">
                      <input class="number" type="text" v-model.lazy.trim="phoneData.confirm"
                             placeholder="인증번호 (숫자 6자리)"
                             :class="{ 'input-error': $v.phoneData.confirm.$error }">
                      <div class="time">
                        <countdown ref="countdown" :time="time" :transform="transform" @end="onCountdownEnd">
                          <template slot-scope="props">{{ props.minutes }}:{{ props.seconds }}</template>
                        </countdown>
                      </div>
                    </div>
                    <button type="button" class="btn_confirm flex-center" @click="confirmPhone">확인</button>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="fil_title flex">
                    <h5>환급 정보</h5>
                    <p><span class="sup"> * </span> 필수항목</p>
                  </div>
                  <div class="form-group">
                    <label>환급은행 <span class="sup">*</span></label>
                    <div class="box-select">
                      <select name="" v-model="formData.bank_name">
                        <option value="농협">NH농협은행</option>
                        <option value="국민">KB국민은행</option>
                        <option value="우리">우리은행</option>
                        <option value="신한">신한은행</option>
                        <option value="기업">IBK기업은행</option>
                        <option value="하나">하나은행</option>
                        <option value="경남">경남은행</option>
                        <option value="대구">대구은행</option>
                        <option value="부산">부산은행</option>
                        <option value="수협">Sh수협은행</option>
                        <option value="우체국">우체국예금보험</option>
                      </select>
                    </div>
                  </div>
                  <div v-if="$v.formData.bank_name.$error">
                    <div class="error">환급은행을 선택해주세요.</div>
                  </div>
                  <div class="form-group">
                    <label>환급계좌 <span class="sup">*</span></label>
                    <div class="group_content">
                      <input class="w-100" type="text" name="" placeholder="계좌 번호를 입력하세요"  v-model="formData.account_info"
                             :class="[{ 'input-error': $v.formData.account_info.$error }, 'w-100']"  @keypress="onlyNumber($event, 45, 25)" maxlength="25">
                      <p class="des">“-” 포함한 계좌번호를 입력하세요</p>
                    </div>
                  </div>
                  <div v-if="$v.formData.account_info.$error">
                    <div class="error">환급계좌를 입력해주세요.</div>
                  </div>
                  <div class="form-group">
                    <label>예금주 <span class="sup">*</span></label>
                    <div class="group_content">
                      <input type="text" name="" placeholder="예금주명을 입력하세요" v-model="formData.owner_name"
                             :class="[{ 'input-error': $v.formData.owner_name.$error }]" maxlength="50">
                      <p class="des">보인 명의 계좌로 환급 받을 것을 권장 드립니다.</p>
                    </div>
                  </div>
                  <div v-if="$v.formData.owner_name.$error">
                    <div class="error">예금주명을 입력해주세요.</div>
                  </div>
                  <div class="form-group">
                    <label>주민등록번호 <span class="sup">*</span></label>
                    <div class="group_content number_register flex">
                      <input type="text" name="" placeholder="주민번호 앞 6자리"  v-model="formData.user_id_number1"
                             :class="[{ 'input-error': $v.formData.user_id_number1.$error }]" @keypress="onlyNumber($event, null, 6)" maxlength="6">
                      <span class="space">-</span>
                      <input type="text" name="" placeholder="주민번호 뒤 7자리"  v-model="formData.user_id_number2"
                             :class="[{ 'input-error': $v.formData.user_id_number1.$error }]" @keypress="onlyNumber($event, null ,7)" maxlength="7">
                    </div>
                  </div>
                  <div v-if="$v.formData.user_id_number1.$error || $v.formData.user_id_number2.$error">
                    <div class="error">주민등록번호를 입력해주세요.</div>
                  </div>
                  <div class="form-group">
                    <label>합격후기링크 <span class="sup">*</span></label>
                    <input class="w-100" type="text" name="" placeholder="https:// 포함한  URL 주소 복사 바랍니다." v-model="formData.iq_url" @keydown.space="(event) => event.preventDefault()"
                           :class="[{ 'input-error': $v.formData.iq_url.$error }, 'w-100']" maxlength="300">
                  </div>
                  <div v-if="$v.formData.iq_url.$error">
                    <div class="error">합격후기링크를 입력해주세요.</div>
                  </div>
                  <div class="form-group">
                    <label>합격후기링크 <span class="sup">*</span></label>
                    <div class="attachment pr">
                      <button type="button" class="btn_remove" @click="browserFile('.dcm')">파일 삭제</button>
                      <input id="file" type="file" class="dcm" @change="selectFile($event)" accept=".pdf,.jpg,.gif,.png,.zip"/>
                      <span class="attachment__name" v-if="formData.fileName">{{formData.fileName}}</span>
                      <div class="attachment__guide">
                        <h4>파일 첨부 안내</h4>
                        <p>고용보험가입내역서 첨부
                          (확장자 : pdf, jpg, gif, png, gif, zip )
                          파일 용량 5MB 이내, 1개 파일만 첨부 가능
                        </p>
                      </div>
                    </div>
                  </div>
                  <div v-if="$v.formData.fileName.$error">
                    <div class="error">합격인증파일을 등록해주세요.</div>
                  </div>
                </fieldset>
                <div class="note">
                  <h4 class="flex-lc"><i class="icon icon-qs">?</i> 환급 유의사항</h4>
                  <article>
                    <p>환급 신청은 수강 기간 내에만 신청 가능합니다.</p>

                    <p>정보 입력 후 [환급신청]하시면, 환급 조건 확인 후 입력한 환급계좌로 입금됩니다.</p>

                    <p>제세공과금 (소비자의 22% = 기타소득세+주민세) 제외 후 환급됩니다.</p>

                    <p>환급 처리 기간은 환급 조건 확인 과정으로 인해 최대 30일이 소요될 수 있습니다.</p>

                    <p>환급 조건이 충족되지 않은 경우, 환급되지 않을 수 있으며, 부분 환급은 불가합니다.</p>

                    <p>
                      <strong>주민등록번호 수집 및 이용 안내</strong>
                      소득세법에 따라 원천세 신고처리를 위해 당첨자
                      의 주민등록번호가 필수 정보로 사용됩니다. 수집된 주민등록번호는 원천세 신고가 완료된 이후, 안전하게 삭제됨을 안내 드립니다.
                    </p>

                  </article>
                </div>
                <button type="button" class="btn_submit flex-center" @click="refund">환급신청</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <RefundStatus1 :data="refundStatus"></RefundStatus1>
    <ConfirmMainBanAction @actionEvent="actionEvent" :title="message"></ConfirmMainBanAction>
    <ConfirmMainBanNoAction :title="message"></ConfirmMainBanNoAction>
  </div>

</template>

<script>
  import {formatDashPhone, formatID, onlyNumber, preventCopyAndPaste} from "../../common/helpers";
  import {AuthService, GuideBookApiService, RefundApiService} from "../../store/service.api";
  import {TIME_EXPIRED, TYPE_OTHER} from "../../common/constant";
  import {msgValidate} from "../../common/register_validate";
  import {maxLength, required, sameAs, url, alphaNum} from "vuelidate/lib/validators";
  import {length} from "../../common/helpers_validate";
  import RefundStatus1 from "./RefundStatus1";
  import {mapGetters} from "vuex";
  import ConfirmMainBanAction from "./ConfirmMainBanNoAction";
  import ConfirmMainBanNoAction from "./ConfirmMainBanNoAction";

  export default {
    name: "ApplicationPass",
    components : {ConfirmMainBanAction, RefundStatus1, ConfirmMainBanNoAction},
    computed: {
      ...mapGetters(['isAuthenticated', 'loggedInUser']),
    },
    methods: {
      alert(message) {
        this.message = message
        $(".freepass-refund-pass").find('#modal-no-action').modal('show')
        return;
      },
      browserFile(item) {
        if (!this.formData.fileName) {
          $(item).click()
        } else {
          this.formData.fileName = '';
          $(item).val(null);
        }
      },
      selectFile(e) {
        let file = e.target.files || e.dataTransfer.files;
        this.formData.fileName = file[0].name;
      },
      formatID(id) {
        return formatID(id);
      },
      confirmPhone() {
        this.$v.phoneData.confirm.$touch()
        if (!this.$v.phoneData.confirm.$error) {
          this.phoneData.validOTP = true
          this.counting = false;
          this.phoneData.confirm = ''
          this.alert('인증번호가 성공적으로 확인되었습니다.')
        }
      },
      async getOTPByPhone() {
        this.phoneData.validOTP = false;
        this.$v.phoneData.confirm.$reset()
        this.phoneData.confirm = ''
        this.$v.phoneData.phone.$touch()
        if (!this.$v.phoneData.phone.$error) {
          this.phoneData.counting = false
          let data = await AuthService.getOTP({
            phone: this.phoneData.phone,
            type: TYPE_OTHER
          })
          if (data.success) {
            this.phoneData.code = data.data.code
            this.time = TIME_EXPIRED
            this.counting = true
          } else {
            this.counting = false
            let phone =  this.phoneData.phone.replace('-', '')
            let phone2 =  phone.replace('-', '')
            let dataTest = await AuthService.getOTP({
              phone: phone2,
              type: TYPE_OTHER
            })
            if (dataTest.success) {
              this.phoneData.code = dataTest.data.code
              this.time = TIME_EXPIRED
              this.counting = true
            } else {
              this.counting = false
              this.alert('전화 번호가 존재하지 않습니다')
            }
          }
        }
      },
      getMessage(v, field, value) {
        return msgValidate(v, field, value)
      },
      onCountdownEnd() {
        this.counting = false
      },
      transform(props) {
        Object.entries(props).forEach(([key, value]) => {
          props[key] = value < 10 ? `0${value}` : value;
        });

        return props;
      },
      onlyNumber(e, except = null , maxLength =  null) {
        onlyNumber(e, except)
        if (except) {
          if ((this.formData.account_info[this.formData.account_info.length - 1] === String.fromCharCode(except) && e.keyCode === except)  || (!this.formData.account_info.length && e.keyCode === except)) {
            e.preventDefault()
          }
        }
        if (maxLength) {
          if (this.formData.account_info.length > maxLength) {
            e.preventDefault()
          }
        }
      },

      changeFormatPhone(phone) {
        this.phoneData.phone = formatDashPhone(phone)
        this.phoneData.validOPT = false
        this.counting = false
        this.phoneData.confirm = '';
      },
      preventCopyAndPaste(e) {
        preventCopyAndPaste(e);
      },
      closeConfirmModal() {
        $('.freepass-refund-pass').find('.modal-confirm').first().modal('hide');
      },
      actionEvent() {
        this.refund();
      },
      openModalConfirm(e){
        this.message = "입력 정보를 등록하시겠습니까?";
        $(e.target).parents('.freepass-refund-pass').find('.modal-confirm').first().modal('show');
      },
      async refund() {
        if (!this.phoneData.validOTP) {
          this.alert('휴대전화 인증을 완료해주세요.');
          return;
        }
        this.$v.formData.$reset()
        this.$v.formData.$touch()

        if (this.$v.formData.$error) {
          return;
        }

            let hp = this.splitString(this.me.hp);
            RefundApiService.post({
              itemcode: "unknown",
              iq_name: this.me.name,
              hp1: hp[0],
              hp2: hp[1],
              hp3: hp[2],
              iq_subject: this.subject,
              bank_name: this.formData.bank_name,
              account_info: this.formData.account_info,
              owner_name: this.formData.owner_name,
              mystudy_uid: this.mys_id,
              mb_id: this.me.id,
              user_id_number: this.formData.user_id_number1 + this.formData.user_id_number2,
              img : this.formData.fileName,
              iq_url : this.formData.iq_url
            }).then(e => {
              if (e.code != "FAILED") {
                GuideBookApiService.getRefundStatus2({
                  user_id : this.loggedInUser.id
                }).then(e => {
                  if (e.code === 'SUCCESS') {
                      this.refundStatus = e.data;
                      this.closeConfirmModal();
                      if (this.refundStatus && this.refundStatus.length) {
                        $("#modal-refundstatus").modal('show');
                      }
                  }
                  $("#modal-application").modal('hide');
                })
              } else {
                alert(e.message);
              }
        });
      },
      splitString(string) {
        return string.split('-');
      }
    },
    props: ["me", "mys_id", "subject"],
    data() {
      return {
        formData: {
          bank_name: '농협',
          account_info: '',
          owner_name: '',
          user_id_number1: '',
          user_id_number2: '',
          iq_url : '',
          fileName : ''
        },
        phoneData: {
          phone: '',
          validOTP: false,
          code: '',
          confirm: ''
        },
        counting: false,
        time: TIME_EXPIRED,
        refundStatus : [],
        message : ''
      }
    },
    validations: {
      phoneData: {
        phone: {
          required,
          length: length(11),
        },
        confirm: {
          required,
          sameAs: sameAs(function () {
            return this.phoneData.code
          })
        },
      },
      formData: {
        bank_name: {
          required,
        },
        account_info: {
          required,
          maxLength : maxLength(25)
        },
        owner_name: {
          required,
          maxLength : maxLength(50)
        },
        user_id_number1: {
          required,
          maxLength : maxLength(6)
        },
        user_id_number2: {
          required,
          maxLength : maxLength(7)
        },
        iq_url : {
          required,
          url,
          maxLength : maxLength(300)
        },
        fileName : {
          required
        }
      }
    },
  }
</script>

<style scoped>
  .group.pr {
    position: relative;
  }
  .group.pr input::placeholder {
    font-size: 10px;
  }
  .group.pr .time {
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    color: #767676;
    font-size: 10px;
    height: fit-content;
    margin: auto;
  }
</style>
