<template>
    <div class="modal fade modal-status" id="modal-status-pop">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="title flex-lc"><i class="icon icon-arr" @click="showPop('#modal-category', '#modal-status-pop')"></i> 도서배송현황</h4>
            <button type="button" class="btn_reset" onClick="history.go(0);"></button>
          </div>
          <div class="modal-body">
            <ul class="tab nav flex">
              <li @click="showCollapse()">기간 검색 <i class="icon-i flex-center">i</i></li>
              <li><a href="#개월12" @click="listBookDeliveryByOption(status,1)" data-toggle="tab" class="active" title="">1개월</a></li>
              <li><a href="#개월12" @click="listBookDeliveryByOption(status,3)" data-toggle="tab" title="">3개월</a></li>
              <li><a href="#개월12" @click="listBookDeliveryByOption(status,6)" data-toggle="tab" title="">6개월</a></li>
              <li><a href="#개월12" @click="listBookDeliveryByOption(status,12)" data-toggle="tab" title="">12개월</a></li>
            </ul>
            <div class="box-text hide pr">
              <div class="content">
                <p>12개월 이전 배송현황은 ‘PC버전 > 마이페이지
                  > 도서배송현황’에서 확인 가능합니다.</p>
                <p>구매 취소 된 주문은 조회되지 않습니다.</p>
              </div>
              <button type="button" class="close">X</button>
            </div>
            <div class="tab-content">
              <div id="개월12" class="tab-pane fade show active">
                <div class="status flex">
                  <div class="item" :class="status === '전체' ? 'active' : ''" @click="listBookDeliveryByOption('전체',month)">
                    <span>{{getCountBookByStatus(listBookDelivery, '전체')}}</span>
                    <h5>전체</h5>
                  </div>
                  <div class="item" :class="status === '배송준비' ? 'active' : ''" @click="listBookDeliveryByOption('배송준비',month)">
                    <span>{{getCountBookByStatus(listBookDelivery, '배송준비')}}</span>
                    <h5>배송준비</h5>
                  </div>
                  <div class="item" :class="status === '배송중' ? 'active' : ''" @click="listBookDeliveryByOption('배송중',month)">
                    <span>{{getCountBookByStatus(listBookDelivery, '배송중')}}</span>
                    <h5>배송중</h5>
                  </div>
                  <div class="item" :class="status === '배송완료' ? 'active' : ''" @click="listBookDeliveryByOption('배송완료',month)">
                    <span>{{getCountBookByStatus(listBookDelivery, '배송완료')}}</span>
                    <h5>배송완료</h5>
                  </div>
                </div>
                <div class="box-order" v-if="getCountBookByStatus(listBookDelivery, status) > 0">
                  <div class="order" v-if="book.length" v-for="(book, key) in getListBookByStatus(listBookDelivery, status)" :key="key">
                    <div class="order__status">{{book[0].status1}}</div>
                    <div class="order__code">{{book[0].uid}}</div>
                    <div class="order__time">
                      <p>주문일 {{dateFormat(book[0].ct_time)}}({{subWeek(book[0].ct_time)}})</p>
                      <p>결제일 {{dateFormat(book[0].bank_time)}}({{subWeekKorean(book[0].bank_time)}})</p>
                    </div>
                    <div class="order__item" v-for="(item, key) in book">
                      <h3><p>{{item.item_name}}</p></h3>
                      <p>판매가 : {{formatMoney(item.ct_amount)}}원 │ 수량 : {{item.quantity}}</p>
                    </div>
                    <div class="order__payment">
                      <p>총 결제금액 : <span>{{formatMoney(book.reduce((total, obj) => obj.ct_amount + total,0))}}원</span> │ 총 배송 수량 : <span>{{book.reduce((total, obj) => obj.quantity + total,0)}}</span></p>
                    </div>
                    <div class="order__delivery" v-if="book[0].invoice == ''">
                      <p>송장번호 : 준비중</p>
                      <p>배송시작일 : 준비중</p>
                    </div>
                    <div class="order__delivery" v-else>
                      <h5><a v-bind:href="'http://www.doortodoor.co.kr/tracking/jsp/cmn/Tracking_new.jsp?QueryType=3&pTdNo=' + book[0].invoice" target='_blank'>송장번호 : {{book[0].invoice}}</a></h5>
                      <p>배송시작일 : {{dateFormat(book[0].invoice_time)}}</p>
                    </div>
                  </div>
                </div>
                <div class="notifi" v-else>
                  <h5>도서 구매 내역이 없습니다.</h5>
                  <div class="img"><img src="~/assets/img/found.png" alt=""></div>
                  <div class="txt">
                    12개월 이전 배송현황은
                    ‘PC버전 > 마이페이지 > 도서배송현황’에서
                    확인 가능합니다.
                  </div>
                  <div class="orderinfo">
                    <div class="orderinfo__header flex-lc">
                      <h4 class="flex-lc"><i class="icon icon-qs">?</i> 도서 배송 안내</h4>
                      <button type="button" class="btn_collapse dr ml-auto" data-toggle="collapse" data-target="#orderinfo"></button>
                    </div>
                    <div class="orderinfo__content collapse show" id="orderinfo">
                      <article>
                        <p>‘자격증 과정’ 관련 도서 구매 시 배송 현황을 확인할 수 있습니다.</p>
                        <p>“배송중” 상태일 때, 송장번호로 배송 추척이 가능합니다.</p>
                        <p>도서배송 : CJ택배 배송 조회 <br>
                          (CJ택배 고객센터 전화 : 1588-1255 )</p>
                        <p><b>도서 배송 시간</b> 배송시간 : 영업일 기준 월~금 오후 2시 이전 결제 시 <br>
                          당일 발송</p>
                        <p>주말, 공휴일 및 휴무일 등 구매 시, 휴무 종료 후 다음 <br>
                          영업일 발송</p>
                      </article>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
  import BookDeliveryStatusPopNoList from "../../components/modal/BookDeliveryStatusPopNoList";
  import {MyBookServiceService} from "../../store/service.api";
  import moment from "moment";
  import {formatDate, formatMoney, subWeek, subWeekKorean} from "../../common/helpers";

  export default {
    name: "BookDeliveryStatusPopup",
    middleware : 'auth',
    props : ['tabActive'],
    watch : {
      tabActive(newVal) {
        this.listBookDeliveryByOption(newVal, this.month)
      }
    },
    methods : {
      showCollapse : function () {
          $('.box-text').css('display','block');
      },
      openModalCategory() {
        $('#modal-category').modal('show');
        $('#modal-status-pop').modal('hide');
      },
      showPop(element, closeElement = null) {
        let previous_tab = this.$cookies.get('previous_tab');
        if (previous_tab) {
            $(previous_tab).modal('show');
        }else {
          $(element).modal('show');
        }

        closeElement ? $(closeElement).modal('hide') : 0;
      },
      dateFormat(date){
        return formatDate(date, 'YYYY-MM-DD  HH:mm:ss')
      },
      formatMoney(money){
        return formatMoney(money)
      },
	    subWeek(date){
        return subWeek(date);
      },
      subWeekKorean(date){
        return subWeekKorean(date);
      },
      listBookDeliveryByOption(status, month) {
        this.month = month;
        this.status = status;
        let oneMonthAgo = moment().subtract(month, 'months')
        let currentDate = moment();
        let day = moment.duration(currentDate.diff(oneMonthAgo)).asDays();

        let params = {status : status, time: parseInt(day), 'user_id' : this.$auth.$state.user.id};

        MyBookServiceService.getTransportBook(params).then(data => {
          if(data.code === 'SUCCESS'){
            this.listBookDelivery = data.data
          }
        })

      },

      getCountBookByStatus(listBookDelivery, status){
        let keyCurrent = Object.keys(listBookDelivery).filter(key => {
          return key === status;
        })
        if(listBookDelivery[keyCurrent[0]]){
          return Object.keys(listBookDelivery[keyCurrent[0]]).length
        }

        return 0;
      },

      getListBookByStatus(listBookDelivery, status){
        let keyCurrent = Object.keys(listBookDelivery).filter(key => {
          return key === status;
        })
        if(listBookDelivery[keyCurrent[0]]){
          return Object.values(listBookDelivery[keyCurrent[0]])
        }
      }
    },
    data(){
      return {
        listBookDelivery : [],
        status : '전체',
        month : 1
      }
    },
    async created(){
      await this.listBookDeliveryByOption('전체', 1);
    },
  }
</script>

<style scoped>
.modal.fade .modal-dialog {
  transform: initial !important;
}
.fade:not(.show){
  opacity: 1;
}
.modal .notifi{
  text-align: initial;
}


</style>
