<template>
  <div class="modal fade modal-cart" id="modal-cart">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="title">주문상품 전체보기 ({{ data.length }})</h4>
          <a href="javascript:;" class="close" data-dismiss="modal"></a>
        </div>
        <div class="modal-body">
          <div class="orderlist">
            <div class="item" v-for="item in data" :key="item.uid">
              <div class="item__header flex-lc">
                <h2>{{ item.type }}</h2>
              </div>
              <div class="item__content">
                <div class="product flex">
                  <div class="product__img"><img :src="url + '/data_user/' + getTailImage(item)" alt=""></div>
                  <div class="product__content">
                    <h3><a href="javascript:;">{{ item.it_name }}</a></h3>
                    <div class="price">{{ formatMoney(item.retakePrice, ' 원', ',') }} / <span>{{ item.quantity }}</span> 개</div>
                  </div>
                </div>
                <div class="booklist pt-2" v-show="item.date_info">ㄴ {{ item.sDatetime }}</div>
                <div class="booklist" v-show="item.listDate.length">
                  <div class="booklist__item" v-for="itemDate in item.listDate">
                    <div class="flex">
                      <h5>ㄴ</h5>
                      <p>{{ itemDate.title.substr(0, 23) + '...' }}</p>
                    </div>
                    <p class="pl-4">{{ itemDate.date }}</p>
                  </div>
                </div>
<!--                <div class="booklist" v-show="item.bookList.length">-->
<!--                  <div class="booklist__item" v-for="itemBook in item.bookList">-->
<!--                    <div class="flex">-->
<!--                      <h5>ㄴ</h5>-->
<!--                      <p>{{ itemBook.title.substr(0, 23) + '...' }}</p>-->
<!--                    </div>-->
<!--                    <h5>ㄴ</h5>-->
<!--                    <p>I <span>{{ formatMoney(itemBook.price, '', ',')}}</span>원</p>-->
<!--                  </div>-->
<!--                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {formatMoney} from "../../common/helpers";

export default {
  name: "CartAll",
  props: ['data', 'url'],
  data() {
    return {
      PACK: "package",
      MOV: "lecture",
      BOOK: "item",
    }
  },
  methods: {
    formatMoney(val, currency, format) {
      return formatMoney(val, currency, format);
    },
    getTailImage(item) {
      if (item.lec_img) {
        return this.MOV + '/' + item.code_lecture + '/' + item.lec_img
      }
      if (item.pack_img) {
        return this.PACK + '/' + item.pack_uid + '/' + item.pack_img
      }
      if (item.code_book) {
        return this.BOOK + '/' + item.code_book + '_l1.png'
      }
    },
  }
}
</script>

<style scoped>

</style>
