<template>
  <div>
    <div class="modal fade modal-category" id="modal-category">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="btn_link flex" v-if="this.isAuthenticated">
              <a @click="logOut" title="로그아웃">로그아웃</a>
            </div>
            <div class="btn_link flex" v-else>
              <a @click="gotoLogin()" title="로그인">로그인</a>
              <a @click="gotoRegister()"title="회원가입">회원가입</a>
            </div>
            <button type="button" class="btn_notifi pr" data-toggle="modal" data-target="#modal-notice" v-if="this.isAuthenticated"><span class="flex-center">N</span></button>
            <a href="javascript:;" class="close" data-dismiss="modal"></a>
          </div>
          <div class="modal-body">
            <ul class="menu_link flex">
              <li v-if="isAuthenticated"><a @click="showModal('#modal-logout', '#modal-category', true)"><i class="icon icon-class"></i> 내강의실</a></li>
              <li v-else><a href="javascript:;"@click="gotoLogin()"><i class="icon icon-class"></i> 내강의실</a></li>
              <li v-if="isAuthenticated"><a href="javascript:;" @click="openModalPayment()"><i class="icon icon-history"></i> 결제내역</a></li>
              <li v-else><a href="javascript:;" @click="gotoLogin()"><i class="icon icon-history"></i> 결제내역</a></li>
              <li v-if="isAuthenticated"><a href="javascript:;"  @click="openModalBook()"><i class="icon icon-transport"></i> 도서배송현황</a></li>
              <li v-else><a href="javascript:;" @click="gotoLogin()"><i class="icon icon-transport"></i> 도서배송현황</a></li>
            </ul>
            <div class="menu-accordion">
              <div class="toggle-accordion">
                <button type="button" class="expand_all flex-lc">전체메뉴열기 <span>+</span></button>
                <button type="button" class="colpand_all flex-lc">전체메뉴닫기 <span>-</span></button>
              </div>
              <div class="item show">
                <div class="header flex-lc">
                  <a href="/online-main"><h4>이공계 취업</h4></a>
                  <button type="button" class="btn_collapse ml-auto"></button>
                </div>
                <ul class="menu flex">
                  <li><a href="/lecture/online?limit=10&offset=0&order_type=C&field=teacher_id">수강신청</a></li>
                  <li><a href="/lecture/online?type=pack&limit=10&offset=0&order_type=C&field=teacher_id">패키지 수강신청</a></li>
                  <li><a href="/lecture/online?limit=10&offset=0&order_type=C&field=teacher_id&category=010402">NCS수료증 발급강의</a></li>
                  <li><a href="https://www.letuin.com/lecture.php?action=freepass10" target="_blank">0원 프리패스</a></li>
                  <li><a :href="url + '/lecture.php?action=sfreepass'" target="_blank">삼성 프리패스<span class="status">BEST</span></a></li>
                  <li><a :href="url + '/promotion.php?action=Addrem'" target="_blank">자소서 첨삭</a></li>
                  <li><a :href="url + '/promotion.php?action=evaluation'" target="_blank">반도체 직무역량평가</a></li>
                  <li><a :href="url + '/newpage.php?no=0501'" target="_blank">디스플레이 직무역량평가</a></li>
                  <li><a :href="url + '/promotion.php?action=evaluation'" target="_blank">온라인 직무적성검사</a></li>
                </ul>
              </div>
              <div class="item">
                <div class="header flex-lc">
                  <a href="/public-main"><h4>공기업 취업</h4></a>
                  <button type="button" class="btn_collapse ml-auto"></button>
                </div>
                <ul class="menu flex">
                  <li><a :href="url_public + '/promotion.php?action=LmsFreeStudy'" target="_blank">독한 스터디</a></li>
                  <li><a href="/lecture/public?limit=10&offset=0&order_type=C&field=teacher_id&lec_type=online&keyword_new=&category=08">수강신청</a></li>
                  <li><a :href="url_public + '/promotion.php?action=300_free'" target="_blank">300% 환급 프리패스</a></li>
                  <li><a :href="url_public + '/promotion.php?action=ncsOnline'" target="_blank">NCS 온라인 모의고사</a></li>
                  <li><a :href="url_public + '/lecture.php?action=CompanyBook'" target="_blank">취업기업분석 <span class="status">BEST</span></a> </li>
                  <li><a href="javascript:;" @click="goToPage('/textbook-list')">도서</a></li>
<!--                  <li><a href="https://www.letuin.com/lecture.php?field=teacher_id&orderType=&action=list2&type=&category%5B3%5D%5B1%5D=010402" target="_blank">NCS 직업교육</a></li>-->
                </ul>
              </div>
              <div class="item">
                <div class="header flex-lc">
                  <a href="/swit-main"><h4>SW/IT 취업</h4></a>
                  <button type="button" class="btn_collapse ml-auto"></button>
                </div>
                <ul class="menu flex">
                  <li><a href="/lecture/swit?limit=10&offset=0&order_type=C&field=teacher_id&category=010206">수강신청 <span class="status">BEST</span></a> </li>
                  <li><a href="/lecture/swit?limit=10&offset=0&order_type=C&field=teacher_id&category=010206">프로젝트 강의</a></li>
                  <li><a :href="url + '/lecture.php?action=CompanyBook'">취업가이드북</a></li>
                </ul>
              </div>
              <div class="item">
                <div class="header flex-lc">
                  <a href="/academy-main"><h4>학원 강의</h4></a>
                  <button type="button" class="btn_collapse ml-auto"></button>
                </div>
                <ul class="menu flex">
                  <li><a href="/lecture/offline?limit=10&offset=0&order_type=C&field=teacher_id">이공계 강의 수강신청</a></li>
                  <li><a href="/lecture/offline?limit=10&offset=0&order_type=C&field=teacher_id&category=020306">SW 강의 수강신청</a></li>
                  <li><a :href="url + '/promotion.php?action=practice'" target="_blank">공정/회로실습 <span class="status">BEST</span></a> </li>
                  <li><a :href="url + '/promotion.php?action=course_promotion'" target="_blank">국비지원 과정</a></li>
                  <li><a :href="url + '/promotion.php?action=off_freeLec'" target="_blank">무료취업특강</a></li>
                  <li><a :href="url + '/notice.php?action=custom_lecture'" target="_blank">무료수강상담</a></li>
                </ul>
              </div>
            </div>
            <div class="banner-modal flex-center" v-if="isAuthenticated">
              이벤트 배너 노출
            </div>
            <form action="" class="form-register" v-else>
              <h5>나에게 맞는 커리큘럼을 찾고 있다면, 취업 전문가와 상담 신청하세요!</h5>
              <div class="form-group flex-nowrap">
                <input type="text" name="" placeholder="이름">
                <input type="number" name="" placeholder="휴대폰 번호">
                <button type="submit" class="btn_submit flex-center">전문가 상담 신청</button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <a :href="url + '/gnu/bbs/board.php?bo_table=faq'" target="_blank"><i class="icon icon-faq"></i> FAQ</a>
            <a :href="url + '/notice.php?action=custom_lecture'" target="_blank"><i class="icon icon-wr"></i> 1:1맞춤상담</a>
            <a href="javascript:;" @click="openModalContact" v-if="isAuthenticated"><i class="icon icon-phone"></i> 1:1문의</a>
            <a data-toggle="modal" data-target="#modal-confirm" v-else><i class="icon icon-phone"></i> 1:1문의</a>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-confirm" v-if="!isAuthenticated">
    <LoginModalConfirm></LoginModalConfirm>
    </div>
  </div>
</template>

<script>
  import LoginModalConfirm from "./LoginModalConfirm";
  import { mapGetters } from 'vuex'
  import {URL_IMAGE, URL_PUBLIC} from "../../config";

  export default {
    name: "CategoryPop",
    data() {
      return {
        url : URL_IMAGE,
        url_public: URL_PUBLIC
      }
    },
    components: {
      LoginModalConfirm
    },
    computed: {
      ...mapGetters(['isAuthenticated', 'loggedInUser']),
    },
    methods: {
      async logOut() {
        await this.$auth.logout();
        $('#modal-category').modal('hide');
        this.$router.push(this.$cookies.get('callback') || '/');
      },
      gotoLogin() {
        this.$cookies.set('callback', this.$router.path)
        $('#modal-category').modal('hide');
        this.$router.push('/login');
      },
      goToPage(uri) {
        $('#modal-category').modal('hide')
        this.$nuxt.$emit('change-link', uri)
        this.$router.push(uri);
      },
      gotoRegister() {
        this.$cookies.set('callback', this.$router.path)
        $('#modal-category').modal('hide');
        this.$router.push('/register');
      },
      openModalPayment() {
        $('#modal-category').modal('hide');
        $('#modal-payment').modal('show');
        this.$cookies.set('previous_tab', '#modal-category');
      },
      openModalBook() {
        $('#modal-category').modal('hide');
        $('#modal-status-pop').modal('show');
      },
      openModalContact() {
        $('#modal-category').modal('hide');
        $('#modal-contactus').modal('show');
      },
      showModal(item, hideItem = null, showMyClass = null) {
        $(item).modal('show');
        hideItem ? $(hideItem).modal('hide') : 0;
        if (showMyClass) {
          this.$emit('showMyClass', true);
        }
      }
    }
  }
</script>

<style scoped>

</style>
