<template>
  <div class="modal modal-md show modal-certificates" id="modal-certificates">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="title">독한 스터디 수료증</h4>
          <a href="javascript:;" class="close" data-dismiss="modal"></a>
        </div>
        <div class="modal-body">
          <div class="certificates">
            <div class="certificates__title banner-title background_public_1">{{infoCertifiCate.titleClass}}</div>
            <div class="certificates__author">
              성명 <span>{{$auth.$state.user.name}}</span>
            </div>
            <div class="certificates__time">
              <h5>스터디기간 </h5>
              <time>{{formatDate(infoCertifiCate.start_date)}} ~ <span>{{formatDate(infoCertifiCate.end_date)}}</span></time>
            </div>
            <ul class="certificates__info flex">
              <li>
                <h5>총 수강차시</h5>
                <p><span class="color_public">{{infoCertifiCate.count}}</span> 차시</p>
              </li>
              <li>
                <h5>누적 학습시간 </h5>
                <p class="color_public">{{infoCertifiCate.sugang_time}}</p>
              </li>
            </ul>
            <div class="certificates__content preline">
              귀하는 독한스터디 기간 동안
              단 하루도 빼놓지않고 충실하게 수행해내며,
              독한 미션을 완벽하게 수행하여
              타의 모범이 되었으므로 이 상장을 드립니다.
            </div>
            <div class="certificates__space"></div>
            <div class="certificates__notifi preline color_public">
              여러분은 합격하는
              1%의 공부습관을 갖추었습니다.
            </div>
            <div class="certificates__date">{{formatDate(infoCertifiCate.end_date)}}</div>
            <div class="banner-decision">
              <h5>당신의 결심을 주변에 알려보세요!</h5>
              <p>목표는 널리 알릴수록 달성할 가능성이 높아진다고 합니다.</p>
              <div class="box-btn flex">
                <button type="button" class="btn_dl flex-center" @click="download($event)"><i class="icon icon-dl" ></i> 이미지다운</button>
                <button type="button" class="btn_talk flex-center" @click="shareKakao($event)"><i class="icon icon-talk"></i> 카카오톡</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {formatDate} from "../../common/helpers";
import moment from "moment";
export default {
  name: "Certificates",
  props : {
    infoCertifiCate : {
      require : true
    },
    user: {
      required :true
    }
  },
  methods : {
    formatDate(date, format){
      return formatDate(date, format)
    },
    download(e) {
      let _url = "https://www.letuin.com";
      let user_name = encodeURI(this.user.name);
      let ingdate = encodeURI(this.infoCertifiCate.ingdate);
      let count = encodeURI(this.infoCertifiCate.count);
      let sugang_time = encodeURI(this.infoCertifiCate.sugang_time);
      let today = moment().format('YYYY.MM.DD');
      let t = moment().unix();
      let img = _url + "/data/temp/mypage/LmsStudy/kakaoShareImg_All.php?user_name=" + user_name + "&ingdate=" + ingdate + "&count=" + count + "&sugang_time=" + sugang_time + "&today=" + today + "&time=" + t;

      // var link = document.createElement("a");
      // // If you don't know the name or want to use
      // // the webserver default set name = ''
      // link.setAttribute('download', '수료증');
      // link.href = img;
      // document.body.appendChild(link);
      // link.click();
      // link.remove();
      var xhr = new XMLHttpRequest();
      xhr.open("GET", img, true);
      xhr.responseType = "blob";
      xhr.onload = function(){
        var urlCreator = window.URL || window.webkitURL;
        var imageUrl = urlCreator.createObjectURL(this.response);
        var tag = document.createElement('a');
        tag.href = imageUrl;
        tag.download = '수료증';
        document.body.appendChild(tag);
        tag.click();
        document.body.removeChild(tag);
      }
      xhr.send();
    },
    shareKakao(e) {
      let _url = "https://www.letuin.com";
      let user_name = encodeURI(this.user.name);
      let ingdate = encodeURI(this.infoCertifiCate.ingdate);
      let count = encodeURI(this.infoCertifiCate.count);
      let sugang_time = encodeURI(this.infoCertifiCate.sugang_time);
      let today = moment().format('YYYY.MM.DD');
      let t = moment().unix();
      let img = _url + "/data/temp/mypage/LmsStudy/kakaoShareImg_All.php?user_name=" + user_name + "&ingdate=" + ingdate + "&count=" + count + "&sugang_time=" + sugang_time + "&today=" + today + "&time=" + t;
      this.$kakao.Link.sendDefault({
        objectType: 'feed',
        content: {
          title: '독한스터디 수료증',
          description: "마지막까지 정말 완벽했어요.\n합격하는 1%의 공부습관 완성!",
          imageUrl: img,
          imageWidth: 800,
          imageHeight: 800,
          link: {
            webUrl: _url + '/promotion.php?action=LmsFreeStudy',
            mobileWebUrl: _url + '/promotion.php?action=LmsFreeStudy'
          }
        }, buttons: [{
          title: '합격하는 1%의 공부습관 만들기',
          link: {
            webUrl: _url + '/promotion.php?action=LmsFreeStudy',
            mobileWebUrl: _url + '/promotion.php?action=LmsFreeStudy'
          }
        }]
      })
    }
  }
}
</script>

<style scoped>

</style>
