<template>
  <div class="modal modal-md fade modal-confirm" id="modal-no-action">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <a href="javascript:;" class="close" data-dismiss="modal"></a>
        <h4 class="title-no-action">{{ title }}</h4>
        <button type="button" data-dismiss="modal" class="btn_confirm flex-center">확 인</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ConfirmMainBanAction",
  props: ['title'],
  methods: {
    submit() {
      this.$emit('actionEvent')
    }
  }
}
</script>

<style scoped>
#modal-no-action {
  z-index: 9999;
}
</style>
