<template>
  <div class="modal modal-md fade modal-confirm" id="modal-confirm-action">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <a href="javascript:;" class="close"  @click="closeModal"></a>
        <h4>{{ title }}</h4>
        <button type="button" @click="submit" class="btn_confirm flex-center">확 인</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ConfirmMainBanAction",
  props: ['title', 'data'],
  methods: {
    submit() {
      this.$emit('actionEvent', this.$props.data)
    },
    closeModal() {
      $(".modal-confirm").modal('hide');
    }
  }
}
</script>

<style scoped>
    #modal-confirm-action{
      z-index: 10000 !important;
    }
</style>
