<template>
  <div class="modal modal-md fade modal-confirm" id="modal-confirm-action">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <a href="javascript:;" class="close" data-dismiss="modal"></a>
        <h4>{{ title }}</h4>
        <div class="flex" style="flex-wrap: inherit !important;">
          <button type="button" @click="submit" class="btn_confirm flex-center" style=" margin-right: 5px !important;">확 인</button>
          <button type="button" data-dismiss="modal" class="btn_confirm flex-center">취 소</button>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ConfirmMainBanAction",
  props: ['title', 'data'],
  methods: {
    submit() {
      this.$emit('actionEvent', this.$props.data)
    }
  }
}
</script>

<style scoped>
    #modal-confirm-action{
      z-index: 10000 !important;
    }
</style>
