<template>
  <div class="modal modal-md fade modal-confirm-main" id="modal-confirm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="title">오늘 하루 다시 보지 않기</h4>
          <a href="javascript:;" class="close" data-dismiss="modal"></a>
        </div>
        <div class="modal-body">
          <h4>12월 12일 본사 휴무안내</h4>
          <div class="text">
            렛유인은 명절 휴무로 인해
            배송 및 CS고객센터 업무가 중단됩니다.
            이용에 불편이 없으시길 바랍니다.

            즐거운 명절 되세요!!

            감사합니다.
          </div>
          <!--<button type="button" class="btn_confirm flex-center">신청하기</button>-->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ConfirmMainBan"
}
</script>

<style scoped>

</style>
