<template>
  <div class="modal_create_contact">
    <div class="modal modal-m show modal-contactus" id="modal-contactus-wt">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="title flex-lc"><i class="icon icon-arr" @click="showConfirmModal(0, true, '입력을 취소하시겠습니까?')"></i> 1:1문의하기</h4>
            <button type="button" class="btn_lb ml-auto" @click="showConfirmModal(0, false, '문의내역에 이동하시겠습니까?')">문의내역</button>
          </div>
          <div class="modal-body">
            <div class="request">
              <h5>문의유형선택</h5>
              <ul class="request__list flex">
                <li><a @click="changeCategory($event,'회원가입')" :class="{'active' : checkCategoryActive('회원가입')}">회원가입</a></li>
                <li><a @click="changeCategory($event,'수강신청')" :class="{'active' : checkCategoryActive('수강신청')}">수강신청</a></li>
                <li><a @click="changeCategory($event,'결제문의')" :class="{'active' : checkCategoryActive('결제문의')}">결제문의</a></li>
                <li><a @click="changeCategory($event,'동영상')" :class="{'active' : checkCategoryActive('동영상')}">동영상</a></li>
                <li><a @click="changeCategory($event,'도서구입배송')" :class="{'active' : checkCategoryActive('도서구입배송')}">도서구입배송</a></li>
                <li><a @click="changeCategory($event,'취소/환불')" :class="{'active' : checkCategoryActive('취소/환불')}">취소/환불</a></li>
                <li><a @click="changeCategory($event,'기타')" :class="{'active' : checkCategoryActive('기타')}">기타</a></li>
              </ul>
            </div>
            <form action="" method="">
              <div class="form-group">
                <input type="text" name="" maxlength="25" placeholder="제목을 입력하세요" v-model="formData.subject" :class="[{ 'input-error': $v.formData.subject.$error }]">
              </div>
              <div v-if="$v.formData.subject.$error">
                <div class="error offset-3 pl-4" v-if="!$v.formData.subject.required">
                  제목을 입력해주세요.
                </div>
                <div class="error offset-3 pl-4" v-if="!$v.formData.subject.minLength || !$v.formData.subject.maxLength">
                  제목은 최소 2자 이상, 최대 25자 미만으로 입력해주세요.
                </div>
              </div>

              <div class="form-group">
                <textarea placeholder="문의 내용을 입력하세요" maxlength="500" v-model="formData.content" :class="[{'input-error': $v.formData.content.$error }]"></textarea>
                <div class="count-txt">*{{formData.content ? formData.content.length  : 0}} ／ 500</div>
              </div>

              <div v-if="$v.formData.content.$error">
                <div class="error offset-3 pl-4" v-if="!$v.formData.content.required">
                  내용을 입력해주세요.
                </div>
                <div class="error offset-3 pl-4" v-if="!$v.formData.content.minLength || !$v.formData.content.maxLength">
                  내용 입력은 최소 5자 이상, 최대 500자 미만으로 입력해주세요.
                </div>
              </div>
              <div class="attachment flex-lc pr">
                <button type="button" class="btn_select" v-if="!is_upload">파일 선택</button>
                <button type="button" class="btn_remove" v-else @click="showConfirm">파일삭제</button>
                <button type="button" class="btn_remove btn_backup" style="display: none" @click="removeUploadImage">파일삭제</button>
                <input id="file" type="file" v-if="!is_upload" @change="setImageUpload" accept=".jpg, .gif, .png, .bmp, .hwp, .doc, .ppt, .xls, .zip, .pdf, .txt">
                <span class="attachment__name">{{formData.filename ? formData.filename : ''}}</span>
              </div>
              <div class="guide_attachment">
                <h5>파일 첨부 안내</h5>
                <p>
                  파일은 상담 시 필요한 경우 첨부해 주세요..
                  개인정보가 포함된 첨부파일은 상담 완료 후 즉각
                  파기되며, 상담 외의 목적으로 사용되지 않습니다.
                  첨부파일 용량은 5MB미만이며, 1개 파밀만 입력
                  가능합니다.
                </p>
                <p>
                  첨부파일 확장자: JPG, GIF, PNG, BMP, HWP, DOC,
                  PPT, XLS, ZIP, PDF, TXT
                </p>
              </div>
              <div class="bottom flex" v-if="createAsk">
                <button type="button" class="btn_send col-6" @click="showConfirmModal(3,true, '입력 정보를 등록하시겠습니까?')">문의등록</button>
                <button type="button" class="btn_cancel col-6" @click="showConfirmModal(1, false, '입력을 취소하시겠습니까?')">취소</button>
              </div>
              <div class="bottom flex" v-else>
                <button type="button" class="btn_send col-4" @click="showConfirmModal(3,false,'입력 정보를 등록하시겠습니까?')">문의등록</button>
                <button type="button" class="btn_remove col-4" @click="showConfirmModal(2, false, '등록 정보를 삭제하시겠습니까 ? 삭제 후 다시 복원할 수 없습니다.')">삭제하기</button>
                <button type="button" class="btn_cancel col-4" @click="showConfirmModal(1,false, '입력을 취소하시겠습니까?')">취소</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <ConfirmMainBanActionInModal :title="title" :data="action" @actionEvent="actionEvent"></ConfirmMainBanActionInModal>
    <div class="modal-confirm-action-2">
      <div class="modal modal-md fade modal-confirm" id="modal-confirm-action-2">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <a href="javascript:;" class="close" data-dismiss="modal"></a>
            <h4>{{ title }}</h4>
            <button type="button" @click="clickConfirm()" class="btn_confirm flex-center">확 인</button>
          </div>
        </div>
    </div>
    </div>
    <div class="no_confirm_modal">
      <ConfirmMainBanNoAction :title="message"></ConfirmMainBanNoAction>
    </div>

  </div>
</template>

<script>
  import {QaApiService} from "../../store/service.api";
  import {minLength, maxLength, required} from "vuelidate/lib/validators";
  import {mapGetters} from 'vuex'
  import ConfirmMainBanActionInModal from "./ConfirmMainBanActionInModal";
  import ConfirmMainBanNoAction from "./ConfirmMainBanNoAction";
  export default {
    name: "ContactUS_TWPop",
    props : ['createAsk', 'qa'],
    components : {ConfirmMainBanActionInModal, ConfirmMainBanNoAction},
    data() {
      return {
        formData : {
          subject : '',
          content : '',
          category : '회원가입',
          file: '',
          filename: '',
          bf_no: '',
          bo_table: '',
          wr_id: '',
        },
        is_upload: false,
        title : '파일을 삭제하시겠습니까?',
        action : {   // 0 : close , 1:cancel,2:delete, 3:createOrUpdate
          numberAction : 0,
          withData : false
        },
        data: {},
        message: ''
      }
    },
    watch : {
      qa(newVal, oldVal) {
        if (newVal) {
          this.formData.subject = newVal.wr_subject;
          this.formData.content = newVal.wr_content;
          this.formData.category = newVal.wr_3;
          this.formData.file = ''
          this.formData.filename = newVal.write_file ? newVal.write_file[0].bf_file : '';
          this.formData.bf_no = newVal.write_file ? newVal.write_file[0].bf_no : '';
          this.formData.bo_table = newVal.write_file ? newVal.write_file[0].bo_table : '';
          this.formData.wr_id = newVal.wr_id;
          this.is_upload = newVal.write_file ? true : false
        } else {
          this.formData.subject = ''
          this.formData.content = '';
          this.formData.category = '회원가입'
          this.formData.filename = ''
          this.formData.file = ''
          this.formData.filename = '';
          this.formData.bf_no = '';
          this.formData.bo_table = '';
          this.formData.wr_id = '';
          this.is_upload = false
        }
      }
    },
    validations : {
      formData:  {
        subject:  {
          required,
          minLength : minLength(2),
          maxLength : maxLength(25)
        },
        content : {
          required,
          minLength : minLength(5),
          maxLength : maxLength(500)
        }
      }
    },
    methods: {
      showConfirm() {
        this.title = '선택 파일을 삭제하시겠습니까?'
        $("#modal-confirm-action-2").modal('show')
      },
      setImageUpload(e){
        this.formData.file = e.target.files[0];
        this.formData.filename = this.formData.file.name
        this.is_upload = true
      },
      clickConfirm() {
        $('.btn_backup').click()
      },
      removeUploadImage() {
        this.formData.file = '';
        if (this.formData.bf_no) {
            QaApiService.delete_image({
              wr_id: this.formData.wr_id,
              bf_no:  this.formData.bf_no,
              bo_table: this.formData.bo_table
            })
        }
        this.formData.filename = '';
        this.is_upload = false
        $("#modal-confirm-action-2").modal('hide')
      },
      actionEvent(data) {
        if (data.numberAction === 0 ){
          this.closePop('#modal-contactus-wt', data.withData)
        }
        if (data.numberAction === 1 ){
          this.cancelAsk();
        }
        if (data.numberAction === 2 ){
          this.deleteAsk();
        }
        if (data.numberAction === 3) {
          this.createOrUpdateAsk(data.withData)
        }

        $('#modal-confirm-action').modal('hide');

        if ($('#modal-contactus') && !$('#modal-contactus').is(':visible')) {
          $("#modal-contactus").modal('show')
        }

      },
      closePop(item, back) {
        $(item).modal('hide');
        if (back) {
          let previous = this.$cookies.get('previous_modal') ?? null;
          previous ? $(previous).modal('show') : null
          this.$cookies.set('previous_modal', null)
        }
      },
      alertNo(message) {
        this.message = message
        $(".no_confirm_modal").find('#modal-no-action').first().find(".title-no-action").html(message)
        $(".no_confirm_modal").find('#modal-no-action').first().modal('show');
        return;
      },
       createOrUpdateAsk(create = false) {
        this.$v.formData.$touch();
         const fileSize = this.formData.file.size / 1024 / 1024
         if (fileSize > 5) {
           this.click = true
           this.alertNo('파일은 5MB 미만이어야합니다.')
           return;
         }
        if (this.$v.formData.$error) return ;
         let formData = new FormData();
         formData.append("wr_name", this.loggedInUser.id)
         formData.append("wr_email", this.loggedInUser.email)
         formData.append("wr_subject", this.formData.subject)
         formData.append("wr_content", this.formData.content)
         formData.append("wr_3", this.formData.category)
         if (this.formData.file) {
           formData.append("file", this.formData.file)
         }
           // let params = {
         //   wr_name : this.loggedInUser.id,
         //   wr_email : this.loggedInUser.email,
         //   wr_subject : this.formData.subject,
         //   wr_content : this.formData.content,
         //   wr_3 : this.formData.category
         // };
         if (create) {
           QaApiService.create(formData).then( () => {
             this.updateAskList();
             this.formData.subject = ' ';
             this.formData.content = ' ';
             this.formData.filename = ' ';
             this.formData.file = ' ';
             this.formData.category = '회원가입';
             $('.attachment__name').html('');
             $('#file').val('');
             this.$v.formData.$reset();
           });



         } else {
           formData.append("wr_id", this.qa.wr_id)
           QaApiService.update(formData).then( () => {
             this.updateAskList();
           });
         }
      },
      updateAskList() {
       this.$emit('updateAskList');
        $('#modal-contactus-wt').modal('hide');
      },
      cancelAsk() {
        $("#modal-contactus-wt").modal('hide');
      },
      deleteAsk() {
        QaApiService.delete({wr_id : this.qa.wr_id});
        setTimeout(() =>  this.updateAskList(), 500)
      },
      changeCategory(e, category) {
        if (!$(e.target).hasClass('active')) {
          $(".request__list").find("a").each(function (e, item) {
            $(item).removeClass('active');
          })
          $(e.target).addClass('active');
        }
        this.formData.category = category
      },
      checkCategoryActive(category){
        if (this.qa) {
          return (this.qa && this.qa.wr_3 === category);
        } else {
          return category === this.formData.category;
        }
      },
      showConfirmModal(numberAction, withData, title) {
        this.action = {
          numberAction: numberAction,
          withData:  withData
        }
        this.title = title
        $('#modal-confirm-action').modal('show');
      },

      closePopUpData(numberAction, withData, title) {
        this.action = {
          numberAction: numberAction,
          withData:  withData
        }
        this.actionEvent(this.action)
      }
    },
    computed: {
      ...mapGetters(['isAuthenticated', 'loggedInUser']),
    },
  }
</script>

<style scoped>
  #modal-confirm-action-2{
    z-index: 10000 !important;
  }

  #modal-confirm-action-2 .modal-dialog {
    margin: 40.277778vw 8vw 12vw 26vw !important;
  }
  #modal-contactus-wt .modal .modal-content {
    min-height: initial !important;
    height: 100vh !important;
    overflow: scroll;
  }
  #modal-contactus-wt {
    z-index: 9999;
  }
  .error {
    padding: 0 !important;
    margin: 0;
  }
</style>
