<template>
  <div>
    <div class="modal modal-m fade modal-contactus tunglx" id="modal-contactus">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="title flex-lc"><i class="icon icon-arr" @click="openModalCategory"></i> 1:1문의내역</h4>
            <button type="button" class="btn_reset" @click="refresh"></button>
          </div>
          <div class="modal-body content" >
            <div class="note">
              <p>답변 완료된 문의는 수정/삭제가 불가능합니다.</p>
              <p>접수된 문의는 빠른 시간 내에 답변 드리도록 하겠습니다.</p>
            </div>
            <button type="button" class="btn_question flex-center" @click="showPop('#modal-contactus-wt', null, null, true)">
              문의하기
            </button>
            <ul class="statistical flex" v-if="counters">
              <li class="my-li" :data-content="status" :class="{ 'active': key == activeContactusTab }" v-for="(counter, key) in counters"
                  @click="checkActiveTab(key, true)">
                <span>{{counter}}</span>
                <h5>{{key}}</h5>
              </li>
            </ul>
            <div class="contact-list" v-if="qas.length">
              <div class="txt-notifi pr">
                <div class="txt">12개월 이전 1:1문의내역은 ‘PC버전 >
                  마이페이지 > 1:1문의내역’에서 확인 가능합니다.
                </div>
                <button type="button" class="close" @click="closeI($event)"></button>
              </div>
              <div class="contact">
                <div class="item" v-for="qa in qas">
                  <h5>{{qa.wr_3}}</h5>
                  <time>접수일 {{formatDate(qa.wr_datetime)}}({{ new Date(qa.wr_datetime).toLocaleDateString('ko-KR', { weekday: 'short' }) }})</time>
                  <h3  v-html="qa.wr_subject" @click="showPop('#modal-contactus-wt', null, qa, false)"></h3>
                  <div class="answer" v-if="qa.commments && qa.commments.length" v-for="comment in qa.commments" >
                    <div class="answer__header flex">
                      <h6>{{comment.wr_name}}</h6>
                      <time>{{formatDate(comment.wr_datetime)}}({{ new Date(comment.wr_datetime).toLocaleDateString('ko-KR', { weekday: 'short' }) }})</time>
                    </div>
                    <div class="answer__content" @click="showPop('#modal-contactusview', null , qa)" v-html="comment.wr_content">
                    </div>
                  </div>
                  <div class="top-right flex-lc"  v-if="qa.status == '접수'">
                    <div class="icon icon-attachment" v-if="qa.write_file" @click="download(qa.write_file)"></div>
                    <button type="button" class="lb lb-answer"  @click="showPop('#modal-contactus-wt', null, qa, false)">{{qa.status}}</button>
                  </div>
                  <div class="top-right flex-lc" v-else>
                    <button type="button" class="lb"  @click="showPop('#modal-contactus-wt', null, qa, false)">{{qa.status}}</button>
                  </div>
                </div>
                <div class="append-contact"></div>
              </div>
            </div>
            <div class="contact-no-list" v-else>
              <div class="txt-notifi pr">
                <div class="txt">
                  12개월 이전 배송현황은 ‘PC버전 > 마이페이지
                  > 도서배송현황’에서 확인 가능합니다.
                </div>
                <button type="button" class="close" @click="closeI($event)"></button>
              </div>
              <div class="notifi">
                <h5>1:1문의내역이 없습니다.</h5>
                <div class="img"><img src="~/assets/img/icon-mail1.png" alt=""></div>
                <div class="notifi__txt">12개월 이전 1:1문의내역은
                  ‘PC버전 > 마이페이지 > 1:1문의내역’에서
                  확인 가능합니다.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ContactUS_TWPop @updateAskList="getNotice(false, true)" :create-ask="createAsk" :qa="dataView"></ContactUS_TWPop>
    <ContactUsView @changePop="backBtnAction" :question="dataView"></ContactUsView>
  </div>
</template>

<script>
  import {QaApiService} from "../../store/service.api";
  import {formatDate} from "../../common/helpers";
  import ContactUsView from "./ContactUsView";
  import ContactUS_TWPop from "./ContactUS_TWPop";
  import {mapGetters} from 'vuex'
  import {API_URL, URL_IMAGE} from "../../config";
  export default {
    name: "ContactUS",
    components: {ContactUS_TWPop, ContactUsView},
    props : ['tabActive', 'createAsk', 'dataView'],
    computed: {
      ...mapGetters(['isAuthenticated', 'loggedInUser']),
    },
    data() {
      return {
        qas: [],
        limit: 100,
        offset: 0,
        counters: [],

        pagination : [],
        status : -1,
        activeContactusTab : '전체'
      }
    },
    watch : {
      tabActive(newVal) {
        this.checkActiveTab(newVal);
      }
    },
    created() {
      this.getNotice();
      this.$cookies.set('previous_modal', null)
    },
    methods: {
      download(data) {
        let url = API_URL + 'gnu/data/file/' + data[0].bf_file
        var link = document.createElement("a");
        // If you don't know the name or want to use
        // the webserver default set name = ''
        link.setAttribute('download', name);
        link.href = url;
        document.body.appendChild(link);
        link.click();
        link.remove();
      },
      openModalCategory() {
        this.createAsk = true;
        $('#modal-logout').modal('show');
        $('#modal-contactus').modal('hide');
      },
      async getNotice(removeAppendText, updateChangeData = false) {
        let params = {
          limit: this.limit,
          offset: this.offset,
          user_id : this.loggedInUser.id,
        }
        if (this.status !== -1) {
          params.status = this.status;
        }
        let data = await QaApiService.get(params);
        this.qas = data.data.questions;
        this.counters = data.data.counter;
        if (removeAppendText) {
          $(".contact .append-contact").html('');
        }
        if (updateChangeData) {
            this.$emit('dataChange');
        }
      },
      formatDate(date) {
        return formatDate(date, 'YYYY-MM-DD HH:mm')
      },
      async checkActiveTab(key, removeAppendText = false) {
        switch (key) {
          case '전체' :
            this.status = -1;
            break;
          case '접수' :
            this.status = 0;
            break;
          case '답변' :
            this.status = 1;
            break;
        }
        this.activeContactusTab = key;
        await this.getNotice(removeAppendText);
      },
      showPop(item, hideItem = null, qa = null, createAsk = false) {
        this.createAsk = createAsk;
        this.dataView = qa;
        $(item).modal('show');
        if (hideItem) {
          $(hideItem).modal('hide');
          this.$cookies.set('previous_modal', hideItem);
        }
      },
      backBtnAction(qa){
          this.showPop('#modal-contactus-wt', '#modal-contactusview', qa, true);
      },
      closeI(e) {
        $(e.target).parent().find('.txt-notifi').css('display','none');
      },
      refresh() {
        // $('#modal-contactus').modal('hide');
        // setTimeout(() =>  $('#modal-contactus').modal('show'), 500)
        this.checkActiveTab('전체', true);
      }
    },
  }
</script>

<style scoped>
  .modal .modal-content {
    min-height: initial !important;
    height: 100vh !important;
    overflow: scroll;
  }
  .modal .txt-notifi .close, .modal .box-note .close {
    width: 3.3333333333vw !important;
    height: 3.4722222222vw  !important;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAZCAMAAAAc9R5vAAAAq1BMVEWIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIgzFhuqAAAAOHRSTlMAKistLi8wMTIzNDU3Ojs8PT4/QEFCREZHUVNVVlhae3zQ19nd3+Pk6Onq6+zt7u/w8fLz9PX299FEd9oAAADMSURBVCjPdZLnFoIwDIXjAMSFgLg3Toaggub9n8yGogfa0/5p+qUjN7cAyrGK/b6ArFO0AEgQ00GN2xniGcBHxMewwp2ckT1AL2Xz0/pzl3iss6jLLsPXqOQe8cgoYpMymV3EE+KhXu4y72yVOyyaEg+0/72dmDIuzN7E25VKjIgy2w/xVq12PUQ+bk1BrRYU/NqQWrMuEnOJq06o3uBV7aSquI6xpIMrdyXlql6puiv64f388Ou8dIo5mArOcs8vAJvkIP2SY7BU/qovoV8s1nGMv8UAAAAASUVORK5CYII=) no-repeat 0 0/contain  !important;
    opacity: 1  !important;
    font-size: 0  !important;
    position: absolute  !important;
    right: 2.7777777778vw  !important;
    top: 3.4722222222vw  !important;
  }

  body.modal-open {
    overflow: hidden !important;
    padding-right: 0 !important;
  }
</style>
