<template>
  <div class="modal modal-m fade modal-coupon" id="modal-coupon" v-if="coupons && coupons.data">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="title flex-lc"><i class="icon icon-arr" @click="$emit('updateShowModal', '#modal-coupon')"></i> 할인 쿠폰</h4>
          <button type="button" class="btn_reset" @click="reloadCoupon()"></button>
        </div>
        <div class="modal-body">
          <div class="coupon">
            <div class="coupon__header">
              <h5>나의 보유 할인쿠폰 : <span v-if="coupons">{{coupons.data.length}} 장</span>
                <span v-else>0 장</span>
              </h5>
            </div>
            <div class="coupon__register">
              <h4 class="flex-lc">할인쿠폰 등록 <i class="icon icon-i" @click="openGuide()"  v-show="showGuide && coupons.data.length">i</i></h4>
              <div class="box-note pr box-text"  v-show="showGuide && coupons.data.length">
                <article>
                  <p>쿠폰 번호는 숫자와 영문대소문자 구별하여
                    16자리를 입력하세요.
                    ex) 0000-CCdd-AAbb-0000
                  </p>
                  <p>발행 쿠폰은 한 번만 등록 가능 합니다. <br> (동일 번호 중복 등록 불가)</p>
                  <p>쿠폰은 ‘장바구니 > 주문서 작성’ 단계에서도 등록 할 수 있습니다.</p>
                </article>
                <button type="button" class="close" @click="closeGuide()"></button>
              </div>
              <div class="viendd flex">
                <input type="text"  ref="input-1" data-index="1" :maxlength="max"
                       @keydown="preventSpecialCharacter($event)" v-model="code_1">
                <input type="text" ref="input-2" data-index="2" :maxlength="max"
                       @keydown="preventSpecialCharacter($event)" v-model="code_2">
                <input type="text"  ref="input-3" data-index="3" :maxlength="max"
                       @keydown="preventSpecialCharacter($event)" v-model="code_3">
                <input type="text" ref="input-4" data-index="4" :maxlength="max"
                       @keydown="preventSpecialCharacter($event)" v-model="code_4">
              </div>
              <button href="" class="btn_register flex-center" @click="registerCoupon" :style="{ 'background-color': buttonColor }">쿠폰등록</button>
            </div>
            <div class="coupon__guide box-collapse">
              <div class="header flex-lc" v-show=" coupons && coupons.data.length == 0">
                <h4 class="flex-lc"><i class="icon icon-qs">?</i> 쿠폰 이용 안내</h4>
                <button type="button" class="btn_collapse dr ml-auto" data-toggle="collapse"
                        data-target="#coupon__guide"></button>
              </div>
              <div class="scroll_vertical">
                <div class="collapse_content show collapse" id="coupon__guide" v-if="!coupons || !coupons.data.length">
                  <p>모바일 사이트에서는 사용 가능한 쿠폰 정보 확인만
                    가능합니다.</p>
                  <p>※ 사용한 쿠폰 정보는 ‘PC버전 > 마이페이지 >
                    할인쿠폰’에서 확인 가능합니다.</p>

                  <p>사용 기한이 지난 쿠폰은 사용할 수 없으며, 내역에서
                    조회되지 않습니다.</p>

                  <p>결제 완료 후 쿠폰을 적용할 수 없으니, 반드시 결제 전
                    쿠폰 적용바랍니다.</p>

                  <p>결제 완료 후 '환불/반품/취소'가 된 경우, 사용된
                    쿠폰은 환원되지 않습니다.</p>
                </div>
                <div class="my-coupon" v-if="coupons && coupons.data.length">
                  <div class="item" v-for="coupon in coupons.data">
                    <div class="item__header flex-lc">
                      <time>사용기한 : <span>~ 2021.02.25</span></time>
                      <span class="flex-lc">{{coupon.money}} {{coupon.moneytype}} ↓</span>
                    </div>
                    <div class="item__content">
                      <h3>{{coupon.name}}</h3>
                    </div>
                  </div>
                </div>
                <div class="coupon__notifi" v-else>
                  <h5>사용 가능한 할인 쿠폰이 없습니다.</h5>
                  <div class="img"><img src="~/assets/img/coupon.png" alt=""></div>
                  <div class="txt">사용된 쿠폰 내역은
                    ‘PC버전 > 마이페이지 > 할인쿠폰’ 에서
                    확인 가능합니다.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <loading v-model:active="isLoading"
             :is-full-page="fullPage"/>
  </div>
</template>

<script>
  import {CouponApiService} from "../../store/service.api";
  import {email, maxLength, minLength, required, sameAs} from "vuelidate/lib/validators";
  import {preventSpecialCharacter} from "../../common/helpers";
  import {mapGetters} from 'vuex'
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';

  export default {
    name: "Coupon",
    props: ['coupons'],
    middleware : ['authenticate'],
    computed: {
      ...mapGetters(['isAuthenticated', 'loggedInUser']),
    },
    components: {
      Loading
    },
    data() {
      return {
        code_1: '',
        code_2: '',
        code_3: '',
        code_4: '',
        max: 4,
        buttonColor : 'blue',
        showGuide: true,
        isLoading: false,
        fullPage: true
      }
    },
    validations: {
      code_1: {
        required,
      },
      code_2: {
        required
      },
      code_3: {
        required
      },
      code_4: {
        required
      }
    },
    watch : {
      code_1(newVal) {
        if (newVal.length >= this.max) {
          this.$refs['input-2'].focus();
        }
        this.changeColorBtn();
      },
      code_2(newVal) {
        if (newVal.length >= this.max) {
          this.$refs['input-3'].focus();
        }

        if (newVal.length <= 0 ) {
          this.$refs['input-1'].focus();
        }
        this.changeColorBtn();
      },
      code_3(newVal) {
        if (newVal.length >= this.max) {
          this.$refs['input-4'].focus();
        }
        if (newVal.length <= 0 ) {
          this.$refs['input-2'].focus();
        }
        this.changeColorBtn();
      },
      code_4(newVal) {
        if (newVal.length <= 0) {
          this.$refs['input-3'].focus();
        }
        this.changeColorBtn();
      }
    },
    mounted() {
      this.changeColorBtn();
    },
    methods: {
      async registerCoupon() {
        let length = this.code_1.length + this.code_2.length + this.code_3.length + this.code_4.length;
        if (length < 16) return ;

        if (!this.$v.code_1.required || !this.$v.code_2.required || !this.$v.code_3.required || !this.$v.code_4.required) {
          // alert('쿠폰 번호는 숫자, 영문대소문자의 16자리입니다. 빠짐 없이 입력 바랍니다.');
          this.alert('쿠폰 번호는 숫자, 영문대소문자의 16자리입니다. 빠짐 없이 입력 바랍니다.');
        }
        let result = await CouponApiService.register(this.loggedInUser.id, {code: this.combineCode()});
        if (result.code !== 'FAILED') {
          await this.loadCoupon(this.loggedInUser.id);
        }
        this.$emit(result.message);
      },
      alert(title) {
       this.$emit('alert', title);
      },
      async loadCoupon(id, params = {}) {
        this.coupons = await CouponApiService.get(id , params);
      },
      combineCode() {
        return this.code_1 + '-' + this.code_2 + '-' + this.code_3 + '-' + this.code_4;
      },
      changeColorBtn() {
         let length = this.code_1.length + this.code_2.length + this.code_3.length + this.code_4.length;
         if (length < 16) {
           this.buttonColor =  'gray';
         } else {
           this.buttonColor =  'blue';
         }
      },
      preventSpecialCharacter(e) {
        if (e.keyCode != 8) {
          if (preventSpecialCharacter(e.key)) e.preventDefault();
        }
      },
      closeGuide() {
        this.showGuide = false
      },
      openGuide() {
        this.showGuide = true
      },
      reloadCoupon() {
        this.isLoading = true;
        this.loadCoupon(this.loggedInUser.id)
        this.openGuide()
        setTimeout(() => {
          this.isLoading = false
        }, 5000)
      }
    }
  }
</script>

<style scoped>
  .item__content {
    display: block !important;
  }
  .scroll_vertical {
    height: 130vw;
  }
  .viendd.flex {
    display: flex !important;
    /* width: 20%; */
    justify-content: space-between;
    margin-bottom: 10px;
  }
  @media screen and (max-width: 767px) {
    .viendd.flex input {
      width: 23%;
      border-radius: 5% !important;
      border: 1px solid gray;
      padding: 4px;
    }
  }

  @media (min-width: 1199px) {
    .viendd {
      margin: 2.7777777778vw 0 4.4444444444vw;
      margin-bottom: 4.4444444444vw !important;
    }
    .viendd input {
      border: 1px solid #9c9c9c;
      height: 7.7777777778vw;
      width: 16.25vw;
      text-align: center;
      color: #3e3e3e;
      font-size: 3.8888888889vw;
    }
  }
  .coupon__guide .item, .coupon__list .item {
      margin: 10px;
  }
  .coupon__register h4 {
    margin-bottom: 10px;
  }
</style>
