<template>
  <div class="modal modal-m fade modal-coupon" id="modal-coupon-no-list">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="title flex-lc"><i class="icon icon-arr" data-dismiss="modal"></i> 할인 쿠폰</h4>
          <button type="button" class="btn_reset" onClick="history.go(0);"></button>
        </div>
        <div class="modal-body">
          <div class="coupon">
            <div class="coupon__header">
              <h5>나의 보유 할인쿠폰  :  <span>0 장</span></h5>
            </div>
            <div class="coupon__register">
              <h4 @click="openPopUp('#modal-coupon')" class="flex-lc">할인쿠폰 등록 <i class="icon icon-i">i</i></h4>
              <div class="coupon__box flex">
                <input type="text">
                <input type="text">
                <input type="text">
                <input type="text">
              </div>
              <button type="button" class="btn_register flex-center">쿠폰등록</button>
            </div>
            <div class="coupon__guide box-collapse">
              <div class="header flex-lc">
                <h4 class="flex-lc"><i class="icon icon-qs">?</i> 쿠폰 이용 안내</h4>
                <button type="button" class="btn_collapse dr ml-auto" data-toggle="collapse" data-target="#coupon__guide"></button>
              </div>
              <div class="collapse_content collapse show bg" id="coupon__guide">
                <p>모바일 사이트에서는 사용 가능한 쿠폰 정보 확인만
                  가능합니다.</p>
                <p>※ 사용한 쿠폰 정보는 ‘PC버전 > 마이페이지 >
                  할인쿠폰’에서 확인 가능합니다.</p>

                <p>사용 기한이 지난 쿠폰은 사용할 수 없으며, 내역에서
                  조회되지 않습니다.</p>

                <p>결제 완료 후 쿠폰을 적용할 수 없으니, 반드시 결제 전
                  쿠폰 적용바랍니다.</p>

                <p>결제 완료 후 '환불/반품/취소'가 된 경우, 사용된
                  쿠폰은 환원되지 않습니다.</p>

              </div>
            </div>
            <div class="coupon__notifi">
              <h5>사용 가능한 할인 쿠폰이 없습니다.</h5>
              <div class="img"><img src="~/assets/img/coupon.png" alt=""></div>
              <div class="txt">사용된 쿠폰 내역은
                ‘PC버전 > 마이페이지 > 할인쿠폰’ 에서
                확인 가능합니다.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CouponNoList",
  methods : {
    openPopUp(element) {
      $(element).modal('show');
    }
  }
}
</script>

<style scoped>

</style>
