<template>
  <div class="upload-file">
    <div class="modal modal-md fade modal-fileupload" id="modal-fileupload">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="title">자소서 제출</h4>
            <a href="javascript:;" class="close" data-dismiss="modal"></a>
          </div>
          <div class="modal-body">
            <div class="note">
              첨부 가능 파일 : <span>{{ typeof lecture.tp_file !== 'undefined'  ? '*' + lecture.tp_file.split(',').join(', *') : '' }}</span> │ 파일용량 : <span>최대 5MB미만</span>
              파일명에 꼭 “지원자이름_지원회사_사업부_직무”를 표기해주세요
              <span>ex) 유이니_삼성전자_파운드리_공정기술.확장자</span>
            </div>
            <div class="guide">
              <h4 class="flex-lc"><i class="icon icon-qs">?</i> 파일 첨부 안내</h4>
              <div class="form-group">
                <div class="attachment pr">
                  <div class="attachment__file flex pr">
                    <input id="file" type="file" :accept="typeof lecture.tp_file !== 'undefined' ? '.' + lecture.tp_file.split(',').join(', .') : ''" @change="showFileName($event)">
                    <span class="attachment__file_upload" @click="openInput()">{{ filename }}</span>
                  </div>
                  <div class="attachment__note">
                    <p><span>반려 3일 내 재첨삭 파일을 제출</span>하세요.</p>
                    <p>3일 초과 시, 첨삭 요청이 마감됩니다. 꼭 기간 내 재신청바랍니다.</p>
                  </div>
                </div>
              </div>
              <article>
                <p>
                  <span>이용 안내 및 주의 사항은 모두 확인하셨나요?</span>
                  - 첨삭은 영업일 기준으로 진행됩니다.
                  ex) 일반 첨삭 : 금요일 21시 요청 시, 차주 수요일 21시 이내
                  첨삭 완료
                </p>
                <p>
                  - 자소서첨삭은 한 개 기업의 한 가지 직무에 대한 문항만을 첨삭
                  가능합니다.
                  ※ 여러 개 기업, 여러 개 직무를 작성할 경우, 첨삭이 반려될 수
                  있습니다. <span>제출완료 시 파일 수정이 불가합니다.</span>
                </p>
              </article>
            </div>
            <button type="button" class="btn_confirm flex-center" @click="reUpload">확 인</button>
          </div>
        </div>
      </div>
    </div>
    <ConfirmMainBanNoAction :title="message"></ConfirmMainBanNoAction>
    <ConfirmMainBanActionButton :title="message" @actionEvent="submit" :data="{file: file, lecture: lecture}"></ConfirmMainBanActionButton>
  </div>
</template>

<script>
import ConfirmMainBanNoAction from "./ConfirmMainBanNoAction";
import ConfirmMainBanActionButton from "./ConfirmMainBanActionButton";
import {AddremApiService} from "../../store/service.api";

export default {
  name: "FileUpload",
  props: ['lecture'],
  components: { ConfirmMainBanNoAction, ConfirmMainBanActionButton },
  data () {
    return {
      filename: '',
      file:null,
      click: true,
      message: ''
    }
  },
  methods: {
    openInput() {
      $('#file').click()
    },
    alertNo(message) {
      this.message = message
      $(".upload-file").find('#modal-no-action').modal('show')
      return;
    },
    alert(message) {
      this.message = message
      $(".upload-file").find('#modal-confirm-action').modal('show')
      return;
    },
    showFileName(e) {
      let file = e.target.files
      this.file = file[0]
      this.filename = file[0].name
    },
    reUpload() {
      this.click = false
      if (typeof this.file === 'undefined' || this.file == null) {
        this.click = true
        this.alertNo('파일을 선택해 주시기 바랍니다.')
        return;
      } else {
        const fileSize = this.file.size / 1024 / 1024
        if (fileSize > 5) {
          this.click = true
          this.alertNo('파일은 5MB 미만이어야합니다.')
        }
        this.alert('주의사항은 모두 확인하셨나요? 제출완료 시 파일 수정이 불가합니다.')
      }
    },
    submit(data) {
      $(".upload-file").find('#modal-confirm-action').modal('hide')
      let formData = new FormData();
      formData.append("file", data.file)
      AddremApiService.upload(data.lecture.mys_uid, formData).then(res => {
        if (res.success) {
          this.alertNo('제출되었습니다.')
          setTimeout(() => location.reload(), 500)
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
