<template>
  <div class="modal fade modal-filter" id="modal-filter-teacher">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="title">필터</h4>
          <button type="button" class="btn_reset" onClick="history.go(0);"></button>
          <a href="javascript:;" class="close" data-dismiss="modal"></a>
        </div>
        <div class="modal-body">
          <ul class="filter">
            <li>
              <div class="header flex">
                <h5>취업입문</h5>
                <div class="checkbox ml-auto">
                  <input type="checkbox">
                  <span class="checked flex-center"></span>
                </div>
              </div>
            </li>
            <li>
              <div class="header flex">
                <h5>NCS 직업교육</h5>
                <div class="checkbox ml-auto">
                  <input type="checkbox">
                  <span class="checked flex-center"></span>
                </div>
              </div>
            </li>
            <li>
              <div class="header flex">
                <h5>기사자격증</h5>
                <div class="checkbox ml-auto">
                  <input type="checkbox">
                  <span class="checked flex-center"></span>
                </div>
              </div>
            </li>
            <li>
              <div class="header flex">
                <h5>한국사</h5>
                <div class="checkbox ml-auto">
                  <input type="checkbox">
                  <span class="checked flex-center"></span>
                </div>
              </div>
            </li>
            <li>
              <div class="header flex">
                <h5>강사</h5>
                <button type="button" class="btn_collapse collapsed dr ml-auto" data-toggle="collapse"
                        data-target="#filter"></button>
              </div>
              <div class="collapse show" id="filter">
                <div class="box-checkbox">
                  <div class="checkbox flex-lc">
                    <input class="check__all_filter" type="checkbox">
                    <span class="checked flex-center"></span>
                    전체선택
                  </div>
                </div>
                <div class="charcter">ㄱ</div>
                <div class="checkbox_list flex">
                  <div class="checkbox flex-lc">
                    <input type="checkbox">
                    <span class="checked flex-center"></span>
                    고봉기
                  </div>
                  <div class="checkbox flex-lc">
                    <input type="checkbox">
                    <span class="checked flex-center"></span>
                    고봉기
                  </div>
                  <div class="checkbox flex-lc">
                    <input type="checkbox">
                    <span class="checked flex-center"></span>
                    고봉기
                  </div>
                  <div class="checkbox flex-lc">
                    <input type="checkbox">
                    <span class="checked flex-center"></span>
                    고봉기
                  </div>
                  <div class="checkbox flex-lc">
                    <input type="checkbox">
                    <span class="checked flex-center"></span>
                    고봉기
                  </div>
                </div>
                <div class="charcter">ㄴ</div>
                <div class="checkbox_list flex">
                  <div class="checkbox flex-lc">
                    <input type="checkbox">
                    <span class="checked flex-center"></span>
                    나상무
                  </div>
                </div>
                <div class="charcter">ㅁ</div>
                <div class="checkbox_list flex">
                  <div class="checkbox flex-lc">
                    <input type="checkbox">
                    <span class="checked flex-center"></span>
                    나상무
                  </div>
                </div>
                <div class="charcter">ㅂ</div>
                <div class="checkbox_list flex">
                  <div class="checkbox flex-lc">
                    <input type="checkbox">
                    <span class="checked flex-center"></span>
                    나상무
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "FilterTeacher"
}
</script>

<style scoped>

</style>
