<template>
  <div class="modal modal-md fade modal-freepassinfo" id="modal-freepassinfo">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="title">NCS 강의를 이용 중이신가요?</h4>
          <a href="javascript:;" class="close" data-dismiss="modal"></a>
        </div>
        <div class="modal-body">
          <div class="text preline">
            <span>공지사항 및 업데이트 강의</span>
            안녕하세요! 렛유인입니다.
            프리패스 구매해주시고 이용해주셔서 감사합니다.
            아래의 이용 안내를 확인 후 프리패스를 이용 바랍니다.
          </div>
          <div class="box-text">
            <h4 class="flex-lc"><i class="icon icon-qs">?</i> 프리패스 이용안내</h4>
            <article>
              <p>1. 강의 및 기간</p>
              <p>· 구매 수강 기간 내에 렛유인 모든 온라인 강의 이용 가능</p>
              <p>· 프리패스 수강 기간 내 등록 기기에서 무한 수강 가능</p>
              <br>
              <p>2. 기기 등록</p>
              <p>· 총 3대 기기 등록 가능 ( 1회에 한하여 기기 변경 가능)</p>
              <p>· PC(윈도우/MAC), 모바일, 태블릿 등 모든 기기 등록 가능</p>
              <br>
              <p>3. 출석 안내</p>
              <p>· 출석 인정 수강 시간은 25분이며, 출석체크를 하셔야</p>
              <p>“출석”: 처리</p>
              <br>
              <p>4. 신규강의 및 업데이트 강의</p>
              <a href="" title="" class="btn_check">업데이트 강의 확인</a>
            </article>
          </div>
          <div class="text preline">
            렛유인이 여러분의 취업 합격의 동반자가 되겠습니다.
            이공계 취업 1위 렛유인 드림.
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "FreepassNCSInfo"
}
</script>

<style scoped>

</style>
