<template>
  <div class="modal modal-md fade modal-confirm" id="modal-confirm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <a href="javascript:;" class="close" data-dismiss="modal"></a>
        <h4>로그인 후 이용이 가능합니다.</h4>
        <br>
        <button type="button" class="btn_confirm flex-center">확 인</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "LayerConfirm"
}
</script>

<style scoped>

</style>
