<template>
  <div class="modal fade modal-filter" id="modal-filter-teacher">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="title">필터</h4>
          <button type="button" class="btn_reset" @click="reset"></button>
          <a href="javascript:;"  class="close"  style="position: relative !important;" @click="submit"></a>
        </div>
        <div class="modal-body">
          <ul class="filter category_data">
            <li v-for="(category, index) in categories" :key="index" :data-index="index" :class="'li_' + index">
              <div :class="'header flex category_' + index" data-toggle="collapse" :data-target="'#category_' + index" v-if="category.sub.length == 0">
                <h5>{{ category.name }}</h5>
                <div class="checkbox ml-auto">
                  <input type="checkbox" :value="category.code"  :checked="categoryParams.includes(category.code)" @click="changeNumber('.category_' + index)">
                  <span class="checked flex-center"></span>
                </div>
              </div>
              <div :class="'header flex category_' + index" data-toggle="collapse" :data-target="'#category_' + index" v-else>
                <h5>{{ category.name }}{{ category.count > 0 ? '(' + category.count + ')' : ''}}</h5>
                <button type="button" class="btn_collapse collapsed ml-auto dr" data-toggle="collapse" :data-target="'#category_' + index"></button>
              </div>
              <div class="collapse" :id="'category_' + index" v-if="category.sub.length > 5">
                <div class="item flex-lc" v-for="sub in category.sub.slice(0, 5)">
                  <h5>{{ sub.name }}</h5>
                  <div class="checkbox ml-auto">
                    <input type="checkbox" :value="sub.code" :checked="categoryParams.includes(sub.code)" @click="changeNumber('.category_' + index)">
                    <span class="checked flex-center"></span>
                  </div>
                </div>
                <div class="item flex-lc hide-filter top-5" v-for="sub in category.sub.slice(5 - category.sub.length)">
                  <h5>{{ sub.name }}</h5>
                  <div class="checkbox ml-auto">
                    <input type="checkbox" :value="sub.code" :checked="categoryParams.includes(sub.code)" @click="changeNumber('.category_' + index)">
                    <span class="checked flex-center"></span>
                  </div>
                </div>
                <div class="box-btn">
                  <button type="button" class="btn_viewmore flex-center" @click="showMore('#category_' + index)">더보기</button>
                </div>
              </div>
              <div class="collapse" :id="'category_' + index" v-else>
                <div class="item flex-lc" v-for="sub in category.sub">
                  <h5>{{ sub.name }}</h5>
                  <div class="checkbox ml-auto">
                    <input type="checkbox" :value="sub.code" :checked="categoryParams.includes(sub.code)" @click="changeNumber('.category_' + index)">
                    <span class="checked flex-center"></span>
                  </div>
                </div>
              </div>
            </li>
            <li class="active">
              <div class="header flex teacher">
                <h5>강사{{ this.params.keyword ? '(' + this.params.keyword.length + ')' : ''}}</h5>
                <button type="button" class="btn_collapse dr ml-auto collapsed" data-toggle="collapse" data-target="#filter" aria-expanded="false"></button>
              </div>
              <div class="collapse" id="filter" style="" v-if="teachers.length > 5">
                <div class="checkbox_list flex">
                  <div class="checkbox flex-lc" v-for="(teacher, index) in teachers.slice(0, 5)" >
                    <input type="checkbox" :value="teacher.id" @click="changeNumber('.teacher')" :checked="params.keyword ?  params.keyword.includes(teacher.id) : false">
                    <span class="checked flex-center"></span>
                    {{ teacher.name }}
                  </div>
                  <div class="checkbox flex-lc top-5 hide-filter" v-for="(teacher, index) in teachers.slice(5 - teachers.length)" >
                    <input type="checkbox" :value="teacher.id" @click="changeNumber('.teacher')" :checked="params.keyword ?  params.keyword.includes(teacher.id) : false">
                    <span class="checked flex-center"></span>
                    {{ teacher.name }}
                  </div>
                </div>
                <div class="box-btn">
                  <button type="button" class="btn_viewmore flex-center" @click="showMore('#filter')">더보기</button>
                </div>
              </div>
            </li>
          </ul>
          <div class="search">
            <h4>결과내 검색</h4>
              <input type="text" :value="keyword_new" placeholder="키워드를 입력하세요" id="search_keyword">
          </div>
          <button type="button" class="btn_submit btn_pr flex-center" @click="submit">적용하기</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from "lodash";

export default {
  name: "ListFilter",
  props: ['teachers', 'categories', 'params', 'keyword_new'],
  data() {
    return {
      categoryFilter: [],
      categoryParams: []
    }
  },
  mounted() {
    $(document).ready(function () {
      $('#search_keyword').on('focus', function () {
        $(this).removeAttr('placeholder')
      })
    })
  },
  created() {
    this.createData()
  },
  methods: {
    createData() {
      let query = _.cloneDeep(this.$route.query)
      let data = []
      if (typeof query.category !== 'undefined') {
        if (typeof query.category == 'string') {
          let keyword = query.category
          query.category = Array()
          query.category.push(keyword)
        }
        data = query.category.map(item => {
          if(item.includes(',')) {
            return item.split(',')
          } else {
            return [item]
          }

        })
      }
      for (let i = 0; i < data.length; i++) {
        let arr = data[i];
        for (let iz = 0; iz < arr.length; iz++) {
          this.categoryParams.push(arr[iz])
        }
      }
    },
    submit() {
      let categoryFilter = Array();
      for (let i = 0; i < this.categories.length; i++ ) {
        let category = Array();
        $('.category_data').find('.li_' + i).find('input:checkbox:checked').each(function() {
          category.push($(this).val());
        });
        if (category.length) {
          categoryFilter.push(category)
        }
      }
      let keyword = Array()
      $('#filter').find('input:checkbox:checked').each(function() {
        keyword.push($(this).val());
      })
      this.params.category = categoryFilter
      this.params.keyword = keyword
      this.params.keyword_new =  $('#search_keyword').val()
      this.$emit('changeParam', this.params)
      $('#modal-filter-teacher').modal('hide')
    },
    showMore(element) {
      $(element).find('div.top-5').each(function () {
          $(this).toggleClass('hide-filter')
      })
    },
    changeNumber(element) {
      let checked = $(element).parent().find('input:checkbox:checked').length
      let h5 = $(element).find('h5').text()
      if (checked > 0) {
        $(element).find('h5').text(h5.split('(')[0] + '('+ checked + ')')
      } else {
        $(element).find('h5').text(h5.split('(')[0])
      }
    },
    reset() {
      $('#modal-filter-teacher').find('input:checkbox:checked').each(function() {
        $(this).prop('checked', false)
      });
      for (let i =0; i< this.categories.length; i++) {
        this.changeNumber('.category_' + i)
      }
      this.changeNumber('.teacher')
      // this.submit()
    }
  }
}
</script>

<style scoped>
.btn_submit {
  right: 0;
  position: fixed;
  bottom: 0;
  width: 100% !important;
  left: 0;
  margin-left: 0 !important;
  font: 4.611111vw var(--NanumSquareEB) !important;
  height: 50px;
}
  #search_keyword {
    width: 100%;
  }
.modal-filter .search {
  padding-bottom: 70px;
}
body.modal-open {
  overflow: hidden !important;
  padding-right: 0 !important;
}
</style>
