<template>
  <div class="modal modal-md fade modal-confirm" id="modal-confirm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <a href="javascript:;" class="close" data-dismiss="modal"></a>
        <h4>로그인 후 이용이 가능합니다. <br> 로그인 화면으로 이동하시겠습니까?</h4>
        <button type="button" @click="gotoLogin" class="btn_confirm flex-center">확 인</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "LoginModalConfirm",
  methods: {
    gotoLogin() {
      this.$cookies.set('callback', this.$router.path)
      $('#modal-confirm').modal('hide');
      $('#modal-category').modal('hide');
      this.$router.push('/login');
    }
  }
}
</script>

<style scoped>
    #modal-confirm{
      z-index: 99999999
    }
</style>
