<template>
  <div class="modal-password-data">
    <div class="modal modal-md show modal-password" id="modal-password">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="title">비밀번호 입력</h4>
            <a @click="redirectRoute" class="close"></a>
          </div>
          <div class="modal-body">
            <form action="">
              <div class="form-group">
                <label>개인정보 보호를 위해 비밀번호를 입력해주세요</label>
                <input type="password" name="" placeholder="비밀번호를 입력하세요" v-model="password"  :class="{ 'input-error': $v.password.$error }" >
              </div>
              <div v-if="$v.password.$error">
                <div class="error offset-3 pl-4" v-if="!$v.password.required">
                  {{  msgValidate('required', '비밀번호를')}}
                </div>
                <div class="error offset-3 pl-4" v-if="!$v.password.minLength">
                  {{ msgValidate('minLength') }}
                </div>
                <div class="error offset-3 pl-4" v-if="!$v.password.maxLength">
                  {{msgValidate('maxLength') }}
                </div>
              </div>
              <button style="margin-top: 15px" type="button" :class="'btn_submit flex-center ' + classBg " @click="confirmPassword">확 인</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <ConfirmMainBanNoAction :title="message"></ConfirmMainBanNoAction>
  </div>

</template>

<script>
  import {mapGetters} from 'vuex'
  import {maxLength, minLength, required} from "vuelidate/lib/validators";
  import {msgValidate} from "../../common/validation";
  import {AuthService} from "../../store/service.api";
  import ConfirmMainBanNoAction from "./ConfirmMainBanNoAction";

  export default {
    name: "LUM_MP_InpuPWPop",
    created() {

    },
    components: {
      ConfirmMainBanNoAction
    },
    data() {
      return {
        numberOfErrors: 0,
        password: '',
        classBg: '',
        message: ''
      }
    },
    validations: {
      password: {
        required,
        maxLength: maxLength(12),
        minLength: minLength(6)
      }
    },
    watch: {
      password(newVal) {
        if (newVal.length && this.classBg === '') {
          this.classBg = 'button_background'
        }
        if (newVal.length == 0) {
          this.classBg = ''
        }
      },
    },
    methods: {
      alert(message) {
        this.message = message
        $(".modal-password-data").find('#modal-no-action').modal('show')
        return;
      },
      redirectRoute() {
        $("#modal-password").modal('toggle');
        this.$router.push('/');
      },
      async confirmPassword() {
        this.$v.password.$touch();
        if (this.$v.password.$error) return ;
        let data = await AuthService.login({
            id : this.loggedInUser.id,
            password : this.password
        });
        if (!data.success) {
          this.alert('입력정보가 일치 하지 않습니다.');
        } else {
          this.$emit('confirmPassword');
        }
      },
      msgValidate(field, value = null) {
        return msgValidate(field, value)
      },
    },
    computed: {
      ...mapGetters(['isAuthenticated', 'loggedInUser']),
    },
  }
</script>

<style >
    .error {
      padding-left: 0 !important;
      margin-left: 0 !important;
      padding-bottom: 10px;
    }
    .form-group {
      margin-bottom: 0 !important;
    }

</style>
