<template>
  <div class="modal modal-m fade modal-point" id="modal-point">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="title flex-lc" @click="showModal('#modal-logout', '#modal-point')"><i class="icon icon-arr" ></i> 포인트</h4>
          <a  class="link ml-auto" data-dismiss="#modal-point" @click="showModal('#modal-letmoney', '#modal-point')">렛머니 내역보기</a>
          <button type="button" class="btn_reset" @click="reload"></button>
        </div>
        <div class="modal-body">
          <div class="point">
            <div class="point__header">
              <h5>나의 보유 포인트 : <span>{{formatMoney(this.pointLeft, ' P', ',')}}</span></h5>
            </div>
            <div class="point__exchange">
              <div class="flex-lc">
                <div class="box-input pr">
                  <input type="text" name="" :placeholder="placeholder" v-model="point"
                         @keypress="onlyNumber($event)" @keyup="convertPointFormat">
                  <span>P</span>
                </div>
                <div v-if="error">
                  <div class="error">{{message}}</div>
                </div>
                <div class="checkbox ml-auto pr">
                  <label class="flex-center">
                    <input type="checkbox" id="all_in" value="1" @change="allinPoint($event)">
                    <span class="checked flex-center"></span>
                    전체입력
                  </label>
                </div>
              </div>
              <div class="flex info">
                <p>보유 렛머니 : <span>{{formatMoney(intervalNumberFormat(money.toString()), ' 원', ',')}}</span></p>
                <span class="space">│</span>
                <p>잔여 포인트 : <span>{{formatMoney(pointAfterCal, ' P', ',')}}</span></p>
              </div>
              <button type="button" class="btn_exchange flex-center" @click="convert"
                      :style="{ 'background-color': buttonColor }">전환하기
              </button>
            </div>
            <div class="box-collapse">
              <div class="header flex-lc">
                <h4 class="flex-lc"><i class="icon icon-qs">?</i> 포인트 이용 안내</h4>
                <button type="button" class="btn_collapse dr ml-auto" data-toggle="collapse"
                        data-target="#point_guide"></button>
              </div>
              <div id="point_guide" class="collapse box-text show">
                <p>
                  유효기간이 종료된 포인트는 사용이 불가능합니다.
                  아래 내역은 12개월 이내 적립 또는 차감/소멸된
                  포인트 내역입니다.
                </p>

                <p>
                  이전 사용 내역은 ‘PC버전 > 마이페이지 >
                  포인트/렛머니’에서 확인 가능합니다.
                </p>

                <p>
                  포인트는 렛머니로 전환하여. 렛유인 PC/모바일
                  사이트에서 강의 결제 시 사용 가능합니다.
                  ※ 렛머니는 다시 포인트로 전환이 불가능합니다.
                </p>

                <p style="color: #1b43b3">
                  렛머니 전환은 최소 1,000P 이상, 10P 단위로 전환
                  가능합니다.
                </p>
              </div>
            </div>
            <div class="scroll_vertical" id="myscroll">
              <div class="point__history" v-if="data  && data.length" >
                <div class="item" v-for="history in data">
                  <div class="item__header flex-lc">
                    <time>{{formatDate(history.regdate)}}</time>
                    <span class="sub" v-if="history.point < 0">-{{formatMoney(Math.abs(history.point), ' P')}} </span>
                    <span class="add" v-else> + {{formatMoney(Math.abs(history.point), ' P')}} </span>
                  </div>
                  <p>{{history.content}}</p>
                </div>

                <scroll-loader :loader-method="loadMore" :loader-enable="load" v-show="load"></scroll-loader>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {PointApiService} from "../../store/service.api";
  import {formatDate, formatMoney, intervalNumberFormat, onlyNumber} from "../../common/helpers";
  import {mapGetters} from 'vuex'
  import {alphaNum, maxLength, minLength, required, sameAs} from "vuelidate/lib/validators";
  import {endEmail} from "../../common/helpers_validate";

  export default {
    name: "LUM_MP_PointPop",
    middleware: ['authenticate'],
    mounted() {

    },
    computed: {
      ...mapGetters(['isAuthenticated', 'loggedInUser']),
    },
    watch : {
      pointNumber(newVal) {
        if (newVal && newVal > this.minPoint) {
          let result = newVal - Math.floor(newVal/10) * 10;
          if (result) {
            this.error = true;
            this.buttonColor = 'gray';
          } else {
            this.error = false;
            this.buttonColor = 'blue';
            this.onOffBtnConvert(newVal);
          }
        }
      }
    },
    data() {
      return {
        data: {},
        offset: 0,
        limit: 10,
        sort_order: 'DESC',
        item: 'content',
        point: "",
        pointLeft: 0,
        money: 0,
        allin: 0,
        buttonColor: 'gray',
        minPoint: 1000,
        pointAfterCal: 0,
        currentMoney : 0,
        message : '10P 단위로 전환 가능합니다.',
        error : false,
        pointNumber : 0,
        load : true,
        placeholder : '최소 1,000 p 이상부터 전환가능'
      }
    },
    created() {
      if (this.loggedInUser.point >= this.minPoint) {
        this.placeholder = '전환할 포인트 입력(숫자만 입력)'
      } else {
        this.placeholder = '최소 1,000 p 이상부터 전환가능'
      }
      this.getPointPop();
      this.pointLeft = this.loggedInUser.point;
      this.pointAfterCal = this.loggedInUser.point;
      this.money = this.loggedInUser.cybermoney;
      this.currentMoney = this.loggedInUser.cybermoney
    },
    methods: {
      async getPointPop() {
        let data = await PointApiService.get({
          user_id: this.loggedInUser.id,
          item: this.item,
          sort_order: this.sort_order,
          limit : this.limit,
          offset : this.offset
        })

        this.data = data.data
      },
      showModal(item, close = null) {
        $(item).modal('show');
        if (close) {
          $(close).modal('hide');
        }
      },
     async loadMore() {
        this.offset = this.offset + this.limit;
        let data = await PointApiService.get({
          user_id: this.loggedInUser.id,
          item: this.item,
          sort_order: this.sort_order,
          limit : this.limit,
          offset : this.offset
        })
       if (data && data.data.length) {
         this.data = this.data.concat(data.data);
       } else {
         this.load = false;
       }

      },
      onlyNumber(value) {
        onlyNumber(value)
      },
      formatMoney(val, currency, format) {
        return formatMoney(val, currency, format);
      },
      intervalNumberFormat(val) {
        return intervalNumberFormat(val);
      },
      async convertPointFormat() {
        this.point = await this.intervalNumberFormat(this.point.toString());
        this.pointNumber = this.point;
        // if (this.point > this.pointLeft) {
        //   this.point = this.pointLeft;
        // }
        this.onOffBtnConvert(this.point)
        if ((this.pointLeft - this.point) >=0) {
          this.pointAfterCal = this.pointLeft - this.point;
        }

        this.money = this.formatMoney((Number.isInteger(parseFloat(this.point)) ? parseFloat(this.point) : 0 ) + parseFloat(this.intervalNumberFormat(this.currentMoney.toString())), '원', ',');
        this.point = this.formatMoney(this.point, null, ',');
        if ($("#all_in").is(":checked")) {
          $("#all_in").prop('checked' , false);
        }
      },
      allinPoint(event) {
        let item = $(event.target);
        if ($(item).is(":checked")) {
          this.pointNumber = this.pointLeft;
          this.onOffBtnConvert(this.pointLeft)
          this.point = this.formatMoney(this.pointLeft, null, ',');
          this.money = this.formatMoney((Number.isInteger(parseFloat(this.pointLeft)) ? parseFloat(this.pointLeft) : 0 ) + parseFloat(this.intervalNumberFormat(this.currentMoney.toString())), '원', ',');
          this.pointAfterCal = 0;
        } else {
          this.point = "";
          this.pointNumber = 0;
          this.error = false;
          this.money = this.currentMoney;
          this.pointAfterCal = this.pointLeft;
          this.onOffBtnConvert(0);
        }
      },
      onOffBtnConvert(point) {
        if (point >= this.minPoint && point <= this.pointLeft) {
          this.buttonColor = 'blue';
        } else {
          this.buttonColor = 'gray';
        }
      },
      formatDate(date) {
        return formatDate(date, 'YYYY-MM-DD HH:mm')
      },
      showPop(item){
        $(item).modal('toggle');
      },
      closePop(item) {
        $(item).modal('hide');
      },
      alert(title) {
        this.$emit('alert', title)
      },
      async convert() {
        let point = this.intervalNumberFormat(this.point);
        if (point < this.minPoint || point > this.pointLeft || this.error) {
          return;
        }
        let result = await PointApiService.convert({
          user_id: this.loggedInUser.id,
          cyber: point
        });
        if (result.code == 'SUCCESS') {
          this.point = "";
          await this.getPointPop();
          this.pointLeft = parseFloat(this.pointLeft) - parseFloat(point);
          this.currentMoney = parseFloat(this.currentMoney) + parseFloat(point);
          this.money = this.currentMoney;
          this.$emit('updateData', point);
        } else {
          this.alert(result.message);
        }

      },
      reload() {
        $("#all_in").prop('checked' , false);
        this.buttonColor = "gray";
        this.point = "";
        this.pointAfterCal = this.pointLeft - this.point;
        this.money = this.formatMoney((Number.isInteger(parseFloat(this.point)) ? parseFloat(this.point) : 0 ) + parseFloat(this.intervalNumberFormat(this.currentMoney.toString())), '원', ',');
      }
    }
  }
</script>

<style scoped>
  .box-input.pr input::placeholder {
    font-size: 10px !important;
  }
</style>
