<template>
  <div class="modal fade modal-text" id="modal-policy">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="title">이용약관</h4>
          <a href="javascript:;" class="close" data-dismiss="modal"></a>
        </div>
        <div class="modal-body">
          <article>
            <h4>(주) 렛유인 이용약관</h4>
            <p>제 1 장 총 칙</p>
            <p>제1조 [목 적]</p>
            <p>본 약관은 (주) 렛유인(이하 “회사”라 합니다)이 웹사이트 및 패밀리 웹사이트를 통하여 제공하는 교육정보서비스(이하 “서비스”라 합니다)의 이용과 관련하여 회사와 회원 사이에 권리ㆍ의무 및 책임사항 등을 규정함을 목적으로 합니다.</p>
            <p>제2조 [정 의]</p>
            <p>① 본 약관에서 사용하는 용어의 정의는 다음과 같습니다.</p>
            <p>1.“이용자”라 함은 “회사”의 웹사이트에 접속하여 본 약관에 따라 “회사”가 제공하는 “콘텐츠” 및 제반서비스를 이용하는 “회원” 및 “비회원”을 말합니다.</p>
            <p>2.“회원”이라 함은 회사의 웹사이트에 접속하여 본 약관에 동의 함으로써 회사와 이용계약을 체결하고 아이디(ID)를 부여받은 자로서 회사가 제공하는 정보와 서비스를 지속적으로 이용할 수 있는 자를 말합니다.</p>
            <p>3.“콘텐츠”라 함은 회사 웹사이트에서 제공하는 온라인 강좌 및 기타 관련정보를 의미함으로서, 정보통신망이용촉진 및 정보보호 등에 관한 법률 제2조 제1항 제1호의 규정에 의한 정보통신망에서 사용되는 부호ㆍ문자ㆍ음성ㆍ음향ㆍ이미지 또는 영상 등으로 표현된 자료 또는 정보를 말합니다.</p>
            <p>4.“아이디(ID)”라 함은 회원의 식별 및 서비스 이용을 위하여 회원이 정하고 회사가 승인하는 문자 또는 숫자의 조합을 말합니다.</p>
            <p>5.“비밀번호(PASSWORD)”라 함은 서비스 이용 시, 아이디와 일치되는 회원임을 확인하고, 회원 개인정보 보호를 위하여, 회원 자신이 정한 문자 또는 숫자의 조합을 말합니다.</p>
            <p>6.“전자우편(Email)”이라 함은 인터넷을 통한 우편 혹은 전기적</p>

          </article>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "LUM_UT_termDetailsPop"
    }
</script>

<style scoped>

</style>
