<template>
  <div>
    <div class="modal show modal-payment" id="modal-payment">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="title flex-lc"><i class="icon icon-arr" @click="showPop('#modal-logout','#modal-payment')"></i> 결제내역</h4>
            <button type="button" class="btn_reset" @click="reset"></button>
          </div>
          <div class="modal-body" v-if="data && data.data && data.data.payment_history">
            <ul class="tab nav flex">
              <li>기간 검색 <i class="icon-i flex-center" @click="showCollapse">i</i></li>
              <li><a data-toggle="tab"  :class="[{'active' : checkActiveLi(sub(1))}]" title="" @click="subDays(1)">1개월</a></li>
              <li><a data-toggle="tab" title="" :class="[{'active' : checkActiveLi(sub(3))}]" @click="subDays(3)">3개월</a></li>
              <li><a data-toggle="tab" title="" :class="[{'active' : checkActiveLi(sub(6))}]" @click="subDays(6)">6개월</a></li>
              <li><a data-toggle="tab" title="" :class="[{'active' : checkActiveLi(sub(12))}]" @click="subDays(12)">12개월</a></li>
            </ul>
            <div class="box-text hide pr">
              <div class="content">
                <p>12개월 이전 결제내역은 ‘PC버전 > 마이페이지
                  > 결제내역’에서 확인 가능합니다.</p>
              </div>
              <button type="button" class="close" @click="closeI">X</button>
            </div>
            <div class="tab-content">
              <div id="개월12" class="tab-pane fade show active">
                <div class="status flex">
                  <div v-for="(item, key) in data.data.payment_history" :class="[{'active' : checkActiveTab(key)}, 'item']"
                       @click="changeTab(key)">
                    <span>{{item.length}}</span>
                    <h5>{{key}} </h5>
                  </div>
                </div>
                <div class="txt">
                  취소/교환/반품은 <span style="color: blue; text-decoration: blue" @click="openPop('#modal-contactus-wt')">1:1문의나</span> <a style="color: blue; text-decoration: blue" href="tel:02-539-1779">고객센터
                  (Tel 02-539-1779) </a> 로 연락 주시면 처리 가능합니다.
                </div>
                <div class="payment-history" v-if="content && content.length">
                  <div class="payment" v-for="ct in content">
                    <div :class="[ checkStatus(ct.status), 'payment__status']">{{ct.status}}</div>
                    <div class="payment__code">{{ct.uid}}</div>
                    <div class="payment__time">
                      <p>주문일 {{formatDate(ct.regtime)}}({{subWeek(ct.regtime)}})</p>
                    </div>
                    <div class="payment__dt" v-if="ct.lecture_name != null">
                      <h5>{{ct.lecture_name}}</h5>
                    </div>

                    <div class="payment__dt" v-if="ct.item_name != null">
                      <h5>{{ct.item_name}}</h5>
                    </div>

                    <div v-if="ct.settle_case == '가상계좌'">
                      <div class="payment__info">
                        결제금액 : <span>{{ct.temp_bank}}원</span> (+ 배송비 {{ct.send_cost}}원 포함)
                      </div>
                      <div class="payment__type">({{ct.settle_case}} {{ct.temp_bank}}원)</div>

                      <div class="payment__note" v-if="ct.settle_case == '가상계좌'">
                        <p>{{ct.settle_case}} : {{bankAccount(ct.bank_account)}}</p>
                        <p>입금 마감일 : {{formatDate(ct.comresultdate)}}({{subWeek(ct.comresultdate)}})</p>
                      </div>
                    </div>

                    <div v-if="ct.settle_case == '신용카드'">
                      <div class="payment__info">
                        결제금액 : <span>{{ct.temp_card}}원</span> (+ 배송비 {{ct.send_cost}}원 포함)
                      </div>
                      <div class="payment__type">({{ct.settle_case}} {{ct.temp_card}}원)</div>

                      <div class="payment__note">
                        <p>{{ct.settle_case}} : {{ct.card_account}} {{ct.card_num}}</p>
                      </div>
                    </div>

                    <div  v-if="ct.settle_case == '계좌이체'">
                      <div class="payment__info">
                        결제금액 : <span>{{ct.temp_bank}}원</span> (+ 배송비 {{ct.send_cost}}원 포함)
                      </div>
                      <div class="payment__type">({{ct.settle_case}} {{ct.temp_bank}}원)</div>

                      <div class="payment__note">
                        <p>{{ct.settle_case}} : {{ct.status}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="no-list" v-else>
                  <div class="notifi">
                    <h5>결제/취소 내역이 없습니다.</h5>
                    <div class="img"><img src="~/assets/img/icon-cart.png" alt=""></div>
                  </div>
                  <div class="txt">
                    12개월 이전 결제내역은
                    ‘PC버전 > 마이페이지 > 결제내역’에서
                    확인 가능합니다.
                  </div>
                </div>
              </div>
              <div id="개월3" class="tab-pane fade">
                tab2
              </div>
            </div>
          </div>
          <div class="modal-footer" v-if="!content || !content.length">
            <h4>이공계 취업 최종 합격을 위한 풀/서/비/스</h4>
            <h2>렛유인 반도체 <span>직무역량평가</span></h2>
            <a href="https://www.letuin.com/promotion.php?action=evaluation" target="_blank" title="" class="btn_rated flex-center">직무역량 평가하기 <i class="icon icon-arr"></i></a>
          </div>
        </div>
      </div>
    </div>
    <contact-u-s_-t-w-pop></contact-u-s_-t-w-pop>
  </div>

</template>
<script>
  import {TransactionApiService} from "../../store/service.api";
  import {mapGetters} from 'vuex'
  import {formatDate, subDays, subWeek, bankAccount} from "../../common/helpers";
  import ContactUS_TWPop from "./ContactUS_TWPop";

  export default {
    name: "LUM_MP_Payment_HistoryPop",
    components: {ContactUS_TWPop},
    computed: {
      ...mapGetters(['isAuthenticated', 'loggedInUser']),
    },
    props : ['activeTab'],
    data() {
      return {
        data: [],
        offset: 0,
        limit: 1000000,
        time: 30,
        categories: ['전체', '배송준비', '배송중', '배송완료'],
        content: [],
        formatDateTime: 'YYYY-MM-DD  HH:mm'
      }
    },
    watch: {
      time(newVal, oldVal) {
        this.getTransactionList();
      },
      activeTab(newVal) {
          this.changeTab(newVal);
      }
    },
    methods: {
      closeModalPayment() {
        $('#modal-category').modal('show');
        $('#modal-payment').modal('hide');
      },
      showPop(element, closeElement = null) {
        let previous_tab = this.$cookies.get('previous_tab');
        if (!previous_tab) {
          $(element).modal('show');
        } else {
          $(previous_tab).modal('show');
        }

        closeElement ? $(closeElement).modal('hide') : 0;
      },
      async getTransactionList() {
        this.data = await TransactionApiService.get(this.loggedInUser.id, {
          offset: this.offset,
          limit: this.limit,
          time: this.time
        });

        this.content = this.data.data.payment_history[this.activeTab];
      },
      checkActiveTab(key) {
        return this.activeTab == key;
      },
      changeTab(key) {
        this.activeTab = key;
        this.content = this.data.data.payment_history[this.activeTab]
      },
      formatDate(date) {
        return formatDate(date, this.formatDateTime)
      },
	  subWeek(date){
        return subWeek(date);
      },
	  bankAccount(account){
        return bankAccount(account);
      },
      checkStatus(key) {
        switch (key) {
          case '주문' :
            return ''
          case '취소' :
            return 'cancel'
          case '완료' :
            return 'finish'
        }
      },
      addQueryString() {
        this.$router.push({
          path: this.$route.path, query: {time : this.time, tab : this.activeTab}
        });

      },
      sub(ago){
        return subDays(ago)
      },
      subDays(ago) {
        this.time = subDays(ago)
      },
      openPop(item){
        $(item).modal('show')
      },
      reset() {
        // this.time = this.sub(1)
        // this.activeTab = '전체';
        // $('#modal-payment').modal('hide');
        // setTimeout(() =>  $('#modal-payment').modal('show'), 500)
        this.getTransactionList()
      },
      showCollapse : function () {
        $('.box-text').css('display','block');
      },
      closeI() {
        $('.box-text').css('display','none');
      },
      checkActiveLi(day) {
        return day === this.time ? 'active' : '';
      }
    },
    created() {
      this.time = this.sub(1);
      this.getTransactionList();
    }
  }
</script>

<style scoped>

</style>
