<template>

  <div class="modal modal-m fade modal-letmoney" id="modal-letmoney">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="title flex-lc" @click="showModal('#modal-logout', '#modal-letmoney')"><i class="icon icon-arr"></i> 렛머니</h4>
          <a class="link ml-auto"  @click="showModal('#modal-point', '#modal-letmoney')">포인트 내역보기</a>
          <button type="button" class="btn_reset" @click="getPointPop"></button>
        </div>
        <div class="modal-body">
          <div class="letmoney">
            <div class="letmoney__header">
              <h5>나의 보유 렛머니 : <span>{{formatMoney(loggedInUser.cybermoney,' 원',',')}}</span></h5>
            </div>
            <div class="letmoney__exchange text-center">
              <p>전환 가능 포인트 : <span>{{formatMoney(loggedInUser.point,'P',',')}}</span></p>
<!--              <button type="button" class="btn_exchange flex-center" @click="showModal('#modal-point', '#modal-letmoney')">렛머니-->
<!--                전환하기-->
<!--              </button>-->
            </div>
            <div class="box-collapse">
              <div class="header flex-lc">
                <h4 class="flex-lc"><i class="icon icon-qs">?</i> 렛머니 이용 안내</h4>
                <button type="button" class="btn_collapse collapsed dr ml-auto" data-toggle="collapse"
                        data-target="#letmoney_guide"></button>
              </div>
              <div class="collapse box-text" id="letmoney_guide">
                <p>
                  포인트를 렛머니로 전환하여 사용 가능하며, 현금으로
                  는 입금되지 않습니다.
                </p>
                <p>
                  렛유인 PC / 모바일 사이트에서 강좌 결제 시 사용할 수
                  있습니다.
                  ※ 렛머니는 최소 5,000원 이상부터 10원 단위로 사용
                  가능합니다.
                </p>
                <p>렛머니는 다시 포인트로 전환이 불가능합니다.</p>
                <p>
                  렛머니는 유효기간은 기간은 없으나, 회원 탈퇴 시 자동
                  소멸됩니다. 12개월 이내 적립 또는 차감된 렛머니 내역
                  입니다.
                </p>
                <p>※ 이전 사용 내역은 ‘PC버전 > 마이페이지 >
                  포인트/렛머니’에서 확인 가능합니다.</p>
              </div>
            </div>
            <div class="scroll_vertical">
              <div class="letmoney__history" v-if="data && data.length">
                <div class="item" v-for="item in data">
                  <div class="item__header flex-lc">
                    <time>{{formatDateTime(item.regdate)}}</time>
                    <span class="sub"> {{formatMoney(item.point, 'P', ',')}}</span>
                  </div>
                  <p>{{item.content}}</p>
                </div>
                <scroll-loader :loader-method="loadMore" :loader-enable="load" v-show="load">
                </scroll-loader>
<!--                <div class="item">-->
<!--                  <div class="item__header flex-lc">-->
<!--                    <time>2021-01-25, 13:52:19</time>-->
<!--                    <span class="add">+1,000 P</span>-->
<!--                  </div>-->
<!--                  <p>취소 환급</p>-->
<!--                </div>-->
<!--                <div class="item">-->
<!--                  <div class="item__header flex-lc">-->
<!--                    <time>2021-01-25, 13:52:19</time>-->
<!--                    <span class="sub">- 1,000 P</span>-->
<!--                  </div>-->
<!--                  <p>강좌 결제</p>-->
<!--                </div>-->
<!--                <div class="item">-->
<!--                  <div class="item__header flex-lc">-->
<!--                    <time>2021-01-25, 13:52:19</time>-->
<!--                    <span class="sub">- 1,000 P</span>-->
<!--                  </div>-->
<!--                  <p>강좌 결제</p>-->
<!--                </div>-->
<!--                <div class="item">-->
<!--                  <div class="item__header flex-lc">-->
<!--                    <time>2021-01-25, 13:52:19</time>-->
<!--                    <span class="add">+1,000 P</span>-->
<!--                  </div>-->
<!--                  <p>취소 환급</p>-->
<!--                </div>-->
<!--                <div class="item">-->
<!--                  <div class="item__header flex-lc">-->
<!--                    <time>2021-01-25, 13:52:19</time>-->
<!--                    <span class="sub">- 1,000 P</span>-->
<!--                  </div>-->
<!--                  <p>강좌 결제</p>-->
<!--                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</template>

<script>
  import {PointApiService} from "../../store/service.api";
  import {mapGetters} from 'vuex'
  import {formatDate, formatMoney} from "../../common/helpers";
  export default {
    name: "LUM_MP_LetMoneyPop",
    methods: {
      showPop(item) {
        $(item).modal('show');
      },
      closePop(item) {
        $(item).modal('hide');
      },
      async getPointPop() {
        this.offset = 0;
        this.limit = 10;
        this.load = true;
        let data = await PointApiService.getMoney({
            user_id : this.loggedInUser.id,
            offset : this.offset,
            limit : this.limit
        })

        this.data = data.data;
      },
      formatDateTime(time) {
        return formatDate(time, 'YYYY-MM-DD  HH:mm:ss')
      },
      formatMoney(val, currency, format) {
        return formatMoney(val, currency, format);
      },
      showModal(item, close = null) {
        $(item).modal('show');
        if (close) {
          $(close).modal('hide');
        }
      },
      async loadMore() {
        this.offset = this.offset + this.limit;

        let data = await PointApiService.getMoney({
          user_id : this.loggedInUser.id,
          offset : this.offset,
          limit : this.limit
        })
        if (data && data.data.length) {
          this.data = this.data.concat(data.data);
        } else {
          this.load = false;
        }
      }
    },
    created() {
      this.getPointPop();
    },
    data() {
      return {
        data : {},
        limit : 10,
        offset : 0,
        load : true
      }
    },
    computed: {
      ...mapGetters(['isAuthenticated', 'loggedInUser']),
    },
  }
</script>

<style scoped>
    .modal-letmoney {
      z-index: 9999;
    }

</style>
