<template>
  <div class="modal fade modal-contact" id="modal-contact">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="title">오시는길</h4>
          <a href="javascript:;" class="close" data-dismiss="modal"></a>
        </div>
        <div class="modal-body">
          <div class="logo"><img src="~/assets/img/logo1.png" alt=""></div>
          <div class="address flex">
            <h4>주소</h4>
            <p>서울 강남구 강남대로 92길 17, 대승빌딩 9층 렛유인</p>
            <div class="phone flex-lc">
              <i class="icon icon-phone"></i>
              <a href="tel:02-539-1779">02-539-1779</a>
            </div>
            <div class="email flex-lc">
              <i class="icon icon-email"></i>
              <a href="mailto:letuin@naver.com">letuin@naver.com</a>
            </div>
          </div>
          <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24581.950171755783!2d126.96219737679998!3d37.56019926096518!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca28b61c565cd%3A0x858aedb4e4ea83eb!2zU8Opb3VsLCBDb3LDqWUgZHUgU3Vk!5e0!3m2!1sfr!2s!4v1613966186545!5m2!1sfr!2s" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
          <div class="instruction">
            <h4>찾아오시는 방법</h4>
            <p>지하철 2호선/신분당선 강남역으로 부터 도보 5분</p>
            <div class="instruction__detail">
              <p>1) 강남역(2호선) 12번 출구 나와</p>
              <p>2) 명인만두 건물 쪽으로 20m 내려가서</p>
              <p>3) 아래 골목에서 50m 직진하다 미니스탑이 보이면,</p>
              <p>4) 편의점을 끼고 오른쪽 골목으로 들어갑니다.</p>
              <p>5) 골목에서 70m 직진하면, 대승빌딩(렛유인) 도착!</p>
              <p>6) 렛유인 학원은 9층입니다.</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="https://pf.kakao.com/_FSsTM" target="_blank"><i class="icon icon-talk"></i> 카톡상담</a>
          <a href="https://www.letuin.com/notice.php?action=custom_lecture" target="_blank"><i class="icon icon-wr"></i> 1:1맞춤상담</a>
          <a href="tel:02-539-1779"><i class="icon icon-phone"></i> 전화문의</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "MapDetailPop"
    }
</script>

<style scoped>

</style>
