<template>
  <div class="modal show modal-video" id="modal-video">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="logo"><img src="~/assets/img/logo2.png" alt=""></div>
          <h4 class="title">동영상 강의</h4>
          <a href="javascript:;" class="close" data-dismiss="modal"></a>
        </div>
        <div class="modal-body">
          <h5 class="title" v-if="movie">{{movie.name}}</h5>
          <div class="video">
            <div class="video__frame">
              <iframe v-bind:src="url" class="embed-responsive-item" allowfullscreen="" style="width: 100%; height: 100%;"></iframe>
            </div>
            <div class="scroll_vertical">
              <div class="video__list">
                <div class="head flex">
                  <div class="col-2">차시</div>
                  <div class="col-6">강의명</div>
                  <div class="col-2"></div>
                  <div class="col-2">진도율</div>
                </div>
                <div class="body">
                  <div class="item flex" v-for="(item, key) in list" @click="showMovie(item)" :class="{'active': item.pid == movie.pid}">
                    <div class="col-2">{{item.order_no}}차시</div>
                    <div class="col-6">
                      <p>{{item.name}}</p>
                    </div>
                    <div class="col-2">{{pad(item.playtime)}}:{{pad(item.playstime)}}</div>
                    <div class="col-2">{{Math.round(item.mov_process)}} ％</div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {LectureOnlineService} from "../../store/service.api";
  import {mapGetters} from "vuex";

export default {
  name: "LUM_MR_PlayLC_Pop",
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser']),
  },
  props: ['movie', 'url', 'list', 'lecture', 'study'],
  methods: {
    pad(d) {
      if (d)
      return (d < 10) ? '0' + d.toString() : d.toString();
    },
    showMovie(item) {
      if(item.pid !=  this.$props.movie.pid) {
        this.$props.movie = item
        LectureOnlineService.kollusVideo({
          clientUserId: this.loggedInUser.id,
          mediaContentKey: this.$props.movie.movie_url,
          lecture_no: this.$props.lecture.no,
          muid: this.$props.study.uid,
          orderId: this.$props.movie.category_order,
          lecture_code: this.$props.lecture.code
        }).then(res => {
          this.$props.url = res.data.url
        })
      }

    }
  }
}
</script>

<style scoped>

</style>
