<template>
  <div class="freepass-lecture">
    <div class="modal fade modal-lecture" id="modal-lecture">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="flex-center" data-toggle="modal" data-target="#modal-filter-teacher"
                    @click="setBackdrop">맞춤검색설정
            </button>
            <h4 class="title">강의추가</h4>
            <a href="javascript:;" class="close" data-dismiss="modal"></a>
          </div>
          <div class="modal-body">
            <form action="" method="" class="search flex-center pr">
              <input type="text" placeholder="검색 강의명 입력" v-model="keyword">
              <button type="reset" class="btn_remove" @click="removeKeyword"></button>
              <button type="button" class="btn_submit" @click="changeKeyword"></button>
            </form>
            <div v-if="$v.keyword.$error">
              <div class="error offset-3 pl-4">검색어를 입력 하세요!.</div>
            </div>
            <div class="lecture" v-if="list">
              <div class="header flex">
                <h5>강의 목록 ({{total_cnt}})</h5>
                <ul class="tab nav flex ml-auto">
                  <li><a data-toggle="tab" @click="changeTab(singleTab)"
                         :class="{'active' : tabActive === singleTab}" title="">추천순</a></li>
                  <li><a data-toggle="tab" @click="changeTab(packageTab)"
                         :class="{'active' : tabActive === packageTab}" title="">최신순</a></li>
                </ul>
                <div class="checkbox flex-center pr">
                  <input type="checkbox" class="checkAll">
                  <span class="checked"></span>
                </div>
              </div>
              <div class="lecture__list">
                <div class="item" v-for="item in list">
                  <div class="item__scroll">
                    <div class="scroll pr">
                      <div class="content pr">
                        <div class="tag flex">
                          <span :class="support" v-for="(support, item) in splitString(item.support_opt, '|')">{{support}}</span>
                          <!--                        <span class="best">Best</span>-->
                          <!--                        <span class="nr">샘플강의</span>-->
                        </div>
                        <h3 @click="redirectSingleOrPackage(item)">{{item.subject}}
                        </h3>
                        <div class="info flex">
                          <div class="info__item teacher__text" data-container="body" data-toggle="popover" data-placement="top" :data-content="item.teacher_text" v-if="item.teacher_text.split(',').length > 1" @click="openData($event)">{{item.teacher_text.split(',').length > 1 ? item.teacher_text.split(',')[0] + '외 ' + (item.teachers.length - 1) + ' 명' : item.teacher_text }}</div>
<!--                          <div style="opacity: 0" class="info__item">{{item.insert_ch}}</div>-->
<!--                          <div class="info__item" @click="redirectBlank(review_url + item.subject)">2차시</div>-->
                          <div class="info__item flex-lc">
                            <!--                          <div class="rating pr"><div class="value" style="width: 60%;"></div></div>-->
                            <!--                          REVIEW<span>(1건)</span>-->
                            <div class="d-flex">
                              <rating :grade="convertStar(item.star)" :maxStars="5" :hasCounter="false"/>
                              <span>({{item.view}}건)</span>
                            </div>
                          </div>
                        </div>
                        <i class="icon icon-arr" v-if="item.movieurl"></i>
                      </div>
                      <a @click="goToPage('/lecture/' + item.no)" class="btn_play" v-if="item.movieurl"></a>
                    </div>
                  </div>
                  <div class="checked" v-if="isChecked(item)">
                    <input type="checkbox" :value="encodeURIComponent(JSON.stringify(item))" class="" checked>
                  </div>
                  <div class="not_checked" v-else>
                    <input type="checkbox" :value="encodeURIComponent(JSON.stringify(item))" class="valueChecked">
                  </div>
                </div>
                <scroll-loader :loader-method="loadMoreLecture" :loader-enable="(list.length + limit) <= total_cnt" v-show="(list.length + limit) <= total_cnt">
                </scroll-loader>
              </div>
            </div>
          </div>
          <div class="modal-footer" id="btn_addFreePass">
            <a title="" @click="openModalConfirm">선택 강의 추가 등록 <span id="number_freepass">(0)</span></a>
          </div>
        </div>
      </div>
    </div>
    <ConfirmMainBanAction @actionEvent="actionEvent" :title="message"></ConfirmMainBanAction>

  </div>

</template>

<script>
  import rating from "../rating/rating";
  import {MyClassApiService, QaApiService} from "../../store/service.api";
  import {mapGetters} from 'vuex'
  import Swal from "sweetalert2";
  import {alphaNum, maxLength, minLength, required, sameAs} from "vuelidate/lib/validators";
  import ConfirmMainBanAction from "./ConfirmMainBanAction";
  import {redirectSingleOrPackage} from "../../common/helpers";

  export default {
    props: ['list', 'tabActive', 'singleTab', 'packageTab', 'keyword', 'total_cnt', 'loadMore', 'limit'],
    head: {
      script: [
        {src: "/js/checkedValue.js", type: "module"}
      ]
    },
    computed: {
      ...mapGetters(['isAuthenticated', 'loggedInUser']),
    },
    name: "ModalLecture",
    components: {rating, ConfirmMainBanAction},
    data() {
      return {
        content: [],
        review_url: 'https://www.letuin.com/board.php?action=boardLate&off_type=online&find=til&search=',
        message: '',
        load : true
      }
    },
    validations: {
      keyword: {
        required
      }
    },
    mounted() {
    },
    watch : {

    },
    methods: {
      openData(e) {
          $(e.target).popover(); //here if the condition is true then popover should be display.
      },
      setBackdrop() {
        $('body').addClass('setbackdrop');
      },
      removeKeyword() {
        this.$v.keyword.$reset();
        this.keyword = '';
        this.$emit('changeKeyword', this.keyword)
      },
      splitString(string, pattern = ',') {
        return string ? string.split(pattern) : '';
      },
      changeTab(tab) {
        this.$emit('changeTab', tab)
        $('#number_freepass').html('(0)')
      },
      changeKeyword() {
        this.$v.keyword.$reset();
        this.$v.keyword.$touch();
        if (!this.$v.keyword.$error) {
          this.$emit('changeKeyword', this.keyword)
        }
      },
      convertStar(num) {
        if (!num) return 0;
        return Math.round(parseFloat(num) * 2) / 2;
      },
      goToPage(uri) {
        $('#modal-lecture').modal('hide');
        this.$router.push(uri)
      },
      closeConfirmModal() {
        $('.freepass-lecture').find('.modal-confirm').first().modal('hide');
      },
      actionEvent() {
          this.addFreePass();
      },
      openModalConfirm(e){
        this.message = "선택한 강의 " + $('.valueChecked:checkbox:checked').length + " 개를 수강 목록에 추가하시겠습니까?";
        $(e.target).parents('.freepass-lecture').find('.modal-confirm').first().modal('show');
      },
      redirectSingleOrPackage(lecture) {
        return redirectSingleOrPackage(lecture);
      },
      isChecked(val) {
        if (val.type == 'pac') {
          let lecture = val.pack_lectures.list.filter(item => {
            if (item.insert_ch == 0) {
              return item
            }
          })
          return lecture.length == 0
        } else {
          return false
        }

      },
      addFreePass() {
        if ($('.valueChecked:checkbox:checked').length) {
          let params = [];
          $('.valueChecked:checkbox:checked').each((e, item) => {
            let val = JSON.parse(decodeURIComponent($(item).val()));
            if (val.type == 'pac') {
              let lecture = val.pack_lectures.list.filter(item => {
                if (item.insert_ch == 0) {
                  return item
                }
              })
              for (let i = 0; i < lecture.length; i++) {
                params.push({
                  freepass_type: "lec",
                  freepass_no: lecture[i].no,
                  user_id: this.loggedInUser.id,
                  uidc: this.$route.params.id
                });
              }
            }
            if (val.type == "lec") {
              params.push({
                freepass_type: val.type,
                freepass_no: val.no,
                user_id: this.loggedInUser.id,
                uidc: this.$route.params.id
              });
            }
          });
          MyClassApiService.addFreePass(params).then(e => {
            if (e.code === 'SUCCESS') {
              $("#modal-lecture").modal('hide');
              $('.valueChecked').prop('checked', false).parent().removeClass('checked').addClass('not_checked');
              $("#btn_addFreePass").css({'background-color' : '#f7f7f7'})
              $("#btn_addFreePass a").css({'color' : 'black'})
              $("#btn_addFreePass span").css({'color' : 'black'})
              $("#number_freepass").html(`(${$('.valueChecked:checkbox:checked').length})`);
              this.closeConfirmModal();
              this.$emit('addLecture');
            } else {
              this.alert(e.message);
            }
          })
        }
      },
      alert(title) {
        $("#modal-no-action").find(".title-no-action").html(title);
        $("#modal-no-action").modal('show');
      },
      redirectBlank(url) {
        window.open(url, '_blank');
      },
      loadMoreLecture() {


        this.$emit('loadMoreLecture');
      }
    }
  }
</script>

<style scoped>
  .not_checked {
    width: 14.7222222222vw;
    height: 100%;
    background: #ababab;
    border-radius: 0 2.7777777778vw 2.7777777778vw 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .checked input,
  .not_checked input {
    width: 14.7222222222vw;
    height: 100%;
    opacity: 0;
    z-index: 99;
  }

  .not_checked:after {
    display: inline-block;
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-image: url("../../assets/img/check.png");
    background-size: 100%;
    z-index: 99;
  }


  .icon-arr {
    width: 3.75vw !important;
    height: 3.3333333333vw !important;
    background: url("../../assets/img/arr-r1.png") no-repeat 0 0/cover !important;
    position: absolute !important;
    right: 3.4722222222vw !important;
    top: 50% !important;
    -webkit-transform: translateY(-50%) rotate(180deg) !important;
    -moz-transform: translateY(-50%) rotate(180deg) !important;
    -ms-transform: translateY(-50%) rotate(180deg) !important;
    -o-transform: translateY(-50%) rotate(180deg) !important;
    transform: translateY(-50%) rotate(180deg) !important;
  }

  .search {
    margin: 0 !important;
  }

  .lecture {
    margin-top: 45px !important;
  }

  .error {
    padding: 0 !important;
    margin-top: 5px;
  }

  #btn_addFreePass {
    position: sticky;
    bottom: 0;
    z-index: 999;
  }
  .rating.rating2 {
    margin-right: 0;
    padding: 0;
    width: fit-content !important;
  }
  .modal-lecture .lecture .info span {
    width: 100px;
  }
</style>
