<template>
  <div class="modal fade modal-search" id="modal-search">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <a href="javascript:;" class="close" data-dismiss="modal"></a>
        <div class="search flex-lc pr">
          <input type="text" placeholder="검색어를 입력하세요." v-model.lazy.trim="keyword">
          <button type="button" class="btn_remove" @click="clear"></button>
          <button type="button" class="btn_submit" @click="search"></button>
        </div>
        <!--        </form>-->
        <div class="notifi" v-html="textResult">
<!--                    <h5>“ABCD” 에 대한 검색 결과가 없습니다.</h5>-->
<!--                    <p>검색어를 확인하시고 다시 검색해 주세요</p>-->
        </div>
        <div class="search_recent flex-lc">
          <h5>최근 검색어</h5>
          <button type="button" v-if="isAuthenticated && histories && histories.data && histories.data.length" class="btn_remove" @click="clearAllKeyword(null)">전체 삭제</button>
          <div v-if="isAuthenticated" class="item_search">
            <ul class="list flex"  v-if="histories && histories.data && histories.data.length">
              <li  v-for="history in histories.data">
                <a @click="searchOnClick(history.st_text)">{{history.st_text}}</a>
                <button type="button" class="btn_close" @click="clearAllKeyword(history.st_no)"></button>
              </li>
            </ul>
            <p v-else>최근 검색어 내역이 없습니다.
              (최근 30일 이내 검색어 최대 5개가 노출됩니다.)
            </p>
          </div>
          <p v-else>최근 검색어 내역이 없습니다.
            (최근 30일 이내 검색어 최대 5개가 노출됩니다.)
          </p>
        </div>
        <div class="search_top">
          <h5>추천 검색어 TOP 5</h5>
          <p v-if="top5" v-for="(item , key) in top5.data" @click="searchOnClick(item.st_text)">{{key + 1}}. {{item.st_text}}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  import {required} from "vuelidate/lib/validators";
  import {SearchApiService} from "../../store/service.api";

  export default {
    name: "ModalSearch",
    data() {
      return {
        keyword: '',
        histories: [],
        top5 : [],
        textResult : ''
      }
    },
    validations: {
      keyword: {
        required
      }
    },
    computed: {
      ...mapGetters(['isAuthenticated', 'loggedInUser']),
    },
    created() {
      if (this.isAuthenticated) {
        this.getHistoryKeyword();
      }
      this.getTop5();
    },

    methods: {
      alert(title) {
        $("#modal-no-action").find(".title-no-action").html(title);
        $("#modal-no-action").modal('show');
      },
      async search() {
        this.$v.keyword.$touch()
        if (!this.$v.keyword.required) {
          $("#modal-no-action").modal('show');
          this.alert('검색어를 입력 하세요!');
          return;
        }
        let query = {
          keyword: this.keyword,
          keyword_save: 0
        }

        if (this.isAuthenticated) {
          query.user_id = this.loggedInUser.id;
        }
        let data = await SearchApiService.get(query);
        let result = data.data;
          if (result.lecture_public_total || result.lecture_online_total || result.lecture_cert_total || result.lecture_offline_total) {
            $('#modal-search').modal('hide')
            this.$router.push({
              path: '/search',
              query: query
            });
          } else {
              await this.getHistoryKeyword();
              this.textResult = '<h5>"' + this.keyword + '" ' +'에 대한 검색 결과가 없습니다.</h5><p>검색어를 확인하시고 다시 검색해 주세요</p>';
          }

        this.$emit('changeKeyword', this.keyword);
      },
      async getHistoryKeyword() {
        let params = {}
        if (this.isAuthenticated) {
          params.user_id = this.loggedInUser.id;
        }
        this.histories = await SearchApiService.getHistoryKeyword(params);
      },
      async getTop5() {
        this.top5 = await SearchApiService.getTop5();
      },
      async clearAllKeyword(st_no = null) {
        let params = {
          user_id : this.loggedInUser.id
        }
        if (st_no) {
          params.no = st_no
        }
        await SearchApiService.clearAllKeyword(params);
        await this.getHistoryKeyword();
      },
      clear() {
        this.$v.keyword.$reset();
        this.keyword = ''
      },
      searchOnClick(query) {
        $('#modal-search').modal('hide')
        // window.location.href = '/search?keyword='+ query
        this.$router.push({
          path: '/search',
          query: {keyword : query}
        });
      }
    }
  }
</script>

<style scoped>
  .item_search {
    display: inline-block;
    width: 100%;
  }
</style>
