<template>
  <div class="modal fade modal-filter" id="modal-filter-teacher">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="title">강의 맞춤 검색 설정</h4>
          <button type="button" class="btn_reset" @click="refresh" ></button>
          <a href="javascript:;" class="close" @click="submit"></a>
        </div>
        <div class="modal-body">
          <ul class="filter">
            <add_lc :data="filter1" collapse-class="filter1" title="기업별"></add_lc>
            <add_lc :data="filter2" collapse-class="filter2" title="산업별"></add_lc>
            <add_lc :data="filter3" collapse-class="filter3" title="취업과정"></add_lc>
            <add_lc :data="filter4" collapse-class="filter4" title="강의유형"></add_lc>
            <add_lc :data="filter5" collapse-class="filter5" title="전공별"></add_lc>

          </ul>
        </div>
          <div class="modal-footer">
              <button type="button" class="btn_apply" @click="submit">맞춤 설정 적용</button>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
  import add_lc from "../Freepass/add_lc";
    export default {
      name: "ModalFilterTeacher",
      data() {
           return {
             filter1: {
               '기업별' : '010101',
               SK : '010102',
               LG : '010103',
               '현대/기아' : '010104',
               '외국계' : '010105',
               '포스코' : '01010a',
               '현대제철' : '01010b'
             },
             filter2 : {
               '반도체' : '010201',
               '디스플레이' : '010202',
               '자동차' : '010203',
               '케미칼' : '010205',
               'SW' : '010206',
               '4차산업' : '010207',
               '철강' : '010208',
               '기타' : '01020a',
               '전자/가전/모바일' : '010204'
             },
             filter3 : {
               '취업전략' : '010301',
               '직무' : '010302',
               '자소서' : '010303',
               '인적성' : '010304',
               '면접' : '010305',
               '기업분석' : '010306',
               '코딩테스트' : '010307'
             },
             filter4 : {
               '패키지' : '010401',
               'NCS수료증' : '010402',
               '프로젝트' : '010404',
             },
             filter5 : {
               '전자과' : '010501',
               '화학계열' : '010502',
               '기계과' : '010503',
               '컴공과' : '010504'
             }
           }
      },
      components : {add_lc},
      methods : {
        refresh() {
          $(".check__all_filter").prop('checked', false);
          this.$emit('changeParams', []);
          $('.filter1').parent('.content-filter').find('.number_checked').html('(0/' + Object.keys(this.filter1).length + ')')
          $('.filter2').parent('.content-filter').find('.number_checked').html('(0/' + Object.keys(this.filter2).length + ')')
          $('.filter3').parent('.content-filter').find('.number_checked').html('(0/' + Object.keys(this.filter3).length + ')')
          $('.filter4').parent('.content-filter').find('.number_checked').html('(0/' + Object.keys(this.filter4).length + ')')
          $('.filter5').parent('.content-filter').find('.number_checked').html('(0/' + Object.keys(this.filter5).length + ')')
            $(".checkAll").prop('checked', false);
        },
        submit() {
          let params = [];
          let itemChecked = $(".check__all_filter:checkbox:checked");
          itemChecked.each(function () {
            params.push($(this).val());
          });
          this.$emit('changeParams', params)
          $('#modal-filter-teacher').modal('hide')
          this.removeBackdrop();
        },
        removeBackdrop() {
          $('body').removeClass('setbackdrop');
        }
      },
      mounted() {

      }
    }
</script>

<style>
.setbackdrop .modal-backdrop {
  z-index: 1050;
}
#modal-filter-teacher {
  z-index: 1051;
}
</style>
