<template>
  <div class="mypage-popup">
    <div class="modal fade modal-logout" id="modal-logout">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="title" @click="logOut">로그아웃</h4>
            <button type="button" class="btn_notifi pr" @click="showPop('#modal-notice', '#modal-logout')"><span
              class="flex-center">N</span></button>
            <a  class="close" @click="closeModal('#modal-logout')"></a>
          </div>
          <div class="modal-body">
            <div class="name">안녕하세요! <span>{{ this.loggedInUser.nick ? this.loggedInUser.nick : this.loggedInUser.name }}</span>님</div>
            <div class="classroom">
              <div class="header flex-lc">
                <h5>내강의실</h5>
                <button type="button" class="btn_collapse collapsed ml-auto" data-toggle="collapse"
                        data-target="#popup"></button>
              </div>
              <div class="collapse" :class="[{ 'show': showCollapse }, 'collapse']"   id="popup">
                <div class="item">
                  <a  class="title flex">
                    <h5>스터디</h5>
                    <div class="txt ml-auto">합격할 때까지 유이니와 함께~</div>
                    <button type="button" @click="goToPage('/study', cookieName, cookieValue)" class="btn_collapse"></button>
                  </a>
                  <div class="info flex" v-if="myclass.data && myclass.data['스터디']">
                    <div class="col-4" v-for="(item, key) in  myclass.data['스터디']" >
                      <h5>{{item}}</h5>
                      <span>{{key}}</span>
                    </div>
<!--                    <div class="col-6">-->
<!--                      <h5>00 시간 00 분</h5>-->
<!--                      <span>누적 학습 시간</span>-->
<!--                    </div>-->
<!--                    <div class="col-3">-->
<!--                      <h5>00 일</h5>-->
<!--                      <span>누적 학습일 수</span>-->
<!--                    </div>-->
                  </div>
                </div>
                <div class="item">
                  <a  class="title flex" @click="goToPage('/freepass-list', cookieName, cookieValue)">
                    <h5>프리패스</h5>
                    <button type="button" class="btn_collapse"></button>
                  </a>
                </div>
                <div class="item">
                  <a  class="title flex" @click="goToPage('/online-lc', cookieName, cookieValue)">
                    <h5>온라인강의</h5>
                    <button type="button" class="btn_collapse"></button>
                  </a>
                </div>
                <div class="item">
                  <a href="javascript:;" class="title flex" @click="goToPage('/academy', cookieName, cookieValue)">
                    <h5>학원강의</h5>
                    <button type="button" class="btn_collapse"></button>
                  </a>
                </div>
                <div class="item">
                  <a href="javascript:;" class="title flex" @click="goToPage('/process-practice', cookieName, cookieValue)">
                    <h5>공정실습</h5>
                    <button type="button" class="btn_collapse"></button>
                  </a>
                </div>
                <div class="item">
                  <a href="javascript:;" class="title flex" @click="goToPage('/practice-test', cookieName, cookieValue)">
                    <h5>모의고사</h5>
                    <button type="button" class="btn_collapse"></button>
                  </a>
                </div>
                <div class="item">
                  <div class="title flex">
                    <h5 @click="goToPage('/employee', cookieName, cookieValue)">취업기업분석</h5>
                    <div class="ml-auto flex" v-if="myclass.data && myclass.data['취업기업분석']">
                      <p v-for="(item, key) in myclass.data['취업기업분석']" @click="goToPageWithQueryString('/employee',getQueryStringViaKey(key), cookieName, cookieValue)">{{key}} <span>{{item}} 건</span></p>
<!--                      <p>열람중 패키지 <span>0 건</span></p>-->
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="title flex" @click="goToPage('/self-intro', cookieName, cookieValue)">
                    <h5>자소서 첨삭</h5>
                  </div>
                  <div class="info flex" v-if="myclass.data && myclass.data['자소서첨삭']">
                    <div class="col" v-for="(item, key) in myclass.data['자소서첨삭']" @click="goToPageP('/self-intro?option=' + (key == '대기' ? '제출대기' : (key == '반려' ? '요청반려' : key) ), cookieName, cookieValue)">
                      <h5 >{{item}} 건</h5>
                      <span>{{key}}</span>
                    </div>
                  </div>
                </div>
                <div class="item" @click="goToPage('/ended', cookieName, cookieValue)">
                  <a  class="title flex">
                    <h5>종료된 콘텐츠</h5>
                    <button type="button" @click="goToPage('/ended', cookieName, cookieValue)" class="btn_collapse"></button>
                  </a>
                </div>
              </div>
              <div class="page-title">마이페이지</div>
              <div class="item item-lg">
                <div class="flex">
                  <p @click="showPop('#modal-point', '#modal-logout')">보유 포인트 <span>{{formatMoney(point, ' P', ',')}}</span></p>
                  <p @click="showPop('#modal-letmoney', '#modal-logout')">보유 렛머니 <span>{{ formatMoney(money, '원', ',')}}</span></p>
                </div>
              </div>
              <div class="item item-lg">
                <div class="flex" @click="goToPage('/cart', cookieName, cookieValue)">
                  <p>장바구니 <span>{{ cart }} 건</span></p>
                  <button type="button" class="btn_collapse"></button>
                </div>
              </div>
              <div class="item item-lg">
                <h5  @click="showPopWithActiveTab('#modal-payment', '#modal-logout', '전체' ,true)">결제내역</h5>
                <div class="flex" v-if="pages.data && pages.data.my_order">
                  <p v-for="(order, key) in pages.data.my_order" @click="showPopWithActiveTab('#modal-payment', '#modal-logout', convertKeyWord(key), true)">{{key}}<span>{{order}}</span>건</p>
<!--                  <p>결제완료<span>00</span>건</p>-->
<!--                  <p>결제취소<span>00</span>건</p>-->
                </div>
              </div>
              <div class="item item-lg" @click="showPop('#modal-status-pop', '#modal-logout')">
                <h5  @click="showPopWithActiveTab('#modal-status-pop', '#modal-logout', '전체', true)">도서배송현황</h5>
                <div class="flex" v-if="pages.data && pages.data.my_book">
                  <p v-for="(book, key) in pages.data.my_book" @click="showPopWithActiveTab('#modal-status-pop', '#modal-logout', key, true)">{{key}}<span>{{book}}</span>건</p>
<!--                  <p>배송중<span>00</span>건</p>-->
<!--                  <p>배송완료<span>00</span>건</p>-->
                </div>
              </div>
              <div class="item item-lg">
                <h5 @click="showPopWithActiveTab('#modal-contactus', '#modal-logout')">1:1 문의내역</h5>
                <div class="flex"  v-if="pages.data && pages.data.my_questions">
                  <p v-for="(q, key) in pages.data.my_questions" @click="showPopWithActiveTab('#modal-contactus', '#modal-logout', key)">{{key}}<span>{{q}}</span>건</p>
<!--                  <p>답변<span>00</span>건</p>-->
                  <button   @click="showPopUpContactUs('#modal-contactus-wt','#modal-logout', '전체')" type="button" class="ml-auto">1:1문의하기</button>
                </div>
              </div>
              <div class="item item-lg">
                <p @click="showPop('#modal-coupon','#modal-logout')">사용 가능 보유 쿠폰
                  <span v-if="coupons && coupons.data && coupons.data.length">{{coupons.data.length}} 장</span>
                  <span v-else>0 장</span>
                </p>
                <div class="box-coupon flex">
                  <input type="text"  ref="input-5" data-index="1" :maxlength="max"
                         @keydown="preventSpecialCharacter($event)" v-model="code_1">
                  <input type="text" ref="input-6" data-index="2" :maxlength="max"
                         @keydown="preventSpecialCharacter($event)" v-model="code_2">
                  <input type="text"  ref="input-7" data-index="3" :maxlength="max"
                         @keydown="preventSpecialCharacter($event)" v-model="code_3">
                  <input type="text" ref="input-8" data-index="4" :maxlength="max"
                         @keydown="preventSpecialCharacter($event)" v-model="code_4">
                  <button type="button" class="btn_register" @click="registerCoupon" :style="{ 'background-color': buttonColor }">쿠폰등록</button>
                </div>
                <div class="guide">
                  <h5>쿠폰 등록 및 이용 안내</h5>
                  <p>
                    쿠폰번호 등록할 때는 숫자와 영문대소문자를 구별하여 입력하세요.
                    Ex) 0000-CCdd-AAbb-0000
                  </p>
                  <p>
                    모바일 사이트에서는 사용 가능한 쿠폰 정보만 확인 가능합니다.
                  </p>
                  <p>※ 사용한 쿠폰 정보는 PC사이트에서 확인 가능합니다</p>
                </div>
              </div>
              <div class="item item-lg" @click="goToPage('/mem-info')">
                <div class="flex">
                  <p>회원정보 수정</p>
                  <span>(비밀번호, SNS 연동계정 등 수정)</span>
                  <button type="button" class="btn_collapse"></button>
                </div>
                <div class="item__content">
                  <p>text-demo</p>
                </div>
              </div>
              <div class="item item-lg" @click="goToPage('/with-drawal')">
                <div class="flex">
                  <p>회원탈퇴</p>
                  <button type="button" class="btn_collapse"></button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a href="https://www.letuin.com/gnu/bbs/board.php?bo_table=faq" target="_blank"><i class="icon icon-faq"></i>
              FAQ</a>
            <a href="https://www.letuin.com/notice.php?action=custom_lecture" target="_blank"><i class="icon icon-wr"></i>
              1:1맞춤상담</a>
            <a href="https://www.letuin.com/gnu/bbs/board.php?bo_table=notice" target="_blank"><i
              class="icon icon-notifi"></i>공지사항</a>
          </div>
        </div>
      </div>
    </div>
    <LUM_MP_LetMoneyPop @updateData="updateData" @updateShowModal="updateShowModal"></LUM_MP_LetMoneyPop>
    <LUM_MP_PointPop @updateData="updateData" @alert="alert($event)" @updateShowModal="updateShowModal"></LUM_MP_PointPop>
    <coupon-component @alert="alert($event)" @updateShowModal="updateShowModal" :coupons="coupons"></coupon-component>
    <ContactUS @dataChange="infoMyClass" :tab-active="tabActive" :data-view="dataView" :create-ask="createAsk"></ContactUS>
    <AlarmPopup></AlarmPopup>
    <LUM_MP_Payment_HistoryPop :active-tab="tabActive"></LUM_MP_Payment_HistoryPop>
    <BookDeliveryStatusPopup :tab-active="tabActive"></BookDeliveryStatusPopup>
    <ReviewWR></ReviewWR>
    <ConfirmMainBanNoAction :title="message"></ConfirmMainBanNoAction>
  </div>

</template>

<script>
  import {mapGetters} from 'vuex'
  import {URL_IMAGE} from "../../config";
  import LUM_MP_PointPop from "./LUM_MP_PointPop";
  import ConfirmMainBanNoAction from "./ConfirmMainBanNoAction";
  import LUM_MP_LetMoneyPop from "./LUM_MP_LetMoneyPop";
  import {ApiService, AuthService, CartApiService, CategoryApiService, CouponApiService} from "../../store/service.api";
  import Coupon from "./Coupon";
  import {required} from "vuelidate/lib/validators";
  import {formatMoney, preventSpecialCharacter} from "../../common/helpers";
  import ContactUS from "./ContactUS";
  import AlarmPopup from "./AlarmPopup";
  import LUM_MP_Payment_HistoryPop from "./LUM_MP_Payment_HistoryPop";
  import BookDeliveryStatusPopup from "./BookDeliveryStatusPopup";
  import moment from "moment";

  import ReviewWR from "./ReviewWR";
  export default {
    name: "MypagePopup",
    computed: {
      ...mapGetters(['isAuthenticated', 'loggedInUser']),
    },
    props : ['showCollapse'],
    data() {
      return {
        message: '',
        url: URL_IMAGE,
        coupons: null,
        code_1: '',
        code_2: '',
        code_3: '',
        code_4: '',
        max: 4,
        buttonColor : 'blue',
        point : 0,
        money : 0,
        cart: 0,
        pages : [],
        myclass : [],
        tabActive : '전체',
        cookieName : 'showMyClass',
        cookieValue : '#modal-logout',
        createAsk : true,
        dataView : {
          wr_3 : this.$props.tabActive ? this.$props.tabActive : ''
        },
      }
    },
    validations: {
      code_1: {
        required,
      },
      code_2: {
        required
      },
      code_3: {
        required
      },
      code_4: {
        required
      },

    },
    watch : {
      code_1(newVal) {
        if (newVal.length >= this.max) {
          this.$refs['input-6'].focus();
        }
        this.changeColorBtn();
      },
      code_2(newVal) {
        if (newVal.length >= this.max) {
          this.$refs['input-7'].focus();
        }

        if (newVal.length <= 0 ) {
          this.$refs['input-5'].focus();
        }
        this.changeColorBtn();
      },
      code_3(newVal) {
        if (newVal.length >= this.max) {
          this.$refs['input-8'].focus();
        }
        if (newVal.length <= 0 ) {
          this.$refs['input-6'].focus();
        }
        this.changeColorBtn();
      },
      code_4(newVal) {
        if (newVal.length <= 0) {
          this.$refs['input-7'].focus();
        }
        this.changeColorBtn();
      }
    },
    mounted() {
      this.changeColorBtn();
      this.point = this.loggedInUser.point;
      this.money = this.loggedInUser.cybermoney;
    },
    methods: {
      alert(message) {
        this.message = message
        $(".mypage-popup").find('#modal-no-action').modal('show')
        return;
      },
      getCartCount() {
        CartApiService.count().then(res => {
          this.cart = res.count
        })
      },
      async logOut() {
        $('#modal-logout').modal('hide');
        await this.$auth.logout();
        this.$router.push('/');
      },
      goToPage(uri, cookieName = null, cookieValue = null) {
        cookieName ? this.$cookies.set(cookieName, cookieValue) : 0;
        $('#modal-logout').modal('hide')
        this.$router.push(uri);
      },
      goToPageP(uri, cookieName = null, cookieValue = null) {
        cookieName ? this.$cookies.set(cookieName, cookieValue) : 0;
        $('#modal-logout').modal('hide')
        window.location.href = uri
      },
      goToPageWithQueryString(uri, query, cookieName = null, cookieValue = null) {
        cookieName ? this.$cookies.set(cookieName, cookieValue) : 0;
        $('#modal-logout').modal('hide')
        this.$router.push(uri + query);
      },
      getQueryStringViaKey(key) {
        switch (key) {
            case  '열람중' :
              return '?checkParam=2'
          case '열람중패키지' :
            return  '?checkParam=3'
        }
      },
      updateShowModal(item) {
        let showIndex = this.$cookies.get('backToIndex') || true
        if (showIndex) {
          this.closePop(item, '#modal-logout');
          return ;
        }
        $(item).modal('hide');
      },
      showPop(element, closeElement = null) {
        this.$cookies.set('backToIndex', true)
        $(element).modal('show');
        closeElement ? $(closeElement).modal('hide') : 0;
      },
      showPopWithActiveTab(element, closeElement = null, key = null, previous_tab = null) {
        if (key) this.tabActive = key;
        this.showPop(element, closeElement);
        if (previous_tab) {
          this.$cookies.set('previous_tab', closeElement)
        }
      },
      showPopUpContactUs(element, closeElement = null, key = null, previous_tab = null) {
        if (key) this.tabActive = key;
        this.createAsk = true;
        this.dataView = null;
        this.showPop(element, closeElement);
        if (previous_tab) {
          this.$cookies.set('previous_tab', closeElement)
        }
      },
      closePop(element, showElement = null){
        $(element).modal('hide');
        showElement ?  $(showElement).modal('show') : 0;
      },
      async getCoupon(id, params = {}) {
        this.coupons = await CouponApiService.get(id , params);
      },
      preventSpecialCharacter(e) {
        if (e.keyCode != 8) {
          if (preventSpecialCharacter(e.key)) e.preventDefault();
        }
      },
      async loadCoupon(id, params = {}) {
        this.coupons = await CouponApiService.get(id , params);
      },
      changeColorBtn() {
        let length = this.code_1.length + this.code_2.length + this.code_3.length + this.code_4.length;
        if (length < 16) {
          this.buttonColor =  'gray';
        } else {
          this.buttonColor =  'blue';
        }
      },
      pad(d) {
        return (d < 10) ? '0' + d.toString() : d.toString();
      },
      async updateData() {
       let data = await AuthService.me();
       this.point = data.data.point;
       this.money = data.data.cybermoney;
      },
      combineCode() {
        return this.code_1 + '-' + this.code_2 + '-' + this.code_3 + '-' + this.code_4;
      },
      async registerCoupon() {
        let length = this.code_1.length + this.code_2.length + this.code_3.length + this.code_4.length;
        if (length < 16) return ;
        if (!this.$v.code_1.required || !this.$v.code_2.required || !this.$v.code_3.required || !this.$v.code_4.required) {
          this.alert('쿠폰 번호는 숫자, 영문대소문자의 16자리입니다. 빠짐 없이 입력 바랍니다.');
        }
        let result = await CouponApiService.register(this.loggedInUser.id, {code: this.combineCode()});
        if (result.code !== 'FAILED') {
          await this.loadCoupon(this.loggedInUser.id);
          this.showPop('#modal-coupon','#modal-logout');
          return ;
        }
        this.showModalNoAction(result.message);
      },
      showModalNoAction(message) {
        $(".mypage-popup").find("#modal-no-action").find(".title-no-action").html(message);
        $(".mypage-popup").find("#modal-no-action").modal('show');
      },
      formatMoney(val, currency, format) {
        return formatMoney(val, currency, format);
      },
      async infoMyClass(){
        let oneMonthAgo = moment().subtract(1, 'months')
        let currentDate = moment();
        let day = moment.duration(currentDate.diff(oneMonthAgo)).asDays();

        this.pages = await CategoryApiService.page({user_id : this.loggedInUser.id, time: parseInt(day)})
      },
      async infoMyPage(){
        this.myclass = await CategoryApiService.class({user_id : this.loggedInUser.id})
      },
      convertKeyWord(key) {
        switch (key) {
          case '결제완료' :
            return '완료'
          case '결제취소' :
            return '취소'
          default :
            return key
        }
      },
      closeModal(item){
        $(item).modal('hide');
        this.$emit('showMyClass', false);
      }
    },
    created() {

      this.getCoupon(this.loggedInUser.id);
      this.getCartCount()
      this.$nuxt.$on('change-cart', () => {
        this.getCartCount()
      })
      this.infoMyClass();
      this.infoMyPage();
    },
    components: {
      ReviewWR,
      BookDeliveryStatusPopup,
      LUM_MP_Payment_HistoryPop,
      AlarmPopup,
      ContactUS,
      LUM_MP_PointPop,
      LUM_MP_LetMoneyPop,
      'coupon-component': Coupon,
      ConfirmMainBanNoAction
    },

  }
</script>

<style scoped>

  .modal-login .info h5, .modal-logout .info h5 {
    font: 4.5611111111vw var(--NanumSquareEB) !important;
  }

  .modal-logout .item-lg p {
    margin-right: 2.1vw !important;
  }
</style>
