<template>
  <div class="modal modal-md show modal-refundstatus" id="modal-refundstatus">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="title">MY 환급신청 현황</h4>
          <a href="javascript:;" class="close" data-dismiss="modal"></a>
        </div>
        <div class="modal-body" v-if="data && data.length">
          <ul class="refundstatus1">
            <li  v-for="(item, key) in data">
              <h5>{{key +1}}차 환급신청</h5>
              <p>{{item.lc_subject}}</p>
            </li>
<!--            <li>-->
<!--              <h5>2차 환급신청</h5>-->
<!--              <p>-</p>-->
<!--            </li>-->
<!--            <li>-->
<!--              <h5>3차 환급신청</h5>-->
<!--              <p>-</p>-->
<!--            </li>-->
          </ul>
          <div class="box-text box-text-cs">
            <h4 class="flex-lc"><i class="icon icon-qs">?</i> 이용 안내</h4>
            <article>
              <p>신청일 기준 최대 60일 이내 환급이 진행됩니다.</p>

              <p>최종 합격한 공기업 1곳 당 100% 현금 환급해
                드리며, 최대 3곳, 300% 현금 환급까지 가능합니다.</p>
              <p class="sm mt-0">※ 제세공과금 22% 가 제외된 금액으로 환급됩니다.</p>

              <p>환급관련 문의는 <a href="" title="">고객센터</a> > <span>1:1문의</span>를 이용 부탁 <br> 드립니다.</p>

            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>


export default {
  name: "RefundStatus1",
  props : ['data'],
  methods : {

  },
  created() {

  }
}
</script>

<style scoped>

</style>
