<template>
  <div class="reject_pop">
    <div class="modal modal-md fade modal-fileupload" id="modal-rejectpop">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="title">반려 사유 확인</h4>
            <a href="javascript:;" class="close" data-dismiss="modal"></a>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <div class="textarea">
                <p><span>({{ lecture.teacher_name }})</span> 선생님의 반려 이유</p>
                <p><span  v-html="lecture.addrem_msg"></span></p>
              </div>
            </div>
            <div class="form-group">
              <div class="attachment pr">
                <div class="attachment__file flex pr">
                  <input id="file" type="file" :accept="typeof lecture.tp_file !== 'undefined' ? '.' + lecture.tp_file.split(',').join(', .') : ''" @change="showFileName($event)">
                  <span class="attachment__name" @click="openInput()">{{ filename }}</span>
                </div>
                <div class="attachment__note">
                  <p><span>반려 3일 내 재첨삭 파일을 제출</span>하세요.</p>
                  <p>3일 초과 시, 첨삭 요청이 마감됩니다. 꼭 기간 내 재신청바랍니다.</p>
                </div>
              </div>
            </div>
            <button type="submit" class="btn_submit flex-center" @click="click ? reUpload() : ''">재첨삭 신청</button>
          </div>
        </div>
      </div>
    </div>
    <ConfirmMainBanNoAction :title="message"></ConfirmMainBanNoAction>
    <ConfirmMainBanActionButton :title="message" @actionEvent="submit" :data="{file: file, lecture: lecture}"></ConfirmMainBanActionButton>
  </div>

</template>

<script>
import ConfirmMainBanNoAction from "./ConfirmMainBanNoAction";
import ConfirmMainBanActionButton from "./ConfirmMainBanActionButton";
import {AddremApiService} from "../../store/service.api";

export default {
  name: "Reject",
  props: ['lecture'],
  components: { ConfirmMainBanNoAction, ConfirmMainBanActionButton },
  data () {
    return {
      filename: '파일선택',
      file:null,
      click: true,
      message: ''
    }
  },
  methods: {
    openInput() {
      $('#file').click()
    },
    alertNo(message) {
      this.message = message
      $(".reject_pop").find('#modal-no-action').modal('show')
      return;
    },
    alert(message) {
      this.message = message
      $(".reject_pop").find('#modal-confirm-action').modal('show')
      return;
    },
    showFileName(e) {
      let file = e.target.files
      this.file = file[0]
      this.filename = file[0].name
    },
    reUpload() {
      this.click = false
      if (typeof this.file === 'undefined' || this.file == null) {
        this.click = true
        this.alertNo('파일을 선택해 주시기 바랍니다.')
        return;
      } else {
        const fileSize = this.file.size / 1024 / 1024
        if (fileSize > 5) {
          this.click = true
          this.alertNo('파일은 5MB 미만이어야합니다.')
        }
        this.alert('주의사항은 모두 완료하셨나요?\n' +
          '제출완료 시 파일 수정이 불가합니다.')
      }
    },
    submit(data) {
      $(".reject_pop").find('#modal-confirm-action').modal('hide')
      let formData = new FormData();
      formData.append("file", data.file)
      AddremApiService.reUpdate(data.lecture.mys_uid, formData).then(res => {
        this.click = true
        if (res.success) {
          this.alertNo('제출되었습니다.')
          setTimeout(() => location.reload(), 500)
        }
      })
    }
  }
}
</script>

<style scoped>
  .modal-fileupload .attachment__file::after {
    background: unset !important;
  }
</style>
