<template>
  <div class="result-pop">
    <div class="modal modal-md fade modal-fileupload" id="modal-result">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="title">첨삭 결과 확인</h4>
            <a href="javascript:;" class="close" data-dismiss="modal"></a>
          </div>
          <div class="modal-body">
              <div class="form-group">
                <div class="textarea">
                  <p><span>({{ lecture.teacher_name }})</span> 선생님의 응원의 한마디!</p>
                  <p><span>{{ typeof lecture.addrem_msg !== 'undefined' ? lecture.addrem_msg: '' }}</span></p>
                </div>
              </div>
              <div class="form-group">
                <div class="attachment pr">
                  <a href="javascript:;" class="attachment__file flex-lc pr">
                    <span class="attachment__name" @click="confirmDownload()">{{ lecture.addrem_orig_teacher_file }}</span>
                  </a>
                  <div class="attachment__note">
                    첨삭 완료된 파일은 완료 후 7일간 다운로드 가능합니다
                  </div>
                </div>
              </div>
              <button type="submit" class="btn_submit flex-center" @click="reorder(lecture)">재첨삭 신청</button>
          </div>
        </div>
      </div>
    </div>
    <ConfirmMainBanNoAction :title="message"></ConfirmMainBanNoAction>
    <ConfirmMainBanActionButton :title="message" @actionEvent="downloadFile" :data="lecture.addrem_teacher_file"></ConfirmMainBanActionButton>
  </div>
</template>

<script>
import {URL_IMAGE} from "../../config";
import ConfirmMainBanNoAction from "./ConfirmMainBanNoAction";
import ConfirmMainBanActionButton from "./ConfirmMainBanActionButton";
import {CartApiService} from "../../store/service.api";

export default {
  name: "Result",
  props: ['lecture'],
  data () {
    return {
      click: true,
      message: ''
    }
  },
  components: { ConfirmMainBanNoAction, ConfirmMainBanActionButton },
  methods: {
    alertNo(message) {
      this.message = message
      $(".result-pop").find('#modal-no-action').modal('show')
      return;
    },
    alert(message) {
      this.message = message
      $(".result-pop").find('#modal-confirm-action').modal('show')
      return;
    },
    confirmDownload() {
      this.alert('첨삭 완료 후 다운로드 기간(7일) 동안에만 첨삭 파일을 다운로드 받을 수 있습니다. 꼭 기간 내에 다운로드 해 주세요.')
    },
    downloadFile(file) {
      $(".result-pop").find('#modal-confirm-action').modal('hide')
      let url = URL_IMAGE + '/data/file/addrem/' + file
      var link = document.createElement("a");
      // If you don't know the name or want to use
      // the webserver default set name = ''
      link.setAttribute('download', name);
      link.href = url;
      document.body.appendChild(link);
      link.click();
      link.remove();
    },
    reorder(lecture) {
      if (lecture.rebuy_lec == "") {
        this.alertNo('재구매를 할수없는 강좌입니다.')
        return;
      }
      else {
        let params = [];
        params.push({
          gubun: 'MOV',
          no: lecture.rebuy_lec,
          type: 'ALL'
        })
        CartApiService.addToCart(params).then(e => {
          if (e.success) {
            CartApiService.getCartUser({getBook : 1, order_by: 'desc'}).then(res => {
              let cart = res.data.find(item => item.lecture_id == lecture.rebuy_lec)
              if (cart) {
                this.$router.push({ path: '/mem-order', query: {uid: cart.uid}})
              }
            })
          }
        })
      }
    }
  }
}
</script>

<style scoped>

</style>
