<template>
  <div class="review-all-page">
    <div class="modal show modal-review" id="modal-review">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4>후기작성</h4>
            <a class="close" @click="hidePop($event)"></a>
          </div>
          <div class="modal-body">
            <div class="select-2-container">
              <select class="form-control" name="" id="" v-model="dataReview.lec_no">
                <option :value="lecture.lecture_no"  :key="key" v-for="(lecture, key) in lecture_info_review">{{lecture.title}}</option>
              </select>
            </div>
            <div class="box-rating">
              <h4>별점을 선택해주세요</h4>
              <div class="rating">
                <input type="radio" name="rating" v-model="dataReview.star" value="1"><i></i>
                <input type="radio" name="rating" v-model="dataReview.star" value="2"><i></i>
                <input type="radio" name="rating" v-model="dataReview.star" value="3"><i></i>
                <input type="radio" name="rating" v-model="dataReview.star" value="4"><i></i>
                <input type="radio" name="rating" v-model="dataReview.star" value="5"><i></i>
              </div>
            </div>
            <form>
              <div class="form-group">
                <label>제목 <span class="sup">*</span></label>
                <input type="text" name="" placeholder="제목을 입력하세요." v-model="dataReview.title">
              </div>
              <div class="form-group">
                <label>수강후기 <span class="sup">*</span></label>
                <textarea placeholder="평점은 최대 500자까지 등록 가능하며, 도배성 후기나 근거 없는 비방 등 부적절한 후기는 삭제처리 및 지급된 포인트는 회수 처리됩니다." v-model="dataReview.content1"></textarea>
                <div class="count-txt">{{dataReview.content1.length}} ／ 500</div>
              </div>
              <div class="attachment pr">
                <button type="button" class="btn_file1" >파일 선택</button>
                <input id="file" type="file" @change="setImageUpload" accept=".jpg, .gif, .png, .bmp, .hwp, .doc, .ppt, .xls, .zip, .pdf, .txt">
                <span class="attachment__name">{{dataReview.image ? dataReview.image.name : ''}}</span>
                <div class="attachment__guide">
                  <h4>파일 첨부 안내</h4>
                  <p>파일은 상담 시 필요한 경우 첨부해 주세요.</p>
                  <p>개인정보가 포함된 첨부파일은 상담 완료 후 즉각 파기되며, 상담 외의 </p>
                  <p>목적으로 사용되지 않습니다.</p>
                  <p>첨부파일 용량은 5MB미만이며, 1개 파일만 입력 가능합니다.</p>
                  <p>
                    첨부파일 확장자: jpg, gif, png, bmp, hwp, doc, ppt, xls, zip, pdf, txt
                  </p>
                </div>
              </div>
              <div class="note">
                <div class="note__header flex-lc">
                  <h4 class="flex-lc"><i class="icon icon-qs">?</i>포인트 적립 유의사항</h4>
                  <button type="button" class="btn_collapse dr ml-auto" data-toggle="collapse" data-target="#note"></button>
                </div>
                <div class="note__content collapse show" id="note">
                  <div class="box-text">
                    <p>수강후기는 실제 수강생만 작성할 수 있으며, 유료 결제 건의 대한 후기
                      에만 건별 포인트 1,000원을 지급합니다.
                    </p>
                    <p>후기 등록을 통한 포인트 지급은 일 최대 5건, 유료 결제금액의 10%이내
                      에서만 지급가능
                    </p>
                    <p>예시1) 1일 동안 7건 작성 시 5건에 대해서만 포인트 지급됩니다
                      (작성 날짜기준)
                    </p>
                    <p>예시2) 취업완성 프리패스를 250,000원에 결제한 고객은 후기 등록을
                      통한 포인트 지급은 최대 25,000원(250,000*10%)을 초과할 수 없습니다.
                    </p>
                  </div>
                </div>
                <button type="button" class="backtop">backtop</button>
              </div>
              <button @click="createReviewLecture" class="btn_submit flex-center">등록하기</button>
            </form>
          </div>

        </div>
      </div>
    </div>
    <ConfirmMainBanAction @actionEvent="submitReview" :title="message"></ConfirmMainBanAction>
  </div>

</template>

<script>
import {ReviewApiService} from "../../store/service.api";
import ConfirmMainBanAction from "./ConfirmMainBanAction";

export default {
  name: "ReviewWR",
  components: {ConfirmMainBanAction},
  data(){
    return {
      dataReview : {
        star : 5,
        title : '',
        content1 : '',
        image : null,
        user_id : this.$auth.$state.user.id,
        lec_type : 'lec',
        lec_no : null,
      },
      message : '',
      validation : false
    }
  },
  props : {
    lecture_info_review : {
      require : true
    },
  },
  mounted() {
    $(document).ready(function () {
      //call select2.min.js
      $('.select-2').select2();
      $('.backtop').on('click',function () {
        $('.modal-review').animate({scrollTop: 0},300);
      });
    });
  },
  methods : {
    setImageUpload(e){
      this.dataReview.image = e.target.files[0];
    },
    closeConfirmModal() {
      $(".review-all-page").find('#modal-confirm-action').modal('hide');
    },
    showPop(element, closeElement = null) {
      $(element).modal('show');
      closeElement ? $(closeElement).modal('hide') : 0;
    },
    hidePop(element, showModal = null) {
        $(element.target).parents('.modal-review').modal('hide');
    },
    createReviewLecture(e){

      e.preventDefault();
      if(!this.dataReview.lec_no){
        this.validation = false;
        this.showModalConfirm('강의를 선택하세요.');
        return ;
        // return alert('강의를 선택하세요')
      }
      if(!this.dataReview.title.length){
        this.validation = false;
        this.showModalConfirm('제목을 입력하세요.');
        return ;
        // return alert('제목을 입력하세요')
      }
      if(this.dataReview.title.length < 2 || this.dataReview.title.length > 25){
        this.validation = false;
        this.showModalConfirm('제목은 최소 2자 이상, 최대 25자 미만으로 입력해주세요.');
        return ;
        // return alert('내용 입력은 최소 5자 이상, 최대 30자 미만으로 입력해주세요')
      }
      if(!this.dataReview.content1.length){
        this.validation = false;
        this.showModalConfirm('내용을 입력하세요.');
        return ;
        // return alert('내용을 입력하세요')
      }
      if(this.dataReview.content1.length < 5 || this.dataReview.content1.length > 500){
        this.validation = false;
        this.showModalConfirm('내용 입력은 최소 5자 이상, 최대 500자 미만으로 입력해주세요 .');
        return ;
        // return alert('내용 입력은 최소 30자 이상, 최대 500자 미만으로 입력해주세요')
      }
      this.validation = true;
      this.showModalConfirm('수강 후기를 등록하시겠습니까?.');

      // let formData = new FormData();
      // formData.append('star', this.dataReview.star)
      // formData.append('title', this.dataReview.title)
      // formData.append('content1', this.dataReview.content1)
      // formData.append('image', this.dataReview.image)
      // formData.append('user_id', this.dataReview.user_id)
      // formData.append('lec_type', this.dataReview.lec_type)
      // formData.append('lec_no', this.dataReview.lec_no)

    },
    submitReview() {
      if (this.validation) {
        this.validation = false;
        ReviewApiService.createReview(this.dataReview).then(res => {
          if (res.success){
            location.reload();
            this.showModalConfirm('수강 후기가 등록되었습니다.');
            return ;
            // return alert('성공');
          }else{
            this.showModalConfirm('오류가 발생했습니다');
            return ;
            // return alert('오류가 발생했습니다')
          }
        });
      } else {
        this.closeConfirmModal();
      }

    },
    showModalConfirm(message) {
      this.message = message;
      $(".review-all-page").find('#modal-confirm-action').modal('show');
    }
  },
  watch : {
    'dataReview.content1' : function (){
      if(this.dataReview.content1.length > 500){
        this.dataReview.content1 = this.dataReview.content1.substr(0, 500)
        this.showModalConfirm('내용 입력은 최소 5자 이상, 최대 500자 미만으로 입력해주세요 .');
        // alert('내용 입력은 최소 30자 이상, 최대 500자 미만으로 입력해주세요')
      }
    },
    'dataReview.title' : function (){
      if(this.dataReview.title.length > 25){
        this.dataReview.title = this.dataReview.title.substr(0, 25)
        this.showModalConfirm('제목은 최소 2자 이상, 최대 25자 미만으로 입력해주세요.');
        // alert('내용 입력은 최소 5자 이상, 최대 30자 미만으로 입력해주세요')
      }
    },
    lecture_info_review(newVal) {
      this.dataReview.lec_no = newVal ? newVal[0].lecture_no : null;
    }
  }
}
</script>

<style scoped>
  select.select-2{
    display: none !important;
  }
</style>
