<template>
  <div class="modal modal-md fade modal-goalset" id="modal-goalset">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="title"><span class="color_public">축!</span> 독한 스터디 <span class="color_public">{{data.week}}주 목표 달성</span></h4>
          <a href="javascript:;" class="close" data-dismiss="modal"></a>
        </div>
        <div class="modal-body">
          <div class="text">
            <p>다음 공기업 최종 합격의 주인공은</p>
            <p>바로 당신입니다.</p>
          </div>
          <div class="reminder">
            우리가 함께 공부한 시간 총 5,000여분,
            합격하는 1%의 공부습관을 완성한
            <span class="color_public"> {{this.loggedInUser.nick ? this.loggedInUser.nick : this.loggedInUser.name}} </span>님에게 이제 남은 건 오직 최종합격입니다.
          </div>
          <ul class="statistical_study">
            <li>
              <p>4주차 당신의 누적 학습량은 스터디원 중</p>
              <span class="color_public">{{data.seatTxt}}</span>입니다.
            </li>
            <li>
              <p>4주차 당신의 누적학습시간은</p>
              <span class="color_public">{{data.timeTxt}}</span>입니다.
            </li>
          </ul>
          <div class="banner-decision">
            <h5>당신의 결심을 주변에 알려보세요!</h5>
            <p>목표는 널리 알릴수록 달성할 가능성이 높아진다고 합니다.</p>
            <div class="box-btn flex">
              <button type="button" class="btn_dl flex-center" @click="download($event)"><i class="icon icon-dl"></i> 이미지다운</button>
              <button type="button" class="btn_talk flex-center" @click="shareKakao($event)"><i class="icon icon-talk"></i> 카카오톡</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>


import {mapGetters} from "vuex";
import moment from "moment";

export default {
  name: "StudyGoal",
  props : ['data'],
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser']),
  },
  methods: {
    download(e) {
      let _url = "https://ncs.letuin.com";
      let seat = this.data.seat;
      let time = this.data.time;
      let cnt = this.data.userCnt;
      let week = this.data.week;
      let lms_title = this.data.lms_title;
      let sex = this.loggedInUser.sex.toLowerCase();
      //해당 주소에서는 이미지와 문자열들을 합치는 파일
      var img = _url + "/data/temp/mypage/LmsStudy/kakaoShareImg.php?week=" + week + "&sex=" + sex + "&seat=" + seat + "&time=" + time + "&cnt=" + cnt;
      var xhr = new XMLHttpRequest();
      xhr.open("GET", img, true);
      xhr.responseType = "blob";
      xhr.onload = function(){
        var urlCreator = window.URL || window.webkitURL;
        var imageUrl = urlCreator.createObjectURL(this.response);
        var tag = document.createElement('a');
        tag.href = imageUrl;
        tag.download = lms_title + '_' + week + '주차 목표달성';
        document.body.appendChild(tag);
        tag.click();
        document.body.removeChild(tag);
      }
      xhr.send();
    },
    shareKakao(e) {
      let _url = "https://ncs.letuin.com";
      let seat = this.data.seat;
      let time = this.data.time;
      let cnt = this.data.userCnt;
      let week = this.data.week;
      let sex = this.loggedInUser.sex.toLowerCase();
      var dec = "";
      if (week == 1) {
        dec = "공기업 최종합격을 위해 열심히 달려갈 수 있도록 응원메세지를 건네보는 건 어떨까요?";
      } else if (week == 2) {
        dec = "합격하는 1%의 공부습관 형성을 위한 여정! 벌써 목표의 절반을 달성했어요!";
      } else if (week == 3) {
        dec = "합격하는 1%의 공부습관을 만들기까지 단 1주일! 응원의 메시지를 건네보세요!";
      } else if (week == 4) {
        dec = "4주간 정말 독하게 공부하셨네요! 이제 남은 건 오직 공기업 최종합격 뿐! 아자!";
      }
      //해당 주소에서는 이미지와 문자열들을 합치는 파일
      var img = _url + "/data/temp/mypage/LmsStudy/kakaoShareImg.php?week=" + week + "&sex=" + sex + "&seat=" + seat + "&time=" + time + "&cnt=" + cnt;
      this.$kakao.Link.sendDefault({
        objectType: 'feed',
        content: {
          title: '독한스터디 ' + week + '주차 목표달성 성공!',
          description: dec,
          imageUrl: img,
          imageWidth: 800,
          imageHeight: 800,
          link: {
            webUrl: _url + '/promotion.php?action=LmsFreeStudy',
            mobileWebUrl: _url + '/promotion.php?action=LmsFreeStudy'
          }
        }, buttons: [{
          title: '독한스터디 확인하기',
          link: {
            webUrl: _url + '/promotion.php?action=LmsFreeStudy',
            mobileWebUrl: _url + '/promotion.php?action=LmsFreeStudy'
          }
        }]
      });
    }
  }
}
</script>

<style scoped>

</style>
