<template>
  <div class="modal modal-md show modal-goalset" id="modal-goal-set">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="title">학습 목표 설정</h4>
          <a href="javascript:;" class="close" data-dismiss="modal"></a>
        </div>
        <div class="modal-body">
          <div class="text">
            <p>당신의 <strong>성공습관</strong>,</p>
            <p>지금부터 만들어보세요.</p>
          </div>
          <div class="reminder">
            <span class="color_public">{{this.loggedInUser.nick ? this.loggedInUser.nick : this.loggedInUser.name}}</span> 님, <strong>동기부여를 위해 학습목표를 설정해주세요!</strong>
            완강 시 마다 완료 스탬프를 찍어 드립니다!
            <strong>성공도 습관입니다.</strong>
          </div>
          <div class="checkbox">
            <label class="flex-lc pr">
              <input type="radio" v-model="goalType" value="1" disabled>
<!--              <span class="checked flex-center"></span>-->
              <span>  기본코스</span>
            </label>
            <div class="process pr">
              <div class="process__current background_public_1" :style="'width:'+  data.target_period +'%;'"></div>
              <p><span>({{ data.target_period }} %)</span> 일 완성</p>
            </div>
          </div>
          <div class="checkbox">
            <label class="flex-lc pr">
              <input type="radio" v-model="goalType" value="2">
<!--              <span class="checked flex-center"></span>-->
              <span class="color_public">  NCS 독한 스터디</span>
            </label>
            <div class="process pr">
              <div class="process__current background_public_1" :style="'width:'+  data.target_period +'%;'"></div>
              <p style="left: 47%; right: inherit;" class="active background_public_1"><span>{{ data.rcmnd_period }}</span>일 완성</p>
            </div>
          </div>
          <div class="infostudy" v-show="goalType == 2">
            <div class="item flex">
              <h5>강의 수</h5>
              <div class="item__content">
                <p>전체 <span class="color_public">{{ data.casi_cnt }}</span> 강</p>
              </div>
            </div>
            <div class="item flex">
              <h5>추천 기간</h5>
              <div class="item__content">
                <p><span class="color_public">{{data.week}}</span> 일</p>
                <time>{{formatDateTime(data.re_date, format)}} ~ {{formatDateTime(data.s_date, format)}}</time>
              </div>
            </div>
            <div class="item flex">
              <h5>일 평균 수강 수</h5>
              <div class="item__content">
                <p><span class="color_public">{{ Math.ceil(data.casi_cnt / data.target_period)}}</span> 강</p>
              </div>
            </div>
          </div>
          <button type="button" class="btn_send btn_pr flex-center background_public_1" @click="submitData">학습 목표 확인 및 스터디 시작</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapGetters} from "vuex";
import {formatDate} from "../../common/helpers";
import {GuideBookApiService} from "../../store/service.api";

export default {
  name: "StudyGoalSet",
  props : ['data', 'lecture', 'lms_no'],
  methods : {
    formatDateTime(time, format) {
      return formatDate(time, format)
    },
    submitData () {
      let data = {
        "mystudy_uid": this.$props.lecture.muid,
        "user_id": this.loggedInUser.id,
        "lms_no": this.$props.lms_no,
        "goal_type": this.goalType
      }
      GuideBookApiService.setStudyGoalSet(data)
      $('#modal-goal-set').modal('hide')
      this.$router.push('/course-detail/' + this.lecture.muid + '/' + this.lecture.no + '/' + this.lecture.lec_no)
    }
  },
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser']),
  },
  data() {
    return {
      format : 'YYYY-MM-DD',
      goalType: 2
    }
  }
}
</script>

<style scoped>
.item__content{
  display: block !important;
}

  .flex-lc span {
    padding-left: 5px;
  }
</style>
