<template>
  <div class="modal modal-md show modal-studytutorial" id="modal-studytutorial">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="title">독한 스터디 <span class="color_public">미션</span> 안내</h4>
          <a href="javascript:;" class="close" @click="submit"></a>
        </div>
        <div class="modal-body">
          <div class="text">
            <p>지금부터 <strong>독한 NCS 스터디</strong>가</p>
            <p>본격적으로 시작됩니다.</p>
          </div>
          <div class="reminder">
            <strong>합격을 위한 주차별 미션과 커리큘럼을 꼭! 따라와주세요.</strong>
            합격하겠다는 독한 의지만 있다면, <span class="color_public">NCS PSAT 전 영역,</span>
            <span class="color_public">전부 무료(40만원 상당)</span>입니다.
          </div>
          <div class="mission">
            <h4 class="h4-title">주차별 미션</h4>
            <ul class="mission__list">
              <li class="flex-lc">
                <span>1</span>
                <div class="space">|</div>
                <h5>강의 진도율 미션</h5>
                <p class="color_public">70% 미만 퇴출</p>
              </li>
              <li class="flex-lc">
                <span>2</span>
                <div class="space">|</div>
                <h5>주차별 학습일지 미션</h5>
                <p class="color_public">주 3회 미만 퇴출</p>
              </li>
              <li class="flex-lc">
                <span>3</span>
                <div class="space">|</div>
                <h5>시험응시 미션</h5>
                <p class="color_public">70% 미만 퇴출</p>
              </li>
            </ul>
            <div class="checkbox flex-center">
              <label class="flex-lc">
                <input type="checkbox" @change="changeSelected">
                <span class="checked flex-center"></span>
                NCS 독한 스터디 미션을 모두 확인하였습니다.
              </label>
            </div>
          </div>
          <button type="button" class="btn_send btn_pr flex-center background_public_1" disabled style="opacity: 0.5" @click="submit">독한 스터디 시작하기</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from "vuex";
  import {GuideBookApiService} from "../../store/service.api";
export default {
  name: "StudyTutorial",
  data(){
    return {
      isSelected : false
    }
  },
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser']),
  },
  methods : {
    changeSelected(){
      this.isSelected = !this.isSelected;
    },
    submit() {
      GuideBookApiService.setTrackingTutorialPopup({user_id: this.loggedInUser.id})
      $('#modal-studytutorial').modal('hide')
    }
  },
  watch : {
    isSelected : function (){
      let submit = $('.btn_send');
      if (this.isSelected){
        submit.removeAttr('disabled')
        submit.css('opacity', 1)
      }else{
        submit.attr('disabled', 'disabled')
        submit.css('opacity', 0.5)
      }
    }
  }
}
</script>

<style scoped>

</style>
