<template>
  <div class="modal modal-md fade modal-testreport" id="modal-testreport">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="title">모의고사 결과</h4>
          <button type="button" class="btn_viewmode">엑셀보기</button>
          <a href="javascript:;" class="close" data-dismiss="modal"></a>
        </div>
        <div class="modal-body">
          <div class="text">
            <p>렛유인 삼성그룹(GSAT)</p>
            <p>직무적성검사 결과표</p>
          </div>
          <div class="reminder">
            본 베타테스트는 평가의 난이도 조절, 응시자 시험결과에
            따른 추천 데이터 신뢰성 향상 등 프로그램의 개선을 위해
            임시로 진행되는 서비스입니다.
          </div>
          <div class="report">
            <div class="report__header">
              <h4>응시자 정보</h4>
            </div>
            <ul class="report__list">
              <li>
                <h5>아이디 </h5>
                <p>{{data.result1.length ? data.result1[0].userid : ''}}</p>
              </li>
              <li>
                <h5>응시일</h5>
                <p>{{data.result1.length ? formatDate(data.result1[0].qr_datetime) : ''}}</p>
              </li>
              <li>
                <h5>학교명</h5>
                <p>{{data.result1.length ? (data.result1[0].qr_uni) : ''}}</p>
              </li>
              <li>
                <h5>전공</h5>
                <p>{{data.result1.length ? (data.result1[0].qr_major) : ''}}</p>
              </li>
              <li>
                <h5>학점</h5>
                <p><span>{{data.result1.length ? (data.result1[0].qr_score) : ''}}</span> / {{data.result1.length ? (data.result1[0].qr_t_score) : ''}} 점</p>
              </li>
              <li>
                <h5>지원희망기업</h5>
                <p>{{data.result1.length ? (data.result1[0].qr_cp) : ''}}</p>
              </li>
            </ul>
          </div>
          <div class="report">
            <div class="report__header">
              <h4>응시 결과</h4>
            </div>
            <ul class="report__list">
              <li>
                <h5>점수 </h5>
                <div class="score flex">
                  <div>
                    <p>본인점수</p>
                    <p><span>{{ data.test_report['본인점수']}}</span> 점</p>
                  </div>
                  <div class="space">/</div>
                  <div>
                    <p>평균</p>
                    <p><span>{{ data.test_report['총점수']}}</span> 점</p>
                  </div>
                </div>
              </li>
              <li>
                <h5>석차</h5>
                <p><span>{{ data.test_report['석차']}}</span> % (백분위)</p>
              </li>
            </ul>
          </div>
          <div class="report">
            <div class="report__header flex-lc">
              <h4>영역별 세부결과</h4>
              <p class="ml-auto">총 31 점 ( 200 점 만점 )</p>
            </div>
            <table>
              <thead>
              <tr>
                <th><h5>영역</h5></th>
                <th><h5>만점</h5></th>
                <th><h5>본인점수</h5></th>
                <th><h5>평균</h5></th>
                <th><h5>석차(%)</h5></th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="(rs, key) in data.result1">
                <td><p v-if="key == 0">수리논리</p><p v-else>추리논리</p></td>
                <td><p>{{ rs.qr_total }} 점</p></td>
                <td><p><span>{{ rs.qr_score_total }}</span> 점</p></td>
                <td><p>{{ rs.avg_score }} 점</p></td>
                <td><p><span>{{ rs.ranking_per }}</span> %</p></td>
              </tr>
              </tbody>
            </table>
<!--            <table>-->
<!--              <tbody>-->
<!--              <tr>-->
<!--                <td><p>추리</p></td>-->
<!--                <td><p>100 점</p></td>-->
<!--                <td><p><span>6</span> 점</p></td>-->
<!--                <td><p>6 점</p></td>-->
<!--                <td><p><span>0</span> %</p></td>-->
<!--              </tr>-->
<!--              </tbody>-->
<!--            </table>-->
            <div class="box-collapse" v-show="data.result2.length" v-for="(rs, index) in data.result2">
              <div class="header flex-lc">
                <h5><strong>{{ rs.qc_name }}</strong> : <span>{{ rs.comment_btn }}</span></h5>
                <button type="button" class="flex-lc ml-auto" data-toggle="collapse" :data-target="'#collapse_'+index">영역별 코멘트 <i class="icon icon-arr"></i></button>
              </div>
              <div :id="'collapse_' + index" class="collapse show">
                <article v-html="rs.feedback">
                </article>
              </div>
            </div>
            <div class="note">※ 점수 배점 및 만점은 실제 시험과 상이할 수 있습니다.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {formatDate} from "../../common/helpers";

export default {
  name: "TestReport",
  props : {
    data : {
      require : true
    },
  },
  methods : {
    formatDate(date) {
      return formatDate(date)
    },
  }
}
</script>

<style scoped>

</style>
