<template>
  <main>
    <div class="category pr">
      <ul class="category__list category__list--1 flex">
        <li><a href="/lecture/offline?limit=10&offset=0&order_type=C&field=teacher_id">이공계  <br> 강의 수강신청</a></li>
        <li><a href="/lecture/offline?limit=10&offset=0&order_type=C&field=teacher_id&category=020306">SW 강의 <br> 수강신청</a></li>
        <li><a :href="url + '/promotion.php?action=practice'" target="_blank">공정/회로실습</a> </li>
      </ul>
      <ul class="category__list category__list--2 flex" style="display: none">
        <li><a :href="url + '/promotion.php?action=course_promotion'" target="_blank">국비지원 <br>과정</a></li>
        <li><a :href="url + '/promotion.php?action=off_freeLec'" target="_blank">무료취업특강</a></li>
        <li><a :href="url + '/notice.php?action=custom_lecture'" target="_blank">무료수강상담</a></li>
      </ul>
      <button type="button" class="btn_collapse"></button>
    </div>
    <div class="advisory flex-lc">
      <div class="text">
        <p>실무 면접관, 엔지니어 전문가 </p>
        <p>선생님들께 직접 상담 받으세요!</p>
      </div>
      <a href="https://www.letuin.com/promotion.php?action=career_consulting" title="" target="_blank" class="btn_register flex-center">무료 컨설팅 신청</a>
    </div>
    <BannerTop :banners="this.banners" :url="url"></BannerTop>
    <div class="intro" v-show="this.intros.length">
      <h2 class="title"><span>이 강의 어때요?</span>선생님이 말하는 강의소개</h2>
      <div class="intro__list">
        <OfflineIntroItem v-for="(intro, key) in this.intros" :key="key" :lecture="intro" :url="url"></OfflineIntroItem>
      </div>
    </div>
    <div class="banner-middle flex-center" v-if="this.middle_banner1.length">
      <a :href="this.middle_banner1[0].link" :target="this.middle_banner1[0].target"><img :src="url + '/data_user/banner/' + this.middle_banner1[0].upload" alt=""></a>
    </div>
    <div class="banner-middle flex-center" v-else>
      <a href="">OL_Middle Banne 1</a>
    </div>
    <div class="recommended recommended-cs" v-show="this.recommendLectures.length">
      <h2 class="title flex-lc">지금 딱 이 강좌! <span> 추천 학원강의</span></h2>
      <OfflineRecommendItem v-for="(lecture, key) in this.recommendLectures" :key="key" :data="lecture" :url="url"></OfflineRecommendItem>
    </div>
    <div class="box-calendar">
      <h2 class="title flex-lc"><span>학원강의  </span> 월간 시간표</h2>
      <div class="calendar_nav flex-lc">
        <button type="button" class="backToCurrentDate">오늘</button>
        <ul class="tab nav flex ml-auto">
          <li><a href="#tab1" title="" class="active" data-toggle="tab">월별</a></li>
          <li><a href="#tab2" title="" data-toggle="tab">목록별</a></li>
        </ul>
      </div>
      <div class="tab-content">
        <div id="tab1" class="tab-pane fade show active">
          <div id="calendar-container" class="calendar-container"></div>
          <ul class="calendar_note flex">
            <li><span class="tag tag1"></span> 이공계 강의</li>
            <li><span class="tag tag2"></span> 공기업 강의</li>
            <li><span class="tag tag3"></span> 무료 특강</li>
          </ul>
        </div>
        <div id="tab2" class="tab-pane fade">
          <div class="header flex-lc">
            <h5>전체 <span>{{ this.event.length }}</span> 건</h5>
            <div class="checkbox ml-auto">
              <label class="flex-lc">
                <input type="checkbox">
                <span class="checked flex-center"></span>
                마감 제외
              </label>
            </div>
          </div>
          <div class="list">
            <div class="item flex" v-for="item in this.event" :key="item.uid">
              <div class="item__left">
                <span :class="'tag ' + item.tag"></span>
                <time>{{ item.study_starts }}({{ item.dayofWeek }})</time>
                <a href="" title="" class="btn_recruitment">{{ item.status }}</a>
              </div>
              <div class="item__right">
                <h3 @click="clickOnElement(item)">{{ item.subject }}</h3>
                <p><span>{{ item.teacher }}</span> 수강기간 : {{ item.startStr }} ~  {{ item.endStr }} (총 {{ item.times }}/일)</p>
              </div>
            </div>
          </div>
          <ul class="calendar_note flex">
            <li><span class="tag tag1"></span> 이공계 강의</li>
            <li><span class="tag tag2"></span> 공기업 강의</li>
            <li><span class="tag tag3"></span> 무료 특강</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="practice">
      <div class="header flex">
        <h2 class="title"><span>이론으로 배웠던 내용,</span> 직접 실습하고 싶다면?</h2>
        <a :href="url + '/promotion.php?action=practice'" target="_blank" class="btn_more ml-auto">MORE +</a>
      </div>
      <div class="scrollbar">
        <div class="practice__list flex">
          <div class="item pr" v-for="off in this.off2" :key="off.id">
            <a :href="off.link" target="_blank"><img :src="url + '/data_user/banner/' + off.upload" :alt="off.subject"></a>
<!--            <span class="tag">사전예약</span>-->
          </div>
        </div>
      </div>
    </div>
    <BookEvent v-show="this.events.length" :events="this.events" :url="url"></BookEvent>
    <div class="partner" v-show="this.schools.length">
      <h2>
        {{this.schools.length}}개의 대학과 사업처가 렛유인과 함께 <br>
        이공계 취업을 준비하고 있습니다.
      </h2>
      <div class="scrollbar" style="overflow-y: hidden !important; overflow-x: hidden !important;">
        <ul class="partner__list flex">
          <li v-for="data in this.schools" :key="data.id">
            <a :href="data.upload" :target="data.target" >
              <img :src="url + '/data_user/banner/' + data.upload" :alt="data.subject">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <button type="button" class="backtop">backtop</button>
  </main>
</template>

<script>
  import BannerTop from "../components/main/BannerTop";
  import OfflineIntroItem from "../components/main/OfflineIntroItem";
  import OfflineRecommendItem from "../components/main/OfflineRecommendItem";
  import BookEvent from "../components/main/BookEvent";
  import {BannerApiService, LectureOnlineService} from "../store/service.api";
  import {URL_IMAGE} from "../config";
export default {
  name: "academy-main",
  components: {
    BannerTop,
    OfflineIntroItem,
    OfflineRecommendItem,
    BookEvent
  },
  head: {
    script: [
      {src: '/js/jquery.simple-calendar.js'},
      {src: '/js/academy-main.js'},
      {src: '/js/autoscroll.min.js'},
    ]
  },
  mounted() {
    let event = this.calendars.map(item => {
      let startDate = new Date(item.study_start),
        monthStart = '' + (startDate.getMonth() + 1),
        dayStart = '' + startDate.getDate(),
        yearStart = startDate.getFullYear().toString().substr(-2);
      let endDate = new Date(item.study_end),
        monthEnd = '' + (endDate.getMonth() + 1),
        dayEnd = '' + endDate.getDate(),
        yearEnd = endDate.getFullYear().toString().substr(-2);
      if (monthStart.length < 2)
        monthStart = '0' + monthStart;
      if (dayStart.length < 2)
        dayStart = '0' + dayStart;

      if (monthEnd.length < 2)
        monthEnd = '0' + monthEnd;
      if (dayEnd.length < 2)
        dayStart = '0' + dayEnd;
      let object = {
        startDate: startDate.toDateString(),
        endDate: startDate.toISOString(),
        dayofWeek: item.list_yoil,
        study_starts: item.study_starts,
        startStr: [yearStart, monthStart, dayStart].join('-'),
        endStr: [yearEnd, monthEnd, dayEnd].join('-'),
        subject: item.subject,
        teacher: item.teacher,
        times: item.times,
        status: item.status,
        tag: item.type.replace('event', 'tag'),
        summary: `<div class="label details_lecture">`+ item.status +'</div>'+
          `<h4 class="details_lecture" data-item='${JSON.stringify(item)}'>` + item.subject + '</h4>'+
          '<p><span>' + item.teacher + '</span> 수강기간 : '+ [yearStart, monthStart, dayStart].join('-') + ' ~ ' +  [yearEnd, monthEnd, dayEnd].join('-') + '  (총 '+ item.times +'/일)</p>',
        class: item.type
      }
      return object
    })

    this.event = event
    let _self = this.event
    $(document).ready(function () {
      $("#calendar-container").simpleCalendar({
        fixedStartDay: 0, // begin weeks by sunday
        disableEmptyDetails: true,
        events: _self,
      });
      $(".event-container .close").click(function (e) {
        e.preventDefault()
        let parent = $(this).parent()
        parent.find('.event').remove();
        parent.hide()
        let filler = parent.parent().find('.filler');
        filler.css("width", "300%");
        filler.css("height", "300%");
        filler.show();
        filler.animate({
          width: "0%",
          height: "0%"
        }, 500, function () {
          filler.remove();
        });
      });
    })
  },

  async asyncData(context) {
    const datas = await Promise.all([
      BannerApiService.getBannerByCategory('m_of_main'),
      LectureOnlineService.getRecommendLecture({
        category: 'm_of_teacher_intro'
      }),
      LectureOnlineService.getRecommendLecture({
        category: 'm_of_recom'
      }),
      BannerApiService.getBannerByCategory('m_of_traning'),
      BannerApiService.getBannerByCategory('제휴기관'),
      BannerApiService.getCalendar(),
      BannerApiService.getBannerByCategory('m_of_md1'),
      BannerApiService.getBannerByCategory('m_of_md2'),
      BannerApiService.getBannerByCategory('m_of_event'),
    ])
    return {
      banners: datas[0].data,
      intros: datas[1].data,
      recommendLectures: datas[2].data,
      off2: datas[3].data,
      schools: datas[4].data,
      calendars: datas[5].data,
      middle_banner1: datas[6].data,
      middle_banner2: datas[7].data,
      events: datas[8].data,
    }
  },
  data() {
    return {
      url: URL_IMAGE,
      event: []
    }
  },
  methods: {
    clickOnElement(item) {
      let element = $($(item.summary)[1]).data('item');
      this.gotoDetail(element);
    },
    gotoDetail(item) {
      if (item.uid == "668") {
        window.open('https://www.letuin.com/lecture.php?action=sfreepass', '_blank');
        return;
      } else if (item.uid == 774 || item.uid == 775 || item.uid == 776 || item.uid == 802 || item.uid == 803 || item.uid == 807 || item.uid == 808) {
        window.open('https://www.letuin.com/promotion.php?action=GsatFreePass', '_blank');
        return;
      }
      if (typeof item.uid !== 'undefined') {
        this.$router.push('/details/package/' + item.uid)
        return ;
      } else {
        if (item.is_off === "B") {
          this.$router.push('/details/companybook/' + item.no)
          return ;
        }
        this.$router.push('/details/single/' + item.no)
        return ;
      }
    },
      formatDate(date) {
        let d = new Date(date),
          month = '' + (d.getMonth() + 1),
          day = '' + d.getDate(),
          year = d.getFullYear();

        if (month.length < 2)
          month = '0' + month;
        if (day.length < 2)
          day = '0' + day;

        return [year, month, day].join('-');
    }
  }
}
</script>
