<template>
  <div>
    <main>
      <BannerTop :banners="this.banners" :url="url"></BannerTop>
      <Notice :notifications="this.notifications" :url="url"></Notice>
      <div class="menu-accordion">
        <div class="item">
          <div class="header flex-lc">
            <a href="/online-main" ><h4>이공계 취업</h4></a>
            <div class="keyword flex">
              <a href="#" title="">#키워드여섯개</a>
              <a href="#" title="">#키워드여섯개</a>
              <a href="#" title="">#키워드여섯개</a>
            </div>
            <button type="button" class="btn_collapse ml-auto"></button>
          </div>
          <ul class="menu flex">
            <li><a href="/lecture/online?limit=10&offset=0&order_type=C&field=teacher_id">수강신청</a></li>
            <li><a href="/lecture/online?type=pack&limit=10&offset=0&order_type=C&field=teacher_id">패키지 수강신청</a></li>
            <li><a href="/lecture/online?limit=10&offset=0&order_type=C&field=teacher_id&category=010402">NCS수료증 발급강의</a></li>
            <li><a href="https://www.letuin.com/lecture.php?action=freepass10" target="_blank">0원 프리패스</a></li>
            <li><a :href="url + '/lecture.php?action=sfreepass'" target="_blank">삼성 프리패스<span class="status">BEST</span></a></li>
            <li><a :href="url + '/promotion.php?action=Addrem'" target="_blank">자소서 첨삭</a></li>
            <li><a :href="url + '/promotion.php?action=evaluation'" target="_blank">반도체 직무역량평가</a></li>
            <li><a :href="url + '/newpage.php?no=0501'" target="_blank">디스플레이 직무역량평가</a></li>
            <li><a :href="url + '/promotion.php?action=evaluation'" target="_blank">온라인 직무적성검사</a></li>
          </ul>
        </div>
        <div class="item">
          <div class="header flex-lc">
            <a href="/public-main"><h4>공기업 취업</h4></a>
            <div class="keyword flex">
              <a href="#" title="">#키워드여섯개</a>
              <a href="#" title="">#키워드여섯개</a>
              <a href="#" title="">#키워드여섯개</a>
            </div>
            <button type="button" class="btn_collapse ml-auto"></button>
          </div>
          <ul class="menu flex">
            <li><a :href="url_public + '/promotion.php?action=LmsFreeStudy'" target="_blank">독한 스터디</a></li>
            <li><a href="/lecture/public?limit=10&offset=0&order_type=C&field=teacher_id&lec_type=online&keyword_new=&category=08">수강신청</a></li>
            <li><a :href="url_public + '/promotion.php?action=300_free'" target="_blank">300% 환급 프리패스</a></li>
            <li><a :href="url_public + '/promotion.php?action=ncsOnline'" target="_blank">NCS 온라인 모의고사</a></li>
            <li><a :href="url_public + '/lecture.php?action=CompanyBook'" target="_blank">취업기업분석 <span class="status">BEST</span></a> </li>
            <li><a @click="gotoPage('/textbook-list')">도서</a></li>
<!--            <li><a href="https://www.letuin.com/lecture.php?field=teacher_id&orderType=&action=list2&type=&category%5B3%5D%5B1%5D=010402" target="_blank">NCS 직업교육</a></li>-->
          </ul>
        </div>
        <div class="item">
          <div class="header flex-lc">
            <a href="/swit-main"><h4>SW/IT취업</h4></a>
            <div class="keyword flex">
              <a href="#" title="">#키워드여섯개</a>
              <a href="#" title="">#키워드여섯개</a>
              <a href="#" title="">#키워드여섯개</a>
            </div>
            <button type="button" class="btn_collapse ml-auto"></button>
          </div>
          <ul class="menu flex">
            <li><a href="/lecture/swit?limit=10&offset=0&order_type=C&field=teacher_id&category=010206">수강신청 <span class="status">BEST</span></a> </li>
            <li><a href="/lecture/swit?limit=10&offset=0&order_type=C&field=teacher_id&category=010206">프로젝트 강의</a></li>
            <li><a :href="url + '/lecture.php?action=CompanyBook'">취업가이드북</a></li>
          </ul>
        </div>
        <div class="item">
          <div class="header flex-lc">
            <a  href="/academy-main"> <h4>학원강의</h4></a>
            <div class="keyword flex">
              <a href="#" title="">#키워드여섯개</a>
              <a href="#" title="">#키워드여섯개</a>
              <a href="#" title="">#키워드여섯개</a>
            </div>
            <button type="button" class="btn_collapse ml-auto"></button>
          </div>
          <ul class="menu flex">
            <li><a href="/lecture/offline?limit=10&offset=0&order_type=C&field=teacher_id">이공계 강의 수강신청</a></li>
            <li><a href="/lecture/offline?limit=10&offset=0&order_type=C&field=teacher_id&category=020306">SW 강의 수강신청</a></li>
            <li><a :href="url + '/promotion.php?action=practice'" target="_blank">공정/회로실습 <span class="status">BEST</span></a> </li>
            <li><a :href="url + '/promotion.php?action=course_promotion'" target="_blank">국비지원 과정</a></li>
            <li><a :href="url + '/promotion.php?action=off_freeLec'" target="_blank">무료취업특강</a></li>
            <li><a :href="url + '//notice.php?action=custom_lecture'" target="_blank">무료수강상담</a></li>
          </ul>
        </div>
      </div>
      <div class="banner-middle gray flex-center">Middle Text Banner Area</div>
<!--      <WinnerBanner :winners="this.winners" :url="url" link="/board.php?action=boardPass&off_type=online"></WinnerBanner>-->
      <div class="review">
        <div class="header flex">
          <div class="header__dt">
            <h2>공유인 <span>합격 명예의 전당</span></h2>
            <p>누적 합격자(‘15~19’) <span>11,388명</span></p>
          </div>
        </div>
        <div class="scrollbar" id="review_home">
          <div class="review__list flex">
            <div class="item p-0" v-for="winner in this.winners" :key="winner.id">
              <a :href="winner.link" :target="winner.target"><img :src="url + '/data_user/banner/' + winner.upload" :alt="winner.subject"></a>
            </div>
          </div>
        </div>
        <a :href="url + '/board.php?action=boardPass&off_type=online'" title="More" class="btn_link_more flex-center">+ More</a>
      </div>
    </main>
    <button type="button" class="backtop">backtop</button>
  </div>
</template>

<script>
  import BannerTop from "../components/main/BannerTop";
  import WinnerBanner from "../components/main/WinnerBanner";
  import Notice from "../components/main/Notice";
  import {BannerApiService, NotificationApiService} from "../store/service.api";
  import { URL_IMAGE, URL_PUBLIC } from "../config";

  export default {
    name: "index",
    components: {
      BannerTop,
      WinnerBanner,
      Notice
    },
    async asyncData() {
      const datas = await Promise.all([
        BannerApiService.getBannerByCategory('m_main'),
        NotificationApiService.getNotifications({
          'page': 1,
          'limit': 5
        }),
        BannerApiService.getBannerByCategory('m_winner'),
        BannerApiService.getBannerByCategory('m_md_text'),
      ])
      return {
        banners: datas[0].data,
        notifications: datas[1].data.rows,
        winners: datas[2].data,
        middle_banners: datas[3].data,
      }
    },
    data() {
      return {
        url: URL_IMAGE,
        url_public: URL_PUBLIC
      }
    },
    mounted() {
      $(document).ready(function () {
        //call slick js
        $('.banner').slick({
          centerMode: false,
          slidesToShow: 1,
          slidesToScroll: 1,
          fade: false,
          centerPadding: 0,
          dots: true,
          arrows: true,
          autoplay: true,
          autoplaySpeed: 4000,
        });
        $('.backtop').on('click',function () {
          $('html,body').animate({scrollTop: 0},300);
        });
      });
      if (this.$cookies.get('showMyClass')) {
         this.showCollapse = true;

         $(this.$cookies.get('showMyClass')).modal('show');
         this.$cookies.set('showMyClass', false);

      }
    },
    methods: {
      gotoPage(link) {
        this.$router.push(link)
        this.$nuxt.$emit('change-link', link)
      }
    }
  }
</script>

<style>
  /*@media (min-width: 376px) and (max-width: 414px) and (max-height: 736px) {*/
  /*  .review .review__list {*/
  /*    min-width: 1910px !important;*/
  /*  }*/
  /*}*/
  /*@media screen and (max-width: 375px) and (max-height: 812px) {*/
  /*  .review .review__list {*/
  /*    min-width: 1730px !important;*/
  /*  }*/
  /*}*/
</style>
