<template>
  <main class="pt-0 login-form">
    <div class="login">
      <nuxt-link to="/">
        <div class="login__img">
          <img src="~/assets/img/logo5.png" alt="">
        </div>
      </nuxt-link>
      <form class="login__form" v-on:submit.prevent="userLogin">
        <div class="form-group">
          <input type="text" v-model.trim="user.id" :class="[{ 'is-invalid': $v.user.id.$error }, 'form-control']" placeholder="아이디">
          <i class="icon icon-user"></i>
          <div class="invalid-feedback" v-if="$v.user.id.$error">
            <span class="error_message" v-if="!$v.user.id.required">
              {{ msgValidate('required', '아이디를') }}</span>
          </div>
        </div>
        <div class="form-group">
          <input type="password"  :class="[{ 'is-invalid': $v.user.password.$error }, 'form-control']" v-model.trim="user.password" placeholder="비밀번호">
          <i class="icon icon-pass"></i>
          <div class="invalid-feedback" v-if="$v.user.password.$error">
            <span class="error_message" v-if="!$v.user.password.required">
              {{ msgValidate('required', '비밀번호를') }}</span>
            <span class="error_message" v-if="!$v.user.password.minLength">
              {{ msgValidate('minLength') }}</span>
            <span class="error_message" v-if="!$v.user.password.maxLength">
              {{ msgValidate('maxLength') }}</span>
          </div>
        </div>
        <div class="checkbox pr">
          <label class="flex-lc">
            <input type="checkbox" v-model.trim="save_id">
            <span class="checked flex-center"></span>
            아이디 저장
          </label>
        </div>
        <button type="submit" class="btn_login flex-center">로그인</button>
      </form>
      <div class="login__link flex">
        <nuxt-link to="/find-id/phone" title="">아이디 찾기</nuxt-link>
        <nuxt-link to="/find-password/phone"> 비밀번호 찾기</nuxt-link>
        <nuxt-link to="/register" class="active">회원가입</nuxt-link>
      </div>
<!--      <div class="login__other">-->
<!--        <a href="" class="login_talk flex-lc"><i class="icon icon-talk"></i> 카카오톡 계정으로 로그인</a>-->
<!--        <a href="" class="login_n flex-lc"><i class="icon icon-n"></i> 네이버 계정으로 로그인</a>-->
<!--        <a href="" class="login_gg flex-lc"><i class="icon icon-gg"></i> 구글 계정으로 로그인</a>-->
<!--      </div>-->
    </div>
    <ConfirmMainBanNoAction :title="messages"></ConfirmMainBanNoAction>
  </main>
</template>

<script>
import {msgValidate} from "../common/validation";
import Vue from 'vue'
import Vuelidate from 'vuelidate'
import { required, maxLength, minLength } from 'vuelidate/lib/validators'
import {AuthService} from "../store/service.api";
import ConfirmMainBanNoAction from "../components/modal/ConfirmMainBanNoAction";
Vue.use(Vuelidate)
export default {
  middleware: 'guest',
  name: "login",
  layout: "none-header",
  data() {
    return {
      user: {
        id: this.$cookies.get('login_id') ? this.$cookies.get('login_id') : '',
        password: null,
      },
      save_id: false,
      submit: false,
      loginIdCheck: false,
      messages: '아이디 또는 비밀번호가 틀립니다'
    }
  },
  components: {ConfirmMainBanNoAction},
  validations: {
    user: {
      id: {
        required
      },
      password: {
        required,
        maxLength: maxLength(12),
        minLength: minLength(6)
      }
    }
  },
  computed: {
    callback() {
      return this.$cookies.get('callback') || '/'
    }
  },
  methods: {
    async userLogin() {
      this.submit = true
      if (this.submit) {
        let numberOfErrors = this.$cookies.get('login_id_'+ this.user.id) ? this.$cookies.get('login_id_'+ this.user.id) : 0;
        if (parseInt(numberOfErrors) == 10) {
          this.messages = '비밀번호 10회 입력 오류로 로그인을 할 수 없습니다. 비밀번호 찾기를 통해 비밀번호를 변경해주세요'
          $(".login-form").find('#modal-no-action').modal('show')
          return;
        }
        this.$v.$touch()
        if (!this.$v.$error) {
          await AuthService.checkIdLogin({id: this.user.id}).then(response => {
            this.loginIdCheck = response.success
          })
          if (!this.loginIdCheck) {
            this.messages = '아이디 또는 비밀번호가 틀립니다';
            $(".login-form").find('#modal-no-action').modal('show')
            return ;
          }
          try {
            let response = await this.$auth.loginWith('local', { data: this.user })
            this.$cookies.remove('login_id_'+this.user.id)
            if (this.save_id) {
              this.$cookies.set('login_id', this.user.id)
            }
            if (this.callback) {
              this.$router.push(this.callback)
            }
          } catch (err) {
            if (this.loginIdCheck) {
              let count = numberOfErrors + 1
              this.$cookies.set('login_id_' + this.user.id, (count))
              if (count < 10) {
                this.messages = "비밀번호를 "+ count +"회 틀렸습니다"
                $(".login-form").find('#modal-no-action').modal('show')
                return ;
              } else {
                this.messages = '비밀번호 10회 입력 오류로 로그인을 할 수 없습니다. 비밀번호 찾기를 통해 비밀번호를 변경해주세요'
                $(".login-form").find('#modal-no-action').modal('show')
                return ;
              }
            }
          }
        }
      }
    },
    msgValidate(field, value = null) {
      return msgValidate(field, value)
    },
  }
}
</script>
