<template>
    <ReviewWR></ReviewWR>
</template>

<script>
    import ReviewWR from "../components/modal/ReviewWR";
    export default {
        name: "ReviewWR_pop",
      components: {ReviewWR},
      mounted() {
          $("#modal-review").show()
      }
    }
</script>

<style scoped>

</style>
