<template>
  <div class="page-search">
    <div class="header pr">
      <a href="javascript: history.go(-1)" title="" class="back"></a>
      <h1>검색결과</h1>
    </div>
    <form action="" method="" class="search flex-center pr">
      <input type="text" placeholder="검색어를 입력하세요." v-model="keyword" :class="{ 'input-error': $v.keyword.$error }" @click="showPop('#modal-search')">
      <button type="reset" class="btn_remove"></button>
      <button type="button" class="btn_submit" @click="search"></button>
    </form>
    <div class="result" v-if="data">
      <h4>“{{keyword}}” 관련 검색 결과가 {{totalResult}} 개 있습니다.</h4>
      <ul class="result__list flex">
        <li class="active all cate-all" @click="filterBy($event,'cate-0', 'all')">
          <span>{{totalResult}}</span>
          <h5>전체</h5>
        </li>
        <li @click="filterBy($event,'cate-1', 'online')" class="online cate-1">
          <span>{{data.lecture_online_list.length}}</span>
          <h5>이공계</h5>
        </li>
        <li @click="filterBy($event,'cate-2', 'public')" class="public cate-2">
          <span>{{data.lecture_public_list.length}}</span>
          <h5>공기업</h5>
        </li>
        <li @click="filterBy($event,'cate-3', 'swit')" class="swit cate-3">
          <span>{{data.lecture_offline_list.length}}</span>
          <h5>IT/SW</h5>
        </li>
        <li @click="filterBy($event,'cate-4', 'cert')" class="cert cate-4">
          <span>{{data.lecture_cert_list.length}}</span>
          <h5>학원강의</h5>
        </li>
      </ul>
    </div>
    <div class="banner_register">
      <div class="box-time flex">
        <div class="icon icon-time"><img src="~/assets/img/clock.png" alt=""></div>
        <countdown :time="time * 1000" v-slot="{ days, hours, minutes, seconds }">
          <div class="count_down">
            <div class="flex">
              <div class="down days">
                <span class="time">{{ pad(days) }}</span>
                <span class="txt">일</span>
              </div>
              <div class="down hours">
                <span class="time">{{ pad(hours) }}</span>
                <span class="space">:</span>
              </div>
              <div class="down minutes">
                <span class="time">{{ pad(minutes) }}</span>
                <span class="space">:</span>
              </div>
              <div class="down seconds">
                <span class="time">{{ pad(seconds) }}</span>
              </div>
            </div>
<!--            <div class="text">{{ 123 }}</div>-->
          </div>
        </countdown>
<!--          <div class="count_down">-->
<!--            <div class="flex">-->
<!--              <div class="down days">-->
<!--                <span class="time">{{ pad(days) }}</span>-->
<!--                <span class="txt">일</span>-->
<!--              </div>-->
<!--              <div class="down hours">-->
<!--                <span class="time">{{ pad(hours) }}</span>-->
<!--                <span class="space">:</span>-->
<!--              </div>-->
<!--              <div class="down minutes">-->
<!--                <span class="time">{{ pad(minutes) }}</span>-->
<!--                <span class="space">:</span>-->
<!--              </div>-->
<!--              <div class="down seconds">-->
<!--                <span class="time">{{ pad(seconds) }}</span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="text">{{ title }}</div>-->
<!--          </div>-->

        <a href="https://www.letuin.com/lecture.php?action=freepass10" target="_blank"
           class="btn_apply flex-center ml-auto" title="수강신청">수강신청</a>
      </div>
      <div class="content">
        <a href="https://www.letuin.com/lecture.php?action=freepass10" target="_blank" class="banner_link">이공계 취업으로 가는
          빠른 지름길</a>
        <h2>0원 취업끝장 프리패스</h2>
        <p>공채부터 수시채용까지!</p>이공계 온라인 강의 (2)
        <p>가장 효율적인 취업 준비 전략을 제시합니다!</p>
      </div>
    </div>
    <div class="search__acordion" v-if="data">
      <post  title="이공계 온라인 강의" id="cate-1"
            :data="data.lecture_online_list"></post>
      <post title="공기업 온라인 강의" id="cate-2"
            :data="data.lecture_public_list"></post>
      <post  title="IT/SW 온라인 강의" id="cate-3"
            :data="data.lecture_offline_list"></post>
      <post title="학원강의" id="cate-4"
            :data="data.lecture_cert_list"></post>
    </div>
    <button type="button" class="backtop">backtop</button>
    <ModalSearch @changeKeyword="paramsChange"></ModalSearch>
  </div>
</template>

<script>
  import Footer from "../components/layouts/Footer";
  import {alphaNum, maxLength, minLength, required, sameAs} from "vuelidate/lib/validators";
  import {SearchApiService} from "../store/service.api";
  import {mapGetters} from 'vuex'
  import Post from "../components/common/item-result"
  import ModalSearch from "../components/modal/ModalSearch";
  export default {
    layout: "none-header",
    name: "search",
    components: {
      Footer,
      Post,
      ModalSearch
    },
    computed: {
      ...mapGetters(['isAuthenticated', 'loggedInUser']),
    },
    async asyncData(context) {
      let query = context.query
      if (context.$auth.loggedIn) {
        query.user_id = context.$auth.$state.user.id
      }
      const datas = await Promise.all([
        await SearchApiService.get(query)
      ])
      return {
        keyword: typeof query.keyword !== 'undefined' ? query.keyword : '',
        data: datas[0].data,
        totalResult: datas[0].data.lecture_public_list.length +
          datas[0].data.lecture_online_list.length +
          datas[0].data.lecture_offline_list.length +
          datas[0].data.lecture_cert_list.length
      }
    },
    validations: {
      keyword: {
        required
      }
    },
    data() {
      return {
        time : 0,
        start: Date.now(),
      }
    },
    created() {
      this.getTime()
    },
    mounted() {
      $(document).ready(function (){
        $('.backtop').on('click',function () {
          $('html,body').animate({scrollTop: 0},300);
        });
        $('.item__content').each(function (e, item) {
          if (!$(item).parent().hasClass('show')) {
            $(item).slideToggle();
            $(item).parent().addClass('show')
          }
        });
      })
    },
    methods: {
      async paramsChange(keyword) {
        this.keyword = keyword
        let params = {
          keyword : this.keyword
        }
        if (this.isAuthenticated) {
          params.user_id = this.loggedInUser.id;
        }
        let data = await SearchApiService.get(params)
        this.data = data.data;
        this.totalResult = this.data.lecture_public_list.length +
          this.data.lecture_online_list.length +
          this.data.lecture_offline_list.length +
          this.data.lecture_cert_list.length
      },
      async search() {
        if (!this.$v.keyword.required) {
          alert('검색어를 입력 하세요!');
          return;
        }
        await SearchApiService.get({keyword: this.keyword}).then(res => {
          this.data = res.data
        });
        if (this.data) {
          this.totalResult = this.data.lecture_public_list.length +
            this.data.lecture_online_list.length +
            this.data.lecture_offline_list.length +
            this.data.lecture_cert_list.length
        }
      },
      showPop(item) {
        $(item).modal('show')
      },
      filterBy(event, ref, element) {
        if (element === 'all') {
          let item = $(event.target)
          if (item.parent("li").length) {
            item = item.parent("li");
          }
          $('ul.result__list').find('li').not(item).removeClass('active')
         if ( item.hasClass('active') ) {
           $(item).removeClass('active');
           $('.item__content').each(function (e, item) {
             if ($(item).parent().hasClass('show')) {
               $(item).slideToggle();
               $(item).parent().removeClass('show')
             }
           });
         } else {
           $(item).addClass('active');
           $('.item__content').each(function (e, item) {
             if (!$(item).parent().hasClass('show')) {
               $(item).slideToggle();
               $(item).parent().addClass('show')
             }
           });
         }
        } else {
          let item = $(event.target);
          if (item.parent("li").length) {
            item = item.parent("li");
          }
          $('ul.result__list').find('li').not(item).removeClass('active')
          if (item.hasClass('active')) {
            item.removeClass('active');
          } else {
            item.addClass('active');
          }
          $('#' + ref).click();
        }
      },
      splitString(string, pattern) {
        return string.split(pattern);
      },
      pad(d) {
        return (d < 10) ? '0' + d.toString() : d.toString();
      },
      getTime() {
        var curr = new Date();
        curr.setHours(0,0,0,0);
        var day = curr.getDay();
        var lastday = new Date(curr.getTime() + 60 * 60 *24 * (7 - day + 1) * 1000);
        this.time = (lastday - this.start) / 1000
      },

    },
  }
</script>

<style scoped>

</style>
