<template>
  <main>
    <div class="category pr">
      <ul class="category__list category__list--1 flex">
        <li><a href="/lecture/swit?limit=10&offset=0&order_type=C&field=teacher_id&category=010206">수강신청</a> </li>
        <li><a href="/lecture/swit?limit=10&offset=0&order_type=C&field=teacher_id&category=010206">프로젝트 <br> 강의</a></li>
        <li><a :href="url + '/lecture.php?action=CompanyBook'">취업가이드북</a></li>
      </ul>
<!--      <button type="button" class="btn_collapse"></button>-->
    </div>
    <BannerTop :banners="this.banners" :url="url"></BannerTop>
    <div class="review">
      <div class="header flex">
        <div class="header__dt">
          <h2>렛유인 <span>합격 명예의 전당</span></h2>
          <p>누적 합격자(‘15~19’) <span>11,388명</span></p>
        </div>
      </div>
      <div class="scrollbar">
        <div class="review__list flex" style="min-width: 696.656px;">
          <div class="item p-0" v-for="winner in this.winners" :key="winner.id">
            <a :href="winner.link" :target="winner.target"><img :src="url + '/data_user/banner/' + winner.upload" :alt="winner.subject"></a>
          </div>
        </div>
      </div>
      <a :href="url + '/board.php?action=boardPass&off_type=online'" title="More" class="btn_link_more flex-center">+ More</a>
    </div>
<!--    <WinnerBanner :winners="this.winners" :url="url" link="/board.php?action=boardPass&off_type=online"></WinnerBanner>-->
    <div class="banner-middle flex-center" v-if="this.middle_banner1.length">
      <a :href="this.middle_banner1[0].link" :target="this.middle_banner1[0].target"><img :src="url + '/data_user/banner/' + this.middle_banner1[0].upload" alt=""></a>
    </div>
    <div class="banner-middle flex-center" v-else>
      <a href="">OL_Middle Banne 1</a>
    </div>
    <div class="recommended" v-show="this.recommendLectures.length">
      <h2 class="title flex-lc">패키지 추천 <span> 강의</span></h2>
      <RecommendItem v-for="(lecture, key) in this.recommendLectures" :key="key" :data="lecture" :url="url"></RecommendItem>
    </div>
    <div class="lesson lesson-cs1">
      <h2 class="title flex-lc">단과 추천 <span>강의</span></h2>
      <div class="scrollbar" id="public-item-gong">
        <div class="lesson__list flex">
          <LectureItemMainPublic v-for="(item,index) in this.bannerLecGong" :key="index" :data="item" :url="url"></LectureItemMainPublic>
        </div>
      </div>
    </div>
    <div class="banner-middle flex-center" v-if="this.middle_banner2.length">
      <a :href="this.middle_banner2[0].link" :target="this.middle_banner2[0].target"><img :src="url + '/data_user/banner/' + this.middle_banner2[0].upload" alt=""></a>
    </div>
    <div class="banner-middle flex-center" v-else>
      <a href="">OL_Middle Banner 2</a>
    </div>
    <TeacherList :teachers="this.teachers" :url="url" is_offline="3" title1="당신의 합격을 위한" title2="SW/IT 강사진"></TeacherList>
    <div class="textbook textbook-cs1">
      <div class="header flex-lc">
        <h2 class="title">렛유인 SW/IT <br><span>베스트 도서</span></h2>
        <div class="nav flex-lc">
          <button type="button" class="textbook__prev prev">prev</button>
          <div class="space"></div>
          <button type="button" class="textbook__next next">next</button>
        </div>
        <a href="" title="" class="btn_more ml-auto">MORE +</a>
      </div>
      <BookList :books="this.books" :url="url"></BookList>
    </div>
    <BookEvent v-show="this.events.length" :events="this.events" :url="url"></BookEvent>
    <div class="partner" v-show="this.schools.length">
      <h2>
        {{this.schools.length}}개의 대학과 사업처가 렛유인과 함께 <br>
        이공계 취업을 준비하고 있습니다.
      </h2>
      <div class="scrollbar" style="overflow-y: hidden !important; overflow-x: hidden !important;">
        <ul class="partner__list flex">
          <li v-for="data in this.schools" :key="data.id">
            <a :href="data.upload" :target="data.target" >
              <img :src="url + '/data_user/banner/' + data.upload" :alt="data.subject">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <button type="button" class="backtop">backtop</button>
  </main>
</template>

<script>
  import {BannerApiService, BookApiService, LectureOnlineService, TeacherApiService} from "../store/service.api";
  import {URL_IMAGE} from "../config";
  import BookEvent from "../components/main/BookEvent";
  import BannerTop from "../components/main/BannerTop";
  import WinnerBanner from "../components/main/WinnerBanner";
  import RecommendItem from "../components/main/RecommendItem";
  import LectureItemMainPublic from "../components/main/LectureItemMainPublic";
  import TeacherList from "../components/main/TeacherList";
  import BookList from "../components/main/BookList";

  export default {
    name: "swit-main",
    components: {BookEvent, BannerTop, WinnerBanner, RecommendItem, LectureItemMainPublic, TeacherList, BookList},
    head : {
    script : [
        { src : "/js/swit-main.js" }
      ]
    },
    data() {
      return {
        url: URL_IMAGE
      }
    },
    async asyncData(context) {
      const datas = await Promise.all([
        BannerApiService.getBannerByCategory('m_sw_main'),
        BannerApiService.getBannerByCategory('제휴기관'),
        BannerApiService.getBannerByCategory('m_sw_winner'),
        LectureOnlineService.getRecommendLecture({
          category: 'm_sw_pack'
        }),
        LectureOnlineService.getRecommendLecture({
          category: 'm_sw_lec'
        }),
        TeacherApiService.getTeacherOnline(),
        BookApiService.getBookOnline(),
        BannerApiService.getBannerByCategory('m_sw_event'),
        BannerApiService.getBannerByCategory('m_sw_md1'),
        BannerApiService.getBannerByCategory('m_sw_md2'),
      ])
      return {
        banners: datas[0].data,
        schools: datas[1].data,
        winners: datas[2].data,
        recommendLectures: datas[3].data,
        bannerLecGong: datas[4].data,
        teachers: datas[5].data.rows,
        books: datas[6].data,
        events: datas[7].data,
        middle_banner1: datas[8].data,
        middle_banner2: datas[9].data,
      }
    },
}
</script>
<style>

  .slick-track {
    width: 4000px !important;
  }
  @media (min-width: 376px) and (max-width: 414px) {
    .slick-track {
      width: 4000px !important;
    }
  }


</style>
