<template>
  <main class="list-study">
    <div class="head_title pr">
      <button type="button" class="back btn-back">
        <img src="~/assets/img/arr-r.png" alt="">
      </button>
      <h1>내가 수강한 스터디</h1>
    </div>
    <div class="study mb-ft page-lecture">
      <div class="select pr">
        <select name="" v-model="noSelect" @change="getLectureByClass(noSelect)">
          <option :value="item.no" v-for="(item, key) in listClassStudy" :key="key">{{item.subject}}</option>
        </select>
      </div>
      <div class="study__text">
        <p><strong>{{$auth.$state.user.name}}</strong>, 경쟁자와 비교한 누적 학습시간은</p>
        <p>전체 스터디원 중 <span class="color_public">하위 {{infoStudyClass.seat}}%</span>입니다.</p>
      </div>
      <div class="study__info flex">
        <div class="col-4">
          <h5>누적 학습량</h5>
          <p><span class="color_public">{{infoStudyClass.userDash ? pad(infoStudyClass.userDash.casi) : '00'}}</span>강</p>
        </div>
        <div class="col-4">
          <h5>누적 학습 시간</h5>
          <p><span class="color_public">{{infoStudyClass.userDash ? pad(infoStudyClass.userDash.time) : '00'}}</span>시간 <span class="color_public">00</span>분</p>
        </div>
        <div class="col-4">
          <h5>누적 학습일 수</h5>
          <p><span class="color_public">{{infoStudyClass.userDash ? pad(infoStudyClass.userDash.day) : '00'}}</span>일</p>
        </div>
      </div>
      <div class="study__list study__list--cs bt">
        <div class="header flex-lc">
          <h4>활동 스터디 ({{listLectureByClass.length}})</h4>
        </div>
        <div class="bg_gray">
          <div class="item item-cup" v-for="(lecture, key) in listLectureByClass" :key="key" v-if="lecture.stat == 100 || lecture.day_available == 0">
            <div class="item__scroll">
              <div class="scroll pr">
                <div class="content pr">
                  <time>{{formatDate(lecture.s_date)}} ~ <span class="color_public">{{formatDate(lecture.e_date)}}</span></time>
                  <h3>{{lecture.title}}</h3>
                  <i class="icon icon-arr" v-if="lecture.stat && lecture.stat >= 80"></i>
                </div>
                <div class="bottom flex">
                  <p>남은 일수 : <span class="color_public">{{lecture.day_available}}일</span></p>
                  <p>진도율 : <span class="color_public">{{lecture.stat ? lecture.stat : 0}}%</span></p>
                </div>
                <div class="box-btn flex">
                  <a class="btn btn_wr" @click=showPopupReview($event,lecture)></a>
                </div>
              </div>
              <a href="javascript:;" @click="showPopGoal('#modal-goalset', lecture)" class="btn btn_cup"></a>
            </div>
          </div>
          <div class="item" v-else>
            <div class="item__scroll not_2">
              <div class="scroll pr">
                <div class="content pr">
                  <time>{{formatDate(lecture.s_date)}} ~ <span class="color_public">{{formatDate(lecture.e_date)}}</span></time>
                  <h3>{{lecture.title}}</h3>
                  <i class="icon icon-arr" v-if="lecture.stat && lecture.stat >= 80"></i>
                </div>
                <div class="bottom flex">
                  <p>남은 일수 : <span class="color_public">{{lecture.day_available}}일</span></p>
                  <p>진도율 : <span class="color_public">{{lecture.stat ? lecture.stat : 0}}%</span></p>
                </div>
                <div class="box-btn flex study_list" v-if="lecture.stat && lecture.stat >= 80">
                  <a class="btn btn_wr" @click=showPopupReview($event,lecture)></a>
                </div>
              </div>
              <nuxt-link v-if="lecture.day_available != 0 && lecture.goal_type != 0" :to="'/course-detail/' + lecture.muid + '/' + lecture.no + '/' + lecture.lec_no" title="" class="btn_file"></nuxt-link>
              <a v-else-if="lecture.day_available != 0 && lecture.goal_type == 0" @click="showPopGoalSet('#modal-goal-set', lecture)" title="" class="btn_file"></a>
              <a v-else href="javascript:;" title="" class="btn_file" @click="openAlert"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nav-bt blue flex-center w100 background_public">
      <a href="https://ncs.letuin.com/promotion.php?action=LmsFreeStudy" target="_blank" class="flex-center">내게 맞는 NCS독한스터디 찾기</a>
    </div>
    <button type="button" class="backtop">backtop</button>
    <StudyGoal :data="goalData" ></StudyGoal>
    <StudyGoalSet :data="goalSetData" :lecture="lecture_goal" :lms_no="this.lms_no"></StudyGoalSet>
    <ReviewWR :lecture_info_review="dataReview"></ReviewWR>
    <ConfirmMainBanNoAction :title="title"></ConfirmMainBanNoAction>
  </main>
</template>

<script>
import {GuideBookApiService, MyClassApiService} from "../../../store/service.api";
import StudyGoalSet from "../../../components/modal/StudyGoalSet";
import {formatDate} from "../../../common/helpers";
import StudyGoal from "../../../components/modal/StudyGoal";
import ReviewWR from "../../../components/modal/ReviewWR";
import ConfirmMainBanNoAction from "../../../components/modal/ConfirmMainBanNoAction";


export default {
  name: "list-b",
  middleware : 'auth',
  components : {StudyGoal, ReviewWR, ConfirmMainBanNoAction, StudyGoalSet},
  mounted() {
    this.noSelect = this.$route.params.no
     this.getLectureByClass(this.noSelect)
     $('.select-2').select2();
   },

  async asyncData(context){
    //context.$auth.$state.user.id
    let datas = await Promise.all([
      MyClassApiService.getListLectureStudy({user_id : context.$auth.$state.user.id, 'add_class_end' : true})
    ]);

    return {
      listClassStudy : datas[0].data,
    }
  },

  data(){
    return {
      listLectureByClass : [],
      noSelect : null,
      infoStudyClass : {},
      goalData : [],
      lms_no : '',
      dataReview : [],
      goalSetData : [],
      title: '',
      lecture_goal : {},
    }
  },

  methods :{
    async getGoalSetData(lecture) {
      let data =  await GuideBookApiService.getStudyGoalSet({
        mystudy_uid : lecture.muid,
        lms_no : this.lms_no,
        lecture_no: lecture.lec_no,
        user_id : this.$auth.$state.user.id
      });

      this.goalSetData = data.data.info
      this.lecture_goal = lecture
    },
    pad(d) {
      return (d < 10) ? '0' + d.toString() : d.toString();
    },
    openAlert() {
      this.title = "수강기간이 종료되어 입장이 불가합니다."
      $(".list-study").find('#modal-no-action').modal('show')
    },
    showPopupReview(e, lecture){
      if(lecture.stat && lecture.stat >= 80){
        this.dataReview = [{lecture_no : lecture.lec_no, title : lecture.title}]
        let modal = $(e.target).parents('.list-study').find('.modal-review')
        $(modal).modal('show')
      }
    },
    async showPopGoal(item, lecture) {
      if (lecture.stat < 100) {
        this.title = '목표달성에 실패하였습니다 '
        $(".list-study").find('#modal-no-action').modal('show')
        return ;
      }
      this.lms_no = lecture.no;
      await this.getData(lecture);
      $(item).modal('show');
    },
    async showPopGoalSet(item, lecture) {
      this.lms_no = lecture.no;
      await this.getGoalSetData(lecture);
      $(item).modal('show');
    },
    async getData(lecture) {
      let data =  await GuideBookApiService.getStudyGoal({
        mystudy_uid : lecture.muid,
        lms_no : this.lms_no,
        user_id : this.$auth.$state.user.id
      });

      this.goalData = data.data;
    },
    formatDate(date, format){
      return formatDate(date, format)
    },
    getLectureByClass(no){
      let params = { user_id : this.$auth.$state.user.id, 'lms_no' : no}
      if (no != this.$route.params.no) {
        this.$router.push('/study/list/'+no)
      }
      MyClassApiService.getDetailClass(params).then(res => {
        if(res.code === 'SUCCESS'){
          this.listLectureByClass = res.data.response_info
          this.infoStudyClass = res.data.response_dash
        }
      })
    }
  }

}
</script>

<style scoped>
  .select-2{
    display: none !important;
  }
  .study_list{
    width: calc(14.7222222222vw) !important;
  }
  .item__scroll.not_2 .scroll.pr {
    width: calc(100% + (14.733vw));
  }
  .item__scroll.not_2 .content.pr {
    width: calc(100% - (14.6222222222vw));
  }
  .page-lecture .header::before {
    display: none !important;
  }
</style>
