<template>
  <main>
    <div class="head_title pr flex-center">
      <h1>수강 중 프리패스 강좌 </h1>
      <button type="button" class="btn_collapse dr" data-toggle="collapse" data-target="#eventdetail"></button>
    </div>
    <div class="eventdetail bg-gray flex-center mb-ft">
      이벤트 상세
      HTML 타입 노출 영역
    </div>
    <button type="button" class="backtop">backtop</button>
  </main>
</template>

<script>
export default {
  name: "index",
  layout : "header-update"
}
</script>

<style scoped>

</style>
