<template>
  <div>
    <footer>
      <ul class="menu flex">
        <li><a href="https://www.letuin.com/gnu/bbs/board.php?bo_table=notice " title="공지사항" target="_blank">공지사항</a></li>
        <li><a href="javascript:;" title="오시는길" data-toggle="modal" data-target="#modal-contact">오시는길</a></li>
        <li><a href="https://www.letuin.com/" title="PC버전" target="_blank">PC버전</a></li>
        <li><a href="#" title="">패밀리사이트</a></li>
        <li>
          <button type="button" class="btn_collapse flex-lc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuButton"></button>
          <div class="dropdown-menu dropdown_footer" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="https://www.letuin.com/index.php?action=online" target="_blank">렛유인</a>
            <a class="dropdown-item" href="https://ncs.letuin.com/index.php?action=public" target="_blank">공유인</a>
            <a class="dropdown-item" href="https://www.letuinexpert.com/" target="_blank">렛유인엑스피드</a>
          </div>
        </li>
      </ul>
      <div class="collapse show" id="collapse-ft">
        <div class="logos flex">
          <a href="https://bit.ly/2MKKhFn" target="_blank"><img src="~/assets/img/blog.png" alt=""></a>
          <a href="https://bit.ly/2Nrf0W6" target="_blank"><img src="~/assets/img/face.png" alt=""></a>
          <a href="https://bit.ly/2JVtoWL" target="_blank"><img src="~/assets/img/yt.png" alt=""></a>
          <a href="http://pf.kakao.com/_FSsTM" target="_blank"><img src="~/assets/img/talk.png" alt=""></a>
          <a href="https://post.naver.com/letuin" target="_blank"><img src="~/assets/img/p.png" alt=""></a>
          <a href="https://bit.ly/2LJb7O2" target="_blank"><img src="~/assets/img/pl.png" alt=""></a>
        </div>

        <ul class="menu-2 flex">
          <li><a href="https://www.letuin.com/gnu/bbs/board.php?bo_table=faq" title="FAQ" target="_blank">FAQ</a></li>
          <li><a title="" @click="toggleModal('#modal-contactus-wt')">1:1문의</a></li>
          <li><a href="tel:02-539-1779 " title="" class="flex-center btn_call" >전화상담신청</a></li>
        </ul>
        <div class="text">
          <p>고객센터</p>
          <p>
            KaKaoTalk : LEtuiN
            Tel : 02-539-1779  I  E-Mail : letuin@naver.com
            평일  10 : 00 ~ 19 : 00  I  주말 10 : 00 ~ 18 : 00
            (점심 시간  12:30~13:30  I  공휴일  휴무)
          </p>
        </div>
      </div>
        <ul class="menu-3 flex">
          <li><a href="http://dream.letuin.com/branding/" target="_blank" title="">회사소개</a></li>
          <li><a href="https://www.letuin.com/gnu/bbs/board.php?bo_table=notice" target="_blank" title="">고객센터</a></li>
          <li><a href="https://docs.google.com/forms/d/15z_T8k2G_LY-VbJy4edcLqmNpFNkSKFIfboqWdr6Oj4/viewform" target="_blank" title="">강사채용</a></li>
          <li><a href="http://dream.letuin.com/branding/branding_contact.php?blu=7" target="_blank" title="">제휴문의</a></li>
        </ul>
        <div class="text bg-gray">
          <h4 data-toggle="collapse" class="small-footer" data-target="#footer-ft" @click="toggleFooter">(주)렛유인 사업자정보   <small>▲</small></h4>
          <div class="collapse show" id="footer-ft">
            <ul class="menu-sb flex-center">
              <li><a href="javascript:;" data-toggle="modal" data-target="#modal-policy" title="">이용약관</a></li>
              <li><a href="javascript:;" data-toggle="modal" data-target="#modal-commitment" title="">개인정보취급방침</a></li>
            </ul>
            <p>
              대표: 김창호
              주소: 서울시강남구강남대로92길17 9층
              사업자등록번호: 569 - 85 - 00433
              통신판매업신고번호: 제2018 - 서울강남 - 03645
              COPYRIGHT © (주)렛유인 ALL RIGHTS RESERVED
            </p>
          </div>

        </div>

    </footer>
    <div class="modal fade modal-text" id="modal-commitment">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="title">개인정보취급방침</h4>
            <a href="javascript:;" class="close" data-dismiss="modal"></a>
          </div>
          <div class="modal-body">
            <article>
              <h4>(주)렛유인 개인정보 취급방침</h4>
              <p>렛유인 개인정보 취급방침</p>
              <p>시행일자 2018.08.16</p>
              <p>당사는 회원의 개인정보보호를 매우 중요시하며, 『정보통신망이용촉진등에 관한 법률』상의 개인정보보호 규정 및 정보통신부가 제정한 『개인정보보호지침』을 준수하고 있습니다.</p>
              <p>당사는 아래와 같이 개인정보취급방침을 명시하여 회원이 온라인상에서 회사에 제공한 개인정보가 어떠한 용도와 방식으로 이용되고 있으며 개인정보보호를 위해 어떠한 조치를 취하는지 알려드립니다. </p>
              --
              <p>당사 개인정보취급방침은 정부의 법률 및 지침의 변경과 당사의 약관 및 내부 정책에 따라 변경될 수 있으며 이를 개정하는 경우 회사는 변경사항에 대하여 즉시 홈페이지에 게시합니다. 회원님께서는 사이트 방문시 수시로 확인하시기 바랍니다.</p> 
              <p>㈜ 렛유인의 개인정보 취급방침은 다음과 같은 내용을 담고 있습니다.</p>
              <p>1.개인정보의 수집 및 이용 목적</p>
            </article>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade modal-contact" id="modal-contact">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="title">오시는길</h4>
            <a href="javascript:;" class="close" data-dismiss="modal"></a>
          </div>
          <div class="modal-body">
            <div class="logo"><img src="~/assets/img/logo1.png" alt=""></div>
            <div class="address flex">
              <h4>주소</h4>
              <p>서울 강남구 강남대로 92길 17, 대승빌딩 9층 렛유인</p>
              <div class="phone flex-lc">
                <i class="icon icon-phone"></i>
                <a href="tel:02-539-1779">02-539-1779</a>
              </div>
              <div class="email flex-lc">
                <i class="icon icon-email"></i>
                <a href="mailto:letuin@naver.com">letuin@naver.com</a>
              </div>
            </div>
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24581.950171755783!2d126.96219737679998!3d37.56019926096518!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca28b61c565cd%3A0x858aedb4e4ea83eb!2zU8Opb3VsLCBDb3LDqWUgZHUgU3Vk!5e0!3m2!1sfr!2s!4v1613966186545!5m2!1sfr!2s" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="instruction">
              <h4>찾아오시는 방법</h4>
              <p>지하철 2호선/신분당선 강남역으로 부터 도보 5분</p>
              <div class="instruction__detail">
                <p>1) 강남역(2호선) 12번 출구 나와</p>
                <p>2) 명인만두 건물 쪽으로 20m 내려가서</p>
                <p>3) 아래 골목에서 50m 직진하다 미니스탑이 보이면,</p>
                <p>4) 편의점을 끼고 오른쪽 골목으로 들어갑니다.</p>
                <p>5) 골목에서 70m 직진하면, 대승빌딩(렛유인) 도착!</p>
                <p>6) 렛유인 학원은 9층입니다.</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a href="https://pf.kakao.com/_FSsTM" target="_blank"><i class="icon icon-talk"></i> 카톡상담</a>
            <a href="https://www.letuin.com/notice.php?action=custom_lecture" target="_blank"><i class="icon icon-wr"></i> 1:1맞춤상담</a>
            <a href="tel:02-539-1779"><i class="icon icon-phone"></i> 전화문의</a>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade modal-text" id="modal-policy">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="title">이용약관</h4>
            <a href="javascript:;" class="close" data-dismiss="modal"></a>
          </div>
          <div class="modal-body">
            <article>
              <h4>(주) 렛유인 이용약관</h4>
              <p>제 1 장 총 칙</p>
              <p>제1조 [목 적]</p>
              <p>본 약관은 (주) 렛유인(이하 “회사”라 합니다)이 웹사이트 및 패밀리 웹사이트를 통하여 제공하는 교육정보서비스(이하 “서비스”라 합니다)의 이용과 관련하여 회사와 회원 사이에 권리ㆍ의무 및 책임사항 등을 규정함을 목적으로 합니다.</p>
              <p>제2조 [정 의]</p>
              <p>① 본 약관에서 사용하는 용어의 정의는 다음과 같습니다.</p>
              <p>1.“이용자”라 함은 “회사”의 웹사이트에 접속하여 본 약관에 따라 “회사”가 제공하는 “콘텐츠” 및 제반서비스를 이용하는 “회원” 및 “비회원”을 말합니다.</p>
              <p>2.“회원”이라 함은 회사의 웹사이트에 접속하여 본 약관에 동의 함으로써 회사와 이용계약을 체결하고 아이디(ID)를 부여받은 자로서 회사가 제공하는 정보와 서비스를 지속적으로 이용할 수 있는 자를 말합니다.</p>
              <p>3.“콘텐츠”라 함은 회사 웹사이트에서 제공하는 온라인 강좌 및 기타 관련정보를 의미함으로서, 정보통신망이용촉진 및 정보보호 등에 관한 법률 제2조 제1항 제1호의 규정에 의한 정보통신망에서 사용되는 부호ㆍ문자ㆍ음성ㆍ음향ㆍ이미지 또는 영상 등으로 표현된 자료 또는 정보를 말합니다.</p>
              <p>4.“아이디(ID)”라 함은 회원의 식별 및 서비스 이용을 위하여 회원이 정하고 회사가 승인하는 문자 또는 숫자의 조합을 말합니다.</p>
              <p>5.“비밀번호(PASSWORD)”라 함은 서비스 이용 시, 아이디와 일치되는 회원임을 확인하고, 회원 개인정보 보호를 위하여, 회원 자신이 정한 문자 또는 숫자의 조합을 말합니다.</p>
              <p>6.“전자우편(Email)”이라 함은 인터넷을 통한 우편 혹은 전기적</p>

            </article>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  export default {
    name: "Footer",
    methods : {
      toggleFooter() {
        $('.small-footer').toggleClass('active');
      },
      toggleModal(item){
        if (this.loggedInUser) {
          this.$cookies.set('previous_tab', '#abc');
          $(item).modal('show')
        } else {
            this.$router.push('/login');
        }
      }
    },
    mounted() {
      $('#dropdownMenuButton').on('click',function () {
        $(this).toggleClass('active')
      })
    },
    computed: {
      ...mapGetters(['isAuthenticated', 'loggedInUser']),
    },
  }
</script>

<style>
  .dropdown_footer {
    left: inherit !important;
    right: 0 !important;
    transform: inherit !important;
    top: -110px !important;
  }
  h4.small-footer small {
    transform: rotate(0);
    display: inline-block;
  }
  h4.small-footer.active small {
    transform: rotate(180deg);
    display: inline-block;
  }
  footer .menu > li button {
    transform: rotate(0deg) !important;
  }
  footer .menu > li button.active {
    transform: rotate(180deg) !important;
  }
</style>
