<template>
  <div>
    <header>
      <nav class="navbar">
        <button type="button" class="navbar-toggler" data-toggle="modal" data-target="#modal-category"><span class="navbar-toggler-icon"></span></button>
        <a @click="gotoPage('/')" :class="classLogo"><img :src="logo" alt="logo letuin"></a>
        <button type="button" class="btn_search ml-auto" data-toggle="modal" data-target="#modal-search"></button>
        <div class="user" v-if="this.isAuthenticated">
          <div class="before_login">
            <a href="javascript:;" title="" data-toggle="modal" data-target="#modal-logout"><img src="~/assets/img/icon-user.png" alt=""></a>
          </div>
        </div>
        <div class="user" v-else>
          <div class="before_login">
            <nuxt-link to="/login"><img src="~/assets/img/icon-user.png" alt="image icon user"></nuxt-link>
          </div>
        </div>
      </nav>
    </header>
    <CategoryPop @showMyClass="showCollapse = $event"></CategoryPop>
    <ModalSearch></ModalSearch>
    <MypagePopup v-if="this.isAuthenticated" :show-collapse="showCollapse" @showMyClass="showCollapse = $event"></MypagePopup>
    <Notification  v-if="this.isAuthenticated"></Notification>
    <LUM_MP_Payment_HistoryPop v-if="this.isAuthenticated"></LUM_MP_Payment_HistoryPop>
    <BookDeliveryStatusPopup v-if="this.isAuthenticated"></BookDeliveryStatusPopup>
    <ContactUS v-if="this.isAuthenticated"></ContactUS>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import CategoryPop from "../../components/modal/CategoryPop";
  import Notification from "../modal/Notification";
  import MypagePopup from "../modal/MypagePopup";
  import ModalSearch from "../modal/ModalSearch";
  import LUM_MP_Payment_HistoryPop from "../modal/LUM_MP_Payment_HistoryPop";
  import BookDeliveryStatusPopup from "../modal/BookDeliveryStatusPopup";
  import ContactUS from "../modal/ContactUS";
  export default {
    name: "Header",
    components: {
      ContactUS,
      CategoryPop,
      Notification,
      MypagePopup,
      ModalSearch,
      LUM_MP_Payment_HistoryPop,
      BookDeliveryStatusPopup
    },
    created() {
      this.getPath(this.$route.path)
      this.$nuxt.$on('change-link', (link) => {
        this.getPath(link)
      })
    },
    data() {
      return {
        logo: require('~/assets/img/logo1.png'),
        classLogo: 'logo logo-sm',
        showCollapse : false
      }
    },
    computed: {
      ...mapGetters(['isAuthenticated', 'loggedInUser']),
    },
    methods: {
      gotoPage(link) {
        this.logo =  require('~/assets/img/logo1.png');
        this.classLogo= 'logo logo-sm';
        this.$router.push('/')
      },
      getPath(link) {
        switch (link) {
            case '/online-main':
            case '/lecture/online':
              this.logo = require('~/assets/img/logo.png')
              this.classLogo = 'logo'
              break;
            case '/public-main':
            case '/lecture/public':
            case '/textbook-list':
            case '/study':
              this.logo = require('~/assets/img/logo3.png')
              this.classLogo = 'logo'
              break;
            case '/swit-main':
            case '/lecture/swit':
              this.logo = require('~/assets/img/logo4.png')
              this.classLogo = 'logo'
              break;
            case '/academy-main':
            case '/lecture/offline':
              this.logo = require('~/assets/img/logo6.png')
              this.classLogo = 'logo'
              break;
            case '/practice-test':
              this.logo = require('~/assets/img/logo6.png')
              this.classLogo = 'logo'
              break;
            default: break;
        }
      }
    }
  }
</script>

<style scoped>

</style>
