<template>
  <div class="confirm_order">
    <div class="head_title pr">
      <h1>주문 정보</h1>
    </div>
    <div class="cart">
      <ul class="cart__process flex">
        <li>
          <div class="box-icon flex-center"><i class="icon icon-cart"></i></div>
          <h5>장바구니</h5>
        </li>
        <li class="active">
          <div class="box-icon flex-center"><i class="icon icon-wl"></i></div>
          <h5>주문서 작성</h5>
        </li>
        <li>
          <div class="box-icon flex-center"><i class="icon icon-fs"></i></div>
          <h5>주문완료</h5>
        </li>
      </ul>
      <div class="cart__order" v-if="carts.length">
        <h2>주문 상품 <span>({{ carts.length }})</span></h2>
        <div class="type">{{ carts[0].type }}</div>
        <div class="product flex">
          <div class="product__img"><img :src="url + '/data_user/' + getTailImage(carts[0])" alt=""></div>
          <div class="product__content">
            <h3><a href="javascript:;">{{ carts[0].it_name }}</a></h3>
            <div class="price">{{ formatMoney(carts[0].retakePrice, ' 원', ',') }} / <span>{{ carts[0].quantity }}</span> 개</div>
          </div>
          <div class="time" v-show="carts[0].date_info">ㄴ {{ carts[0].sDatetime }}</div>
          <div class="booklist" v-show="carts[0].listDate.length">
            <div class="booklist__item" v-for="itemDate in carts[0].listDate">
              <div class="flex">
                <h5>ㄴ</h5>
                <p>{{ itemDate.title.substr(0, 30) + '...' }}</p>
              </div>
              <p class="pl-4">{{ itemDate.date }}</p>
            </div>
          </div>
        </div>
        <button data-toggle="modal" data-target="#modal-cart" class="btn_viewall flex-center">전체상품 보기 {{ carts.length }} 개 <i class="icon icon-arr"></i></button>
      </div>
      <div class="orderinfo plr">
        <h2 class="title">주문자 정보</h2>
        <div class="item flex">
          <h5>이름</h5>
          <span>{{ loggedInUser.name }}</span>
        </div>
        <div class="item flex">
          <h5>휴대전화</h5>
          <span>{{ loggedInUser.hp }}</span>
        </div>
        <div class="item flex">
          <h5>이메일</h5>
          <span>{{ loggedInUser.email }}</span>
        </div>
        <div class="item flex">
          <h5>결제방법</h5>
          <span>{{ order.settle_case }}</span>
        </div>
      </div>
      <div class="orderinfo plr" v-show="hasBook">
        <h2 class="title">배송지 정보</h2>
        <div class="item flex">
          <h5>받으시는 분</h5>
          <span>{{ order.b_name }}</span>
        </div>
        <div class="item flex">
          <h5>집전화</h5>
          <span>{{ order.b_hp }}</span>
        </div>
        <div class="item flex">
          <h5>주소</h5>
          <span>{{ order.b_zonecode }} - {{ order.b_addr1 }}</span>
        </div>
      </div>
      <div class="pay plr">
        <div class="pay__header flex-lc">
          <h2 class="title">최종 결제금액</h2>
          <span>{{ totalRetakeAmount }}</span>
        </div>
        <ul class="pay__info">
          <li>
            <h5>상품금액</h5>
            <span>{{ totalSellAmount }}</span>
          </li>
          <li>
            <h5>할인금액</h5>
            <span>- {{ totalSale }}</span>
            <ul class="sub">
              <li>
                <h5>ㄴ 상품할인</h5>
                <span>- {{ totalRetakeSaleAmount }}</span>
              </li>
              <li>
                <h5>ㄴ 쿠폰할인</h5>
                <span>- {{ formatMoney(this.coupon, ' 원', ',') }}</span>
              </li>
              <li>
                <h5>ㄴ 렛머니</h5>
                <span>- {{ formatMoney(this.money, ' 원', ',') }}</span>
              </li>
            </ul>
          </li>
          <li>
            <h5>배송비</h5>
            <span>+ {{ formatMoney(this.ship, ' 원', ',') }}</span>
          </li>
        </ul>
      </div>
      <button type="button" class="btn_payment flex-center" @click="openGW">결제하기</button>
    </div>
    <button type="button" class="backtop">backtop</button>
    <CartAll :data="carts" :url="url"></CartAll>
    <ConfirmMainBanNoAction :title="message"></ConfirmMainBanNoAction>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  import {formatMoney, sumProp} from "../../common/helpers";
  import {URL_IMAGE, CLIENT_TOSS_KEY} from "../../config";
  import {CartApiService, ConfigApiService, OrderApiService} from "../../store/service.api";
  import CartAll from "../../components/modal/CartAll";
  import { loadTossPayments } from '@tosspayments/sdk';
  import moment from 'moment'
  import ConfirmMainBanNoAction from "../../components/modal/ConfirmMainBanNoAction";
  let md5 = require('md5');
  export default {
    name: "index",
    middleware: 'auth',
    components: {
      CartAll, ConfirmMainBanNoAction
    },
    data() {
      return {
        carts: [],
        PACK: "package",
        MOV: "lecture",
        BOOK: "item",
        url: URL_IMAGE,
        isUseMoney: true,
        dataMoney: [],
        coupon: 0,
        money: 0,
        ship: 0,
        totalMoney: 0,
        percent: 20,
        maxMoney: 0,
        pointPayment: 0,
        pointPer: 10,
        couponLecList: [],
        coupons: [],
        tooltipMoney: '',
        tooltipCoupon: '※ 교재 주문금액은 쿠폰할인 대상에서 제외됩니다.\n' +
          '※ 할인쿠폰 사용은 가장 금액이 높은 강좌 1개에만 적용됩니다.',
        policy: false,
        order: {},
        goods: '',
        configs: {},
        hasBook: false,
        message: '',
      }
    },
    computed: {
      ...mapGetters(['isAuthenticated', 'loggedInUser']),
      totalSellAmount() {
        return this.formatMoney(sumProp(this.carts, 'sell_amount'), ' 원', ',')
      },
      totalRetakeAmount() {
        let total = sumProp(this.carts, 'retakePrice') - parseInt(this.coupon) - parseInt(this.money) + parseInt(this.ship)
        return this.formatMoney(total, ' 원', ',')
      },
      totalRetakeSaleAmount() {
        return this.formatMoney(sumProp(this.carts, 'retake_sale_amount'), ' 원', ',')
      },
      totalSale() {
        let totalSale = sumProp(this.carts, 'retake_sale_amount') + parseInt(this.coupon) + parseInt(this.money)
        return this.formatMoney(totalSale, ' 원', ',')
      },
      totalQuantity() {
        return this.formatMoney(sumProp(this.carts, 'quantity'))
      }
    },
    mounted() {
      $(function () {
        $('[data-toggle="popover"]').popover()
      })
    },
    async created() {
      await this.getOrder()
      await this.getCarts()
      await this.config()
      this.goods = this.carts[0].it_name
      if (this.carts.length > 1) {
        this.goods = this.carts[0].it_name + " 외 " + (this.carts.length - 1) + "건";
        let dataBook = this.carts.filter(item => {
          if (item.item_id != 0) {
            return item
          }
        })
        if (dataBook.length) {
          this.hasBook = true
        }
      }
    },
    methods: {
      alert(message) {
        this.message = message
        $(".confirm_order").find('#modal-no-action').modal('show')
        return;
      },
      getOrder() {
        OrderApiService.show(this.$route.params.id).then(res => {
          this.order = res.data
          this.coupon = res.data.coupon_amount
          this.money = res.data.temp_point
          if (this.order.status == "완료") {
           this.alert("이미 결제가 완료된 주문내역입니다.");
            window.history.back();
            return;
          }
          if (this.order.status == "대기" && this.order.settle_case == "가상계좌") {
            this.alert("이미 " + this.order.settle_case + " 주문상태의 주문내역입니다.");
            window.history.back();
            return;
          }
        })
      },
      async getCarts() {
        await CartApiService.getCartUser(
          {
            oc_id: this.$route.params.id,
            getBook : 1,
            order_by: 'desc'
          }
        ).then(res => {
          if (res.data.length) {
            this.carts = res.data
          }
        })
      },
      formatMoney(val, currency, format) {
        return formatMoney(val, currency, format);
      },
      getTailImage(item) {
        if (item.lec_img) {
          return this.MOV + '/' + item.code_lecture + '/' + item.lec_img
        }
        if (item.pack_img) {
          return this.PACK + '/' + item.pack_uid + '/' + item.pack_img
        }
        if (item.code_book) {
          return this.BOOK + '/' + item.code_book + '_l1.png'
        }
      },
      useAllMoney() {
        let moneyUser = parseInt(this.loggedInUser.cybermoney)
        if (moneyUser >=  this.maxMoney) {
          this.money = this.maxMoney
        }
      },
      getMoneyUse() {
        if (this.money >= this.maxMoney) {
          this.money = this.maxMoney
          return;
        }
        if (this.money <= 0) {
          this.money = 0
          return;
        }
        if (!this.money) {
          this.money = 0
          return;
        }
      },
      openModal(modal) {
        this.$cookies.set('backToIndex', false)
        $(modal).modal('show')
      },
      async config() {
        await ConfigApiService.get().then(item => {
          this.configs = item.data
        })
      },
      async openGW() {
        let LGD_UID = this.order.uid
        let LGD_MID = this.configs.is_lgdacom_mid
        let LGD_AMOUNT = sumProp(this.carts, 'retakePrice') - parseInt(this.coupon) - parseInt(this.money) + parseInt(this.ship)
        let LGD_BUYER = this.order.name
        let LGD_BUYEREMAIL = this.order.email
        let LGD_PRODUCTINFO = this.goods
        let LGD_CUSTOM_SKIN = "blue";                               //상점정의 결제창 스킨 (red, blue, cyan, green, yellow)
        let LGD_WINDOW_VER = "2.5";           //결제창 버젼정보
        let LGD_WINDOW_TYPE = "iframe";      //결제창 호출방식 (수정불가)
        let LGD_CUSTOM_SWITCHINGTYPE = "IFRAME";            //신용카드 카드사 인증 페이지 연동 방식 (수정불가)
        let LGD_CUSTOM_PROCESSTYPE = "TWOTR";
        let LGD_BUYERID = this.order.user_id       //구매자 아이디
        let LGD_BUYERIP = this.order.ip
        let LGD_TIMESTAMP = moment().format('YYYYMMDDHHmmss')
        const tossPayments = await loadTossPayments(CLIENT_TOSS_KEY);
        let method = '카드'
        switch (this.order.settle_case) {
          case '신용카드':
            method = '카드';
            break;
          case '가상계좌':
            method= '가상계좌';
            break
          case '계좌이체':
            method = '계좌이체';
            break;
          default:
            break
        }
        tossPayments.requestPayment(method, {
          amount: LGD_AMOUNT,
          orderId: LGD_UID,
          orderName: LGD_PRODUCTINFO,
          customerName: LGD_BUYER,
          successUrl: window.location.origin + "/order-complete-bank",
          failUrl: window.location.origin + "/order-confirm/" + this.order.uid,
        });
      }
    }
  }
</script>
