<template>
  <main>
    <div class="category pr">
      <ul class="category__list category__list--1 flex">
        <li><a :href="url_public + '/promotion.php?action=LmsFreeStudy'" target="_blank" title="독한 스터디">독한 스터디</a></li>
        <li><nuxt-link to="/lecture/public"> 수강신청 </nuxt-link></li>
        <li><a :href="url_public + '/promotion.php?action=300_free'" target="_blank">300%환급 <br>  프리패스 </a></li>
      </ul>
      <ul class="category__list category__list--2 flex" style="display: none">
        <li><a :href="url_public + '/promotion.php?action=ncsOnline'" target="_blank">NCS 온라인 <br> 모의고사</a></li>
        <li><a :href="url_public + '/lecture.php?action=CompanyBook'" target="_blank">취업기업분석</a> </li>
        <li><a  href="/textbook-list">도서</a></li>
        <!--        <li><nuxt-link to="/">NCS <br>직업교육</nuxt-link></li>-->
      </ul>
      <button type="button" class="btn_collapse"></button>
    </div>
    <CountDownComponent :time="time" link="https://ncs.letuin.com/promotion.php?action=300_free" target="_blank" title="300%환급반 마감" is_public="true"></CountDownComponent>
    <BannerTop :banners="this.banners" :url="url"></BannerTop>
    <div class="review" v-show="this.winners.length">
      <div class="header flex">
        <div class="header__dt">
          <h2>공유인 <span class="color_public">합격 명예의 전당</span></h2>
        </div>
      </div>
      <div class="scrollbar">
        <div class="review__list flex">
          <div class="item p-0" v-for="winner in this.winners" :key="winner.id">
            <a :href="winner.link" :target="winner.target"><img :src="url + '/data_user/banner/' + winner.upload" :alt="winner.subject"></a>
          </div>
        </div>
      </div>
      <a :href="url + '/board.php?action=boardPass'" title="More" class="btn_link_more flex-center">+ More</a>
    </div>
    <div class="banner-middle flex-center" v-if="this.middle_banner1.length">
      <a :href="this.middle_banner1[0].link" :target="this.middle_banner1[0].target"><img :src="url + '/data_user/banner/' + this.middle_banner1[0].upload" alt=""></a>
    </div>
    <div class="banner-middle flex-center" v-else>
      <a href="">OL_Middle Banne 1</a>
    </div>
    <div class="recommended" v-show="this.recommendLectures.length">
      <h2 class="title flex-lc color_public">주간 BEST <span> 공기업 취업 인강</span></h2>
      <RecommendItem v-for="(lecture, key) in this.recommendLectures" :key="key" :data="lecture" :url="url" is_public="true"></RecommendItem>
    </div>
    <div class="lessonfree">
      <div class="header flex-lc">
        <h2 class="title flex-lc color_public">무료강의 <span>맛보기</span></h2>
        <a href="https://ncs.letuin.com/free.php?type=2" target="_blank" class="btn_more ml-auto">MORE +</a>
      </div>
      <ul class="lessonfree__tab nav flex">
        <li><a href="#ncs" data-toggle="tab" class="active" title="">NCS필기</a></li>
        <li><a href="#writtens" data-toggle="tab" title="">전공필기</a></li>
        <li><a href="#letters" data-toggle="tab" title="">자소서/면접</a></li>
      </ul>
      <div class="tab-content">
        <div id="ncs" class="tab-pane fade show active">
          <div class="scrollbar">
            <div class="lessonfree__list flex">
<!--                <TabPublicItem v-for="(item, key) in this.ncsData" :key="key" :data="item" :url="url_public"></TabPublicItem>-->
                <TabPublicItemImage v-for="(item, key) in this.ncsData" :key="key" :data="item" :url="url"></TabPublicItemImage>
            </div>
          </div>
        </div>
        <div id="writtens" class="tab-pane">
          <div class="scrollbar">
            <div class="lessonfree__list flex">
<!--                <TabPublicItem v-for="(item, key) in this.writtens" :key="key" :data="item" :url="url_public"></TabPublicItem>-->
                <TabPublicItemImage v-for="(item, key) in this.writtens" :key="key" :data="item" :url="url"></TabPublicItemImage>
            </div>
          </div>
        </div>
        <div id="letters" class="tab-pane">
          <div class="scrollbar">
            <div class="lessonfree__list flex">
<!--                <TabPublicItem v-for="(item, key) in this.letters" :key="key" :data="item" :url="url_public"></TabPublicItem>-->
                <TabPublicItemImage v-for="(item, key) in this.letters" :key="key" :data="item" :url="url"></TabPublicItemImage>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="banner-middle flex-center" v-if="this.middle_banner2.length">
      <a :href="this.middle_banner2[0].link" :target="this.middle_banner2[0].target"><img :src="url + '/data_user/banner/' + this.middle_banner2[0].upload" alt=""></a>
    </div>
    <div class="banner-middle flex-center" v-else>
      <a href="">OL_Middle Banner 2</a>
    </div>
    <div class="textbook" v-if="this.listBookPublic.length">
      <div class="header flex-lc">
        <h2 class="title flex-lc">공유인 베스트 <span class="color_public">교재</span></h2>
        <div class="nav flex-lc">
          <button type="button" class="textbook__prev prev">prev</button>
          <div class="space"></div>
          <button type="button" class="textbook__next next">next</button>
        </div>
        <a href="/textbook-list" title="" class="btn_more ml-auto">MORE +</a>
      </div>
      <div class="textbook__list">
        <BookList :books="this.listBookPublic" :url="url_public"></BookList>
      </div>
    </div>
    <div class="lesson lesson-cs1 pt-4">
      <h2 class="title flex-lc color_public"><span>채용공고</span>맞춤 추천 <span>강의</span></h2>
      <div class="scrollbar" id="public-item-gong">
        <div class="lesson__list flex">
          <LectureItemMainPublic v-for="(item,index) in this.bannerLecGong" :key="index" :data="item" :url="url_public"></LectureItemMainPublic>
        </div>
      </div>
    </div>
    <div class="banner-rated background_public">
      <button class="button flex-center">정식오픈</button>
      <h4>이공계 취업 최종 합격을 위한 풀/서/비/스</h4>
      <h2>렛유인 반도체 <span>직무역량평가</span></h2>
      <p>19,039여 명의 빅데이터 시험 분석을 통한 츨제
        문제 알고리즘 완성!! 반도체 취업 최종 합격을 위한
        나의 직무역량 위치 확인하세요!! </p>
      <a :href="url + '/promotion.php?action=evaluation'" target="_blank" title="" class="btn_rated flex-center">직무역량 평가하기 <i class="icon icon-arr"></i></a>
    </div>
    <div class="recruitment" v-show="this.oldTexts.length">
      <div class="header flex-lc">
        <h2 class="title flex-lc color_public">채용 공고</h2>
        <time>{{ new Date().toISOString().slice(0, 10) }} 업데이트</time>
        <a href="https://cafe.naver.com/ispring" target="_blank" class="btn_more ml-auto">MORE +</a>
      </div>
      <div class="recruitment__list">
        <ItemRecuitment v-for="(oldText, key) in this.oldTexts" :key="key" :data="oldText" :url="url_public"></ItemRecuitment>
      </div>
      <div class="recruitment__info flex-lc">
        <div class="text">
          매일 오후 12:30 오픈 카톡방에서 주요 공기업
          채용공고와 무료 이벤트 소식을 전해드립니다.
        </div>
        <button type="button" class="btn_check flex-center background_public" @click="openKakaoTalk">채용공고 확인</button>
      </div>
    </div>
    <TeacherList :teachers="this.teachers" :url="url" is_offline="2" title1="당신의 합격을 위한" title2="공기업 최강 강사진" is_public="true"></TeacherList>
<!--    <BookEvent :data="this.bannerEventGong"></BookEvent>-->
    <BookEvent v-show="this.events.length" :events="this.events" :url="url"></BookEvent>
    <button type="button" class="backtop">backtop</button>
  </main>
</template>

<script>
  import {
    BannerApiService,
    BookApiService, FreeLectureApiService,
    LectureOnlineService,
    OldTextApiService,
    TeacherApiService
  } from "../../store/service.api";
  import BookList from "../../components/main/BookList";
  import CountDownComponent from "../../components/main/CountDownComponent";
  import BannerTop from "../../components/main/BannerTop";
  import TeacherList from "../../components/main/TeacherList";
  import BookEvent from "../../components/main/BookEvent";
  import RecommendItem from "../../components/main/RecommendItem";
  import ItemRecuitment from "../../components/main/ItemRecuitment";
  import LectureItemMainPublic from "../../components/main/LectureItemMainPublic";
  import TabPublicItem from "../../components/main/TabPublicItem";
  import TabPublicItemImage from "../../components/main/TabPublicItemImage";
  import {URL_IMAGE, URL_PUBLIC} from "../../config";

export default {
  name: "index",
  head : {
    script : [
      {src: '/js/onemain.js'}
    ]
  },
  components: {
    BookList,
    CountDownComponent,
    BannerTop,
    TeacherList,
    BookEvent,
    RecommendItem,
    ItemRecuitment,
    LectureItemMainPublic,
    TabPublicItem,
    TabPublicItemImage
  },
  async asyncData(context) {
    const datas = await Promise.all([
      BookApiService.getListBookPublic(),
      BannerApiService.getBannerByCategory('m_pu_main'),
      TeacherApiService.getTeacherOffline(),
      LectureOnlineService.getRecommendLecture({
        category: 'm_pu_best'
      }),
      // OldTextApiService.getPublic(new Date().toISOString().slice(0, 10)),
      OldTextApiService.getPublic('2020-04-20'),
      LectureOnlineService.getRecommendLecture({
          category: 'm_pu_recom'
        }),
      // FreeLectureApiService.get({
      //   category: 'NCS'
      // }),
      // FreeLectureApiService.get({
      //   category: '전공필기'
      // }),
      // FreeLectureApiService.get({
      //   category: '자소서/면접'
      // }),
      BannerApiService.getBannerByCategory('m_pu_free_1'),
      BannerApiService.getBannerByCategory('m_pu_free_2'),
      BannerApiService.getBannerByCategory('m_pu_free_3'),

      BannerApiService.getBannerByCategory('공기업이벤트'),
      BannerApiService.getBannerByCategory('m_pu_winner'),
      BannerApiService.getBannerByCategory('m_pu_md1'),
      BannerApiService.getBannerByCategory('m_pu_md2'),
      BannerApiService.getBannerByCategory('m_pu_event'),
    ])
    return {
      listBookPublic: datas[0].data,
      banners: datas[1].data,
      teachers: datas[2].data.rows,
      recommendLectures: datas[3].data,
      oldTexts: datas[4].data,
      bannerLecGong: datas[5].data,
      ncsData: datas[6].data,
      writtens: datas[7].data,
      letters: datas[8].data,
      bannerEventGong: datas[9].data,
      winners: datas[10].data,
      middle_banner1: datas[11].data,
      middle_banner2: datas[12].data,
      events: datas[13].data,
    }
  },
  created() {
    this.getTime()
  },
  data(){
    return{
      url: URL_IMAGE,
      url_public: URL_PUBLIC,
      start: Date.now(),
      time: 0
    }
  },
  methods: {
    getTime() {
      var curr = new Date();
      curr.setHours(0,0,0,0);
      var day = curr.getDay();
      var lastday = new Date(curr.getTime() + 60 * 60 *24 * (7 - day + 1) * 1000);
      this.time = (lastday - this.start) / 1000
    },
    pad(d) {
      return (d < 10) ? '0' + d.toString() : d.toString();
    },
    openKakaoTalk() {
      window.open('https://open.kakao.com/o/gOWmLXDb', "_blank")
    }
  }
}
</script>

<style scoped>
  .lessonfree__list.flex {
    flex-wrap: inherit !important;
  }
  .lessonfree__list .item {
    min-width: 333px;
  }

  .lesson__tab .active, .lessonfree__tab .active {
    color: #17ab7d !important;
  }
  h2.title::before {
    background: #17ab7d !important;
  }
</style>
