<template>
  <main>
    <div class="head_title pr flex-center top-sticky">
      <button type="button" class="back btn-back">
        <img src="~/assets/img/arr-r.png" alt="">
      </button>
      <h1 v-if="lecture && lecture.is_gong == '1'">단과 수강신청</h1>
      <h1 v-else-if=" lecture && lecture.is_off == 'C'"></h1>
      <h1 v-else>{{ lecture && lecture.cert_print == 'Y' ? 'NCS수료증 발급강의' : '단과 수강신청' }}</h1>
<!--      <button type="button" class="btn_collapse dr"></button>-->
    </div>
    <CartLayer v-if="isOff && lecture" :data="lecture" @addToCart="addToCart"></CartLayer>
    <CartOption @addToCart="addToCart" v-else  :book-list="bookList"  :pdf-list="pdfList" :data="lecture" v-if="lecture"></CartOption>
    <ComIntroduce :data="lecture" :reviews="reviews" :teachers="teachers" :movies="movies" :total_movie="total_movie" :total_review="total_review"></ComIntroduce>
    <single_package :data="tabHeader"></single_package>
    <ComIntroduceB :data="lecture" :tab-header="tabHeader" v-if="lecture"></ComIntroduceB>
    <TeacherIntroduce :data="teachers" :lecture="lecture" v-if="teachers"></TeacherIntroduce>
    <ComContent :data="movies" v-if="movies && !isOff && movies.length" @viewMoreMovie="viewMoreMovie" :limit="limit_m" :total_movie="total_movie" :more_item="more_item_m"></ComContent>
    <ComReview :data="reviews" v-if="reviews && reviews.length" @viewMoreReview="viewMoreReview" :limit="limit_r" :total_review="total_review" :more_item="more_item_r"></ComReview>
    <SafeBook :data="bookList" v-if="!isOff && bookList && bookList.length"></SafeBook>
    <RecommendLecture :data="recommendLectures" v-if="recommendLectures && recommendLectures.length"></RecommendLecture>
    <bottom :cartOption="cartOption"> </bottom>
    <button type="button" class="backtop">backtop</button>
    <div class="single-lecture">
      <ConfirmMainBanAction :title="message" @actionEvent="actionEvent"></ConfirmMainBanAction>
      <ConfirmMainBanNoAction :title="message"></ConfirmMainBanNoAction>
    </div>
  </main>
</template>

<script>
  import {LectureOnlineService} from "~/store/service.api";
  import {mapGetters} from 'vuex'
  import ComReview from "~/components/zip9/ComReview";
  import ComIntroduce from "~/components/zip9/ComIntroduce";
  import TeacherIntroduce from "~/components/zip9/TeacherIntroduce";
  import ComIntroduceB from "~/components/zip9/ComIntroduceB";
  import {URL_IMAGE} from "~/config";
  import {convertUrlImage} from "~/common/helpers";
  import ComContent from "~/components/zip9/ComContent";
  import SafeBook from "~/components/zip9/SafeBook";
  import single_package from "../../../components/zip9/header/single_package";
  import bottom from "../../../components/zip9/bottom";
  import CartLayer from "../../../components/zip9/CartLayer";
  import CartOption from "../../../components/zip9/CartOption";
  import {
    CartApiService,
    ReviewDetailApiService,
    MyClassApiService, MovieDetailService
  } from "../../../store/service.api";
  import RecommendLecture from "../../../components/zip9/RecommendLecture";
  import ConfirmMainBanAction from "../../../components/modal/ConfirmMainBanAction";
  import ConfirmMainBanNoAction from "../../../components/modal/ConfirmMainBanNoAction";
  export default {
    layout : "default",
    head : {
      script : [
        {src : "/js/detail.js"}
      ]
    },
    computed: {
      ...mapGetters(['isAuthenticated', 'loggedInUser']),
    },
   async created() {
      await this.getOnlineLecture();
     // if (this.$route.query.review) {
     //   $('#review-list').focus();
     // }
    },
    mounted() {
      $('.backtop').on('click',function () {
        $('html,body').animate({scrollTop: 0},300);
      });
    },

    methods : {
      alert(message) {
        this.message = message
        $(".single-lecture").find('#modal-no-action').modal('show')
        return;
      },
      async getOnlineLecture() {
        let id = this.$route.params.id;
        await this.getReview(id);
        await this.getMovies(id);
        let params = {
          lecture_no: id,
        }
        if (this.isAuthenticated) {
          params.user_id = this.loggedInUser.id
        }
        let data = await LectureOnlineService.getDetailLecture(params)
        if (data.data.lecture_detail.length == 0) {
          alert('판매가 종료되었습니다.')
          this.$router.push('/')
          return ;
        }
        this.lecture = data.data.lecture_detail[0]
        if (this.lecture.is_sell == 0) {

          alert('판매가 종료되었습니다.')
          this.$router.push('/')
        }
        this.teachers = data.data.teachers;
        this.lecture.contents = this.convertUrlImage(this.lecture.contents, this.imgTag, 'https://www.letuin.com');
        this.bookList = data.data.book_list;
        this.pdfList = data.data.cmp_anl
        if (this.lecture.is_off === 'Y') {
          this.isOff = true
        }

        let recommendLecture  = await MyClassApiService.getDetailRecommendLecture({
          lecture_no: id
        })

        if (recommendLecture.code === 'SUCCESS') {
          this.recommendLectures = recommendLecture.data.recommend_lectures;
        }

        if (!this.isOff) {
          this.tabHeader = {
            '소개' : 0 + ',#com-introduce-b',
          }
          if (Object.keys(this.movies).length) {
            this.tabHeader['목차'] =  this.total_movie +',#recommendation-lecture'
          }

          if (Object.keys(this.reviews).length) {
            this.tabHeader['후기'] =  this.total_review +',#review-list'
          }
          if (Object.keys(this.bookList).length) {
            this.tabHeader['도서'] = 0 +',#safe_book'
          }
          if (Object.keys(this.recommendLectures).length) {
            this.tabHeader['추천'] = 0 +',#recommend-lecture-bottom'
          }

        } else {
          this.tabHeader = {
            '소개' : 0 + ',#com-introduce-b',
          }
          if (Object.keys(this.movies).length) {
            this.tabHeader['목차'] =  this.total_movie +',#recommendation-lecture'
          }

          if (Object.keys(this.reviews).length) {
            this.tabHeader['후기'] =  this.total_review +',#review-list'
          }
          if (Object.keys(this.bookList).length) {
            this.tabHeader['도서'] = 0 +',#safe_book'
          }
          if (Object.keys(this.recommendLectures).length) {
            this.tabHeader['추천'] = 0 +',#recommend-lecture-bottom'
          }
        }
        $(document).ready(function () {
          $('.box-select .selected').on('click',function (){
            $(this).parent().toggleClass('open');
          });
          $('.select_list li').on('click',function (){
            let times = $(this).data('time');
            let days = $(this).data('day');
            let left = $(this).data('left');
            let no = $(this).data('no');
            let date = $(this).data('date');
            let isDisable = $(this).data('disable');
            if(isDisable === true) {
              this.alert('개강일/시간을 선택해주세요.')
              return;
            }
            // if (left < 0) {
            //   this.alert('개강일/시간을 선택해주세요.');
            //   return;
            // }
            let selected = `<div class="flex-lc selected_item" data-value='${JSON.stringify({no : no, type : 'ALL', gubun : 'MOV', date_no : date})}'>${days} ${times}</div>`
            $(this).parents('.box-select').find('.selected').html(selected);
            $('.box-select').removeClass('open');
          });
          $(document).mouseup(function (e) {
            var form_group = $('.box-select');
            if (!form_group.is(e.target) && form_group.has(e.target).length === 0) {
              $('.box-select').removeClass('open');
            }
          });
        });
      },
      async getReview(id, view_more = false) {
        let reviews  = await ReviewDetailApiService.single({
          lecture_no: id,
          offset : this.offset_r,
          limit : this.limit_r
        })
        if (reviews.code === 'SUCCESS') {
          if (!view_more) {
            this.reviews = reviews.data.reviews;
          } else {
            this.more_item_r = reviews.data.reviews;
          }
          this.total_review = reviews.data.total
        }
      },
      async getMovies(id, view_more = false) {
        let  params = {
          lecture_no : id,
          offset : this.offset_m,
          limit : this.limit_m
        }
        if (this.loggedInUser) {
          params.user_id = this.loggedInUser.id
        }
        let movies = await MovieDetailService.single(params);
        if (movies.code === 'SUCCESS') {
          if (!view_more) {
            this.movies = movies.data.lecture_movie_info;
          } else {
            this.more_item_m = movies.data.lecture_movie_info;
          }

          this.total_movie = movies.data.total
        }
      },

      viewMoreReview() {
        this.offset_r = this.offset_r + this.limit_r;
        this.getReview(this.$route.params.id, true);
      },
      viewMoreMovie() {
        this.offset_m = this.offset_m + this.limit_m;
        this.getMovies(this.$route.params.id, true)
      },
      convertUrlImage(contents,subString, replaceString) {
        return convertUrlImage(contents, subString, replaceString)
      },
      async getCart(){
        let data  = await CartApiService.getCartUser();
        this.carts = data['data'];
      },
      async addToCart(data) {
        if (this.isAuthenticated) {
          let params = {
            quantity : 1,
            cart_sess : '',
            it_id : data.params
          }
          await CartApiService.addToCart(params).then(e => {
            if (e.success) {
              $(this.cartOption).modal('hide');
              this.uri = data.uri;
              if (data.uri == '/mem-order') {
                CartApiService.getCartUser({getBook : 1, order_by: 'desc'}).then(res => {
                  if (!this.isOff) {
                    let carts = []
                    for (let i=0; i< data.params.length; i++) {
                      let cart = res.data.find(item => (item.lecture_id == data.params[i].no || item.item_id == data.params[i].no))
                      carts.push(cart)
                    }
                    let uid = carts.map(item => {
                      return item.uid
                    })
                    let params = {
                      uid : uid
                    }
                    this.$router.push({ path: '/mem-order', query: params})
                  } else {
                    let cart = res.data.find(item => item.lecture_id == data.lecture_id)
                    if (cart) {
                      this.$router.push({ path: '/mem-order', query: {uid: cart.uid}})
                    }
                  }
                })
                this.$router.push(data.uri)
              } else {
                this.message = '장바구니에 추가되었습니다. 장바구니로 이동하시겠습니까?';
                this.showModalConfirm();
              }

            }
          });
        }
      },
      actionEvent() {
        $(".single-lecture").find('#modal-confirm-action').modal('hide');
        this.$router.push(this.uri)
      },
      showModalConfirm() {
        $(".single-lecture").find('#modal-confirm-action').modal('show');
      },
    },
    components : {
      ConfirmMainBanAction, ConfirmMainBanNoAction,
      ComContent, TeacherIntroduce, ComReview, ComIntroduce, ComIntroduceB, SafeBook, single_package, bottom, CartLayer, CartOption, RecommendLecture},
    data() {
      return {
        lecture : null,
        teachers : null,
        imgTag : '<img src=\"',
        URL_IMAGE : URL_IMAGE,
        movies : null,
        reviews : null,
        tabHeader : [],
        cartOption : '#cartOption',
        isOff : false,
        bookList : [],
        pdfList : [],
        recommendLectures : [],
        offset_r : 0,
        limit_r : 5,
        moreNumberItem : 5,
        offset_m : 0,
        limit_m : 5,
        total_review : 0,
        total_movie : 0,
        more_item_r : {},
        more_item_m : {},
        message : '',
        uri : '/cart',
        carts : [],
      }
    }
  }
</script>

<style scoped>
.head_title h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 280px;
}
@media screen and (max-width: 375px) and (max-height: 667px) {
  .top-menu {
    top: 16% !important;
  }
}
@media (min-width: 376px)  and (max-width: 414px) and (max-height: 736px){
  .top-menu {
    top: 15% !important;
  }
}

</style>
