<template>
  <li class="content-filter">
    <div class="header flex">
      <h5 data-toggle="collapse"
          :data-target="'.' + collapseClass">{{title}} <span class="number_checked">(0/{{Object.keys(this.data).length}})</span></h5>
      <div class="checkbox ml-auto">
        <input type="checkbox" @click="checkAllBtn($event)" class="checkAll">
        <span class="checked flex-center"></span>
      </div>
    </div>
    <div  :class="[collapseClass, 'collapse hide grid-freepass']">
      <ul class="filter__sub">
        <li v-for="(item, key) in data">
          <h5>- {{key}}</h5>
          <div class="checkbox ml-auto">
            <input class="check__all_filter" type="checkbox" :value="item" @click="changeParams(item)">
            <span class="checked flex-center"></span>
          </div>
        </li>
      </ul>
    </div>
  </li>
</template>

<script>
    export default {
      name: "add_lc",
      props : ['data', 'collapseClass', 'title'],
      methods : {
        changeParams() {
          let currentParent = $("." + this.collapseClass)
          let itemCurrentFilterChecked = currentParent.find('.check__all_filter:checked')
          currentParent.parent('.content-filter').find('.number_checked').html('(' + itemCurrentFilterChecked.length + '/' + Object.keys(this.data).length + ')')
          let checkAllBtn =  currentParent.parent('.content-filter').first().find('.checkAll');
          if (itemCurrentFilterChecked.length === Object.keys(this.data).length) {
            checkAllBtn.prop('checked', true);
          } else {
            checkAllBtn.prop('checked', false);
          }
        },
        checkAllBtn(e) {
          let element = $(e.target).parents('.content-filter').first().find('.check__all_filter');
          if ($(e.target).is(':checked')) {
              element.prop('checked', true);
          } else {
            element.prop('checked', false);
          }
          this.changeParams();
        },
      },
    }
</script>

<style scoped>
    .grid-freepass2 {
      display: grid;
      grid-template-columns: repeat(1,1fr);
      background: #fff;
    }
    .box-checkbox {
      border-bottom: solid 1px #ededed;
      border-top: none;
    }
    .box-checkbox:last-child {
      border: none;
    }
  .checkbox {
    flex-wrap: inherit;
  }
</style>
