<template>
  <main class="study-index">
    <div class="head_title pr">
      <button type="button" class="back btn-back">
        <img src="~/assets/img/arr-r.png" alt="">
      </button>
      <h1>스터디</h1>
    </div>
    <div class="banner-study pr background_public_1">
      <h4>합격하는 1%의 공부습관 만들기</h4>
      <h2>독한스터디</h2>
      <div class="text">
        <p>지금도 매일 500명이 넘는 스터디원들이</p>
        <p>공기업 최종합격을 위해 렛유인과 함께</p>
        <p><span>‘합격하는 1%의 공부습관’</span>을 만들어가고 있습니다.</p>
      </div>
      <a href="https://ncs.letuin.com/promotion.php?action=LmsFreeStudy" target="_blank" title="" class="btn_view flex-center">자세히 보기 <i class="icon icon-arr"></i></a>
    </div>
    <div class="study mb-ft">
      <div class="study__list bt">
        <div class="header flex-lc">
          <h4>내가 수강한 스터디 ({{listLectureStudy.length}})</h4>
          <div class="checkbox__list ml-auto flex"  v-if="listLectureStudy.length && lectureDoneStudy.length">
            <label class="flex-lc">
              <input type="checkbox" name="" @change="getListLectureStyle()" >
              <span class="checked flex-center"></span>
              종료된 스터디
            </label>
          </div>
        </div>
        <div class="bg_gray" v-if="listLectureStudy.length > 0">
          <div class="note">최근 12개월간 참여한 스터디 정보가 노출됩니다.</div>
          <div class="item" v-for="(lecture, key) in listLectureStudy" :key="key">
            <div class="item__scroll" >
              <div class="scroll pr">
                <div class="content pr">
                  <div class="flex-lc">
                    <time>{{formatDate(lecture.startdate)}} ~ <span class="color_public">{{formatDate(lecture.enddate)}}</span></time>
                    <p v-if="lecture.diff > 0" class="ml-auto">남은 일수 : <span class="color_public">{{lecture.diff}}일</span></p>
                    <span v-if="lecture.status === '종료'" class="tag end">종료</span>
                  </div>
                  <h3>{{lecture.subject}}</h3>
                  <i class="icon icon-arr"></i>
                </div>
                <div class="box-btn flex">
                  <a class="btn btn_wr" v-if="lecture.sum_process_rate > 80" @click="showModalReview($event,lecture.lecture_list)"></a>
                  <a class="btn btn_wr" v-else @click="alert('리뷰를 작성하려면 80% 이상 공부해야합니다.')"></a>
<!--                  <a v-if="lecture.diff < 0" @click="showModalCertificate({titleClass : lecture.subject, countLecture: lecture.sum_money, countTime : lecture.sum_time, endLecture : lecture.enddate, startLecture : lecture.startdate})" class="btn btn_research"></a>-->
<!--                  <a v-else class="btn btn_research"></a>-->
                </div>
              </div>
              <a  v-if="lecture.diff > 0 && lecture.sum_process_rate < 100" @click="actionEvent(lecture)" title="" class="btn_file"></a>
              <a  v-else title="" @click="showModalCertificate(lecture)"  class="btn_cup_research"></a>
            </div>
            <div class="item__bt flex">
              <p>누적 학습량: <span class="color_public">{{lecture['누적 학습량']}}</span></p>
              <p>누적 학습시간: <span class="color_public">{{lecture['누적 학습 시간']}}</span></p>
              <p>누적학습일수: <span class="color_public">{{lecture['누적 학습일 수']}}</span></p>
            </div>
          </div>
        </div>
        <div class="bg_gray" v-else>
          <div class="notifi">
            <h5>수강 중인 스터디가 없습니다.</h5>
            <div class="img"><img src="~/assets/img/img-study.png" alt=""></div>
            <div class="text">
              <p>최근 12개월간 참여한 스터디 정보가 노출됩니다.</p>
              <p>이전 정보는 <a href="" title="" class="color_public">PC버전</a> > <a href="" title="" class="color_public">내강의실</a> > <a href="" title="" class="color_public">스터디</a> 에서</p>
              <p>확인 가능합니다.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nav-bt blue flex-center w100 background_public">
      <a href="https://ncs.letuin.com/promotion.php?action=LmsFreeStudy" target="_blank" class="flex-center">내게 맞는 NCS독한스터디 찾기</a>
    </div>
    <button type="button" class="backtop">backtop</button>
    <StudyGoal :data="goalData" ></StudyGoal>
    <Certificates :infoCertifiCate= "dataShowCertificate" :user="loggedInUser"></Certificates>
    <StudyTutorial></StudyTutorial>
    <ConfirmMainBanNoAction  :title="message"></ConfirmMainBanNoAction>
    <ReviewWR :lecture_info_review="dataReview"></ReviewWR>
    <StudyGoalSet :data="goalData"></StudyGoalSet>
  </main>
</template>

<script>
import {GuideBookApiService, MyClassApiService} from "../../store/service.api";
import {formatDate} from "../../common/helpers";
import ReviewWR from "../../components/modal/ReviewWR";
import StudyTutorial from "../../components/modal/StudyTutorial";
import Certificates from "../../components/modal/Certificates";
import StudyGoalSet from "../../components/modal/StudyGoalSet";
import StudyGoal from "../../components/modal/StudyGoal";
import {mapGetters} from "vuex";
import ConfirmMainBanNoAction from "../../components/modal/ConfirmMainBanNoAction";
export default {
name: "index",
middleware : 'auth',
components: {ReviewWR, StudyGoal, StudyTutorial, Certificates, StudyGoalSet, ConfirmMainBanNoAction},

  async asyncData(context){
  let datas = await Promise.all([
      MyClassApiService.getListLectureStudy({user_id : context.$auth.$state.user.id, 'add_class_end' : false}),
      MyClassApiService.getListLectureStudy({user_id : context.$auth.$state.user.id, 'add_class_end' : true}),
    GuideBookApiService.getTrackingTutorialPopup({user_id : context.$auth.$state.user.id})
  ]);
  return {
    listLectureStudy : datas[0].data,
    lectureDoneStudy : datas[1].data,
    checkShow : datas[2].data.count
  }
},
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser']),
  },
  mounted(){
    if (this.checkShow != 1) {
      $('#modal-studytutorial').modal('show');
    }
  },

methods : {
  showModalReview(e,data){
    this.dataReview = data;
    $(e.target).parents(".study-index").find('#modal-review').modal('show')
  },
  pad(d) {
    return (d < 10) ? '0' + d.toString() : d.toString();
  },
  formatDate(date, format){
    return formatDate(date, format)
  },
  alert(title) {
    this.message = title;
    $(".study-index").find('#modal-no-action').modal('show');
  },
  actionEvent(lecture){
    // if (lecture.diff > 0 && lecture['누적 학습일 수'] <=0) {
    //   //open modal
    // }


    this.$router.push('/study/list/' + lecture.no)
  },
  getListLectureStyle(){
    this.add_class_end = !this.add_class_end
    //this.$auth.$state.user.id
    let params = { user_id : this.loggedInUser.id, 'add_class_end' : this.add_class_end}
    MyClassApiService.getListLectureStudy(params).then(res => {
      if(res.code === 'SUCCESS'){
        this.listLectureStudy = res.data
      }
    })
  },
  async getDataGoalSetPop(mystudy_uid, lec_no) {
    let data =  await GuideBookApiService.getStudyGoal({
      mystudy_uid : mystudy_uid,
      lms_no : lec_no,
      user_id : this.loggedInUser.id
    });

    this.goalData = data.data;
  },
  showModalCertificate(lecture){
    if (lecture.sum_process_rate < 100) {
      this.alert('독한미션에 실패하여 수료증이 제공되지 않습니다.')
      return;
    }
    MyClassApiService.getPopupCetificate({'user_id': this.loggedInUser.id, 'lms_no':lecture.no}).then(res => {
      this.dataShowCertificate = res.data;
    })
    $(".study-index").find('#modal-certificates').modal('show');
  },
},
data(){
  return {
    add_class_end : false,
    mys_id: 590673,
    lms_no : '',
    goalData : [],
    dataShowCertificate : {},
    dataReview : [],
    goalSetPopData : [],
    message: '',
  }
}
}
</script>

<style scoped >
.item__scroll.active {
  width: 100%;
}
.item__scroll.active .btn_research {
  right: 100%;
  position: absolute;
}

.item__scroll.active .icon-arr {
  right: 20%;
  top: 50%;
}
.item__scroll.active.left .btn_research {
  right: 0;
}
.item__scroll.active.left .icon-arr {
  right: 20px;
}
p.ml-auto {
  margin-left: 11px !important;
}

  .study .item p {
    font: 2.833333vw var(--NanumSquareB) !important;
  }
.package .item__bt > * + *, .study .item__bt > * + * {
  margin-left: 0px !important;
}


   @media screen and (max-width: 375px) {
     .study .box-btn a,
     .package .item .btn_file, .study .item .btn_file, .study .item .btn_cup_research {
       height: 100%;
       max-height: 70.42px;
     }
   }
  @media screen and (max-width: 320px) {
    .study .box-btn a,
    .package .item .btn_file, .study .item .btn_file, .study .item .btn_cup_research {
      height: 100%;
      max-height: 59.42px;
      min-height: 59.42px;
    }
  }
  @media (min-width: 376px) and (max-width: 414px) {
    .study .box-btn a,
    .package .item .btn_file, .study .item .btn_file, .study .item .btn_cup_research {
      height: 100%;
      max-height: 78.42px;
      min-height: 78.42px;
    }
  }
</style>
<style>
  .study #modal-certificates .box-btn{
    width: 100% !important;
    position: initial !important;
  }
  .study .item .icon-arr {
    top: 0;
    bottom: 0;
    margin: auto;
  }
</style>
